Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac

Maps linter fix & Prison expansions (#135)
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Moth's first donor reward
  modular_zubbers/code/game/objects/effects/items/plushes.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
  tgstation.dme
Owners: none

Removes every single ckey whitelist
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/head_accessory.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/neck_accessory.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Owners: @GoldenAlpharex

Maybe fixes the run linters errors?
  tgstation.dme
Owners: none

Add all SPLURT modular hair
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories.dm
  modular_zubbers/icons/mob/species/human/humanface.dmi
  tgstation.dme
Owners: none

Fixes a path error
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories.dm
  tgstation.dme
Owners: none

Fixes tgstation.dme
  tgstation.dme
Owners: none

blueshield buff
  code/modules/projectiles/ammunition/energy/laser.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/icons/energy.dmi
Owners: @GoldenAlpharex

Update special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

flashlight
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/icons/energy.dmi
Owners: @GoldenAlpharex

Anti-carp chads rise up
  code/modules/events/carp_migration.dm
Owners: none

Add comment
  code/modules/events/carp_migration.dm
Owners: none

yeyeye
  tgstation.dme
Owners: none

bruhbhdahdghfdhgsbvnsdmc
  tgstation.dme
Owners: none

order
  tgstation.dme
Owners: none

heliostation
  _maps/_basemap.dm
  _maps/heliostation.json
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
  config/maps.txt
  modular_zubbers/code/game/area/areas/station.dm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

fixes shit
  code/controllers/master.dm
  code/controllers/subsystem/ticker.dm
Owners: none

Update Heliostation_bubber.dmm
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Swaps the default title screen
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/icons/Bubber_title_screen.png
Owners: @GoldenAlpharex

Update Heliostation_bubber.dmm
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update Heliostation_bubber.dmm
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

duplicate removal
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

the duplicates never end
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

fixes things please
  code/__DEFINES/MC.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
Owners: none

fixes tab indentation maybe
  code/controllers/subsystem/vote.dm
Owners: none

f
  code/game/objects/items/spear.dm
  code/modules/mining/equipment/kinetic_crusher.dm
Owners: none

a'te
  code/game/objects/structures/flora.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_ritual.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_zubbers/code/modules/fluff/flora/ash_flora.dm
  tgstation.dme
Owners: @GoldenAlpharex

pixeltilt
  modular_zubbers/code/modules/keybinding/keybind/movement.dm
  modular_zubbers/code/modules/mob/living/living.dm
  modular_zubbers/code/modules/mob/mob.dm
  tgstation.dme
Owners: none

fsd
  code/__DEFINES/~~bubber_defines/keybinding.dm
  modular_zubbers/code/modules/keybinding/keybind/movement.dm
  tgstation.dme
Owners: none

h
  code/__DEFINES/~~bubber_defines/species.dm
  config/game_options.txt
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/code/modules/customization/sprite_accessories/taurs.dm
  modular_zubbers/code/modules/mob/living/carbon/human/human.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
  modular_zubbers/code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  modular_zubbers/icons/customization/ears.dmi
  modular_zubbers/icons/customization/tails.dmi
  modular_zubbers/icons/customization/taur.dmi
  modular_zubbers/icons/mob/species/human_parts_greyscale.dmi
  tgstation.dme
Owners: none

gs
  modular_zubbers/icons/mob/species/human_parts_greyscale.dmi
Owners: none

gbvndbvnch
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
Owners: none

work you stupid
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
Owners: none

WORK
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
Owners: none

stupid moment
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Owners: none

h
  modular_zubbers/code/game/turfs/open/floor/glass.dm
  tgstation.dme
Owners: none

stupid moment (#148)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Owners: none

Swaps the default title screen (#142)
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/icons/Bubber_title_screen.png
Owners: @GoldenAlpharex

better interdyne than my last one yipee
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths/Scripts/ @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac
