Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @SuperNovaa41, @Time-Green, @tralezab, @Watermelon914, @ExcessiveUseOfCobblestone, @Jordie0608, @Kapu1178, @MrStonedOne, @NamelessFairy, @Pickle-Coding, @ZephyrTFA, @EOBGames, @Maurukas, @MMMiracles, @ShizCalev, @Imaginos16, @Krysonism, @Twaticus, @Ghilker, @Cyberboss, @BraveMole, @TiviPlus, @optimumtact

Fixes Default Configs
  config/game_options.txt
  config/skyrat/skyrat_config.txt
Owners: @MrStonedOne

Update readme.md
  modular_bubbers/modules/remove_vet_status/readme.md
Owners: none

Modularize #2
  modular_bubbers/modules/remove_vet_status/code/remove_vet_status.dm
  modular_bubbers/modules/remove_vet_status/readme.md
  tgstation.dme
Owners: none

Update module_template.md
  modular_bubbers/module_template.md
Owners: none

Revert "Fixed lotsas"
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/veteran_only/code/job_types.dm
  modular_skyrat/modules/veteran_only/code/species_types.dm
Owners: @GoldenAlpharex

Update readme.md
  modular_bubbers/modules/remove_vet_status/readme.md
Owners: none

Add docs for modularization
  modular_bubbers/module_template.md
  modular_bubbers/readme.md
Owners: none

Add modular config setup
  config/bubbers/bubbers_config.txt
  config/config.txt
Owners: @MrStonedOne

X'd Kilostation, made all sensible maps votable
  config/game_options.txt
  config/maps.txt
Owners: @MrStonedOne

AAAA
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Owners: none

Unlock all Veteran Content for everyone
  modular_skyrat/modules/veteran_players/code/veteran_players.dm
Owners: @GoldenAlpharex

Fixes the ashwalkers AGAIN
  tgstation.dme
Owners: none

a
  modular_bubbers/modules/Ashwalkers/ashwalkerunfucking.dm
  tgstation.dme
Owners: none

Disables repeat antags and increased obsessed $
  modular_bubbers/modules/Dynamic/MidroundRulesets.dm
Owners: none

Fixes crewsimov
  code/datums/ai_laws/laws_station_sided.dm
  config/game_options.txt
Owners: @MrStonedOne

I hate /tg/ and skyrat.
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_bubbers/modules/remove_vet_status/code/ashwalkerunfucking.dm
  tgstation.dme
Owners: none

Attempt 4?
  modular_bubbers/modules/Ashwalkers/ashwalkerunfucking.dm
  modular_skyrat/modules/ashwalkers/code/species/Ashwalkers.dm
Owners: @GoldenAlpharex

Fix compilation
  tgstation.dme
Owners: none

Update Readme
  README.md
Owners: none

a
  tgstation.dme
Owners: none

Prevents the tutorial apocalypse
  tgstation.dme
Owners: none

a2
  code/modules/language/language_holder.dm
Owners: none

move modular_bubbers to modular_zubbers & Others
  modular_bubbers/module_template.md
  modular_bubbers/modules/remove_vet_status/code/remove_vet_status.dm
  modular_bubbers/modules/remove_vet_status/readme.md
  modular_bubbers/readme.md
  modular_skyrat/modules/veteran_players/code/veteran_players.dm
  modular_zubbers/modules/Dynamic/MidroundRulesets.dm
  tgstation.dme
Owners: @GoldenAlpharex

Removes flavour text req
  code/__DEFINES/~skyrat_defines/jobs.dm
Owners: none

fix Ashwalker include order
  tgstation.dme
Owners: none

Attempt III and fixing the fixes
  tgstation.dme
Owners: none

Fixed Ashwalkers again
  modular_bubbers/modules/Ashwalkers/ashwalkerunfucking.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

<<<<<<< HEAD
=======
# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# stylemistake (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
/tgui/packages/tgui-panel/styles/tgchat/chat-light.scss

# SuperNovaa41

/code/modules/forensics/ @SuperNovaa41
/code/datums/mood.dm @SuperNovaa41

# Time-Green

/code/modules/plumbing/ @Time-Green
/code/modules/surgery/organs/external/ @Time-Green

# tralezab
/code/__DEFINES/basic_mobs.dm @tralezab
/code/datums/ai @tralezab
/code/modules/mob/living/basic/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914
/code/modules/antagonists/traitor/ @Watermelon914

# CONTRIBUTORS

# Cobby

/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/medkit.dm @ExcessiveUseOfCobblestone

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# Kapu1178

/code/modules/surgery/bodyparts/ @Kapu1178
/code/modules/surgery/organs/ @Kapu1178
/code/modules/mob/living/carbon/carbon_update_icons.dm @Kapu1178
/code/modules/mob/living/carbon/human/human_update_icons.dm @Kapu1178

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# Pickle-Coding

/code/__DEFINES/atmospherics/ @Pickle-Coding
/code/__DEFINES/reactions.dm @Pickle-Coding
/code/modules/atmospherics/ @Pickle-Coding
/code/modules/power/ @Pickle-Coding

# ZephyrTFA

/code/__HELPERS/admin_verb.dm @ZephyrTFA
/code/controllers/subsystem/admin_verbs.dm @ZephyrTFA
/code/datums/json_savefile.dm @ZephyrTFA
/code/datums/armor/ @ZephyrTFA
/code/modules/admin/verbs/ @ZephyrTFA

# MULTIPLE OWNERS

/_maps/ @EOBGames @Maurukas @MMMiracles @san7890 @ShizCalev
/icons/ @Imaginos16 @Krysonism @Twaticus
/icons/ass/ @Ghilker @tralezab

/code/__DEFINES/atmospherics/ @Ghilker @LemonInTheDark
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/code/modules/atmospherics/ @Ghilker @LemonInTheDark
/code/modules/client/preferences.dm @Mothblocks @ZephyrTFA
/code/modules/client/preferences_savefile.dm @Mothblocks @ZephyrTFA
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/paramedic.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/surgery/ @ExcessiveUseOfCobblestone @Ryll-Ryll
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

/tools/WebhookProcessor/ @BraveMole @TiviPlus

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @optimumtact
>>>>>>> fe127fee84c (Renames folder for tgchat CSS styles (#73907))
