Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

ohh comments
  code/modules/client/preferences.dm
Owners: @nevimer, @Cyprex

fix unique AI lawset station trait leaving the config default lawset in
  code/datums/ai_laws/ai_laws.dm
Owners: @nevimer, @Cyprex

Fix SAD duplicating loadout implants (#2699)
  code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

Automatic changelog for PR #2699 [ci skip]
  html/changelogs/AutoChangeLog-pr-2699.yml
Owners: none

Folder formatting
  code/__DEFINES/~~bubber_defines/toblering.dm
  modular_zubbers/code/modules/toblering/door/airlock.dm
  modular_zubbers/code/modules/toblering/door/airlock_types.dm
  modular_zubbers/code/modules/toblering/door/door.dm
  modular_zubbers/code/modules/toblering/obj/grille.dm
  modular_zubbers/code/modules/toblering/obj/window.dm
  modular_zubbers/code/modules/toblering/obj/windowdoor.dm
  modular_zubbers/code/modules/toblering/turf/closed.dm
  modular_zubbers/code/modules/toblering/turf/indestructible.dm
  modular_zubbers/code/modules/toblering/turf/reinforced.dm
  modular_zubbers/code/modules/toblering/turf/walls.dm
  tgstation.dme
Owners: @nevimer, @Cyprex, @Majkl-J

Fix some more runtimes
  modular_zubbers/code/modules/toblering/obj/grille.dm
  modular_zubbers/code/modules/toblering/obj/window.dm
  modular_zubbers/code/modules/toblering/turf/closed.dm
Owners: @Majkl-J

Gives lone infiltrator his micro-bomb back. (#2527)
  modular_skyrat/modules/Midroundtraitor/code/event.dm
Owners: @projectkepler-ru

Automatic changelog for PR #2527 [ci skip]
  html/changelogs/AutoChangeLog-pr-2527.yml
Owners: none

THE RESENTMENT IS GROWING
  modular_zubbers/code/modules/toblering/turf/closed.dm
Owners: @Majkl-J

force 20, no wound bonus
  modular_skyrat/modules/implants/code/augments_arms.dm
Owners: @projectkepler-ru

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2527.yml
  html/changelogs/AutoChangeLog-pr-2682.yml
  html/changelogs/AutoChangeLog-pr-2694.yml
  html/changelogs/AutoChangeLog-pr-2697.yml
  html/changelogs/AutoChangeLog-pr-2699.yml
  html/changelogs/AutoChangeLog-pr-2700.yml
  html/changelogs/AutoChangeLog-pr-2701.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Update code/datums/ai_laws/ai_laws.dm
  code/datums/ai_laws/ai_laws.dm
Owners: @nevimer, @Cyprex

Update code/datums/ai_laws/ai_laws.dm
  code/datums/ai_laws/ai_laws.dm
Owners: @nevimer, @Cyprex

Update code/datums/ai_laws/ai_laws.dm
  code/datums/ai_laws/ai_laws.dm
Owners: @nevimer, @Cyprex

Various ashwalker fixes (#2669)
  _maps/bubber/automapper/automapper_config.toml
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/mining/lavaland_ashwalker_nest.dmm
  code/game/area/areas/ruins/lavaland.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_ritual.dm
Owners: @KathrinBailey, @projectkepler-ru, @nevimer, @Cyprex

Automatic changelog for PR #2669 [ci skip]
  html/changelogs/AutoChangeLog-pr-2669.yml
Owners: none

Updates role text for the persistence
  modular_zubbers/maps/offstation/persistence/mob_spawns.dm
Owners: @Majkl-J

Fix that period
  modular_zubbers/maps/offstation/persistence/mob_spawns.dm
Owners: @Majkl-J

Escalating against > significant interaction
  modular_zubbers/maps/offstation/persistence/mob_spawns.dm
Owners: @Majkl-J

explodes
  modular_zubbers/maps/offstation/persistence/mob_spawns.dm
Owners: @Majkl-J

Enemy territory, state hostility
  modular_zubbers/maps/offstation/persistence/mob_spawns.dm
Owners: @Majkl-J

Update and spellcheck to Persistence role text (#2705)
  modular_zubbers/maps/offstation/persistence/mob_spawns.dm
Owners: @Majkl-J

waw
  modular_zubbers/code/modules/adjacent_emote/code/adjacent_emotes.dm
  modular_zubbers/code/modules/adjacent_emote/code/spatial_info.dm
  tgstation.dme
Owners: @Majkl-J

Nerfs mantis blades from 25 to 20 (#2688)
  modular_skyrat/modules/implants/code/augments_arms.dm
Owners: @projectkepler-ru

Automatic changelog for PR #2688 [ci skip]
  html/changelogs/AutoChangeLog-pr-2688.yml
Owners: none

Fix
  modular_skyrat/modules/escape_menu/code/escape_menu_skyrat.dm
Owners: @projectkepler-ru

inflitrator suit now has all modules the normal nuclear suit has plus chameleon
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
Owners: none

Revert "Update preferences.dm"
  code/__DEFINES/preferences.dm
Owners: @nevimer, @Cyprex

research paper
  modular_skyrat/modules/simple_research/research_document.dm
  modular_zubbers/code/modules/mob_spawn/ghost_roles/mining_roles.dm
Owners: @projectkepler-ru, @Majkl-J

fixes primitive skill making you stamcrit immune
  modular_skyrat/modules/primitive_production/code/primitive.dm
Owners: @projectkepler-ru

removes it from the persistance
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Owners: @KathrinBailey, @projectkepler-ru

fixes the exploit of farming primitive skill and makes the status effect tick way slower
  modular_skyrat/modules/ashwalkers/code/buildings/wormfarm.dm
  modular_skyrat/modules/primitive_production/code/primitive.dm
Owners: @projectkepler-ru

small review
  modular_zubbers/code/modules/mob_spawn/ghost_roles/mining_roles.dm
Owners: @Majkl-J

fixes the exploit of farming primitive skill and makes the status effect tick way slower (#2712)
  modular_skyrat/modules/ashwalkers/code/buildings/wormfarm.dm
  modular_skyrat/modules/primitive_production/code/primitive.dm
Owners: @projectkepler-ru

fixes primitive skill making you stamcrit immune (#2710)
  modular_skyrat/modules/primitive_production/code/primitive.dm
Owners: @projectkepler-ru

Automatic changelog for PR #2712 [ci skip]
  html/changelogs/AutoChangeLog-pr-2712.yml
Owners: none

Automatic changelog for PR #2710 [ci skip]
  html/changelogs/AutoChangeLog-pr-2710.yml
Owners: none

Update modular_zubbers/code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_zubbers/code/modules/mob_spawn/ghost_roles/mining_roles.dm
Owners: @Majkl-J

Locks the research paper only to the hermit (#2711)
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
  modular_skyrat/modules/simple_research/research_document.dm
  modular_zubbers/code/modules/mob_spawn/ghost_roles/mining_roles.dm
Owners: @KathrinBailey, @projectkepler-ru, @Majkl-J

Automatic changelog for PR #2711 [ci skip]
  html/changelogs/AutoChangeLog-pr-2711.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J
