Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @SuperNovaa41, @Time-Green, @tralezab, @Watermelon914, @ExcessiveUseOfCobblestone, @Jordie0608, @Kapu1178, @MrStonedOne, @NamelessFairy, @Pickle-Coding, @ZephyrTFA, @EOBGames, @Maurukas, @MMMiracles, @ShizCalev, @Imaginos16, @Krysonism, @Twaticus, @Ghilker, @Cyberboss, @BraveMole, @TiviPlus, @optimumtact

ammo workbenches
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

lighting pass
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Delta style pass
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Donator items (runner jackets)
  modular_zubbers/code/modules/clothing/suits/donosuits.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
  modular_zubbers/icons/obj/clothing/runnerjacketdono.dmi
  tgstation.dme
Owners: none

Donator items (runner jackets)
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  tgstation.dme
Owners: none

Restores flavor text minimums
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/__DEFINES/~~bubber_defines/jobs.dm
  tgstation.dme
Owners: none

Update MetaStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

I'll show you who's the boss of this security department: Armory Reworks & Energy Sec (#160)
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  code/modules/cargo/packs/security.dm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update loadout_datum_suit.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
Owners: none

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Donator items (runner jackets) (#161)
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
  modular_zubbers/icons/obj/clothing/runnerjacketdono.dmi
  tgstation.dme
Owners: none

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

adds *mggaow
  modular_skyrat/modules/emote_panel/code/emote_panel.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/voice/mggaow.ogg
Owners: @GoldenAlpharex

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Steals all of SPLURT's synthliz cosmetics
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
  modular_zubbers/icons/mob/sprite_accessory/ipc_antennae.dmi
  modular_zubbers/icons/mob/sprite_accessory/synthliz_snouts.dmi
  tgstation.dme
Owners: none

Steals SPLURT's donor plushies
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
  modular_zubbers/sound/misc/dog_toy.ogg
  tgstation.dme
Owners: none

Steals all SPLURT modular wings
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_zubbers/icons/mob/sprite_accessory/wings.dmi
  tgstation.dme
Owners: none

Actually adds the code
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
Owners: none

Fixes some errors
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
Owners: none

allowing it to work
  code/modules/jobs/job_types/head_of_security.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

warden with glock 17
  code/modules/jobs/job_types/warden.dm
Owners: none

Update warden.dm
  code/modules/jobs/job_types/warden.dm
Owners: none

asd
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
Owners: none

Tram changes
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_1.dmm
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_2.dmm
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_3.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Now in TGM, sorry
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_1.dmm
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_2.dmm
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_3.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Adds latern and tea to make tram picnic even comfier
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Increased borg KA mod capacity
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Owners: none

Gives them crushie instead of shovel.
  code/modules/mob/living/silicon/robot/robot_model.dm
Owners: none

Removed some leftover borg shovel removal code
  code/game/objects/items/robot/robot_upgrades.dm
Owners: none

Adds fax machine to meta
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

dgjfht
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/widerobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_sec.dmi
Owners: @GoldenAlpharex

Revert "Removes the Otie model"
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/widerobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_sec.dmi
Owners: @GoldenAlpharex

asdrf
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
Owners: none

Adds borg chargers to tram
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Revert "Revert "Removes the Otie model""
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/widerobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_sec.dmi
Owners: @GoldenAlpharex

Moves the engineering computer on tram
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

add papal stuff back to dme
  tgstation.dme
Owners: none

Makes Kilo less insufferable
  _maps/kilostation.json
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Oops these pipes were REALLY not meant to be above ground :<
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

<<<<<<< HEAD
=======
# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# stylemistake (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
/tgui/packages/tgui-panel/styles/tgchat/chat-light.scss

# SuperNovaa41

/code/modules/forensics/ @SuperNovaa41
/code/datums/mood.dm @SuperNovaa41

# Time-Green

/code/modules/plumbing/ @Time-Green
/code/modules/surgery/organs/external/ @Time-Green

# tralezab
/code/__DEFINES/basic_mobs.dm @tralezab
/code/datums/ai @tralezab
/code/modules/mob/living/basic/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914
/code/modules/antagonists/traitor/ @Watermelon914

# CONTRIBUTORS

# Cobby

/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/medkit.dm @ExcessiveUseOfCobblestone

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# Kapu1178

/code/modules/surgery/bodyparts/ @Kapu1178
/code/modules/surgery/organs/ @Kapu1178
/code/modules/mob/living/carbon/carbon_update_icons.dm @Kapu1178
/code/modules/mob/living/carbon/human/human_update_icons.dm @Kapu1178

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# Pickle-Coding

/code/__DEFINES/atmospherics/ @Pickle-Coding
/code/__DEFINES/reactions.dm @Pickle-Coding
/code/modules/atmospherics/ @Pickle-Coding
/code/modules/power/ @Pickle-Coding

# ZephyrTFA

/code/__HELPERS/admin_verb.dm @ZephyrTFA
/code/controllers/subsystem/admin_verbs.dm @ZephyrTFA
/code/datums/json_savefile.dm @ZephyrTFA
/code/datums/armor/ @ZephyrTFA
/code/modules/admin/verbs/ @ZephyrTFA

# MULTIPLE OWNERS

/_maps/ @EOBGames @Maurukas @MMMiracles @san7890 @ShizCalev
/icons/ @Imaginos16 @Krysonism @Twaticus
/icons/ass/ @Ghilker @tralezab

/code/__DEFINES/atmospherics/ @Ghilker @LemonInTheDark
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/code/modules/atmospherics/ @Ghilker @LemonInTheDark
/code/modules/client/preferences.dm @Mothblocks @ZephyrTFA
/code/modules/client/preferences_savefile.dm @Mothblocks @ZephyrTFA
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/paramedic.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/surgery/ @ExcessiveUseOfCobblestone @Ryll-Ryll
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

/tools/WebhookProcessor/ @BraveMole @TiviPlus

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @optimumtact
>>>>>>> fe127fee84c (Renames folder for tgchat CSS styles (#73907))
