Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

Fixes disposals
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Deletes unused window
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Progress
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Hopefully corrects this
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Fixed
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

I don't know at this point
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

glass pattern fix
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Adjusts a thing. Thanks mapdiffbot
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Restores office to origin
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

More fixes
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Power cable
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Put that extinguisher back
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Maints don't like splitvis, just yeet it for now
  code/__DEFINES/layers.dm
  code/modules/lighting/lighting_object.dm
  cutter_templates/zubbers/baylike_splitvis.toml
  modular_zubbers/code/modules/toblering/_defines.dm
  modular_zubbers/code/modules/toblering/atom.dm
  modular_zubbers/code/modules/toblering/plane_master.dm
  modular_zubbers/code/modules/toblering/split_visibility.dm
  modular_zubbers/code/modules/toblering/walls.dm
  modular_zubbers/icons/turf/walls/solid_wall.dmi
  modular_zubbers/icons/turf/walls/solid_wall.png
  modular_zubbers/icons/turf/walls/solid_wall_splitvis.dmi
  modular_zubbers/icons/turf/walls/solid_wall_splitvis.png
  modular_zubbers/icons/turf/walls/solid_wall_splitvis.png.toml
  modular_zubbers/icons/turf/walls/wall_blackness.dmi
  tgstation.dme
Owners: @nevimer, @Cyprex, @Majkl-J

Return the fixes
  code/modules/lighting/lighting_object.dm
  modular_zubbers/icons/turf/walls/solid_wall.dmi
  modular_zubbers/icons/turf/walls/solid_wall.png
Owners: @nevimer, @Cyprex, @Majkl-J

Fix shuttle wall runtime
  modular_skyrat/modules/advanced_shuttles/code/turfs.dm
Owners: @projectkepler-ru

Fuck
  tgstation.dme
Owners: none

Jen lighting will end up with more complaints without splitvis, let's just keep normal lighting
  code/modules/lighting/lighting_object.dm
  modular_zubbers/code/modules/toblering/turf.dm
  modular_zubbers/code/modules/toblering/walls.dm
  modular_zubbers/icons/turf/walls/wall_lighting.dmi
  tgstation.dme
Owners: @nevimer, @Cyprex, @Majkl-J

Fix wall
  modular_zubbers/icons/turf/walls/solid_wall.png
Owners: @Majkl-J

gives photocopier to icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Update AFAD.dm
  modular_skyrat/modules/cargo/code/items/AFAD.dm
Owners: @projectkepler-ru

Make stripe align properly
  modular_zubbers/icons/turf/walls/neighbor_stripe.dmi
  modular_zubbers/icons/turf/walls/neighbor_stripe.png
Owners: @Majkl-J

Lazily fix some visuals
  code/game/turfs/closed/walls.dm
  modular_zubbers/code/modules/toblering/walls.dm
Owners: @nevimer, @Cyprex, @Majkl-J

Adjust wall texture a little, will likely do more cause I still don't like it
  modular_zubbers/icons/turf/walls/solid_wall.dmi
  modular_zubbers/icons/turf/walls/solid_wall.png
Owners: @Majkl-J

Reviews
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
Owners: none

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2676.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Update emote.dm
  modular_zzplurt/code/modules/mob/living/emote.dm
Owners: none

Some more clean up items that came up
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Owners: @KathrinBailey, @projectkepler-ru

Update modular_skyrat/modules/Midroundtraitor/code/event.dm
  modular_skyrat/modules/Midroundtraitor/code/event.dm
Owners: @projectkepler-ru

Update neck.dmi
  modular_skyrat/modules/simple_research/neck.dmi
Owners: @projectkepler-ru

adds some custom cameranet monitors
  code/__DEFINES/~~bubber_defines/cameranets.dm
  modular_zubbers/maps/evostation/telescreen.dm
  tgstation.dme
Owners: @nevimer, @Cyprex, @Majkl-J

empathic sensor no longer available from loadout; changed how the brain's emp_act worked; merged from master
  code/modules/mob/living/brain/brain_cybernetic.dm
  modular_skyrat/modules/customization/modules/client/augment/implants.dm
  modular_skyrat/modules/organs/code/brain.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

does what it says
  modular_zubbers/code/modules/research/designs/misc_designs.dm
Owners: @Majkl-J

Update misc_designs.dm
  modular_zubbers/code/modules/research/designs/misc_designs.dm
Owners: @Majkl-J

oops
  modular_zubbers/code/modules/research/designs/misc_designs.dm
Owners: @Majkl-J

double oops
  modular_zubbers/code/modules/research/designs/misc_designs.dm
Owners: @Majkl-J

waw
  modular_zubbers/code/modules/research/designs/misc_designs.dm
Owners: @Majkl-J

New map fixes
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

More updates
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Match wall shine to borders
  modular_zubbers/icons/turf/walls/solid_wall_shine.png
  modular_zubbers/icons/turf/walls/wall_stripe_shine.png
Owners: @Majkl-J

Unify some more edges
  modular_zubbers/icons/turf/walls/solid_wall_reinforced.png
  modular_zubbers/icons/turf/walls/wall_stripe.png
Owners: @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J
