Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J

i keep commiting the timer, giving back the portal action now happens on a 5 minute delay
  code/modules/antagonists/space_dragon/space_dragon.dm
Owners: @nevimer, @Cyprex

whoops wrong proc
  code/modules/antagonists/space_dragon/space_dragon.dm
Owners: @nevimer, @Cyprex

don't do anything if the dragon is dead
  code/modules/antagonists/space_dragon/space_dragon.dm
Owners: @nevimer, @Cyprex

MOB_DEAD is not a define
  code/modules/antagonists/space_dragon/space_dragon.dm
Owners: @nevimer, @Cyprex

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2419.yml
  html/changelogs/AutoChangeLog-pr-2446.yml
  html/changelogs/AutoChangeLog-pr-2624.yml
  html/changelogs/archive/2024-12.yml
Owners: none

lidocaine box, move file
  modular_skyrat/modules/synths/code/reagents/pill_bottles.dm
  modular_zubbers/code/game/objects/items/storage/medkit.dm
  modular_zubbers/icons/obj/storage/medkit.dmi
  tgstation.dme
Owners: @Majkl-J

Fixes some weird conflict that appeared 6 months ago and nobody reported
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: @nevimer, @Cyprex

Fixes some weird conflict that appeared 6 months ago and nobody reported (#2668)
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: @nevimer, @Cyprex

Automatic changelog for PR #2668 [ci skip]
  html/changelogs/AutoChangeLog-pr-2668.yml
Owners: none

examine, sizecode fixes, veteran remove
  code/modules/mob/living/carbon/examine.dm
  modular_zzplurt/code/modules/admin/player_panel.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/hemophage_species.dm
Owners: @nevimer, @Cyprex

back to place
  code/modules/mob/living/carbon/examine.dm
Owners: @nevimer, @Cyprex

renames the nenest to nest
  _maps/bubber/automapper/automapper_config.toml
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/mining/lavaland_ashwalker_nest.dmm
Owners: @KathrinBailey, @projectkepler-ru

Makes the rituals not chew through stacks
  modular_skyrat/modules/ashwalkers/code/effects/ash_ritual.dm
Owners: @projectkepler-ru

remove the constant power
  code/game/area/areas/ruins/lavaland.dm
Owners: @nevimer, @Cyprex

scss style fix whitespaces
  tgui/packages/tgui/styles/interfaces/ColorPicker.scss
Owners: none

rename
  modular_skyrat/modules/emote_panel/code/emote_panel.dm
  modular_skyrat/modules/emotes/code/emotes.dm
Owners: @projectkepler-ru

Update medkit.dm
  modular_zubbers/code/game/objects/items/storage/medkit.dm
Owners: @Majkl-J

[NON-MODULAR] [TOOLING] Modular Icon Cutter! (#2651)
  modular_zubbers/code/game/turfs/closed/lunar_cave.dm
  modular_zubbers/code/game/turfs/closed/lunar_surface.dm
  modular_zubbers/icons/turf/lunar_rock_wall.dmi
  modular_zubbers/icons/turf/lunar_rock_wall.png.toml
  tools/build/build.js
  tools/icon_cutter/check.py
Owners: @Majkl-J

Change huff emote from *huffs to *huff (#2671)
  modular_skyrat/modules/emote_panel/code/emote_panel.dm
  modular_skyrat/modules/emotes/code/emotes.dm
Owners: @projectkepler-ru

Automatic changelog for PR #2671 [ci skip]
  html/changelogs/AutoChangeLog-pr-2671.yml
Owners: none

Update modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
Owners: @Majkl-J

Update modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
Owners: @Majkl-J

Update modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
Owners: @Majkl-J

Update modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
Owners: @Majkl-J

fox the dragon loss trait not going away
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
Owners: @nevimer, @Cyprex

arrivals disposals
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

area name, final touches
  _maps/map_files/moonstation/moonstation.dmm
  modular_zubbers/code/game/area/areas/moonstation.dm
Owners: @KathrinBailey, @projectkepler-ru, @Majkl-J

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2668.yml
  html/changelogs/AutoChangeLog-pr-2671.yml
  html/changelogs/archive/2024-12.yml
Owners: none

remove the unnecesary extra slowdown type
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/movespeed/modifiers/mobs.dm
Owners: @nevimer, @Cyprex

Adds disposal bins to Moon Station arrivals (#2674)
  _maps/map_files/moonstation/moonstation.dmm
  modular_zubbers/code/game/area/areas/moonstation.dm
Owners: @KathrinBailey, @projectkepler-ru, @Majkl-J

Automatic changelog for PR #2674 [ci skip]
  html/changelogs/AutoChangeLog-pr-2674.yml
Owners: none

CentCom / NTC Changes by ChromeFoxxity - SPRITE CHANGES ONLY (#2662)
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
  modular_zubbers/icons/mob/clothing/gloves/gloves.dmi
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/mob/clothing/head/winterhood.dmi
  modular_zubbers/icons/mob/clothing/mask/mask.dmi
  modular_zubbers/icons/mob/clothing/mask/mask_muzzled.dmi
  modular_zubbers/icons/mob/clothing/suits/armor.dmi
  modular_zubbers/icons/mob/clothing/suits/wintercoat.dmi
  modular_zubbers/icons/mob/clothing/under/centcom.dmi
  modular_zubbers/icons/obj/clothing/gloves/gloves.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/head/winterhood.dmi
  modular_zubbers/icons/obj/clothing/mask/mask.dmi
  modular_zubbers/icons/obj/clothing/suits/armor.dmi
  modular_zubbers/icons/obj/clothing/suits/wintercoat.dmi
  modular_zubbers/icons/obj/clothing/under/centcom.dmi
  tgstation.dme
Owners: @Majkl-J

Automatic changelog for PR #2662 [ci skip]
  html/changelogs/AutoChangeLog-pr-2662.yml
Owners: none

Fixes a runtime on eye removal (#87475)
  code/modules/surgery/organs/internal/eyes/_eyes.dm
Owners: @Majkl-J

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2662.yml
  html/changelogs/AutoChangeLog-pr-2674.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Automatic changelog for PR #2676 [ci skip]
  html/changelogs/AutoChangeLog-pr-2676.yml
Owners: none

[NO GBP] Fixes tethers being able to move immovable objects (and delete gravgens) (#87911)
  code/datums/components/tether.dm
Owners: @nevimer, @Cyprex

[NO GBP] Fixes tethers being able to move immovable objects (and dele (#2678)
  code/datums/components/tether.dm
Owners: @nevimer, @Cyprex

Try again
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Fixes some issues
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru
