Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J

dont break all the music on the live server christ
  code/datums/components/jukebox.dm
Owners: @nevimer, @Cyprex

no longer true
  config/jukebox_music/README.txt
Owners: none

let's just get rid of this first
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
Owners: @projectkepler-ru

Additional plushies required
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Owners: @Majkl-J

911 gear update
  modular_skyrat/modules/goofsec/code/terragov.dm
Owners: @projectkepler-ru

inducer
  modular_skyrat/modules/goofsec/code/terragov.dm
Owners: @projectkepler-ru

Remove out Semi-Modular, since I don't think it's necessary
  .github/labeler.yml
Owners: none

fiksed
  code/game/machinery/computer/communications.dm
Owners: @nevimer, @Cyprex

Skyrat jukebox code cleanup (#2762)
  _maps/map_files/biodome/biodome.dmm
  _maps/shuttles/zubbers/emergency_vortex.dmm
  code/__DEFINES/sound.dm
  code/datums/components/jukebox.dm
  code/game/machinery/dance_machine.dm
  code/modules/mod/modules/modules_maint.dm
  config/jukebox_music/README.txt
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/jukebox/code/dance_machine.dm
  modular_skyrat/modules/jukebox/code/jukebox_subsystem.dm
  modular_skyrat/modules/jukebox/code/ravemod.dm
  modular_skyrat/modules/jukebox/icons/stationobjs.dmi
  modular_skyrat/modules/jukebox/readme.md
  tgstation.dme
  tools/UpdatePaths/Scripts_Bubber/2762_jukebox_repath.txt
Owners: @KathrinBailey, @projectkepler-ru, @nevimer, @Cyprex

Automatic changelog for PR #2762 [ci skip]
  html/changelogs/AutoChangeLog-pr-2762.yml
Owners: none

sync to tg
  code/__DEFINES/chat.dm
  tgui/packages/tgui-panel/chat/constants.ts
Owners: @nevimer, @Cyprex

no checks helper
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Added hair_big.dmi (with Edgerunner hair style)
  modular_zubbers/icons/customization/hair_big.dmi
Owners: @Majkl-J

Add Edgerunner hairstyle
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
Owners: @Majkl-J

new damage feedback for synths
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
Owners: @Majkl-J

fuck off that's not even an active bug
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
Owners: @Majkl-J

Nukeops + Delta AI
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/nuke_ops.dm
Owners: @nevimer, @Cyprex, @Majkl-J

[BubberLite] Enables Nukeops + Delta AI (#2769)
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/nuke_ops.dm
Owners: @nevimer, @Cyprex, @Majkl-J

Consistent vendors in departmental security offices (#2760)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/moonstation/moonstation.dmm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Owners: @KathrinBailey, @projectkepler-ru

Automatic changelog for PR #2760 [ci skip]
  html/changelogs/AutoChangeLog-pr-2760.yml
Owners: none

Adds Edgerunner hair, a mohawk/quiff style from MonkeStation (#2768)
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/icons/customization/hair_big.dmi
Owners: @Majkl-J

Adds blood cult and rev to storyteller
  modular_zubbers/code/modules/storyteller/event_defines/crewset/bloodcult.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/revolution.dm
  tgstation.dme
Owners: @Majkl-J

Automatic changelog for PR #2768 [ci skip]
  html/changelogs/AutoChangeLog-pr-2768.yml
Owners: none

Add no checks helper to kilo telecomms air alarm (#2767)
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Automatic changelog for PR #2767 [ci skip]
  html/changelogs/AutoChangeLog-pr-2767.yml
Owners: none

Remove backup calling
  modular_zubbers/code/game/Items/sec_hailer.dm
Owners: @Majkl-J

Additional rat-sized plushie because the Head of Security once plush-shamed me in the prison shower-room (#2764)
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Owners: @Majkl-J

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2760.yml
  html/changelogs/AutoChangeLog-pr-2762.yml
  html/changelogs/AutoChangeLog-pr-2767.yml
  html/changelogs/AutoChangeLog-pr-2768.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Update revolution.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/revolution.dm
Owners: @Majkl-J

Reenable more antag stuff
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_zubbers/code/game/gamemodes/objectives/overrides.dm
Owners: @nevimer, @Cyprex, @Majkl-J

Update moonstation.dmm
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

blueshield quarters thing
  _maps/map_files/biodome/biodome.dmm
Owners: @KathrinBailey, @projectkepler-ru

stuff
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
Owners: @projectkepler-ru, @Majkl-J

fix
  modular_zubbers/code/modules/loadout/categories/under.dm
Owners: @Majkl-J

Update biodome.dmm
  _maps/map_files/biodome/biodome.dmm
Owners: @KathrinBailey, @projectkepler-ru

Reenable more antag stuff (#2777)
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_zubbers/code/game/gamemodes/objectives/overrides.dm
Owners: @nevimer, @Cyprex, @Majkl-J

jukebox repath
  _maps/map_files/biodome/biodome.dmm
Owners: @KathrinBailey, @projectkepler-ru

disappear after
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
Owners: @projectkepler-ru

Update GitHub Labeling Actions with New Automatic Labels (#2763)
  .github/labeler.yml
Owners: none
