Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @SuperNovaa41, @Time-Green, @tralezab, @Watermelon914, @ExcessiveUseOfCobblestone, @Jordie0608, @Kapu1178, @MrStonedOne, @NamelessFairy, @Pickle-Coding, @ZephyrTFA, @EOBGames, @Maurukas, @MMMiracles, @ShizCalev, @Imaginos16, @Krysonism, @Twaticus, @Ghilker, @Cyberboss, @BraveMole, @TiviPlus, @optimumtact

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

<<<<<<< HEAD
=======
# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# stylemistake (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
/tgui/packages/tgui-panel/styles/tgchat/chat-light.scss

# SuperNovaa41

/code/modules/forensics/ @SuperNovaa41
/code/datums/mood.dm @SuperNovaa41

# Time-Green

/code/modules/plumbing/ @Time-Green
/code/modules/surgery/organs/external/ @Time-Green

# tralezab
/code/__DEFINES/basic_mobs.dm @tralezab
/code/datums/ai @tralezab
/code/modules/mob/living/basic/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914
/code/modules/antagonists/traitor/ @Watermelon914

# CONTRIBUTORS

# Cobby

/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/medkit.dm @ExcessiveUseOfCobblestone

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# Kapu1178

/code/modules/surgery/bodyparts/ @Kapu1178
/code/modules/surgery/organs/ @Kapu1178
/code/modules/mob/living/carbon/carbon_update_icons.dm @Kapu1178
/code/modules/mob/living/carbon/human/human_update_icons.dm @Kapu1178

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# Pickle-Coding

/code/__DEFINES/atmospherics/ @Pickle-Coding
/code/__DEFINES/reactions.dm @Pickle-Coding
/code/modules/atmospherics/ @Pickle-Coding
/code/modules/power/ @Pickle-Coding

# ZephyrTFA

/code/__HELPERS/admin_verb.dm @ZephyrTFA
/code/controllers/subsystem/admin_verbs.dm @ZephyrTFA
/code/datums/json_savefile.dm @ZephyrTFA
/code/datums/armor/ @ZephyrTFA
/code/modules/admin/verbs/ @ZephyrTFA

# MULTIPLE OWNERS

/_maps/ @EOBGames @Maurukas @MMMiracles @san7890 @ShizCalev
/icons/ @Imaginos16 @Krysonism @Twaticus
/icons/ass/ @Ghilker @tralezab

/code/__DEFINES/atmospherics/ @Ghilker @LemonInTheDark
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/code/modules/atmospherics/ @Ghilker @LemonInTheDark
/code/modules/client/preferences.dm @Mothblocks @ZephyrTFA
/code/modules/client/preferences_savefile.dm @Mothblocks @ZephyrTFA
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/paramedic.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/surgery/ @ExcessiveUseOfCobblestone @Ryll-Ryll
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

/tools/WebhookProcessor/ @BraveMole @TiviPlus

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @optimumtact
>>>>>>> fe127fee84c (Renames folder for tgchat CSS styles (#73907))

Moves the fax out of the way
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Stealth For Viruses
  code/datums/diseases/advance/symptoms/hidden
  code/modules/antagonists/disease/disease_abilities.dm
Owners: none

Modularization Baby
  modular_zubbers/code/modules/disease/hidden.dm
  tgstation.dme
Owners: none

comments
  code/modules/antagonists/disease/disease_abilities.dm
Owners: none

Headset time baby
  modular_zubbers/code/modules/clothing/outfits/prison_headset.dm
  tgstation.dme
Owners: none

Remove lethal weapons salt PR
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Owners: @GoldenAlpharex

Minor donator item fixes
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
Owners: none

Revert "Minor donator item fixes"
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
Owners: none

Minor dono item fixes (real)
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
Owners: none

God hates me
  tgstation.dme
Owners: none

I'm stupid.
  modular_zubbers/code/modules/clothing/outfits/prison_headset.dm
Owners: none

We love the arrivals shuttle
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Reverts to TG weapons
  code/game/objects/items/melee/baton.dm
  code/modules/projectiles/guns/energy/stun.dm
Owners: none

Restores cargo's ability to buy guns
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs/security.dm
  code/modules/cargo/packs/service.dm
Owners: none

Update modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Owners: @GoldenAlpharex

Update modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Owners: @GoldenAlpharex

Health scanner now displays allergies more visibly
  code/datums/quirks/negative_quirks.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
Owners: none

Status Indicators
  code/__DEFINES/~~bubber_defines/status_indicator_defines.dm
  modular_zubbers/code/modules/mob/living/living.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
  modular_zubbers/code/modules/status_indicators/status_indicator_pref.dm
  modular_zubbers/icons/mob/status_indicators.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/status_indicators.tsx
Owners: none

dun dun duuunnnn
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
  tgstation.dme
Owners: none

Squashed commit of the following:
  code/modules/mob/living/carbon/carbon_defense.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
Owners: @GoldenAlpharex

Squashed commit of the following:
  modular_skyrat/master_files/code/modules/lowspecspace/space.dm
  modular_skyrat/master_files/icons/turf/space.dmi
  tgstation.dme
Owners: @GoldenAlpharex

Squashed commit of the following:
  code/modules/research/machinery/_production.dm
  config/game_options.txt
  modular_skyrat/master_files/code/modules/research/techweb/protolathe.dm
  tgstation.dme
Owners: @MrStonedOne, @GoldenAlpharex

rest asured, this is better and safer
  code/game/objects/items/melee/misc.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/aesthetics/guns/icons/energy.dmi
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_zubbers/code/game/objects/items/reshicaptainpistol.dm
  modular_zubbers/icons/obj/reshicaptainpistol.dmi
  tgstation.dme
Owners: @GoldenAlpharex

Update nanotrasen_consultant.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Owners: @GoldenAlpharex

Update reshicaptainpistol.dm
  modular_zubbers/code/game/objects/items/reshicaptainpistol.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update baton.dm
  code/game/objects/items/melee/baton.dm
Owners: none

Update code/game/objects/items/melee/misc.dm
  code/game/objects/items/melee/misc.dm
Owners: none

Update code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

Fixes fixing the kilo shuttle
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Kilo sec has redsec vendor and armory has weapons now???
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Gave kilo a missing ammo bench
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

This place didn't had a single kinkmate
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

fuck
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_tendril.dm
  tgstation.dme
Owners: @GoldenAlpharex

pissin all by myself
  code/__DEFINES/~~bubber_defines/DNA.dm
  code/__DEFINES/~~bubber_defines/hud.dm
  code/__DEFINES/~~bubber_defines/mob.dm
  code/__DEFINES/~~bubber_defines/traits.dm
  code/datums/mood.dm
  code/modules/antagonists/abductor/equipment/glands/heal.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/surgery/organs/stomach/_stomach.dm
  modular_zubbers/code/_onclick/hud/hud.dm
  modular_zubbers/code/_onclick/hud/human.dm
  modular_zubbers/code/datums/mood.dm
  modular_zubbers/code/datums/mood_events/needs_events.dm
  modular_zubbers/code/datums/quirks/neutral_quirks.dm
  modular_zubbers/code/modules/_defines.dm
  modular_zubbers/code/modules/antagonists/abductor/equipment/glands/heal.dm
  modular_zubbers/code/modules/clothing/head/wig.dm
  modular_zubbers/code/modules/mob/living/carbon/carbon.dm
  modular_zubbers/code/modules/mob/living/carbon/carbon_defines.dm
  modular_zubbers/code/modules/mob/living/carbon/human/human.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species.dm
  modular_zubbers/code/modules/mob/living/carbon/life.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents/drink_reagents.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents/toxic_reagents.dm
  modular_zubbers/code/modules/surgery/organs/bladder.dm
  modular_zubbers/icons/mob/screen/screen_gen.dmi
  modular_zubbers/icons/obj/medical/organs.dmi
  modular_zubbers/sound/effects/pee.ogg
  tgstation.dme
Owners: @SuperNovaa41, @ExcessiveUseOfCobblestone, @Ryll-Ryll

Fixes The Thing
  code/modules/antagonists/disease/disease_abilities.dm
Owners: none

dme
  tgstation.dme
Owners: none

wait fuck
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Owners: @GoldenAlpharex

a
  code/modules/hydroponics/plant_genes.dm
  code/modules/hydroponics/seeds.dm
  modular_zubbers/code/game/objects/items/circuitboards/machine_circuitboards.dm
  modular_zubbers/code/game/objects/items/storage/boxes.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
  modular_zubbers/code/modules/research/designs/misc_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/icons/obj/equipment/equipment.dmi
  tgstation.dme
Owners: @MrMelbert

mapping stuff
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev
