Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

A few updates to reflect moving
  modular_zubbers/code/modules/silicons/borgs/code/components/component.dm
  modular_zubbers/code/modules/silicons/borgs/code/damaging_procs.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_defense.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/robot_component.dmi
  tgstation.dme
Owners: @Majkl-J

Fixes map vote winner selection (or: how I found 10,000 extra votes for Tramstation) (#2647)
  modular_zubbers/code/controllers/subsystem/map_vote.dm
Owners: @Majkl-J

Automatic changelog for PR #2647 [ci skip]
  html/changelogs/AutoChangeLog-pr-2647.yml
Owners: none

Better ert dock
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

fix one
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

More edits
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

layer fixes
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Even more
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

More
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Fuck part 2
  modular_zubbers/master_files/code/modules/loadout/loadout_menu.dm
Owners: @Majkl-J

Fuck off linters
  code/modules/loadout/loadout_menu.dm
  modular_zubbers/master_files/code/modules/loadout/loadout_menu.dm
Owners: @nevimer, @Cyprex, @Majkl-J

Modular icon cutter
  tools/build/build.js
  tools/icon_cutter/check.py
Owners: none

Fix lunar rock
  modular_zubbers/icons/turf/lunar_rock_wall.dmi
  modular_zubbers/icons/turf/lunar_rock_wall.png.toml
Owners: @Majkl-J

[FUCK] Unfucks Loadout Clearing (#2650)
  code/modules/loadout/loadout_menu.dm
  modular_zubbers/master_files/code/modules/loadout/loadout_menu.dm
Owners: @nevimer, @Cyprex, @Majkl-J

Automatic changelog for PR #2650 [ci skip]
  html/changelogs/AutoChangeLog-pr-2650.yml
Owners: none

Bye
  .github/workflows/gbp.yml.disabled
  .github/workflows/gbp_collect.yml.disabled
  .github/workflows/round_id_linker.yml.disabled
Owners: none

Oops
  modular_zubbers/code/game/turfs/closed/lunar_cave.dm
  modular_zubbers/code/game/turfs/closed/lunar_surface.dm
Owners: @Majkl-J

Fucking grilles
  code/game/objects/structures/grille.dm
  modular_zubbers/code/modules/toblering/grille.dm
Owners: @nevimer, @Cyprex, @Majkl-J

[GITHUB] Yeets GBP Into The Void (#2652)
  .github/workflows/gbp.yml.disabled
  .github/workflows/gbp_collect.yml.disabled
  .github/workflows/round_id_linker.yml.disabled
Owners: none

synth speed modifier
  code/modules/surgery/surgery_step.dm
  modular_zubbers/code/datums/components/surgery_initiator.dm
Owners: @Majkl-J

Update surgery_initiator.dm
  modular_zubbers/code/datums/components/surgery_initiator.dm
Owners: @Majkl-J

treatment zone projector
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/treatment_zone_projector.dm
  tgstation.dme
Owners: @projectkepler-ru

Fixes benches attempting to add a nonexisting armrest overlay (#87368)
  code/game/objects/structures/beds_chairs/sofa.dm
Owners: @nevimer, @Cyprex

[EARLY PULL] Fixes benches attempting to add a nonexisting armrest overlay (#87368) (#2655)
  code/game/objects/structures/beds_chairs/sofa.dm
Owners: @nevimer, @Cyprex

Automatic changelog for PR #2655 [ci skip]
  html/changelogs/AutoChangeLog-pr-2655.yml
Owners: none

Update storage_items.dm
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
Owners: @projectkepler-ru

Initial
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Owners: @KathrinBailey, @projectkepler-ru

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2567.yml
  html/changelogs/AutoChangeLog-pr-2639.yml
  html/changelogs/AutoChangeLog-pr-2640.yml
  html/changelogs/AutoChangeLog-pr-2647.yml
  html/changelogs/AutoChangeLog-pr-2650.yml
  html/changelogs/AutoChangeLog-pr-2655.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Persistence bug fixes (#2657)
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Owners: @KathrinBailey, @projectkepler-ru

Automatic changelog for PR #2657 [ci skip]
  html/changelogs/AutoChangeLog-pr-2657.yml
Owners: none

Brings back MCR recharging, rebalances the MCR progression techweb (#2529)
  code/__DEFINES/~skyrat_defines/techweb_nodes.dm
  code/game/machinery/recharger.dm
  modular_skyrat/modules/company_imports/code/armament_datums/micron_control_systems.dm
  modular_skyrat/modules/microfusion/code/cargo_stuff.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

Automatic changelog for PR #2529 [ci skip]
  html/changelogs/AutoChangeLog-pr-2529.yml
Owners: none

Buffs cyborg health to match human health (135) (#2644)
  code/modules/mob/living/carbon/carbon_defines.dm
Owners: @nevimer, @Cyprex

Automatic changelog for PR #2644 [ci skip]
  html/changelogs/AutoChangeLog-pr-2644.yml
Owners: none

Wipes the files entirely
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  tgstation.dme
Owners: @projectkepler-ru

Re-removes buggy/defunct cargo import categories (#2048)
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  tgstation.dme
Owners: @projectkepler-ru

Automatic changelog for PR #2048 [ci skip]
  html/changelogs/AutoChangeLog-pr-2048.yml
Owners: none

Revert airlocks to horizon-style.
  modular_zubbers/icons/obj/doors/airlocks/centcom/airlock.dmi
  modular_zubbers/icons/obj/doors/airlocks/external/airlock.dmi
  modular_zubbers/icons/obj/doors/airlocks/external/airlock_color.dmi
  modular_zubbers/icons/obj/doors/airlocks/external/glass_overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/external/overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/glass_large/glass_large.dmi
  modular_zubbers/icons/obj/doors/airlocks/glass_large/overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/hatch/airlock.dmi
  modular_zubbers/icons/obj/doors/airlocks/hatch/airlock_stripe.dmi
  modular_zubbers/icons/obj/doors/airlocks/hatch/overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/highsec/airlock.dmi
  modular_zubbers/icons/obj/doors/airlocks/station/airlock.dmi
  modular_zubbers/icons/obj/doors/airlocks/station/airlock_color.dmi
  modular_zubbers/icons/obj/doors/airlocks/station/airlock_stripe.dmi
  modular_zubbers/icons/obj/doors/airlocks/station/glass_overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/station/note_overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/station/overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/station2/airlock.dmi
  modular_zubbers/icons/obj/doors/airlocks/station2/glass_overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/station2/overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/vault/airlock.dmi
  modular_zubbers/icons/obj/doors/airlocks/vault/overlays.dmi
Owners: @Majkl-J

Add convenience file for myself
  BUILD_FORCE_RECUT.cmd
Owners: none

Revert walls to early artea versions, they're a good template
  modular_zubbers/icons/turf/walls/solid_wall.dmi
  modular_zubbers/icons/turf/walls/solid_wall.png
  modular_zubbers/icons/turf/walls/solid_wall_reinforced.dmi
  modular_zubbers/icons/turf/walls/solid_wall_reinforced.png
  modular_zubbers/icons/turf/walls/solid_wall_reinforced_shine.dmi
  modular_zubbers/icons/turf/walls/solid_wall_reinforced_shine.png
  modular_zubbers/icons/turf/walls/solid_wall_shine.dmi
  modular_zubbers/icons/turf/walls/solid_wall_shine.png
Owners: @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J
