Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac

Update modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

real code WIP
  code/__DEFINES/MC.dm
  code/__DEFINES/~~bubber_defines/dynamic_vote.dm
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/modules/shuttle/emergency.dm
  modular_zubbers/code/datums/votes/gamemode_vote.dm
  tgstation.dme
Owners: none

minor fixes with lights and vault walls
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Update guns_back.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
Owners: @GoldenAlpharex

Update medkit.dm
  modular_skyrat/modules/blueshield/code/medkit.dm
Owners: @GoldenAlpharex

Revert "blueshield buff"
  code/modules/projectiles/ammunition/energy/laser.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/medkit.dm
  modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/icons/energy.dmi
Owners: @GoldenAlpharex

Update special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Update special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Update tgstation.dme
  tgstation.dme
Owners: none

Update laser.dm
  code/modules/projectiles/ammunition/energy/laser.dm
Owners: none

fun stuff :v
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Update medkit.dm
  modular_skyrat/modules/blueshield/code/medkit.dm
Owners: @GoldenAlpharex

had to remake my fucking sprite from scratch
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
  modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/icons/energy.dmi
Owners: @GoldenAlpharex

Update guns_back.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
Owners: @GoldenAlpharex

hell yeah i fixed everything
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

adds alt job names
  modular_zubbers/modules/code/alt_job_titles.dm
  tgstation.dme
Owners: none

Kangaroo Tail (Alt)
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/icons/customization/kangarooalt.dmi
Owners: none

Update lavaland_surface_ash_walker1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Changes the Mineral Doors to BIG OL' GATES
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update mining_roles.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
Owners: none

Update alt_job_titles.dm
  modular_zubbers/modules/code/alt_job_titles.dm
Owners: none

Update lavaland_surface_ash_walker1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Runner jackets and variants for Kan3
  modular_zubbers/code/modules/clothing/suits/donosuits.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
  modular_zubbers/icons/obj/clothing/runnerjacketdono.dmi
  tgstation.dme
Owners: none

Revert "Runner jackets and variants for Kan3"
  modular_zubbers/code/modules/clothing/suits/donosuits.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
  modular_zubbers/icons/obj/clothing/runnerjacketdono.dmi
  tgstation.dme
Owners: none

a general buff to give seclite and belt
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
Owners: @GoldenAlpharex

should be good
  code/modules/jobs/job_types/head_of_security.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

fixed
  code/modules/jobs/job_types/warden.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Update blueshield.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
Owners: @GoldenAlpharex

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Update ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Owners: @GoldenAlpharex

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

the revolver sprite is in!
  modular_zubbers/icons/obj/reshirevolver.dmi
Owners: none

testing required
  code/modules/jobs/job_types/head_of_security.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  modular_skyrat/modules/blueshield/code/special.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
  modular_zubbers/icons/obj/pouches.dmi
Owners: @GoldenAlpharex

Update tgstation.dme
  tgstation.dme
Owners: none

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Update gun.dm
  code/__DEFINES/~skyrat_defines/gun.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths/Scripts/ @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac
