Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

scrub anesthetic
  modular_zubbers/code/modules/atmospherics/machinery/air_alarm/air_alarm_modes.dm
  tgstation.dme
Owners: @Majkl-J

Hopefully final touches
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Kilo fixes (#2686)
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Automatic changelog for PR #2686 [ci skip]
  html/changelogs/AutoChangeLog-pr-2686.yml
Owners: none

Add a missing period to PDA typing message (#2684)
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
Owners: @nevimer, @Cyprex

Automatic changelog for PR #2684 [ci skip]
  html/changelogs/AutoChangeLog-pr-2684.yml
Owners: none

fix sol quirk messages
  modular_zubbers/code/datums/quirks/negative_quirks/sol_weakness.dm
Owners: @Majkl-J

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2684.yml
  html/changelogs/AutoChangeLog-pr-2686.yml
  html/changelogs/AutoChangeLog-pr-2687.yml
  html/changelogs/archive/2024-12.yml
Owners: none

changes nosferatu examine message and doubles disgust gain per level
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_nosferatu.dm
Owners: @Majkl-J

adds a very clear, very obvious it's a bloodsucker message so it's super clear to people
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_nosferatu.dm
Owners: @Majkl-J

mesmerize no longer requires you to face your target
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/targeted/mesmerize.dm
Owners: @Majkl-J

pass visuals_only
  code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

waow
  modular_zubbers/code/game/objects/items/tanks/tank_types.dm
  modular_zubbers/code/modules/research/designs/misc_designs.dm
Owners: @Majkl-J

do-nothing change
  modular_zubbers/code/modules/research/designs/misc_designs.dm
Owners: @Majkl-J

wait no this file was unticked I am a fool
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Owners: @Majkl-J

Update modules.dm
  modular_zubbers/code/modules/mod/modules.dm
Owners: @Majkl-J

Update modules.dm
  modular_zubbers/code/modules/mod/modules.dm
Owners: @Majkl-J

Update modules.dm
  modular_zubbers/code/modules/mod/modules.dm
Owners: @Majkl-J

Update modules.dm
  modular_zubbers/code/modules/mod/modules.dm
Owners: @Majkl-J

Update modules.dm
  modular_zubbers/code/modules/mod/modules.dm
Owners: @Majkl-J

Update BoxStation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

fix sol quirk messages (#2694)
  modular_zubbers/code/datums/quirks/negative_quirks/sol_weakness.dm
Owners: @Majkl-J

Automatic changelog for PR #2694 [ci skip]
  html/changelogs/AutoChangeLog-pr-2694.yml
Owners: none

Changes nosferatu examine message and doubles disgust gain per level (#2697)
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_nosferatu.dm
Owners: @Majkl-J

Automatic changelog for PR #2697 [ci skip]
  html/changelogs/AutoChangeLog-pr-2697.yml
Owners: none

Some more clean up items that came up for persistence (#2682)
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Owners: @KathrinBailey, @projectkepler-ru

Automatic changelog for PR #2682 [ci skip]
  html/changelogs/AutoChangeLog-pr-2682.yml
Owners: none

fixed typo
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/targeted/mesmerize.dm
Owners: @Majkl-J

Adds checks to make sure that both the AI and Modsuit wearer are present and in character to allow for mind swap + 1 bug fix (#2700)
  modular_zubbers/code/modules/mod/modules.dm
Owners: @Majkl-J

Automatic changelog for PR #2700 [ci skip]
  html/changelogs/AutoChangeLog-pr-2700.yml
Owners: none

More QoL changes to Box Station (#2701)
  _maps/map_files/BoxStation/BoxStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Automatic changelog for PR #2701 [ci skip]
  html/changelogs/AutoChangeLog-pr-2701.yml
Owners: none

Fix shuttle runtimes
  modular_zubbers/code/modules/toblering/closed.dm
Owners: @Majkl-J

Fix boss walls
  modular_zubbers/code/modules/toblering/indestructible.dm
Owners: @Majkl-J

Bluesec airlock + fix missing airlock type
  modular_zubbers/code/modules/toblering/airlock_types.dm
Owners: @Majkl-J

Code tweaks
  modular_zubbers/code/modules/toblering/closed.dm
Owners: @Majkl-J

Probably actually fix map compile
  modular_zubbers/code/modules/toblering/airlock_types.dm
Owners: @Majkl-J

Bruh
  modular_zubbers/code/modules/toblering/closed.dm
Owners: @Majkl-J

Fuck
  modular_zubbers/code/modules/toblering/closed.dm
Owners: @Majkl-J

Fuck
  modular_zubbers/code/modules/toblering/airlock_types.dm
Owners: @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J
