Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

Fixes formatting in species traits for plasmamen, skeletons, and vampires by adding missing commas for consistency.
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
Owners: @nevimer, @Cyprex

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2291.yml
  html/changelogs/AutoChangeLog-pr-2752.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Update creep_awakening.dm
  code/modules/events/creep_awakening.dm
Owners: @nevimer, @Cyprex

Dragons loosing a portal is no longer practically the end (#2667)
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/movespeed/modifiers/mobs.dm
Owners: @nevimer, @Cyprex

Automatic changelog for PR #2667 [ci skip]
  html/changelogs/AutoChangeLog-pr-2667.yml
Owners: none

storyteller config option
  code/controllers/subsystem/ticker.dm
  config/bubbers/bubbers_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skyrat_config_entries.dm
  modular_zubbers/maps/offstation/persistence/code.dm
Owners: @nevimer, @Cyprex, @Majkl-J

whoops
  modular_zubbers/maps/offstation/persistence/code.dm
Owners: @Majkl-J

Update code.dm
  modular_zubbers/maps/offstation/persistence/code.dm
Owners: @Majkl-J

The first code modifications to this branch. (#2756)
  modular_zubbers/maps/offstation/persistence/code.dm
Owners: @Majkl-J

Adds nitrogen and anesthetic tanks to printers (#2683)
  modular_zubbers/code/game/objects/items/tanks/tank_types.dm
  modular_zubbers/code/modules/research/designs/misc_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Owners: @Majkl-J

Automatic changelog for PR #2683 [ci skip]
  html/changelogs/AutoChangeLog-pr-2683.yml
Owners: none

words now, fair enough
  code/modules/mob/living/brain/brain_cybernetic.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/organs/code/brain.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

Some new reworks
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Fixes Obsession rolling while Be Antag is set to no. (#2754)
  code/modules/events/creep_awakening.dm
Owners: @nevimer, @Cyprex

Storyteller Config Option (#2755)
  code/controllers/subsystem/ticker.dm
  config/bubbers/bubbers_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skyrat_config_entries.dm
Owners: @nevimer, @Cyprex

Automatic changelog for PR #2755 [ci skip]
  html/changelogs/AutoChangeLog-pr-2755.yml
Owners: none

Update badass.dm
  code/modules/uplink/uplink_items/badass.dm
Owners: @projectkepler-ru

Update creep_awakening.dm
  code/modules/events/creep_awakening.dm
Owners: @nevimer, @Cyprex

modularizes it
  code/modules/uplink/uplink_items/badass.dm
  modular_zubbers/code/modules/uplink/uplink_items/badass.dm
  tgstation.dme
Owners: @projectkepler-ru, @Majkl-J

PLEASE WORK PELASE WORK PLEASE WORK PLEASE WORK
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/general_side.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
Owners: @nevimer, @Cyprex

I hope this won't be controversial
  code/modules/antagonists/heretic/knowledge/general_side.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
Owners: @nevimer, @Cyprex

Update holiday.dm
  modular_zubbers/master_files/code/modules/holiday/holiday.dm
Owners: @Majkl-J

oh also this
  code/modules/antagonists/heretic/knowledge/general_side.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
Owners: @nevimer, @Cyprex

Update flatpacker.dm
  modular_zubbers/code/game/machinery/flatpacker.dm
Owners: @Majkl-J

Update flatpacker.dm
  modular_zubbers/code/game/machinery/flatpacker.dm
Owners: @Majkl-J

Fix the Christmas postal strike (#2759)
  modular_zubbers/code/game/machinery/flatpacker.dm
  modular_zubbers/master_files/code/modules/holiday/holiday.dm
Owners: @Majkl-J

Automatic changelog for PR #2759 [ci skip]
  html/changelogs/AutoChangeLog-pr-2759.yml
Owners: none

Revert "Makes the christmas tree safe" (Please use broken gear responsibly) (#2723)
  code/modules/events/holiday/xmas.dm
Owners: @nevimer, @Cyprex

Update moonstation.dmm
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

vr, wardrobes
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Owners: @KathrinBailey, @projectkepler-ru

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2667.yml
  html/changelogs/AutoChangeLog-pr-2683.yml
  html/changelogs/AutoChangeLog-pr-2755.yml
  html/changelogs/AutoChangeLog-pr-2759.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2667.yml
  html/changelogs/AutoChangeLog-pr-56.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Update moonstation.dmm
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

entertainment chat toggle
  tgui/packages/tgui-panel/chat/constants.ts
Owners: none

get the hell out of here
  code/__DEFINES/sound.dm
  code/datums/components/jukebox.dm
  code/game/machinery/dance_machine.dm
  modular_skyrat/modules/jukebox/code/dance_machine.dm
  modular_skyrat/modules/jukebox/code/jukebox_subsystem.dm
  tgstation.dme
Owners: @nevimer, @Cyprex, @projectkepler-ru

change this path
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
Owners: @projectkepler-ru

added more label
  .github/labeler.yml
Owners: none

fuck the whole thing actually
  code/modules/mod/modules/modules_maint.dm
  modular_skyrat/modules/jukebox/code/ravemod.dm
  modular_skyrat/modules/jukebox/icons/stationobjs.dmi
  modular_skyrat/modules/jukebox/readme.md
  tgstation.dme
Owners: @nevimer, @Cyprex, @projectkepler-ru

Update constants.ts
  tgui/packages/tgui-panel/chat/constants.ts
Owners: none

update paths
  _maps/map_files/biodome/biodome.dmm
  _maps/shuttles/zubbers/emergency_vortex.dmm
  tools/UpdatePaths/Scripts_Bubber/2762_jukebox_repath.txt
Owners: @KathrinBailey, @projectkepler-ru

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J
