Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths/Scripts/ @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

[MIRROR] Refactor Statue & Creature unobserved behaviour [MDB IGNORE] (#19565)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movement.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/click.dm
  code/datums/components/unobserved_actor.dm
  code/game/atoms.dm
  code/modules/spells/spell.dm
  tgstation.dme
Owners: none

fugu
  code/game/objects/structures/spawner.dm
Owners: none

build
  _maps/map_files/generic/CentCom.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

Update bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
Owners: @GoldenAlpharex

movingshit to modularise
  code/modules/jobs/job_types/head_of_security.dm
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
  modular_skyrat/modules/sec_haul/code/guns/gunsets.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: @GoldenAlpharex

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Update engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Owners: none

not a powercreep I promise
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Owners: none

this shit sucks help
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

fix this WHY DID I ASYNC
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

I touched everything
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/power/cell.dm
  modular_zubbers/code/game/objects/items/reshicaptainpistol.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update nanotrasen_consultant.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Owners: @GoldenAlpharex

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

more lethal
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/warden.dm
Owners: none

Update m45a5.dm
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
Owners: @GoldenAlpharex

slow it down more
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

more kilo changes
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

fuck
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Owners: @GoldenAlpharex

Prisoner Headsets (#178)
  modular_zubbers/code/modules/clothing/outfits/prison_headset.dm
  tgstation.dme
Owners: none

Minimum Flavortext Length (#162)
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/__DEFINES/~~bubber_defines/jobs.dm
  tgstation.dme
Owners: none

Update jacket.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Owners: none

Update jacket.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Owners: none

2 brain dead today
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Owners: none

Revert "Minor dono item fixes (real)"
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
Owners: none

Update jacket.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Owners: none

Update jacket.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Owners: none

SharkWaifu's donator cat
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  modular_zubbers/code/modules/mob/living/simple_animal/friendly/cat.dm
  modular_zubbers/icons/mob/simple/pets.dmi
  tgstation.dme
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update cat.dm
  modular_zubbers/code/modules/mob/living/simple_animal/friendly/cat.dm
Owners: none

Update cat.dm
  modular_zubbers/code/modules/mob/living/simple_animal/friendly/cat.dm
Owners: none

Should pass unit tests now!
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  modular_zubbers/code/modules/mob/living/simple_animal/friendly/cat.dm
  tgstation.dme
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

SharkWaifu's Donator Item (#203)
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  modular_zubbers/icons/mob/simple/pets.dmi
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

linter fix
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/warden.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

test
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

a
  code/game/objects/items/melee/baton.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

paw
  code/game/objects/items/melee/baton.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
Owners: none

SUCCESS
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Clears the lint out of the washing machine (#204)
  _maps/map_files/tramstation/tramstation_bubber.dmm
  code/game/objects/items/melee/baton.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/warden.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac
