Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J

undoes some nerfs, modular(?)
  code/modules/mining/lavaland/tendril_loot.dm
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

Readme update
  modular_zubbers/code/modules/toblering/README.md
  modular_zubbers/icons/turf/walls/_README_IMPORTANT.md
Owners: @Majkl-J

Make windows different
  modular_zubbers/icons/obj/smooth_structures/window.dmi
  modular_zubbers/icons/obj/smooth_structures/window.png
  modular_zubbers/icons/obj/smooth_structures/window_reinforced.dmi
  modular_zubbers/icons/obj/smooth_structures/window_reinforced.png
Owners: @Majkl-J

Properly override airlocks
  modular_zubbers/code/modules/toblering/airlock_types.dm
Owners: @Majkl-J

Fix grille
  modular_zubbers/code/modules/toblering/grille.dm
Owners: @Majkl-J

Fix reinforced walls in sdmm
  modular_zubbers/code/modules/toblering/reinforced.dm
Owners: @Majkl-J

Fix wall runtimes
  modular_zubbers/code/modules/toblering/walls.dm
Owners: @Majkl-J

NTR is not a CC rep
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: @projectkepler-ru

NTR is not a CC rep
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: @projectkepler-ru

Fix window runtime, also add the edging overlay
  modular_zubbers/code/modules/toblering/windows.dm
Owners: @Majkl-J

Sprite Additions and Clothing Overrides ONLY
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
  modular_zubbers/icons/mob/clothing/gloves/gloves.dmi
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/mob/clothing/head/winterhood.dmi
  modular_zubbers/icons/mob/clothing/mask/mask.dmi
  modular_zubbers/icons/mob/clothing/mask/mask_muzzled.dmi
  modular_zubbers/icons/mob/clothing/suits/armor.dmi
  modular_zubbers/icons/mob/clothing/suits/wintercoat.dmi
  modular_zubbers/icons/mob/clothing/under/centcom.dmi
  modular_zubbers/icons/obj/clothing/gloves/gloves.dmi
  modular_zubbers/icons/obj/clothing/head/winterhood.dmi
  modular_zubbers/icons/obj/clothing/mask/mask.dmi
  modular_zubbers/icons/obj/clothing/suits/armor.dmi
  modular_zubbers/icons/obj/clothing/suits/wintercoat.dmi
  modular_zubbers/icons/obj/clothing/under/centcom.dmi
  tgstation.dme
Owners: @Majkl-J

Berserker/Marked One Armour Nerf (#2293)
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
Owners: @projectkepler-ru

Automatic changelog for PR #2293 [ci skip]
  html/changelogs/AutoChangeLog-pr-2293.yml
Owners: none

Oops, accidently overwrote a hat
  modular_zubbers/icons/mob/clothing/head/hats.dmi
Owners: @Majkl-J

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2048.yml
  html/changelogs/AutoChangeLog-pr-2293.yml
  html/changelogs/AutoChangeLog-pr-2529.yml
  html/changelogs/AutoChangeLog-pr-2644.yml
  html/changelogs/AutoChangeLog-pr-2657.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Missing hat icons
  modular_zubbers/icons/obj/clothing/head/hats.dmi
Owners: @Majkl-J

b-b-b-breath machine
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/medical/code/breath_machine.dm
  modular_skyrat/modules/medical/icons/obj/machinery.dmi
  modular_zubbers/code/_globalvars/lists/maintenance_loot_uncommon.dm
  modular_zubbers/icons/obj/medical/breath_machine.dmi
  tgstation.dme
Owners: @projectkepler-ru, @Majkl-J

map update
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_interdyne.dmm
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/hauntedtradingpost.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/shuttles/skyrat/emergency_skyrat.dmm
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  _maps/shuttles/skyrat/whiteship_blueshift.dmm
Owners: @KathrinBailey, @projectkepler-ru

Update hauntedtradingpost.dmm
  _maps/RandomRuins/SpaceRuins/hauntedtradingpost.dmm
Owners: @KathrinBailey, @projectkepler-ru

more sterilizine
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  modular_zubbers/code/modules/reagents/reagent_containers/medigel.dm
  modular_zubbers/code/modules/vending/medical.dm
  tgstation.dme
Owners: @nevimer, @Cyprex, @Majkl-J

Firearms Labor of Love (Patches, Bugfixes, and Typo Corrections) (#2624)
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/shotgun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/smg.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
  modular_skyrat/modules/opposing_force/code/equipment/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/sec_gun_rs.dm
  modular_skyrat/modules/sec_haul/code/technode/conversion_kit.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
  modular_skyrat/modules/shotgunrebalance/code/ammobox.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zubbers/code/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/ammobox.dm
  modular_zubbers/master_files/code/modules/research/designs/weapon_designs.dm
  tgstation.dme
Owners: @projectkepler-ru, @Majkl-J

Automatic changelog for PR #2624 [ci skip]
  html/changelogs/AutoChangeLog-pr-2624.yml
Owners: none

Update modules.dm
  modular_zubbers/code/modules/mod/modules.dm
Owners: @Majkl-J

Adds a new mod module - mind swap - to illegal tech (#2419)
  modular_zubbers/code/modules/mod/modules.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Owners: @Majkl-J

Automatic changelog for PR #2419 [ci skip]
  html/changelogs/AutoChangeLog-pr-2419.yml
Owners: none

We done it
  modular_skyrat/modules/Midroundtraitor/code/event.dm
Owners: @projectkepler-ru

Update code/datums/diseases/chronic_illness.dm
  code/datums/diseases/chronic_illness.dm
Owners: @nevimer, @Cyprex

Comment fixes
  code/datums/diseases/chronic_illness.dm
Owners: @nevimer, @Cyprex

Add a safety net for Manifold Sickness (#2446)
  code/datums/diseases/chronic_illness.dm
Owners: @nevimer, @Cyprex

Automatic changelog for PR #2446 [ci skip]
  html/changelogs/AutoChangeLog-pr-2446.yml
Owners: none

Fix easy unit test fails
  modular_zubbers/code/modules/toblering/reinforced.dm
Owners: @Majkl-J

Why did you do this?
  code/game/turfs/closed/wall/reinf_walls.dm
Owners: @nevimer, @Cyprex

Fix airlock colour
  modular_zubbers/code/modules/toblering/airlock.dm
Owners: @Majkl-J

Jen lighting, thanks daedalus and goonerstation
  code/modules/lighting/lighting_object.dm
  modular_zubbers/code/modules/toblering/turf.dm
  modular_zubbers/icons/turf/walls/wall_lighting.dmi
Owners: @nevimer, @Cyprex, @Majkl-J

We don't need these
  modular_zubbers/code/modules/toblering/reinforced.dm
Owners: @Majkl-J

Fix lighting
  code/modules/lighting/lighting_object.dm
Owners: @nevimer, @Cyprex

Oops
  modular_zubbers/code/modules/toblering/walls.dm
Owners: @Majkl-J

Steal wallening tech and bastardize it for our own use
  code/__DEFINES/layers.dm
  code/modules/lighting/lighting_object.dm
  cutter_templates/zubbers/baylike_splitvis.toml
  modular_zubbers/code/modules/toblering/_defines.dm
  modular_zubbers/code/modules/toblering/atom.dm
  modular_zubbers/code/modules/toblering/plane_master.dm
  modular_zubbers/code/modules/toblering/split_visibility.dm
  modular_zubbers/code/modules/toblering/walls.dm
  modular_zubbers/icons/turf/walls/solid_wall.dmi
  modular_zubbers/icons/turf/walls/solid_wall_splitvis.dmi
  modular_zubbers/icons/turf/walls/solid_wall_splitvis.png
  modular_zubbers/icons/turf/walls/solid_wall_splitvis.png.toml
  modular_zubbers/icons/turf/walls/wall_blackness.dmi
  tgstation.dme
Owners: @nevimer, @Cyprex, @Majkl-J

dragons are no longer forever fucked if they loose a rift
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
Owners: @nevimer, @Cyprex

remove undeeded nonmodular edit, pricing
  code/modules/reagents/reagent_containers/medigel.dm
  modular_skyrat/modules/synths/code/reagents/pill_bottles.dm
  modular_zubbers/code/modules/reagents/reagent_containers/medigel.dm
Owners: @nevimer, @Cyprex, @Majkl-J
