Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths/Scripts/ @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

Adds fax machine to meta
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

dgjfht
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/widerobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_sec.dmi
Owners: @GoldenAlpharex

Revert "Removes the Otie model"
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/widerobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_sec.dmi
Owners: @GoldenAlpharex

asdrf
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
Owners: none

Adds borg chargers to tram
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Revert "Revert "Removes the Otie model""
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/widerobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_sec.dmi
Owners: @GoldenAlpharex

Moves the engineering computer on tram
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

add papal stuff back to dme
  tgstation.dme
Owners: none

Makes Kilo less insufferable
  _maps/kilostation.json
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Oops these pipes were REALLY not meant to be above ground :<
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Moves the fax out of the way
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Stealth For Viruses
  code/datums/diseases/advance/symptoms/hidden
  code/modules/antagonists/disease/disease_abilities.dm
Owners: none

Modularization Baby
  modular_zubbers/code/modules/disease/hidden.dm
  tgstation.dme
Owners: none

comments
  code/modules/antagonists/disease/disease_abilities.dm
Owners: none

Headset time baby
  modular_zubbers/code/modules/clothing/outfits/prison_headset.dm
  tgstation.dme
Owners: none

Remove lethal weapons salt PR
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Owners: @GoldenAlpharex

Minor donator item fixes
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
Owners: none

Revert "Minor donator item fixes"
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
Owners: none

Minor dono item fixes (real)
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
Owners: none

God hates me
  tgstation.dme
Owners: none

I'm stupid.
  modular_zubbers/code/modules/clothing/outfits/prison_headset.dm
Owners: none

We love the arrivals shuttle
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Reverts to TG weapons
  code/game/objects/items/melee/baton.dm
  code/modules/projectiles/guns/energy/stun.dm
Owners: none

Restores cargo's ability to buy guns
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs/security.dm
  code/modules/cargo/packs/service.dm
Owners: none

Update modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Owners: @GoldenAlpharex

Update modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Owners: @GoldenAlpharex

Health scanner now displays allergies more visibly
  code/datums/quirks/negative_quirks.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
Owners: none

Status Indicators
  code/__DEFINES/~~bubber_defines/status_indicator_defines.dm
  modular_zubbers/code/modules/mob/living/living.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
  modular_zubbers/code/modules/status_indicators/status_indicator_pref.dm
  modular_zubbers/icons/mob/status_indicators.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/status_indicators.tsx
Owners: none

dun dun duuunnnn
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
  tgstation.dme
Owners: none

Squashed commit of the following:
  code/modules/mob/living/carbon/carbon_defense.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
Owners: @GoldenAlpharex

Squashed commit of the following:
  modular_skyrat/master_files/code/modules/lowspecspace/space.dm
  modular_skyrat/master_files/icons/turf/space.dmi
  tgstation.dme
Owners: @GoldenAlpharex

Squashed commit of the following:
  code/modules/research/machinery/_production.dm
  config/game_options.txt
  modular_skyrat/master_files/code/modules/research/techweb/protolathe.dm
  tgstation.dme
Owners: @GoldenAlpharex

rest asured, this is better and safer
  code/game/objects/items/melee/misc.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/aesthetics/guns/icons/energy.dmi
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_zubbers/code/game/objects/items/reshicaptainpistol.dm
  modular_zubbers/icons/obj/reshicaptainpistol.dmi
  tgstation.dme
Owners: @GoldenAlpharex

Update nanotrasen_consultant.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Owners: @GoldenAlpharex

Update reshicaptainpistol.dm
  modular_zubbers/code/game/objects/items/reshicaptainpistol.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update baton.dm
  code/game/objects/items/melee/baton.dm
Owners: none

Update code/game/objects/items/melee/misc.dm
  code/game/objects/items/melee/misc.dm
Owners: none

Update code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

Fixes fixing the kilo shuttle
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac
