Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths/Scripts/ @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

Returning to 100 health as intended
  code/__DEFINES/~skyrat_defines/combat.dm
Owners: none

Removes the higher capacity cell from disablers
  code/modules/projectiles/guns/energy/stun.dm
Owners: none

Is that a [REDACTED] reference??
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/customization/horns_big.dmi
  tgstation.dme
Owners: none

Is that a [REDACTED] reference??
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/customization/horns_big.dmi
  tgstation.dme
Owners: none

TM revert, unchecks the files only.
  tgstation.dme
Owners: none

Update horns.dm
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
Owners: none

Fixes cargo infinite money glitch
  modular_skyrat/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
Owners: @GoldenAlpharex

Update tgstation.dme
  tgstation.dme
Owners: none

Is that a [REDACTED] reference?? (#207)
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/customization/horns_big.dmi
  tgstation.dme
Owners: none

Removes the higher capacity cell from disablers (#206)
  code/modules/projectiles/guns/energy/stun.dm
Owners: none

an update
  modular_skyrat/modules/modular_weapons/code/melee.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: @GoldenAlpharex

Update baton.dm
  code/game/objects/items/melee/baton.dm
Owners: none

Adds a fax machine to the MetaStation Bridge
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

Update modular_zubbers/modules/code/alt_job_titles.dm
  modular_zubbers/modules/code/alt_job_titles.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

everything is working fine!
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
  modular_zubbers/icons/obj/reshirevolver.dmi
Owners: @GoldenAlpharex

everything works fine
  modular_zubbers/code/game/objects/items/reshirevolver.dm
  modular_zubbers/icons/obj/reshi40x32.dmi
  modular_zubbers/icons/obj/reshirevolver.dmi
Owners: none

Update payment.dm
  code/datums/components/payment.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

a few of the gazillion errors :(
  code/game/objects/items/AI_modules/hacked.dm
  code/modules/antagonists/traitor/objectives/final_objective/infect_ai.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/moretraitoritems/code/ocelot_revolver.dm
  modular_skyrat/modules/moretraitoritems/code/syndicate_loadout.dm
  tgstation.dme
Owners: @GoldenAlpharex, @Jolly-66

Update m16_variations.dm
  modular_skyrat/modules/black_mesa/code/m16_variations.dm
Owners: @GoldenAlpharex

Update client_procs.dm
  code/modules/client/client_procs.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update reshi40x32.dmi
  modular_zubbers/icons/obj/reshi40x32.dmi
Owners: none

Yes, the revolver.
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: @GoldenAlpharex

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Sprites and shit
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
  modular_zubbers/icons/obj/reshirevolver.dmi
Owners: @GoldenAlpharex

bubber edit
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
  modular_zubbers/icons/obj/reshirevolver.dmi
Owners: @GoldenAlpharex

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

no more rose ammo
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update nanotrasen_consultant.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Owners: @GoldenAlpharex

Update special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Modularise! Modularise!!!
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/projectile/energy/stun.dm
  modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/icons/energy.dmi
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_zubbers/code/game/objects/items/reshicaptainpistol.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
  modular_zubbers/icons/obj/reshicaptainpistol.dmi
  modular_zubbers/icons/obj/reshirevolver.dmi
Owners: @GoldenAlpharex

Update reshicaptainpistol.dm
  modular_zubbers/code/game/objects/items/reshicaptainpistol.dm
Owners: none
