Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J

Fix Escape Menu Overlapping (#2708)
  modular_skyrat/modules/escape_menu/code/escape_menu_skyrat.dm
Owners: @projectkepler-ru

Automatic changelog for PR #2708 [ci skip]
  html/changelogs/AutoChangeLog-pr-2708.yml
Owners: none

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2669.yml
  html/changelogs/AutoChangeLog-pr-2688.yml
  html/changelogs/AutoChangeLog-pr-2708.yml
  html/changelogs/AutoChangeLog-pr-2710.yml
  html/changelogs/AutoChangeLog-pr-2711.yml
  html/changelogs/AutoChangeLog-pr-2712.yml
  html/changelogs/archive/2024-12.yml
Owners: none

initial
  _maps/bubber/automapper/automapper_config.toml
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_aux.dmm
  modular_zubbers/code/game/area/areas/station.dm
Owners: @KathrinBailey, @projectkepler-ru, @Majkl-J

Update mind.dm
  modular_skyrat/modules/opposing_force/code/mind.dm
Owners: @projectkepler-ru

Fixes miniskirts de-breastifying you
  modular_skyrat/master_files/code/modules/clothing/under/jobs/security.dm
  modular_zubbers/code/modules/clothing/under/skirts_dresses.dm
Owners: @Majkl-J

Adds chef to the crew monitor
  modular_zubbers/code/game/machinery/computer/crew.dm
Owners: @Majkl-J

centcom/ert/updates
  _maps/bubber/automapper/automapper_config.toml
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_aux.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_centcom.dmm
Owners: @KathrinBailey, @projectkepler-ru

Fixes an oversite that allows ghosts to make opfors. (#2713)
  modular_skyrat/modules/opposing_force/code/mind.dm
Owners: @projectkepler-ru

Automatic changelog for PR #2713 [ci skip]
  html/changelogs/AutoChangeLog-pr-2713.yml
Owners: none

Fixes miniskirts de-breastifying you (#2714)
  modular_skyrat/master_files/code/modules/clothing/under/jobs/security.dm
  modular_zubbers/code/modules/clothing/under/skirts_dresses.dm
Owners: @Majkl-J

Adds chef to the crew monitor (#2715)
  modular_zubbers/code/game/machinery/computer/crew.dm
Owners: @Majkl-J

Automatic changelog for PR #2714 [ci skip]
  html/changelogs/AutoChangeLog-pr-2714.yml
Owners: none

Automatic changelog for PR #2715 [ci skip]
  html/changelogs/AutoChangeLog-pr-2715.yml
Owners: none

Extends integration test timeout to 25 minutes
  .github/workflows/run_integration_tests.yml
Owners: none

Update brain.dm
  modular_skyrat/modules/organs/code/brain.dm
Owners: @projectkepler-ru

Fixes proning of borers and humans
  modular_skyrat/master_files/code/datums/components/prone_mob.dm
  modular_skyrat/master_files/code/modules/mob/mob_movement.dm
Owners: none

fixes well trained spelling
  modular_zubbers/code/datums/quirks/negative_quirks/well_trained.dm
Owners: @Majkl-J

Buffs changeling zombie infection chance
  code/__DEFINES/~~bubber_defines/changeling_zombie.dm
Owners: @nevimer, @Cyprex

scrumpy
  modular_zubbers/code/modules/reagents/reagent_containers/cups/glassbottle.dm
  modular_zubbers/icons/obj/drinks/bottles.dmi
Owners: @Majkl-J

Update IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

sponsored by my unhealthy habit of wasting my years away bugfixing
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

why
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Make wallstripe match
  modular_zubbers/icons/turf/walls/wall_stripe.png
Owners: @Majkl-J

Fucking shuttle code
  code/__HELPERS/icon_smoothing.dm
  modular_zubbers/code/modules/toblering/turf/closed.dm
Owners: @nevimer, @Cyprex, @Majkl-J

fixes, modularize
  tgui/packages/common/color.ts
  tgui/packages/common/colorpicker.ts
  tgui/packages/tgui/components/Interactive.tsx
  tgui/packages/tgui/interfaces/ColorPickerModal.tsx
Owners: none

revert list
  tgui/packages/common/colorpicker.ts
Owners: none

fix CI
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_aux.dmm
Owners: @KathrinBailey, @projectkepler-ru

final furnishings
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_aux.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_centcom.dmm
  modular_zubbers/code/game/area/areas/station.dm
  modular_zubbers/code/game/objects/effects/landmarks.dm
Owners: @KathrinBailey, @projectkepler-ru, @Majkl-J

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2713.yml
  html/changelogs/AutoChangeLog-pr-2714.yml
  html/changelogs/AutoChangeLog-pr-2715.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Holy shit guys have you heard of LIST CHURN?
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
Owners: @projectkepler-ru

I SWEAR TO FUCK YOU GUYS WOULD PUT THE ENTIRE CODEBASE IN ONE FILE IF YOU COULD GET AWAY WITH IT
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/aesthetics/airlock/code/airlock_assemblies.dm
  modular_skyrat/modules/aesthetics/airlock/code/airlock_types.dm
  tgstation.dme
Owners: @projectkepler-ru

Why
  code/__DEFINES/~skyrat_defines/airlock.dm
Owners: @nevimer, @Cyprex

it's never final
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_aux.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_centcom.dmm
Owners: @KathrinBailey, @projectkepler-ru

three cameras are not better than one
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_centcom.dmm
Owners: @KathrinBailey, @projectkepler-ru

linters
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_aux.dmm
Owners: @KathrinBailey, @projectkepler-ru

To get colours from green lights:
  modular_zubbers/icons/obj/doors/airlocks/external/overlays.dmi
Owners: @Majkl-J

Aseprite dmi extension my beloved, also fix glass fill
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
Owners: @projectkepler-ru

Update nebulastation_centcom.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_centcom.dmm
Owners: @KathrinBailey, @projectkepler-ru

This is going to be tedius as fuck
  modular_zubbers/icons/obj/doors/airlocks/glass_large/overlays.dmi
Owners: @Majkl-J
