Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @SuperNovaa41, @Time-Green, @tralezab, @Watermelon914, @ExcessiveUseOfCobblestone, @Jordie0608, @Kapu1178, @MrStonedOne, @NamelessFairy, @Pickle-Coding, @ZephyrTFA, @EOBGames, @Maurukas, @MMMiracles, @ShizCalev, @Imaginos16, @Krysonism, @Twaticus, @Ghilker, @Cyberboss, @BraveMole, @TiviPlus, @optimumtact

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

<<<<<<< HEAD
=======
# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# stylemistake (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
/tgui/packages/tgui-panel/styles/tgchat/chat-light.scss

# SuperNovaa41

/code/modules/forensics/ @SuperNovaa41
/code/datums/mood.dm @SuperNovaa41

# Time-Green

/code/modules/plumbing/ @Time-Green
/code/modules/surgery/organs/external/ @Time-Green

# tralezab
/code/__DEFINES/basic_mobs.dm @tralezab
/code/datums/ai @tralezab
/code/modules/mob/living/basic/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914
/code/modules/antagonists/traitor/ @Watermelon914

# CONTRIBUTORS

# Cobby

/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/medkit.dm @ExcessiveUseOfCobblestone

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# Kapu1178

/code/modules/surgery/bodyparts/ @Kapu1178
/code/modules/surgery/organs/ @Kapu1178
/code/modules/mob/living/carbon/carbon_update_icons.dm @Kapu1178
/code/modules/mob/living/carbon/human/human_update_icons.dm @Kapu1178

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# Pickle-Coding

/code/__DEFINES/atmospherics/ @Pickle-Coding
/code/__DEFINES/reactions.dm @Pickle-Coding
/code/modules/atmospherics/ @Pickle-Coding
/code/modules/power/ @Pickle-Coding

# ZephyrTFA

/code/__HELPERS/admin_verb.dm @ZephyrTFA
/code/controllers/subsystem/admin_verbs.dm @ZephyrTFA
/code/datums/json_savefile.dm @ZephyrTFA
/code/datums/armor/ @ZephyrTFA
/code/modules/admin/verbs/ @ZephyrTFA

# MULTIPLE OWNERS

/_maps/ @EOBGames @Maurukas @MMMiracles @san7890 @ShizCalev
/icons/ @Imaginos16 @Krysonism @Twaticus
/icons/ass/ @Ghilker @tralezab

/code/__DEFINES/atmospherics/ @Ghilker @LemonInTheDark
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/code/modules/atmospherics/ @Ghilker @LemonInTheDark
/code/modules/client/preferences.dm @Mothblocks @ZephyrTFA
/code/modules/client/preferences_savefile.dm @Mothblocks @ZephyrTFA
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/paramedic.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/surgery/ @ExcessiveUseOfCobblestone @Ryll-Ryll
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

/tools/WebhookProcessor/ @BraveMole @TiviPlus

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @optimumtact
>>>>>>> fe127fee84c (Renames folder for tgchat CSS styles (#73907))

flashlight
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/icons/energy.dmi
Owners: @GoldenAlpharex

Anti-carp chads rise up
  code/modules/events/carp_migration.dm
Owners: none

Add comment
  code/modules/events/carp_migration.dm
Owners: none

yeyeye
  tgstation.dme
Owners: none

bruhbhdahdghfdhgsbvnsdmc
  tgstation.dme
Owners: none

order
  tgstation.dme
Owners: none

heliostation
  _maps/_basemap.dm
  _maps/heliostation.json
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
  config/maps.txt
  modular_zubbers/code/game/area/areas/station.dm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev, @MrStonedOne

fixes shit
  code/controllers/master.dm
  code/controllers/subsystem/ticker.dm
Owners: @MrStonedOne

Update Heliostation_bubber.dmm
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Swaps the default title screen
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/icons/Bubber_title_screen.png
Owners: @GoldenAlpharex

Update Heliostation_bubber.dmm
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update Heliostation_bubber.dmm
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

duplicate removal
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

the duplicates never end
  _maps/map_files/Heliostation/Heliostation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

fixes things please
  code/__DEFINES/MC.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
Owners: @MrStonedOne

fixes tab indentation maybe
  code/controllers/subsystem/vote.dm
Owners: none

f
  code/game/objects/items/spear.dm
  code/modules/mining/equipment/kinetic_crusher.dm
Owners: none

a'te
  code/game/objects/structures/flora.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_ritual.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_zubbers/code/modules/fluff/flora/ash_flora.dm
  tgstation.dme
Owners: @GoldenAlpharex

pixeltilt
  modular_zubbers/code/modules/keybinding/keybind/movement.dm
  modular_zubbers/code/modules/mob/living/living.dm
  modular_zubbers/code/modules/mob/mob.dm
  tgstation.dme
Owners: none

fsd
  code/__DEFINES/~~bubber_defines/keybinding.dm
  modular_zubbers/code/modules/keybinding/keybind/movement.dm
  tgstation.dme
Owners: none

h
  code/__DEFINES/~~bubber_defines/species.dm
  config/game_options.txt
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/code/modules/customization/sprite_accessories/taurs.dm
  modular_zubbers/code/modules/mob/living/carbon/human/human.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
  modular_zubbers/code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  modular_zubbers/icons/customization/ears.dmi
  modular_zubbers/icons/customization/tails.dmi
  modular_zubbers/icons/customization/taur.dmi
  modular_zubbers/icons/mob/species/human_parts_greyscale.dmi
  tgstation.dme
Owners: @MrStonedOne

gs
  modular_zubbers/icons/mob/species/human_parts_greyscale.dmi
Owners: none

gbvndbvnch
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
Owners: none

work you stupid
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
Owners: none

WORK
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
Owners: none

stupid moment
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Owners: none

h
  modular_zubbers/code/game/turfs/open/floor/glass.dm
  tgstation.dme
Owners: none

stupid moment (#148)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Owners: none

Swaps the default title screen (#142)
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/icons/Bubber_title_screen.png
Owners: @GoldenAlpharex

better interdyne than my last one yipee
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

real code WIP
  code/__DEFINES/MC.dm
  code/__DEFINES/~~bubber_defines/dynamic_vote.dm
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/modules/shuttle/emergency.dm
  modular_zubbers/code/datums/votes/gamemode_vote.dm
  tgstation.dme
Owners: @MrStonedOne, @Mothblocks, @ninjanomnom

minor fixes with lights and vault walls
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Update guns_back.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
Owners: @GoldenAlpharex

Update medkit.dm
  modular_skyrat/modules/blueshield/code/medkit.dm
Owners: @GoldenAlpharex

Revert "blueshield buff"
  code/modules/projectiles/ammunition/energy/laser.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/medkit.dm
  modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/icons/energy.dmi
Owners: @GoldenAlpharex

Update special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Update special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Update tgstation.dme
  tgstation.dme
Owners: none
