Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @SuperNovaa41, @Time-Green, @tralezab, @Watermelon914, @ExcessiveUseOfCobblestone, @Jordie0608, @Kapu1178, @MrStonedOne, @NamelessFairy, @Pickle-Coding, @ZephyrTFA, @EOBGames, @Maurukas, @MMMiracles, @ShizCalev, @Imaginos16, @Krysonism, @Twaticus, @Ghilker, @Cyberboss, @BraveMole, @TiviPlus, @optimumtact

child
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Owners: @GoldenAlpharex

why did that not go through
  modular_zubbers/code/datums/components/recipes/misc_recipes.dm
  modular_zubbers/code/datums/components/simple_farm/simple_farm.dm
  modular_zubbers/code/game/turfs/open/asteroid.dm
  modular_zubbers/code/game/turfs/open/planet.dm
Owners: none

aaaaaaaa
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Owners: @GoldenAlpharex

[MIRROR] The North Star Expeditionary Vessel - A Second Wind [MDB IGNORE] (#20535)
  _maps/_basemap.dm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/northstar.json
  _maps/shuttles/arrival_northstar.dmm
  _maps/shuttles/cargo_northstar.dmm
  _maps/shuttles/emergency_northstar.dmm
  _maps/shuttles/mining_common_northstar.dmm
  _maps/shuttles/mining_northstar.dmm
  code/__DEFINES/layers.dm
  code/datums/shuttles.dm
  code/game/area/areas/station.dm
  code/game/machinery/shieldgen.dm
  code/game/objects/effects/mines.dm
  code/game/objects/effects/spawners/random/contraband.dm
  code/modules/mining/mine_items.dm
  config/maps.txt
  icons/area/areas_station.dmi
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/multiz_performance.tsx
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev, @LemonInTheDark, @MrStonedOne, @Imaginos16, @Krysonism, @Twaticus

[MIRROR] North Star Merge Plaque and Requests Console for QM [NO GBP] [MDB IGNORE] (#20605)
  _maps/map_files/NorthStar/north_star.dmm
  code/game/objects/structures/plaques/static_plaques.dm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

play it loud
  config/maps.txt
Owners: @MrStonedOne

[MIRROR] Replaces xeno_spawn with the generic_maintenance_landmark, adds atmos safety checks to remaining midrounds that need them [MDB IGNORE] (#20302)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/maintenance_modules/barcargoupper_1.dmm
  _maps/map_files/tramstation/maintenance_modules/barcargoupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/barcargoupper_3.dmm
  _maps/map_files/tramstation/maintenance_modules/dormmedupper_1.dmm
  _maps/map_files/tramstation/maintenance_modules/dormmedupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/dormmedupper_3.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_1.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_1.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_2.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_3.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_b_1.dmm
  _maps/map_files/tramstation/maintenance_modules/secbarupper_1.dmm
  _maps/map_files/tramstation/maintenance_modules/secbarupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/secbarupper_3.dmm
  _maps/map_files/tramstation/maintenance_modules/secservicelower_1.dmm
  _maps/map_files/tramstation/maintenance_modules/secservicelower_2.dmm
  _maps/map_files/tramstation/maintenance_modules/secservicelower_3.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_ert_bay.dmm
  code/_globalvars/lists/mapping.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/objects/effects/landmarks.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/events/ghost_role/morph_event.dm
  code/modules/events/ghost_role/nightmare.dm
  code/modules/events/spider_infestation.dm
  tools/UpdatePaths/Scripts/74374_maintenance_landmarks.txt
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev, @Mothblocks, @Jolly-66

[MIRROR] A few records-related manual mirrors (so I don't have to deal with annoying conflicts) (#19588)
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/scrapheap.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_medisim.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/infiltrator_advanced.dmm
  _maps/shuttles/infiltrator_basic.dmm
  _maps/shuttles/skyrat/emergency_skyrat.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/skyrat/automapper/templates/centcom/centcom_shuttle_dock.dmm
  code/datums/records/crime.dm
  code/datums/records/record.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/records/medical.dm
  code/game/machinery/computer/records/records.dm
  code/game/machinery/computer/records/security.dm
  code/game/machinery/computer/warrant.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/modular_computers/file_system/programs/records.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/MedicalRecords/RecordTabs.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/CrimeWatcher.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordTabs.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordView.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/constants.ts
  tgui/packages/tgui/interfaces/SecurityRecords/types.ts
  tools/UpdatePaths/Scripts/73363_records_computers.txt
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev, @JohnFulpWillard, @Jolly-66

ech
  code/modules/jobs/job_types/warden.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

bubber moment
  code/game/objects/items/melee/baton.dm
Owners: none

Fugitive backstories are now selected with consideration to the number of signups (#74347)
  code/__DEFINES/events.dm
  code/modules/antagonists/fugitive/fugitive.dm
Owners: none

Adds a new solo fugitive backstory: The Invisible Man (#74415)
  code/__DEFINES/events.dm
  code/modules/antagonists/fugitive/fugitive.dm
  code/modules/antagonists/fugitive/fugitive_equipment.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  icons/mob/actions/actions_items.dmi
  icons/obj/medical/syringe.dmi
  tgstation.dme
Owners: @ExcessiveUseOfCobblestone, @Imaginos16, @Krysonism, @Twaticus

i hate yoububber
  code/game/objects/items/melee/baton.dm
Owners: none

[no gbp] Wizard Apprentices don't get the Grand Ritual (#74116)
  code/modules/antagonists/wizard/wizard.dm
  tgui/packages/tgui/interfaces/AntagInfoWizard.tsx
Owners: none

Add ketchup bottle, for mail and crafting purposes (#73954)
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/condiment.dm
Owners: @ExcessiveUseOfCobblestone

Resistance changes
  code/modules/antagonists/disease/disease_abilities.dm
  modular_zubbers/code/modules/disease/hidden.dm
Owners: none

venue
  code/modules/food_and_drinks/restaurant/_venue.dm
Owners: none

[MIRROR] Basic Wumborian Fugu & Fugu Gland [MDB IGNORE] (#19369)
  _maps/RandomZLevels/caves.dmm
  code/__DEFINES/ai.dm
  code/datums/ai/basic_mobs/base_basic_controller.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/basic_attacking.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targeted_mob_ability.dm
  code/datums/ai/basic_mobs/basic_subtrees/attack_obstacle_in_path.dm
  code/datums/ai/basic_mobs/basic_subtrees/targeted_mob_ability.dm
  code/datums/ai/basic_mobs/basic_subtrees/use_mob_ability.dm
  code/datums/elements/wall_smasher.dm
  code/game/objects/structures/spawner.dm
  code/modules/antagonists/wizard/grand_ritual/grand_side_effect.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/basic/farm_animals/cow/cow_moonicorn.dm
  code/modules/mob/living/basic/farm_animals/pig.dm
  code/modules/mob/living/basic/lavaland/bileworm/_bileworm.dm
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_ai.dm
  code/modules/mob/living/basic/retaliate/ghost.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_actions.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_rift_actions.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_controllers.dm
  code/modules/mob/living/basic/space_fauna/carp/magicarp.dm
  code/modules/mob/living/basic/space_fauna/giant_spider/giant_spider_ai.dm
  code/modules/mob/living/basic/space_fauna/giant_spider/spider_variants.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/fugu_gland.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/inflation.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/wumborian_ai.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/wumborian_fugu.dm
  code/modules/mob/living/basic/syndicate/syndicate.dm
  code/modules/mob/living/basic/syndicate/syndicate_ai.dm
  code/modules/mob/living/basic/vermin/mouse.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
  code/modules/movespeed/modifiers/status_effects.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_skyrat/modules/planets/code/rockplanet.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/73415_simple_fugu_to_basic.txt
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev, @tralezab, @ninjanomnom, @Mothblocks, @GoldenAlpharex, @Jolly-66

the joke was on me
  code/__DEFINES/~~bubber_defines/status_indicator_defines.dm
  code/modules/jobs/job_types/warden.dm
Owners: none

[MIRROR] New Station Trait, Employee Birthday! [MDB IGNORE] (#19690)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/traits.dm
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/json_configs/festive_hat.json
  code/datums/greyscale/json_configs/party_hat.json
  code/datums/mood_events/generic_positive_events.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/game/machinery/computer/arcade/arcade.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/spawners/random/bureaucracy.dm
  code/game/objects/items/storage/boxes/service_boxes.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/reagent_containers/spray.dm
  icons/effects/random_spawners.dmi
  icons/hud/screen_gen.dmi
  icons/mob/clothing/head/costume.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/head/costume.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/toys/toy.dmi
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev, @ExcessiveUseOfCobblestone, @Imaginos16, @Krysonism, @Twaticus

[MIRROR] Netherworld Mobs Refractor [MDB IGNORE] (#19181)
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/RandomZLevels/research2.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/shuttles/whiteship_kilo.dmm
  _maps/templates/lazy_templates/wizard_den.dmm
  code/datums/ai/basic_mobs/basic_ai_behaviors/basic_attacking.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_attack_target.dm
  code/datums/components/damage_buffs.dm
  code/datums/memory/_memory.dm
  code/game/objects/items/dice.dm
  code/game/objects/structures/petrified_statue.dm
  code/modules/art/statues.dm
  code/modules/mob/living/basic/space_fauna/netherworld/blankbody.dm
  code/modules/mob/living/basic/space_fauna/netherworld/creature.dm
  code/modules/mob/living/basic/space_fauna/netherworld/migo.dm
  code/modules/mob/living/basic/space_fauna/statue/statue.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/spells/spell_types/conjure/creatures.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/73086_refractor_netherworld.txt
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev, @tralezab, @ninjanomnom, @Mothblocks, @Jolly-66

Refactors admin event setup (again) (#73801)
  code/modules/admin/force_event.dm
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/events/_event.dm
  code/modules/events/_event_admin_setup.dm
  code/modules/events/anomaly/_anomaly.dm
  code/modules/events/anomaly/anomaly_dimensional.dm
  code/modules/events/anomaly/anomaly_ectoplasm.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/carp_migration.dm
  code/modules/events/disease_outbreak.dm
  code/modules/events/false_alarm.dm
  code/modules/events/heart_attack.dm
  code/modules/events/immovable_rod/immovable_rod_event.dm
  code/modules/events/mass_hallucination.dm
  code/modules/events/sandstorm.dm
  code/modules/events/scrubber_overflow.dm
  code/modules/events/shuttle_catastrophe.dm
  code/modules/events/shuttle_loan/shuttle_loan_event.dm
  code/modules/events/stray_cargo.dm
  code/modules/events/stray_meteor.dm
  code/modules/events/wizard/departmentrevolt.dm
  code/modules/events/wizard/madness.dm
  code/modules/events/wizard/magicarp.dm
Owners: none

Correct instances of destroying baseturfs in ChangeTurf & Select dimensional anomaly theme (#73177)
  code/game/objects/effects/anomalies/anomalies_dimensional.dm
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/modules/clothing/suits/reactive_armour_dimensional_themes.dm
  code/modules/events/anomaly/_anomaly.dm
  code/modules/events/anomaly/anomaly_dimensional.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/spells/spell_types/conjure/_conjure.dm
Owners: none

Netherworld Mobs Refractor (#73086)
  code/game/objects/structures/spawner.dm
Owners: none

Name Change
  modular_zubbers/code/modules/disease/hidden.dm
Owners: none

Revert "ech"
  code/modules/jobs/job_types/warden.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

Revert "Merge pull request #197 from NullDagaf/cummenfarten"
  code/game/objects/items/melee/baton.dm
Owners: none

Revert "Revert "ech""
  code/modules/jobs/job_types/warden.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

Revert "Merge pull request #197 from NullDagaf/cummenfarten"
  code/game/objects/items/melee/baton.dm
  code/modules/jobs/job_types/warden.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

a
  code/modules/events/carp_migration.dm
  code/modules/mob/living/basic/space_fauna/netherworld/blankbody.dm
  code/modules/mob/living/basic/space_fauna/netherworld/creature.dm
  code/modules/mob/living/basic/space_fauna/statue/statue.dm
Owners: @tralezab

[MIRROR] Refactor Statue & Creature unobserved behaviour [MDB IGNORE] (#19565)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movement.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/click.dm
  code/datums/components/unobserved_actor.dm
  code/game/atoms.dm
  code/modules/spells/spell.dm
  tgstation.dme
Owners: @ninjanomnom

fugu
  code/game/objects/structures/spawner.dm
Owners: none

build
  _maps/map_files/generic/CentCom.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

Update bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
Owners: @GoldenAlpharex

movingshit to modularise
  code/modules/jobs/job_types/head_of_security.dm
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
  modular_skyrat/modules/sec_haul/code/guns/gunsets.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: @GoldenAlpharex

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Update engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Owners: none

not a powercreep I promise
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Owners: none

this shit sucks help
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

<<<<<<< HEAD
=======
# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# stylemistake (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
/tgui/packages/tgui-panel/styles/tgchat/chat-light.scss

# SuperNovaa41

/code/modules/forensics/ @SuperNovaa41
/code/datums/mood.dm @SuperNovaa41

# Time-Green

/code/modules/plumbing/ @Time-Green
/code/modules/surgery/organs/external/ @Time-Green

# tralezab
/code/__DEFINES/basic_mobs.dm @tralezab
/code/datums/ai @tralezab
/code/modules/mob/living/basic/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914
/code/modules/antagonists/traitor/ @Watermelon914

# CONTRIBUTORS

# Cobby

/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/medkit.dm @ExcessiveUseOfCobblestone

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# Kapu1178

/code/modules/surgery/bodyparts/ @Kapu1178
/code/modules/surgery/organs/ @Kapu1178
/code/modules/mob/living/carbon/carbon_update_icons.dm @Kapu1178
/code/modules/mob/living/carbon/human/human_update_icons.dm @Kapu1178

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# Pickle-Coding

/code/__DEFINES/atmospherics/ @Pickle-Coding
/code/__DEFINES/reactions.dm @Pickle-Coding
/code/modules/atmospherics/ @Pickle-Coding
/code/modules/power/ @Pickle-Coding

# ZephyrTFA

/code/__HELPERS/admin_verb.dm @ZephyrTFA
/code/controllers/subsystem/admin_verbs.dm @ZephyrTFA
/code/datums/json_savefile.dm @ZephyrTFA
/code/datums/armor/ @ZephyrTFA
/code/modules/admin/verbs/ @ZephyrTFA

# MULTIPLE OWNERS

/_maps/ @EOBGames @Maurukas @MMMiracles @san7890 @ShizCalev
/icons/ @Imaginos16 @Krysonism @Twaticus
/icons/ass/ @Ghilker @tralezab

/code/__DEFINES/atmospherics/ @Ghilker @LemonInTheDark
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/code/modules/atmospherics/ @Ghilker @LemonInTheDark
/code/modules/client/preferences.dm @Mothblocks @ZephyrTFA
/code/modules/client/preferences_savefile.dm @Mothblocks @ZephyrTFA
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/paramedic.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/surgery/ @ExcessiveUseOfCobblestone @Ryll-Ryll
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

/tools/WebhookProcessor/ @BraveMole @TiviPlus

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @optimumtact
>>>>>>> fe127fee84c (Renames folder for tgchat CSS styles (#73907))
