Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

Update holidays.dm
  code/modules/holiday/holidays.dm
Owners: @nevimer, @Cyprex

Revert "Update holidays.dm"
  code/modules/holiday/holidays.dm
Owners: @nevimer, @Cyprex

xmas
  modular_zubbers/master_files/code/modules/holiday/holiday.dm
Owners: @Majkl-J

Update holiday.dm
  modular_zubbers/master_files/code/modules/holiday/holiday.dm
Owners: @Majkl-J

Revert "Makes the christmas tree safe (#912)"
  code/modules/events/holiday/xmas.dm
Owners: @nevimer, @Cyprex

well trained effect on examines is correctly written now (#2719)
  modular_zubbers/code/datums/quirks/negative_quirks/well_trained.dm
Owners: @Majkl-J

Automatic changelog for PR #2719 [ci skip]
  html/changelogs/AutoChangeLog-pr-2719.yml
Owners: none

Extends integration test timeout to 25 minutes (#2717)
  .github/workflows/run_integration_tests.yml
Owners: none

Makes the xmas period longer (#2722)
  modular_zubbers/master_files/code/modules/holiday/holiday.dm
Owners: @Majkl-J

Automatic changelog for PR #2722 [ci skip]
  html/changelogs/AutoChangeLog-pr-2722.yml
Owners: none

Fixes proning of borers and humans (#2718)
  modular_skyrat/master_files/code/datums/components/prone_mob.dm
  modular_skyrat/master_files/code/modules/mob/mob_movement.dm
Owners: none

Automatic changelog for PR #2718 [ci skip]
  html/changelogs/AutoChangeLog-pr-2718.yml
Owners: none

inflitrator suit now has all modules the normal nuclear suit has plus chameleon (#2709)
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
Owners: none

Automatic changelog for PR #2709 [ci skip]
  html/changelogs/AutoChangeLog-pr-2709.yml
Owners: none

remove skyrat overrides
  code/modules/power/supermatter/supermatter.dm
  modular_skyrat/master_files/code/modules/loadout/categories/heads.dm
  modular_skyrat/modules/customization/modules/clothing/head/costume.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

fix storyteller running holiday events
  modular_zubbers/code/modules/storyteller/event_defines/ghostset/ghostset_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/mundane_overrides.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
Owners: @Majkl-J

Nebulastation ERT/aux docks (#2716)
  _maps/bubber/automapper/automapper_config.toml
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_aux.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_centcom.dmm
  modular_zubbers/code/game/area/areas/station.dm
  modular_zubbers/code/game/objects/effects/landmarks.dm
Owners: @KathrinBailey, @projectkepler-ru, @Majkl-J

Automatic changelog for PR #2716 [ci skip]
  html/changelogs/AutoChangeLog-pr-2716.yml
Owners: none

Compile
  modular_zubbers/icons/turf/walls/wall_stripe.dmi
Owners: @Majkl-J

Do directions for extlocks
  modular_zubbers/icons/obj/doors/airlocks/external/overlays.dmi
Owners: @Majkl-J

Pull a lazy hack because fuck that shit
  modular_zubbers/code/modules/toblering/door/airlock.dm
  modular_zubbers/code/modules/toblering/door/door.dm
Owners: @Majkl-J

Finish doing all the missing door overlays
  modular_zubbers/icons/obj/doors/airlocks/external/overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/hatch/overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/station/overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/station2/overlays.dmi
  modular_zubbers/icons/obj/doors/airlocks/vault/overlays.dmi
Owners: @Majkl-J

Haha oops
  modular_zubbers/code/modules/toblering/door/door.dm
  modular_zubbers/code/modules/toblering/door/windowdoor.dm
  tgstation.dme
Owners: @Majkl-J

God fucking cunt
  modular_zubbers/icons/obj/doors/airlocks/external/overlays.dmi
Owners: @Majkl-J

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2709.yml
  html/changelogs/AutoChangeLog-pr-2716.yml
  html/changelogs/AutoChangeLog-pr-2718.yml
  html/changelogs/AutoChangeLog-pr-2719.yml
  html/changelogs/AutoChangeLog-pr-2722.yml
  html/changelogs/archive/2024-12.yml
Owners: none

And now firedoors
  modular_skyrat/modules/aesthetics/firedoor/code/firedoor.dm
  modular_zubbers/icons/obj/doors/doorfire.dmi
  modular_zubbers/icons/obj/doors/doorfireglass.dmi
  tgstation.dme
Owners: @projectkepler-ru, @Majkl-J

Yeet firedoor bottom lights, someone else can restore those if they REALLY want to
  modular_zubbers/code/modules/toblering/door/firedoor.dm
Owners: @Majkl-J

I fucking hate spriting
  modular_zubbers/icons/obj/doors/doorfireglass.dmi
Owners: @Majkl-J

Probably fix widelocks. Honestly, they should be entirely removed, or fully fixed
  modular_zubbers/code/modules/toblering/door/airlock_types.dm
Owners: @Majkl-J

Maybe fix map compile? Fuck if I know
  modular_zubbers/code/modules/toblering/door/airlock_types.dm
Owners: @Majkl-J

Added Veterinarian job title to Doctor
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: @projectkepler-ru

Adds Veterinarian title to Doctor role
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: @projectkepler-ru

Yeet
  code/modules/uplink/uplink_items/device_tools.dm
Owners: @projectkepler-ru

revert change to ghostset
  modular_zubbers/code/modules/storyteller/event_defines/ghostset/ghostset_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/mundane_overrides.dm
Owners: @Majkl-J

user prettier-ignore for color list
  tgui/packages/common/colorpicker.ts
Owners: none

Mesmerize no longer requires you to face your target (#2698)
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/targeted/mesmerize.dm
Owners: @Majkl-J

Automatic changelog for PR #2698 [ci skip]
  html/changelogs/AutoChangeLog-pr-2698.yml
Owners: none

xmas
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

Fixes the ashie clothing vendor
  modular_skyrat/modules/ashwalkers/code/buildings/ash_clothing_vendor.dm
Owners: @projectkepler-ru

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J
