Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J

Automatic changelog for PR #2791 [ci skip]
  html/changelogs/AutoChangeLog-pr-2791.yml
Owners: none

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2784.yml
  html/changelogs/AutoChangeLog-pr-2785.yml
  html/changelogs/AutoChangeLog-pr-2786.yml
  html/changelogs/AutoChangeLog-pr-2788.yml
  html/changelogs/AutoChangeLog-pr-2791.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Mail sorter/flatpack naming fix (#88687)
  code/game/machinery/flatpacker.dm
  code/game/objects/items/flatpacks.dm
  code/game/objects/items/mail.dm
  code/modules/clothing/head/hat.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/vending/wardrobes.dm
  tgstation.dme
Owners: @nevimer, @Cyprex

remove bubber edits, add gate to cargodrobe
  modular_skyrat/modules/cargo/code/export_gate.dm
  modular_zubbers/code/game/machinery/flatpacker.dm
  modular_zubbers/code/game/objects/items/flatpacks.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
  tgstation.dme
Owners: @projectkepler-ru, @Majkl-J

Mail sorter/flatpack naming fix (#2792)
  code/game/machinery/flatpacker.dm
  code/game/objects/items/flatpacks.dm
  code/game/objects/items/mail.dm
  code/modules/clothing/head/hat.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/vending/wardrobes.dm
  html/changelogs/AutoChangeLog-pr-88687.yml
  modular_skyrat/modules/cargo/code/export_gate.dm
  modular_zubbers/code/game/machinery/flatpacker.dm
  modular_zubbers/code/game/objects/items/flatpacks.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
  tgstation.dme
Owners: @nevimer, @Cyprex, @projectkepler-ru, @Majkl-J

Automatic changelog for PR #2792 [ci skip]
  html/changelogs/AutoChangeLog-pr-2792.yml
Owners: none

actual research node
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Owners: none

tad
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/techweb/nodes/mining_nodes.dm
Owners: @nevimer, @Cyprex

air alarm helpers
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

oops
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Fix Kilostation supermatter air alarm not being linked to the chamber (#2795)
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Automatic changelog for PR #2795 [ci skip]
  html/changelogs/AutoChangeLog-pr-2795.yml
Owners: none

Fix Engineering plumbing constructor not being researchable (#2793)
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Owners: none

Automatic changelog for PR #2793 [ci skip]
  html/changelogs/AutoChangeLog-pr-2793.yml
Owners: none
