Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J

Fixes people changing the alert level from Delta or above (#2766)
  code/game/machinery/computer/communications.dm
Owners: @nevimer, @Cyprex

Automatic changelog for PR #2766 [ci skip]
  html/changelogs/AutoChangeLog-pr-2766.yml
Owners: none

Make gas miner beacons clean up after themselves (#2780)
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
Owners: @projectkepler-ru

Automatic changelog for PR #2780 [ci skip]
  html/changelogs/AutoChangeLog-pr-2780.yml
Owners: none

Biodome Blueshield Quarters fixes. (#2775)
  _maps/map_files/biodome/biodome.dmm
Owners: @KathrinBailey, @projectkepler-ru

Remove sec vendors from Moonstation hallway (#2774)
  _maps/map_files/moonstation/moonstation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Automatic changelog for PR #2775 [ci skip]
  html/changelogs/AutoChangeLog-pr-2775.yml
Owners: none

Automatic changelog for PR #2774 [ci skip]
  html/changelogs/AutoChangeLog-pr-2774.yml
Owners: none

Syndicate Support Plushie (#2757)
  modular_zubbers/code/modules/uplink/uplink_items/badass.dm
  tgstation.dme
Owners: @Majkl-J

Automatic changelog for PR #2757 [ci skip]
  html/changelogs/AutoChangeLog-pr-2757.yml
Owners: none

Update blob_defines.dm
  code/__DEFINES/blob_defines.dm
Owners: @nevimer, @Cyprex

Update blob_defines.dm
  code/__DEFINES/blob_defines.dm
Owners: @nevimer, @Cyprex

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2757.yml
  html/changelogs/AutoChangeLog-pr-2766.yml
  html/changelogs/AutoChangeLog-pr-2774.yml
  html/changelogs/AutoChangeLog-pr-2775.yml
  html/changelogs/AutoChangeLog-pr-2780.yml
  html/changelogs/archive/2024-12.yml
Owners: none

item_interaction
  modular_skyrat/master_files/code/game/objects/structures/sauna_oven.dm
Owners: none

tgstation 88712
  code/__DEFINES/chat.dm
  tgui/packages/tgui-panel/chat/constants.ts
Owners: @nevimer, @Cyprex

Sauna oven attack chain refactor (#2782)
  modular_skyrat/master_files/code/game/objects/structures/sauna_oven.dm
Owners: none

Automatic changelog for PR #2782 [ci skip]
  html/changelogs/AutoChangeLog-pr-2782.yml
Owners: none

Chat filter toggle for entertainment radio channel (#2761)
  code/__DEFINES/chat.dm
  html/changelogs/AutoChangeLog-pr-88712.yml
  tgui/packages/tgui-panel/chat/constants.ts
Owners: @nevimer, @Cyprex

brig cell fix
  _maps/map_files/BoxStation/BoxStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Update BoxStation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2782.yml
  html/changelogs/AutoChangeLog-pr-88712.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Update BoxStation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

cold room
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

public type
  _maps/map_files/BoxStation/BoxStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Update organs.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
Owners: @projectkepler-ru

Fixes Canine Taur-type overlay
  modular_skyrat/master_files/icons/mob/sprite_accessory/taur.dmi
Owners: none

Un-Skyrats Demonic Frost Miner Arena
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_mining_site_skyrat.dmm
  code/datums/ruins/icemoon.dm
  modular_skyrat/modules/mapping/code/icemoon.dm
Owners: @KathrinBailey, @projectkepler-ru, @nevimer, @Cyprex

Fixes ruin mapping errors.
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/clothing_facility.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/crash.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/luna.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttlescrap.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/smugglies.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/wreckedfriendship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/wreckedhomestead.dmm
Owners: @KathrinBailey, @projectkepler-ru

Fixes Canine Taur-type overlay (#2788)
  modular_skyrat/master_files/icons/mob/sprite_accessory/taur.dmi
Owners: none

Automatic changelog for PR #2788 [ci skip]
  html/changelogs/AutoChangeLog-pr-2788.yml
Owners: none

Fixes cryo pod's shuttleMove() runtime, remedying constant CI fails (#88526)
  code/modules/atmospherics/machinery/components/unary_devices/machine_connector.dm
Owners: @nevimer, @Cyprex

Pressure Tanks no longer runtime when shuttleRotated, Remedies constant CI fails (#88413)
  code/__HELPERS/type2type.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/tank.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/shuttle_rotate.dm
Owners: @nevimer, @Cyprex

conveyor var tweak
  _maps/shuttles/skyrat/cargo_skyrat.dmm
Owners: @KathrinBailey, @projectkepler-ru

Fixes the brig cells on Box Station. (#2784)
  _maps/map_files/BoxStation/BoxStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Make jukebox in boxstation bar all access (#2785)
  _maps/map_files/BoxStation/BoxStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Automatic changelog for PR #2784 [ci skip]
  html/changelogs/AutoChangeLog-pr-2784.yml
Owners: none

Make Kilostation's cold room actually cold (#2786)
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Automatic changelog for PR #2785 [ci skip]
  html/changelogs/AutoChangeLog-pr-2785.yml
Owners: none

Automatic changelog for PR #2786 [ci skip]
  html/changelogs/AutoChangeLog-pr-2786.yml
Owners: none

Cargonstein; or, The Modern Shuttlefix (#2791)
  _maps/shuttles/skyrat/cargo_skyrat.dmm
Owners: @KathrinBailey, @projectkepler-ru
