Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J

Compile
  modular_zubbers/icons/turf/walls/solid_wall.dmi
  modular_zubbers/icons/turf/walls/solid_wall_reinforced.dmi
  modular_zubbers/icons/turf/walls/solid_wall_shine.dmi
  modular_zubbers/icons/turf/walls/wall_stripe.dmi
  modular_zubbers/icons/turf/walls/wall_stripe_shine.dmi
Owners: @Majkl-J

Fix shuttle runtimes
  code/game/turfs/closed/walls.dm
Owners: @nevimer, @Cyprex

Higher contrast on the reinforced glass for easier identification
  modular_zubbers/icons/obj/smooth_structures/window_reinforced.dmi
  modular_zubbers/icons/obj/smooth_structures/window_reinforced.png
Owners: @Majkl-J

Fix incorrect filename
  modular_zubbers/code/modules/toblering/window.dm
  tgstation.dme
Owners: @Majkl-J

Make reinforced windows slightly darker+less vibrant
  modular_zubbers/code/modules/toblering/window.dm
Owners: @Majkl-J

Make tinted windows MUCH darker
  modular_zubbers/code/modules/toblering/window.dm
Owners: @Majkl-J

fine. no nitrogen belt
  modular_zubbers/code/modules/research/designs/misc_designs.dm
Owners: @Majkl-J

waw
  modular_zubbers/code/game/objects/items/tanks/tank_types.dm
  modular_zubbers/code/modules/research/designs/misc_designs.dm
  tgstation.dme
Owners: @Majkl-J

right gotta remove this part
  modular_skyrat/modules/organs/code/brain.dm
Owners: @projectkepler-ru

going with my original drawback idea since I originally thought it'd be too harsh
  modular_skyrat/modules/implants/code/augments_brain.dm
Owners: @projectkepler-ru

Add a missing period to typing message
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
Owners: @nevimer, @Cyprex

Turn off human authority by default so I don't see my moth turn into a freakish human anytime I want to test something
  config/game_options.txt
Owners: none

Allow human mononyms by default
  config/game_options.txt
Owners: none

Fix misconfigured belt in kilo cargo
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Fix accidentally placed door thingy
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Adds maint requirement to kilo animal pen
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Researching Cloak Fix (#2687)
  modular_skyrat/modules/simple_research/neck.dmi
Owners: @projectkepler-ru

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-55.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Automatic changelog for PR #2687 [ci skip]
  html/changelogs/AutoChangeLog-pr-2687.yml
Owners: none

Update preferences.dm
  code/__DEFINES/preferences.dm
Owners: @nevimer, @Cyprex

nerfs mantis blades from 25 to 15
  modular_skyrat/modules/implants/code/augments_arms.dm
Owners: @projectkepler-ru

actually lets change it to 18, energy dagger level
  modular_skyrat/modules/implants/code/augments_arms.dm
Owners: @projectkepler-ru

changeling armblade wound bonus is 10, so let's do that
  modular_skyrat/modules/implants/code/augments_arms.dm
Owners: @projectkepler-ru

this got ignored in the commits
  modular_zubbers/code/game/objects/items/tanks/tank_types.dm
Owners: @Majkl-J

correct explanatory text
  modular_skyrat/modules/organs/code/brain.dm
Owners: @projectkepler-ru

More changes with hopefully most lints fixed
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

More
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

a
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Maintentance around nitrogen breathers ## About The Pull Request
  modular_skyrat/modules/customization/game/objects/items/tanks/n2_tanks.dm
  modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/lungs.dm
Owners: @projectkepler-ru, @Majkl-J

maintainer suggestions
  modular_zubbers/code/datums/quirks/neutral_quirks/lungs.dm
Owners: @Majkl-J

"canon" update
  modular_skyrat/modules/implants/code/augments_brain.dm
  modular_zubbers/code/modules/languages/empathy.dm
Owners: @projectkepler-ru, @Majkl-J

1 more
  modular_skyrat/modules/implants/code/augments_brain.dm
Owners: @projectkepler-ru

Update autodrobe.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Owners: @projectkepler-ru

This fucking wall is a sisyphean task, I swear to fuck
  modular_zubbers/icons/turf/walls/solid_wall.png
Owners: @Majkl-J

my insanity
  modular_zubbers/code/game/objects/items/tanks/tank_types.dm
  modular_zubbers/code/modules/research/designs/misc_designs.dm
Owners: @Majkl-J

I am insane
  _maps/map_files/EvoStation/EvoStation.dmm
Owners: @KathrinBailey, @projectkepler-ru

Make indestructible turfs happy
  modular_skyrat/master_files/code/game/turfs/closed/_closed.dm
  modular_skyrat/modules/advanced_shuttles/code/turfs.dm
  modular_skyrat/modules/central_command_module/code/obj/wall.dm
  modular_skyrat/modules/mapping/code/dungeon.dm
  modular_zubbers/code/modules/toblering/closed.dm
  modular_zubbers/code/modules/toblering/indestructible.dm
  modular_zubbers/code/modules/toblering/walls.dm
  modular_zubbers/icons/turf/walls/solid_wall.dmi
  tgstation.dme
Owners: @projectkepler-ru, @Majkl-J

Fix some airlock jank
  modular_zubbers/code/modules/toblering/airlock_types.dm
  modular_zubbers/code/modules/toblering/door.dm
Owners: @Majkl-J

Update modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
  modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
Owners: @projectkepler-ru

Update modular_skyrat/modules/customization/game/objects/items/tanks/n2_tanks.dm
  modular_skyrat/modules/customization/game/objects/items/tanks/n2_tanks.dm
Owners: @projectkepler-ru
