Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

why
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
Owners: @projectkepler-ru

Fixes the ashie clothing vendor (#2730)
  modular_skyrat/modules/ashwalkers/code/buildings/ash_clothing_vendor.dm
Owners: @projectkepler-ru

Automatic changelog for PR #2730 [ci skip]
  html/changelogs/AutoChangeLog-pr-2730.yml
Owners: none

Fixes damage falloff across verious skyrat weapons (#2731)
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
Owners: @projectkepler-ru

Automatic changelog for PR #2731 [ci skip]
  html/changelogs/AutoChangeLog-pr-2731.yml
Owners: none

change tracks
  modular_zubbers/code/modules/storyteller/event_defines/moderate/moderate_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/mundane_overrides.dm
Owners: @Majkl-J

Update moderate_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/moderate/moderate_overrides.dm
Owners: @Majkl-J

Die
  _maps/shuttles/skyrat/arrivals_skyrat.dmm
Owners: @KathrinBailey, @projectkepler-ru

Abuse the FUCK out of macros
  modular_zubbers/code/modules/toblering/door/airlock_types.dm
Owners: @Majkl-J

Fix survival pods maybe
  modular_zubbers/code/modules/toblering/door/airlock_types.dm
Owners: @Majkl-J

Why are you like this
  modular_zubbers/code/modules/toblering/door/airlock_types.dm
Owners: @Majkl-J

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

Fix storyteller running holiday events (#2725)
  modular_zubbers/code/modules/storyteller/event_defines/moderate/moderate_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/mundane_overrides.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
Owners: @Majkl-J

Automatic changelog for PR #2725 [ci skip]
  html/changelogs/AutoChangeLog-pr-2725.yml
Owners: none

move dat
  code/modules/surgery/surgery_step.dm
Owners: @Majkl-J

adds a accessability option to disable dizziness
  modular_zubbers/code/modules/client/dizziness.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/dizzy_accessability.tsx
Owners: @Majkl-J

Replace Skyrat santa hat with GAGS santa hat (#2693)
  code/modules/power/supermatter/supermatter.dm
  modular_skyrat/master_files/code/modules/loadout/categories/heads.dm
  modular_skyrat/modules/customization/modules/clothing/head/costume.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

Automatic changelog for PR #2693 [ci skip]
  html/changelogs/AutoChangeLog-pr-2693.yml
Owners: none

You guys forgot to convert types, let's fix that
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
  _maps/RandomRuins/SpaceRuins/bubberstation/new syndicate base.tgm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/virtual_domains/skyrat_ancientmilsim.dmm
  bubber_archive/blueshift/Blueshift.dmm
  modular_zubbers/code/modules/toblering/door/airlock_types.dm
Owners: @KathrinBailey, @projectkepler-ru, @Majkl-J

Initial
  code/__DEFINES/hud.dm
  code/__DEFINES/~~~splurt_defines/thirst.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
  code/modules/surgery/organs/internal/stomach/_stomach.dm
  modular_skyrat/modules/synths/code/species/synthetic.dm
  modular_zzplurt/code/modules/thirst/_defines.dm
  modular_zzplurt/code/modules/thirst/mob.dm
  modular_zzplurt/code/modules/thirst/mob_mood.dm
  modular_zzplurt/code/modules/thirst/reagents.dm
  modular_zzplurt/code/modules/thirst/screen_hud.dm
  tgstation.dme
Owners: @nevimer, @Cyprex, @Majkl-J

Fix tram doors
  modular_zubbers/code/modules/toblering/door/airlock_types.dm
Owners: @Majkl-J

Don't try to use invalid overlays on custom doors
  modular_zubbers/code/modules/toblering/door/airlock.dm
Owners: @Majkl-J

Fuck border walls
  modular_zubbers/code/modules/toblering/turf/closed.dm
Owners: @Majkl-J

What the fuck
  modular_zubbers/icons/obj/doors/airlocks/hatch/overlays.dmi
Owners: @Majkl-J

fixes bloodsuckers bleeding forever
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/integration.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/life.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/procs.dm
Owners: @Majkl-J

silence bleed messages
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/integration.dm
Owners: @Majkl-J

surgery damage display
  code/__DEFINES/~~bubber_defines/surgery.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/surgery_helpers.dm
  code/modules/surgery/surgery_step.dm
  modular_zubbers/code/modules/surgery/healing.dm
  modular_zubbers/code/modules/surgery/surgery_step.dm
  tgstation.dme
Owners: @nevimer, @Cyprex, @Majkl-J

Yeet bolt open light state, new airlocks doesn't have a state, and I can't be fucked
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
Owners: @projectkepler-ru

surgery damage display
  code/modules/surgery/healing.dm
  modular_zubbers/code/modules/surgery/healing.dm
Owners: @Majkl-J

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2693.yml
  html/changelogs/AutoChangeLog-pr-2698.yml
  html/changelogs/AutoChangeLog-pr-2725.yml
  html/changelogs/AutoChangeLog-pr-2730.yml
  html/changelogs/AutoChangeLog-pr-2731.yml
  html/changelogs/archive/2024-12.yml
Owners: none

WHY ARE YOU LIKE THIS
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
Owners: @projectkepler-ru

fixes bloodsuckers bleeding forever (#2736)
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/integration.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/life.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/procs.dm
Owners: @Majkl-J

Automatic changelog for PR #2736 [ci skip]
  html/changelogs/AutoChangeLog-pr-2736.yml
Owners: none

fix nosferatu examine
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_nosferatu.dm
Owners: @Majkl-J

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

Adds three new variants of the hound borg sprite. Peacekeeper, service, and syndicate respectively.
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/widerobot_pk.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/widerobot_serv.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/widerobot_syndie.dmi
Owners: @Majkl-J

Allow binary atmos devices to be renamed with a pen (#88522)
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/binary_devices/binary_devices.dm
Owners: @nevimer, @Cyprex

Bark World (#2738)
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/widerobot_pk.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/widerobot_serv.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/widerobot_syndie.dmi
Owners: @Majkl-J

Automatic changelog for PR #2738 [ci skip]
  html/changelogs/AutoChangeLog-pr-2738.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J
