Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac

Update antag_datum.dm
  modular_skyrat/master_files/code/modules/antagonists/_common/antag_datum.dm
Owners: @GoldenAlpharex

powernet fix
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Meta powernet fixes (#120)
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Delete plasmaman.dm
  code/modules/clothing/outfits/plasmaman.dm
Owners: none

Prison Outfits
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/job_types/prisoner.dm
  modular_zubbers/code/modules/clothing/outfits/PrisonHeadset.dm
  tgstation.dme
Owners: none

RAH
  modular_skyrat/master_files/code/modules/language/language.dm
  modular_zubbers/code/modules/language_changes/XenoTounge
Owners: @GoldenAlpharex

I live in hell
  modular_zubbers/code/modules/language_changes/XenoTounge
Owners: none

removes double door
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Fixes double door on voidraptor (#123)
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

fuc
  modular_zubbers/code/datums/ai_laws/laws_antagonistic.dm
  tgstation.dme
Owners: none

a'te it
  code/modules/research/stock_parts.dm
Owners: none

Update VoidRaptor_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update MetaStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update MetaStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Fixes de-powered voidraptor security prison area. (#125)
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Misc. fixes for the Changes IDs PR (#104)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/skyrat_access_helpers/accesshelpers.dm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac, @GoldenAlpharex

Added Civil Protection Armor and Helmet (#35)
  modular_zubbers/code/modules/clothing/head/helmet.dm
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
  modular_zubbers/icons/mob/clothing/head/helmet.dmi
  modular_zubbers/icons/mob/clothing/suits/armor.dmi
  tgstation.dme
Owners: none

crimes against humanity (#108)
  modular_zubbers/code/game/objects/effects/decals.dm
  modular_zubbers/icons/effects/decals/cum.dmi
Owners: none

Gives Ghost Cafe Spawners Uses
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Owners: @GoldenAlpharex

Add files via upload
  modular_zubbers/code/game/objects/items/food/misc.dm
  modular_zubbers/code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
Owners: none

Add files via upload
  modular_zubbers/icons/obj/food/food.dmi
Owners: none

skyrat moment
  code/modules/antagonists/abductor/abductor.dm
Owners: none

QM gets Blacksmith access
  code/datums/id_trim/jobs.dm
Owners: none

Gives Ghost Cafe Spawners Uses (#128)
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Owners: @GoldenAlpharex

Update recipes_seafood.dm
  modular_zubbers/code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
Owners: none

Update misc.dm
  modular_zubbers/code/game/objects/items/food/misc.dm
Owners: none

sex!
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
  modular_zubbers/code/modules/mob/mining/goliath.dm
  tgstation.dme
Owners: none

The one wire fix
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Department Sec Update
  modular_skyrat/modules/goofsec/code/department_guards.dm
Owners: @GoldenAlpharex

The one wire fix (#133)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update tgstation.dme
  tgstation.dme
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

fixed stuff
  modular_zubbers/code/game/objects/items/food/misc.dm
  modular_zubbers/code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
  tgstation.dme
Owners: none

Update food.dmi
  modular_zubbers/icons/obj/food/food.dmi
Owners: none

Update misc.dm
  modular_zubbers/code/game/objects/items/food/misc.dm
Owners: none

Delta Prison & bugfixes
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update DeltaStation2_bubber.dmm
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

QM gets Blacksmith access (#131)
  code/datums/id_trim/jobs.dm
Owners: none

Update MetaStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update MetaStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths/Scripts/ @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac
