Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @SuperNovaa41, @Time-Green, @tralezab, @Watermelon914, @ExcessiveUseOfCobblestone, @Jordie0608, @Kapu1178, @MrStonedOne, @NamelessFairy, @Pickle-Coding, @ZephyrTFA, @EOBGames, @Maurukas, @MMMiracles, @ShizCalev, @Imaginos16, @Krysonism, @Twaticus, @Ghilker, @Cyberboss, @BraveMole, @TiviPlus, @optimumtact

a'te it
  code/modules/research/stock_parts.dm
Owners: none

Update VoidRaptor_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update MetaStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update MetaStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Fixes de-powered voidraptor security prison area. (#125)
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Misc. fixes for the Changes IDs PR (#104)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/skyrat_access_helpers/accesshelpers.dm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev, @GoldenAlpharex

Added Civil Protection Armor and Helmet (#35)
  modular_zubbers/code/modules/clothing/head/helmet.dm
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
  modular_zubbers/icons/mob/clothing/head/helmet.dmi
  modular_zubbers/icons/mob/clothing/suits/armor.dmi
  tgstation.dme
Owners: none

crimes against humanity (#108)
  modular_zubbers/code/game/objects/effects/decals.dm
  modular_zubbers/icons/effects/decals/cum.dmi
Owners: none

Gives Ghost Cafe Spawners Uses
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Owners: @GoldenAlpharex

Add files via upload
  modular_zubbers/code/game/objects/items/food/misc.dm
  modular_zubbers/code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
Owners: none

Add files via upload
  modular_zubbers/icons/obj/food/food.dmi
Owners: none

skyrat moment
  code/modules/antagonists/abductor/abductor.dm
Owners: none

QM gets Blacksmith access
  code/datums/id_trim/jobs.dm
Owners: none

Gives Ghost Cafe Spawners Uses (#128)
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Owners: @GoldenAlpharex

Update recipes_seafood.dm
  modular_zubbers/code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
Owners: none

Update misc.dm
  modular_zubbers/code/game/objects/items/food/misc.dm
Owners: none

sex!
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
  modular_zubbers/code/modules/mob/mining/goliath.dm
  tgstation.dme
Owners: none

The one wire fix
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Department Sec Update
  modular_skyrat/modules/goofsec/code/department_guards.dm
Owners: @GoldenAlpharex

The one wire fix (#133)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update tgstation.dme
  tgstation.dme
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

fixed stuff
  modular_zubbers/code/game/objects/items/food/misc.dm
  modular_zubbers/code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
  tgstation.dme
Owners: none

Update food.dmi
  modular_zubbers/icons/obj/food/food.dmi
Owners: none

Update misc.dm
  modular_zubbers/code/game/objects/items/food/misc.dm
Owners: none

Delta Prison & bugfixes
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update DeltaStation2_bubber.dmm
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

QM gets Blacksmith access (#131)
  code/datums/id_trim/jobs.dm
Owners: none

Update MetaStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update MetaStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Maps linter fix & Prison expansions (#135)
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

Moth's first donor reward
  modular_zubbers/code/game/objects/effects/items/plushes.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
  tgstation.dme
Owners: none

Removes every single ckey whitelist
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/head_accessory.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/neck_accessory.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Owners: @GoldenAlpharex

Maybe fixes the run linters errors?
  tgstation.dme
Owners: none

Add all SPLURT modular hair
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories.dm
  modular_zubbers/icons/mob/species/human/humanface.dmi
  tgstation.dme
Owners: none

Fixes a path error
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories.dm
  tgstation.dme
Owners: none

Fixes tgstation.dme
  tgstation.dme
Owners: none

blueshield buff
  code/modules/projectiles/ammunition/energy/laser.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/icons/energy.dmi
Owners: @GoldenAlpharex

Update special.dm
  modular_skyrat/modules/blueshield/code/special.dm
Owners: @GoldenAlpharex

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

<<<<<<< HEAD
=======
# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# stylemistake (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
/tgui/packages/tgui-panel/styles/tgchat/chat-light.scss

# SuperNovaa41

/code/modules/forensics/ @SuperNovaa41
/code/datums/mood.dm @SuperNovaa41

# Time-Green

/code/modules/plumbing/ @Time-Green
/code/modules/surgery/organs/external/ @Time-Green

# tralezab
/code/__DEFINES/basic_mobs.dm @tralezab
/code/datums/ai @tralezab
/code/modules/mob/living/basic/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914
/code/modules/antagonists/traitor/ @Watermelon914

# CONTRIBUTORS

# Cobby

/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/medkit.dm @ExcessiveUseOfCobblestone

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# Kapu1178

/code/modules/surgery/bodyparts/ @Kapu1178
/code/modules/surgery/organs/ @Kapu1178
/code/modules/mob/living/carbon/carbon_update_icons.dm @Kapu1178
/code/modules/mob/living/carbon/human/human_update_icons.dm @Kapu1178

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# Pickle-Coding

/code/__DEFINES/atmospherics/ @Pickle-Coding
/code/__DEFINES/reactions.dm @Pickle-Coding
/code/modules/atmospherics/ @Pickle-Coding
/code/modules/power/ @Pickle-Coding

# ZephyrTFA

/code/__HELPERS/admin_verb.dm @ZephyrTFA
/code/controllers/subsystem/admin_verbs.dm @ZephyrTFA
/code/datums/json_savefile.dm @ZephyrTFA
/code/datums/armor/ @ZephyrTFA
/code/modules/admin/verbs/ @ZephyrTFA

# MULTIPLE OWNERS

/_maps/ @EOBGames @Maurukas @MMMiracles @san7890 @ShizCalev
/icons/ @Imaginos16 @Krysonism @Twaticus
/icons/ass/ @Ghilker @tralezab

/code/__DEFINES/atmospherics/ @Ghilker @LemonInTheDark
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/code/modules/atmospherics/ @Ghilker @LemonInTheDark
/code/modules/client/preferences.dm @Mothblocks @ZephyrTFA
/code/modules/client/preferences_savefile.dm @Mothblocks @ZephyrTFA
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/paramedic.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/surgery/ @ExcessiveUseOfCobblestone @Ryll-Ryll
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

/tools/WebhookProcessor/ @BraveMole @TiviPlus

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @optimumtact
>>>>>>> fe127fee84c (Renames folder for tgchat CSS styles (#73907))
