Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac

Update tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
Owners: none

Update code/datums/quirks/_quirk.dm
  code/datums/quirks/_quirk.dm
Owners: none

Update modular_zubbers/code/datums/bubber_quirks/hydrophilic.dm
  modular_zubbers/code/datums/bubber_quirks/hydrophilic.dm
Owners: none

Update modular_zubbers/code/datums/bubber_quirks/hydrophilic.dm
  modular_zubbers/code/datums/bubber_quirks/hydrophilic.dm
Owners: none

Update anti_union_propaganda.txt
  strings/anti_union_propaganda.txt
Owners: none

Update modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Owners: @GoldenAlpharex

Fix some bugs
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_skyrat/modules/skyrat_access_helpers/accesshelpers.dm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac, @GoldenAlpharex

Make the command vending machine work
  modular_skyrat/modules/command_vendor/code/vending.dm
Owners: @GoldenAlpharex

sex
  code/modules/uplink/uplink_items/device_tools.dm
Owners: none

sure
  modular_zubbers/icons/customization/genitals/vagina.dmi
Owners: none

protecc
  modular_zubbers/code/game/objects/items/holy_weapons.dm
Owners: none

Add our icon path to CI
  code/modules/unit_tests/worn_icons.dm
Owners: none

more sane apporach
  modular_zubbers/code/modules/vending/_vending.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
  tgstation.dme
Owners: none

slotflagone
  modular_zubbers/code/game/objects/items/holy_weapons.dm
Owners: none

better var names and uhh, removing useless stuff
  modular_zubbers/code/modules/clothing/head/wig.dm
Owners: none

fasduoi
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

crimes against humanity
  modular_zubbers/code/game/objects/effects/decals.dm
  modular_zubbers/icons/effects/decals/cum.dmi
Owners: none

Allows Asleep/Critical players to LOOC
  modular_skyrat/modules/verbs/code/looc.dm
Owners: @GoldenAlpharex

Adjusts rep_or_captain
  modular_skyrat/modules/skyrat_access_helpers/accesshelpers.dm
Owners: @GoldenAlpharex

fixes something? maybe?
  code/controllers/master.dm
Owners: none

Genesis 11:9
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Owners: @GoldenAlpharex

equal representation for blacksmiths
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Owners: @GoldenAlpharex

Update parrot.dm
  code/modules/mob/living/simple_animal/parrot.dm
Owners: none

Update parrot.dm
  code/modules/mob/living/simple_animal/parrot.dm
Owners: none

Update parrot.dm
  code/modules/mob/living/simple_animal/parrot.dm
Owners: none

Removes poly from EVERY MAP
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update hemophage.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
Owners: @GoldenAlpharex

Update hemophage.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
Owners: @GoldenAlpharex

Hop on Bubberstation
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/icons/Bubber_title_screen.png
Owners: @GoldenAlpharex

Hop on Bubberstation (#115)
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/icons/Bubber_title_screen.png
Owners: @GoldenAlpharex

auugghh
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Modular Maps (#16)
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Adds Plasmaman Prison Headsets
  code/modules/clothing/outfits/plasmaman.dm
Owners: none

Gives Prisoners Headsets
  code/modules/jobs/job_types/prisoner.dm
Owners: none

1 riot instead of 3
  modular_zubbers/code/modules/vending/wardrobe.dm
Owners: none

Give dynamic.dm a higher pop_per_requirement
  code/game/gamemodes/dynamic/dynamic.dm
Owners: none

Add comment
  code/game/gamemodes/dynamic/dynamic.dm
Owners: none

Modularizes Prisoner Outfits
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/job_types/prisoner.dm
  modular_zubbers/code/modules/clothing/outfits/PrisonHeadset.dm
  tgstation.dme
Owners: none

omg he's so oranges
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  _maps/shuttles/ruin_cyborg_mothership.dmm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/research/techweb/all_nodes.dm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

this was probably a mistake yeah
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths/Scripts/ @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac
