Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @SuperNovaa41, @Time-Green, @tralezab, @Watermelon914, @ExcessiveUseOfCobblestone, @Jordie0608, @Kapu1178, @MrStonedOne, @NamelessFairy, @Pickle-Coding, @ZephyrTFA, @EOBGames, @Maurukas, @MMMiracles, @ShizCalev, @Imaginos16, @Krysonism, @Twaticus, @Ghilker, @Cyberboss, @BraveMole, @TiviPlus, @optimumtact

fix this WHY DID I ASYNC
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

I touched everything
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/power/cell.dm
  modular_zubbers/code/game/objects/items/reshicaptainpistol.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: @Pickle-Coding

Update nanotrasen_consultant.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Owners: @GoldenAlpharex

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

more lethal
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/warden.dm
Owners: none

Update m45a5.dm
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
Owners: @GoldenAlpharex

slow it down more
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

more kilo changes
  _maps/map_files/KiloStation/KiloStation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

fuck
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Owners: @GoldenAlpharex

Prisoner Headsets (#178)
  modular_zubbers/code/modules/clothing/outfits/prison_headset.dm
  tgstation.dme
Owners: none

Minimum Flavortext Length (#162)
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/__DEFINES/~~bubber_defines/jobs.dm
  tgstation.dme
Owners: none

Update jacket.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Owners: none

Update jacket.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Owners: none

2 brain dead today
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Owners: none

Revert "Minor dono item fixes (real)"
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
Owners: none

Update jacket.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Owners: none

Update jacket.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Owners: none

SharkWaifu's donator cat
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  modular_zubbers/code/modules/mob/living/simple_animal/friendly/cat.dm
  modular_zubbers/icons/mob/simple/pets.dmi
  tgstation.dme
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Update cat.dm
  modular_zubbers/code/modules/mob/living/simple_animal/friendly/cat.dm
Owners: none

Update cat.dm
  modular_zubbers/code/modules/mob/living/simple_animal/friendly/cat.dm
Owners: none

Should pass unit tests now!
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  modular_zubbers/code/modules/mob/living/simple_animal/friendly/cat.dm
  tgstation.dme
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

SharkWaifu's Donator Item (#203)
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  modular_zubbers/icons/mob/simple/pets.dmi
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

linter fix
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/warden.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

test
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

a
  code/game/objects/items/melee/baton.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: none

paw
  code/game/objects/items/melee/baton.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
Owners: none

SUCCESS
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Clears the lint out of the washing machine (#204)
  _maps/map_files/tramstation/tramstation_bubber.dmm
  code/game/objects/items/melee/baton.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/warden.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Returning to 100 health as intended
  code/__DEFINES/~skyrat_defines/combat.dm
Owners: none

Removes the higher capacity cell from disablers
  code/modules/projectiles/guns/energy/stun.dm
Owners: none

Is that a [REDACTED] reference??
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/customization/horns_big.dmi
  tgstation.dme
Owners: none

Is that a [REDACTED] reference??
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/customization/horns_big.dmi
  tgstation.dme
Owners: none

TM revert, unchecks the files only.
  tgstation.dme
Owners: none

Update horns.dm
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
Owners: none

Fixes cargo infinite money glitch
  modular_skyrat/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
Owners: @GoldenAlpharex

Update tgstation.dme
  tgstation.dme
Owners: none

Is that a [REDACTED] reference?? (#207)
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/customization/horns_big.dmi
  tgstation.dme
Owners: none

Removes the higher capacity cell from disablers (#206)
  code/modules/projectiles/guns/energy/stun.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

<<<<<<< HEAD
=======
# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# stylemistake (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
/tgui/packages/tgui-panel/styles/tgchat/chat-light.scss

# SuperNovaa41

/code/modules/forensics/ @SuperNovaa41
/code/datums/mood.dm @SuperNovaa41

# Time-Green

/code/modules/plumbing/ @Time-Green
/code/modules/surgery/organs/external/ @Time-Green

# tralezab
/code/__DEFINES/basic_mobs.dm @tralezab
/code/datums/ai @tralezab
/code/modules/mob/living/basic/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914
/code/modules/antagonists/traitor/ @Watermelon914

# CONTRIBUTORS

# Cobby

/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/medkit.dm @ExcessiveUseOfCobblestone

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# Kapu1178

/code/modules/surgery/bodyparts/ @Kapu1178
/code/modules/surgery/organs/ @Kapu1178
/code/modules/mob/living/carbon/carbon_update_icons.dm @Kapu1178
/code/modules/mob/living/carbon/human/human_update_icons.dm @Kapu1178

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# Pickle-Coding

/code/__DEFINES/atmospherics/ @Pickle-Coding
/code/__DEFINES/reactions.dm @Pickle-Coding
/code/modules/atmospherics/ @Pickle-Coding
/code/modules/power/ @Pickle-Coding

# ZephyrTFA

/code/__HELPERS/admin_verb.dm @ZephyrTFA
/code/controllers/subsystem/admin_verbs.dm @ZephyrTFA
/code/datums/json_savefile.dm @ZephyrTFA
/code/datums/armor/ @ZephyrTFA
/code/modules/admin/verbs/ @ZephyrTFA

# MULTIPLE OWNERS

/_maps/ @EOBGames @Maurukas @MMMiracles @san7890 @ShizCalev
/icons/ @Imaginos16 @Krysonism @Twaticus
/icons/ass/ @Ghilker @tralezab

/code/__DEFINES/atmospherics/ @Ghilker @LemonInTheDark
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/code/modules/atmospherics/ @Ghilker @LemonInTheDark
/code/modules/client/preferences.dm @Mothblocks @ZephyrTFA
/code/modules/client/preferences_savefile.dm @Mothblocks @ZephyrTFA
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/paramedic.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/surgery/ @ExcessiveUseOfCobblestone @Ryll-Ryll
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

/tools/WebhookProcessor/ @BraveMole @TiviPlus

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @optimumtact
>>>>>>> fe127fee84c (Renames folder for tgchat CSS styles (#73907))
