Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @jjpark-kb, @Jolly-66, @Zonespace27, @Tastyfish, @KathrinBailey, @Paxilmaniac

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/modular_skyrat/ @GoldenAlpharex
/tools/ @GoldenAlpharex

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths/Scripts/ @Jolly-66

# Zonepace
/modular_skyrat/master_files/code/modules/client/preferences/headshot.dm @Zonespace27
/modular_skyrat/modules/contractor/ @Zonespace27
/modular_skyrat/modules/lorecaster/ @Zonespace27

# Tastyfish
/code/modules/mob/living/carbon/human/human_update_icons.dm @Tastyfish
/modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm @Tastyfish

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey @Paxilmaniac

Update objective.dm
  code/game/gamemodes/objective.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Update objective.dm
  code/game/gamemodes/objective.dm
Owners: none

Update objective.dm
  code/game/gamemodes/objective.dm
Owners: none

Update objective.dm
  code/game/gamemodes/objective.dm
Owners: none

Update objective.dm
  code/game/gamemodes/objective.dm
Owners: none

an update to the revolver again
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

all da mapz n' cargo
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  code/modules/cargo/packs/security.dm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

ammo workbenches
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

lighting pass
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Delta style pass
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update reshirevolver.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

Donator items (runner jackets)
  modular_zubbers/code/modules/clothing/suits/donosuits.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
  modular_zubbers/icons/obj/clothing/runnerjacketdono.dmi
  tgstation.dme
Owners: none

Donator items (runner jackets)
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  tgstation.dme
Owners: none

Restores flavor text minimums
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/__DEFINES/~~bubber_defines/jobs.dm
  tgstation.dme
Owners: none

Update MetaStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

I'll show you who's the boss of this security department: Armory Reworks & Energy Sec (#160)
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  code/modules/cargo/packs/security.dm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Update loadout_datum_suit.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
Owners: none

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Donator items (runner jackets) (#161)
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
  modular_zubbers/icons/obj/clothing/runnerjacketdono.dmi
  tgstation.dme
Owners: none

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

adds *mggaow
  modular_skyrat/modules/emote_panel/code/emote_panel.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/voice/mggaow.ogg
Owners: @GoldenAlpharex

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Owners: none

Steals all of SPLURT's synthliz cosmetics
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
  modular_zubbers/icons/mob/sprite_accessory/ipc_antennae.dmi
  modular_zubbers/icons/mob/sprite_accessory/synthliz_snouts.dmi
  tgstation.dme
Owners: none

Steals SPLURT's donor plushies
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
  modular_zubbers/sound/misc/dog_toy.ogg
  tgstation.dme
Owners: none

Steals all SPLURT modular wings
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_zubbers/icons/mob/sprite_accessory/wings.dmi
  tgstation.dme
Owners: none

Actually adds the code
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
Owners: none

Fixes some errors
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
Owners: none

allowing it to work
  code/modules/jobs/job_types/head_of_security.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Owners: none

warden with glock 17
  code/modules/jobs/job_types/warden.dm
Owners: none

Update warden.dm
  code/modules/jobs/job_types/warden.dm
Owners: none

asd
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
Owners: none

Tram changes
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_1.dmm
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_2.dmm
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_3.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Now in TGM, sorry
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_1.dmm
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_2.dmm
  _maps/map_files/tramstation/maintenance_modules/dormenginelower_3.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Adds latern and tea to make tram picnic even comfier
  _maps/map_files/tramstation/tramstation_bubber.dmm
Owners: @Jolly-66, @KathrinBailey, @Paxilmaniac

Increased borg KA mod capacity
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Owners: none

Gives them crushie instead of shovel.
  code/modules/mob/living/silicon/robot/robot_model.dm
Owners: none

Removed some leftover borg shovel removal code
  code/game/objects/items/robot/robot_upgrades.dm
Owners: none
