Repository Bubberstation/Bubberstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nevimer, @Cyprex, @magatsuchi, @KathrinBailey, @projectkepler-ru, @Majkl-J

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


/code/ @nevimer @Cyprex
/modular_zubbers/ @nevimer @magatsuchi @Cyprex
# Maptainers
/_maps/ @KathrinBailey @projectkepler-ru


# EspeciallyStrange
code/modules/projectiles/ @projectkepler-ru
code/modules/uplink/uplink_items/ @projectkepler-ru
modular_skyrat/modules @projectkepler-ru

# Waterpig
/code/modules/surgery @Majkl-J
/modular_skyrat/master_files/code/modules/surgery @Majkl-J
/modular_skyrat/modules/synths @Majkl-J
/modular_zubbers @Majkl-J

fix nosferatu examine (#2737)
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_nosferatu.dm
Owners: @Majkl-J

Allow binary atmos devices to be renamed with a pen (#88522)
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/binary_devices/binary_devices.dm
Owners: @nevimer, @Cyprex

Automatic changelog for PR #2729 [ci skip]
  html/changelogs/AutoChangeLog-pr-2729.yml
Owners: none

Revert "Update shotgun.dm"
  html/changelogs/AutoChangeLog-pr-2729.yml
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

xmas
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: @projectkepler-ru

Update code/datums/ai_laws/ai_laws.dm
  code/datums/ai_laws/ai_laws.dm
Owners: @nevimer, @Cyprex

Reworks Tasers (doesn't give them back to Security though) Because Funny (#88347)
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/hallucination/stray_bullet.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/projectile/energy/stun.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  icons/effects/beam.dmi
Owners: @nevimer, @Cyprex, @projectkepler-ru

Adds a mail sorting unit to sort mail per department; some flatpack stuff (#88288)
  code/game/machinery/flatpacker.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/vending/mail.dm
  code/modules/vending/wardrobes.dm
  icons/hud/radial.dmi
  icons/obj/machines/mailsorter.dmi
  icons/obj/machines/vending.dmi
  sound/machines/license.txt
  sound/machines/mail_sort.ogg
  tgstation.dme
Owners: @nevimer, @Cyprex

Fixes the mail sorter runtiming processing assistant mail (#88562)
  code/modules/vending/mail.dm
Owners: @nevimer, @Cyprex

Revert "Reworks Tasers (doesn't give them back to Security though) Because Funny (#88347)"
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/hallucination/stray_bullet.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/projectile/energy/stun.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  icons/effects/beam.dmi
Owners: @nevimer, @Cyprex, @projectkepler-ru

[Review ready] New mutation - Strong legs (#2405)
  modular_skyrat/master_files/code/datums/mutations/bunny.dm
  tgstation.dme
Owners: none

Automatic changelog for PR #2405 [ci skip]
  html/changelogs/AutoChangeLog-pr-2405.yml
Owners: none

Mail Sorting Unit (#2742)
  code/game/machinery/flatpacker.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/vending/mail.dm
  code/modules/vending/wardrobes.dm
  html/changelogs/AutoChangeLog-pr-88288.yml
  html/changelogs/AutoChangeLog-pr-88562.yml
  icons/hud/radial.dmi
  icons/obj/machines/mailsorter.dmi
  icons/obj/machines/vending.dmi
  sound/machines/license.txt
  sound/machines/mail_sort.ogg
  tgstation.dme
Owners: @nevimer, @Cyprex

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2405.yml
  html/changelogs/AutoChangeLog-pr-2736.yml
  html/changelogs/AutoChangeLog-pr-2738.yml
  html/changelogs/AutoChangeLog-pr-88288.yml
  html/changelogs/AutoChangeLog-pr-88562.yml
  html/changelogs/archive/2024-12.yml
Owners: none

Guncode Agony #2: Fixes harddels caused by certain projectiles (collosus bolts in CI) (#87534)
  code/modules/projectiles/projectile.dm
Owners: @projectkepler-ru

Guncode Agony 3: Projectile code cleanup (#87628)
  code/datums/components/parry.dm
  code/datums/components/pellet_cloud.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/pierce.dm
  code/game/atom/_atom.dm
  code/game/objects/items/hand_items.dm
  code/game/objects/items/toys.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/reflector.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/basic/alien/_alien.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets/_incendiary.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/special.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

fixes parriable projectiles runtimes (#87899)
  code/datums/components/bullet_intercepting.dm
  code/datums/components/parry.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/elements/ranged_armour.dm
  code/datums/elements/relay_attackers.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/mecha/combat/durand.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

Guncode Agony 4.1: Portal Intermission (#87803)
  code/game/objects/effects/portals.dm
  code/modules/events/wormholes.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
Owners: @nevimer, @Cyprex

Reworks Tasers (doesn't give them back to Security though) Because Funny (#88347)
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/hallucination/stray_bullet.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/projectile/energy/stun.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  icons/effects/beam.dmi
Owners: @nevimer, @Cyprex, @projectkepler-ru

clickable alerts glow + the slimed status effect now actually tells you how to get it off without water in the description (#87902)
  code/_onclick/hud/alert.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/datums/status_effects/debuffs/hooked.dm
  code/datums/status_effects/debuffs/slime/slimed.dm
  code/datums/status_effects/debuffs/strandling.dm
  code/datums/status_effects/neutral.dm
  code/modules/bitrunning/alerts.dm
  code/modules/mod/mod_link.dm
  code/modules/spells/spell_types/shapeshift/_shape_status.dm
Owners: @nevimer, @Cyprex

Guncode Agony 4.2: Firing Effect Intervallo (#88072)
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru

Guncode Agony 4.4: Armor as an argument (#88143)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_x_act.dm
  code/game/atom/atom_act.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/projectiles/projectile.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  code/modules/vehicles/atv.dm
  code/modules/vehicles/mecha/combat/durand.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  code/modules/vehicles/secway.dm
Owners: @nevimer, @Cyprex, @projectkepler-ru, @Majkl-J

Fixes merge conflicts
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  modular_skyrat/master_files/code/datums/components/crusher.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  modular_skyrat/modules/tableflip/code/flipped_table.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/sentinel.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/thaumaturgy.dm
Owners: @Majkl-J, @projectkepler-ru

Update new_player.dm
  modular_skyrat/modules/title_screen/code/new_player.dm
Owners: @projectkepler-ru

ok
  modular_skyrat/modules/title_screen/code/new_player.dm
Owners: @projectkepler-ru

Fixes the swap server button (#2746)
  modular_skyrat/modules/title_screen/code/new_player.dm
Owners: @projectkepler-ru

Saddles, saddlebags, calvary (#2291)
  code/__DEFINES/~skyrat_defines/combat.dm
  code/__DEFINES/~~bubber_defines/item.dm
  code/__DEFINES/~~bubber_defines/vehicles.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/storage/storage.dm
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/surgery/organs/taur_body.dm
  modular_skyrat/modules/taur_mechanics/code/accessible_storage.dm
  modular_skyrat/modules/taur_mechanics/code/human.dm
  modular_skyrat/modules/taur_mechanics/code/item.dm
  modular_skyrat/modules/taur_mechanics/code/saddle_component.dm
  modular_skyrat/modules/taur_mechanics/code/saddles.dm
  modular_skyrat/modules/taur_mechanics/code/taur_clothing_offset.dm
  modular_skyrat/modules/taur_mechanics/sprites/saddles.dmi
  modular_zubbers/code/modules/loadout/categories/inhands.dm
  modular_zubbers/code/modules/vending/multisec.dm
  tgstation.dme
Owners: @nevimer, @Cyprex, @projectkepler-ru, @Majkl-J

Automatic changelog for PR #2291 [ci skip]
  html/changelogs/AutoChangeLog-pr-2291.yml
Owners: none

tt
  modular_zubbers/master_files/code/controllers/subsystem/tts.dm
  tgstation.dme
Owners: @Majkl-J

Moves TTS settings to the front page instead of the lore page for visibility
  code/modules/client/preferences/voice.dm
Owners: @nevimer, @Cyprex

[TM ONLY] temp disable bloops for TM
  modular_zubbers/code/modules/blooper/bark.dm
Owners: @Majkl-J

modularize procs
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
  modular_zzplurt/code/_onclick/hud/human.dm
  modular_zzplurt/code/modules/mob/living/living.dm
  modular_zzplurt/code/modules/mob/mob.dm
  modular_zzplurt/code/modules/research/xenobiology/crossbreeding/regenerative.dm
  modular_zzplurt/code/modules/thirst/screen_hud.dm
  tgstation.dme
Owners: @nevimer, @Cyprex

fix name, add spawn
  modular_zubbers/code/game/machinery/flatpacker.dm
  tgstation.dme
Owners: @Majkl-J

Fix mail sorter name, add spawn (#2752)
  modular_zubbers/code/game/machinery/flatpacker.dm
  tgstation.dme
Owners: @Majkl-J

Automatic changelog for PR #2752 [ci skip]
  html/changelogs/AutoChangeLog-pr-2752.yml
Owners: none

Modularizes thirst trait
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  modular_skyrat/modules/synths/code/species/synthetic.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/abductors.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/android.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/dullahan.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/golems.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/skeletons.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/synthetic.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/vampire.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/zombies.dm
  tgstation.dme
Owners: @nevimer, @Cyprex, @Majkl-J
