Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

aaaaaaa
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/synth.dm
  tgstation.dme
Labels: none

adds missing stuff, fixes shuttle curtains
  _maps/map_files/burgerstation/burgerstation.dmm
  _maps/shuttles/zubbers/emergency_burgerstation.dmm
Labels: Map Modification

some tweaks
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

actually adds the bitrunning den
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

adds 1 fire extinguisher
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes linters
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

aaaaaaaa
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Adds Netrunner Room + Drone Room to Burgerstation (And other small things) (#572)
  .github/CODEOWNERS
  _maps/map_files/burgerstation/burgerstation.dmm
  _maps/shuttles/zubbers/emergency_burgerstation.dmm
  modular_zubbers/code/game/area/areas/burgerstation.dm
  modular_zubbers/code/game/objects/structures/plaques/static_plaques.dm
Labels: Map Modification

Fixes burgerstation... again.
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

adds missing light in chem
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Hugboxes mold
  modular_skyrat/modules/mold/code/mold.dm
  modular_skyrat/modules/mold/code/mold_mobs.dm
  modular_skyrat/modules/mold/code/mold_structures.dm
Labels: none

Update mold.dm
  modular_skyrat/modules/mold/code/mold.dm
Labels: none

fixes maintenance access
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update burgerstation.dmm
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

watch me lose my mind in real time
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/synth_stripping.dm
  tgstation.dme
Labels: none

this didnt work
  modular_zubbers/code/modules/synths/code/bodyparts/synth_stripping.dm
  tgstation.dme
Labels: none

bye now
  modular_zubbers/code/modules/synths/code/bodyparts/synth.dm
  tgstation.dme
Labels: none

id inserting
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
  tgstation.dme
Labels: none

not sure if this works + can be made prettier
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

This is better
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

There
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

Update CrewConsoleBubbers.js
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.js
Labels: none

Fixes the Crew Monitoring Console (#588)
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.js
Labels: none

adds an absurd amount of disposal units
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Table
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Modification

bridge tweaks
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fix master dumb gun things
  code/modules/jobs/job_types/head_of_security.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
  modular_zubbers/code/modules/sec_haul/code/security_medic/security_medic.dm
Labels: none

update paths
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

fixes
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Fixes mapping errors (#590)
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Please work I beg you
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Modification

fixes some missing objects
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

God forgive me.
  strings/traumas.json
Labels: none

goodbye
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none

shotgunvolver
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none

SS13 construct - SS13 construct - Phystool - Physgun - Fly - Noclip - Debug tools
  _maps/map_files/debug/ss13_construct.dmm
  _maps/ss13_construct.json
  config/maps.txt
  modular_zubbers/code/modules/debug_tools/debug_abilites/fly.dm
  modular_zubbers/code/modules/debug_tools/debug_abilites/noclip.dm
  modular_zubbers/code/modules/debug_tools/debug_items.dm
  modular_zubbers/code/modules/debug_tools/debug_machinery.dm
  modular_zubbers/code/modules/debug_tools/physgun.dm
  modular_zubbers/code/modules/debug_tools/phystool.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/_phystool_mode.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_build.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_color.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_remove.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_size.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_spawn.dm
  modular_zubbers/icons/mob/inhands/architector_items_belt.dmi
  modular_zubbers/icons/mob/inhands/architector_items_lefthand.dmi
  modular_zubbers/icons/mob/inhands/architector_items_righthand.dmi
  modular_zubbers/icons/obj/equipment/architector_items.dmi
  modular_zubbers/sound/phystools/physgun_cant_grab.ogg
  modular_zubbers/sound/phystools/physgun_hold_loop.ogg
  modular_zubbers/sound/phystools/physgun_pause.ogg
  modular_zubbers/sound/phystools/physgun_pickup.ogg
  modular_zubbers/sound/phystools/physgun_repulse.ogg
  modular_zubbers/sound/phystools/toolgun_error.ogg
  modular_zubbers/sound/phystools/toolgun_select.ogg
  modular_zubbers/sound/phystools/toolgun_shot1.ogg
  modular_zubbers/sound/phystools/toolgun_shot2.ogg
  tgstation.dme
Labels: Map Modification, Sprites

adds missing blacksmith items
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Adds CC borgs
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_zubbers/code/datums/ai_laws/laws_neutral.dm
  modular_zubbers/code/game/objects/items/ai_modules/full_lawsets.dm
  modular_zubbers/code/game/objects/items/robot/items/hypo.dm
  modular_zubbers/code/game/objects/items/robot/items/storage.dm
  modular_zubbers/code/modules/altborgs/code/robot_model.dm
  modular_zubbers/code/modules/altborgs/code/robot_upgrade.dm
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_defines.dm
  modular_zubbers/icons/mob/silicon/widerobot_cc.dmi
  tgstation.dme
Labels: Sprites
