Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

I am in pain
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/machinery/limbgrower.dm
  code/game/objects/effects/spawners/random/entertainment.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/modules/antagonists/disease/disease_abilities.dm
  code/modules/client/client_procs.dm
  modular_zubbers/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  modular_zubbers/master_files/code/modules/antagonists/disease/disease_abilities.dm
  modular_zubbers/modules/arcades/code/overrides/spawners.dm
  modular_zubbers/modules/hemophages/code/limbgrower.dm
  modular_zubbers/modules/hydroponics/code/plantgenes/hydroponics.dm
  tgstation.dme
Labels: none

augh
  code/modules/client/preferences/parallax.dm
  modular_zubbers/modules/space_background/parallax.dm
  modular_zubbers/modules/space_background/turf_space.dm
  tgstation.dme
Labels: none

pffft
  modular_zubbers/modules/hemophages/code/limbgrower.dm
Labels: none

Update spawners.dm
  modular_zubbers/modules/arcades/code/overrides/spawners.dm
Labels: none

Added
  modular_zubbers/modules/gladiator/code/game/objects/items/gladiator_items.dm
  tgstation.dme
Labels: none

added clown heels yes
  modular_zubbers/code/modules/clown_heels/shoes/clown_heels.dm
Labels: none

actually fixed the clown heels so it like actually works
  modular_zubbers/code/modules/clown_heels/shoes/clown_heels.dm
  tgstation.dme
Labels: none

ohgod the chime errors
  modular_zubbers/master_files/code/modules/client/preferences/middleware/voice_preview.dm
  modular_zubbers/master_files/code/modules/client/preferences/voice_chime.dm
  modular_zubbers/modules/code/voice_datums.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/zubbers/voice_chime.tsx
Labels: none

Removes bulletproof armor from maintenance because I lived once. (#836)
  modular_zubbers/code/_globalvars/lists/maintenance_loot_uncommon.dm
Labels: none

Automatic changelog for PR #836 [ci skip]
  html/changelogs/AutoChangeLog-pr-836.yml
Labels: none

upstreamed holiday SM
  code/game/objects/effects/countdown.dm
  code/modules/power/supermatter/supermatter.dm
  icons/obj/machines/engine/supermatter.dmi
  modular_zubbers/modules/seasons/christmas/code/supermatter.dm
  modular_zubbers/modules/seasons/christmas/icons/supermatter.dmi
  tgstation.dme
Labels: Sprites

Revert "New Quirk : Dead Inside (#761)"
  modular_zubbers/code/datums/bubber_quirks/deadinside.dm
  tgstation.dme
Labels: none

cycle refusera
  modular_zubbers/modules/pda_antagonist/ninja.dm
  modular_zubbers/modules/pda_antagonist/pda.dm
Labels: none

dme
  tgstation.dme
Labels: none

[Modular] ACTUALLY Restores some Languages removed by our ball & chain. (#803)
  modular_zubbers/modules/customization/modules/language/_language_holder.dm
  modular_zubbers/modules/customization/modules/language/nekomimetic.dm
  modular_zubbers/modules/customization/modules/language/piratespeak.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #803 [ci skip]
  html/changelogs/AutoChangeLog-pr-803.yml
Labels: none

command is looking good
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

pipes
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Update camera.dm
  modular_skyrat/modules/aesthetics/camera/code/camera.dm
Labels: none

i forgot how to do this
  modular_skyrat/modules/aesthetics/camera/code/camera.dm
Labels: none

Update camera.dm
  modular_skyrat/modules/aesthetics/camera/code/camera.dm
Labels: none

initial
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: none

uniform
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: none

boots
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: none

Replaces the .ogg files with new, more refined ones using nevimer's recommendations
  modular_zubbers/sound/alerts/amber.ogg
  modular_zubbers/sound/alerts/blue.ogg
  modular_zubbers/sound/alerts/gamma.ogg
  modular_zubbers/sound/alerts/orange.ogg
  modular_zubbers/sound/alerts/red.ogg
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

well
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/modules/antagonists/disease/disease_abilities.dm
  code/modules/client/preferences/scaling_method.dm
  code/modules/clothing/suits/armor.dm
  code/modules/events/carp_migration.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/warden.dm
  modular_zubbers/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  modular_zubbers/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  modular_zubbers/master_files/code/modules/antagonists/disease/disease_abilities.dm
  modular_zubbers/master_files/code/modules/client/preferences/scaling_method.dm
  modular_zubbers/master_files/code/modules/events/carp_migration.dm
  modular_zubbers/master_files/code/modules/mob/living/carbon/human/species_types/abductors.dm
  modular_zubbers/modules/antagonists/sentient_disease/code/disease_abilities.dm
  modular_zubbers/modules/clothing/armor_overrides/hos_armor.dm
  modular_zubbers/modules/clothing/code/head/helmet.dm
  modular_zubbers/modules/jobs/code/job_types/quartermaster.dm
  modular_zubbers/modules/jobs/code/job_types/warden.dm
  tgstation.dme
Labels: none

abductussy
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/unit_tests/say.dm
Labels: none

Sisyphus moment
  code/modules/vending/clothesmate.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/modules/automapper/code/area_spawn_subsystem.dm
  modular_zubbers/modules/automapper/code/overrides/area_spawn_subsystem.dm
  modular_zubbers/modules/quirks/code/negative_quirks/sensitive_snout.dm
  modular_zubbers/modules/vetted/overrides/erp_preferences.dm
  tgstation.dme
Labels: none

Omagah
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
  modular_skyrat/modules/imported_vendors/code/vendors.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_zubbers/master_files/skyrat/modules/blueshield/code/blueshield.dm
  modular_zubbers/master_files/skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
  modular_zubbers/modules/hemophages/code/species.dm
  modular_zubbers/modules/loadouts/overrides/loadout_items/loadout_datum.dm
  tgstation.dme
Labels: none

acjbvhbjda???
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_zubbers/modules/loadouts/overrides/loadout_items/loadout_datum.dm
Labels: none

die
  tgstation.dme
Labels: none

done maybe
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_zubbers/code/datums/ert.dm
  modular_zubbers/code/game/objects/items/robot/robot_upgrades/adv_plasmacutter_upgrade.dm
  modular_zubbers/code/modules/mob/living/basic/vermin/mouse.dm
  modular_zubbers/modules/automapper/code/area_spawn_entries.dm
Labels: none

Victory
  code/_onclick/hud/screen_objects.dm
  code/datums/storage/subtypes/pockets.dm
  code/modules/clothing/head/jobs.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  modular_zubbers/master_files/code/modules/mob/living/carbon/human/species_types/ethereal.dm
  modular_zubbers/master_files/code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  modular_zubbers/modules/borgs/code/robot_items.dm
  tgstation.dme
Labels: none

Sylveon bodyparts (#795)
  modular_zubbers/modules/customization/icons/mutant_bodyparts.dmi
  modular_zubbers/modules/customization/icons/wings.dmi
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #795 [ci skip]
  html/changelogs/AutoChangeLog-pr-795.yml
Labels: none

updating a map is hard
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

I LOVE FNAF I LOVE FREDDY I LOVE CHICA I LOVE BONNIE I LOVE FOXY I LOVE GOLDEN FREDDY!!!!
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/mob/clothing/suits/armor.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/suits/armor.dmi
  modular_zubbers/modules/clothing/head/helmet.dm
Labels: Sprites

vending
  modular_zubbers/code/modules/vending/wardrobe.dm
Labels: none

Update modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/clothing/suits/armor.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
