Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

fixes (relevant) linters, adds myself to codeowners
  .github/CODEOWNERS
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

does this fix it?
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
Labels: none

fixes the emitter room with new linters
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/area/areas/burgerstation.dm
Labels: Map Modification

Adds missing safety features to emitter room, finalizes plaque
  modular_zubbers/code/game/objects/structures/plaques/static_plaques.dm
Labels: none

I am so good
  code/modules/mob/living/carbon/human/inventory.dm
Labels: none

adds back ninja and contractor implants
  modular_zubbers/dehugboxing/contractor/outfit.dm
  modular_zubbers/dehugboxing/ninja/outfit.dm
Labels: none

tgdme
  tgstation.dme
Labels: none

Update carbon_defense.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: none

Update carbon_defense.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: none

Update inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: none

The Bioscrambler can no longer replace internal organs. (#577)
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: none

not my proudest moment
  code/modules/mob/living/carbon/human/inventory.dm
Labels: none

expands engineering maint, adds emergency sec access
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes rogue powernet
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update speech_subtree.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
Labels: none

hopefully fixes LINDA linter
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

ohkay it compiled, rejoice
  config/maps.txt
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
  tgstation.dme
Labels: none

Update brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
Labels: none

Update brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
Labels: none

Update brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
Labels: none

Update brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
Labels: none

makes the construction area larger because im crazzy, various misc changes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

oops
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Added *chirp, modified *caw
  modular_zubbers/modules/emotes/code/emotes.dm
  modular_zubbers/modules/emotes/sound/voice/caw.ogg
  modular_zubbers/modules/emotes/sound/voice/caw2.ogg
  modular_zubbers/modules/emotes/sound/voice/chirp.ogg
  tgstation.dme
Labels: none

Adds alert level sounsd
  modular_zubbers/code/datums/announcers/default_announcer.dm
  modular_zubbers/code/modules/security_levels/security_level_datums.dm
  modular_zubbers/sound/alerts/amber.ogg
  modular_zubbers/sound/alerts/blue.ogg
  modular_zubbers/sound/alerts/delta.ogg
  modular_zubbers/sound/alerts/gamma.ogg
  modular_zubbers/sound/alerts/orange.ogg
  modular_zubbers/sound/alerts/red.ogg
  modular_zubbers/sound/alerts/violet.ogg
  tgstation.dme
Labels: none

oops
  modular_zubbers/code/datums/announcers/default_announcer.dm
  modular_zubbers/code/modules/security_levels/security_level_datums.dm
Labels: none

forgot green
  modular_zubbers/code/datums/announcers/default_announcer.dm
  modular_zubbers/sound/alerts/green.ogg
Labels: none

quick flag change
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: none

PR for donator items
  modular_zubbers/icons/donator/donator_items.dmi
  modular_zubbers/icons/mob/body_markings/markings.dmi
  modular_zubbers/icons/mob/sprite_accesory/snouts.dmi
  modular_zubbers/icons/mob/sprite_accesory/wings.dmi
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Sprites

Redoes the alert level sounds (#580)
  modular_zubbers/code/datums/announcers/default_announcer.dm
  modular_zubbers/code/modules/security_levels/security_level_datums.dm
  modular_zubbers/sound/alerts/amber.ogg
  modular_zubbers/sound/alerts/blue.ogg
  modular_zubbers/sound/alerts/delta.ogg
  modular_zubbers/sound/alerts/gamma.ogg
  modular_zubbers/sound/alerts/green.ogg
  modular_zubbers/sound/alerts/orange.ogg
  modular_zubbers/sound/alerts/red.ogg
  modular_zubbers/sound/alerts/violet.ogg
  tgstation.dme
Labels: none

gimmick traitor
  code/__DEFINES/antagonists.dm
  modular_zubbers/code/game/gamemodes/objectives/gimmick.dm
  modular_zubbers/code/game/gamemodes/objectives/overrides.dm
  tgstation.dme
Labels: none

a
  code/__DEFINES/antagonists.dm
Labels: none

Added
  modular_zubbers/code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  modular_zubbers/code/modules/reagents/chemistry/recipes/medicine.dm
Labels: none

fixes medbay doors, adds more sinks to science
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

arena shuttle is garbage
  modular_zubbers/code/datums/shuttle/arena.dm
  tgstation.dme
Labels: none

Please hold me I wanna cry
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
Labels: none

eeeee
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
Labels: none

fixes build and map pathes
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_arena.dmm
  _maps/map_files/biodome/biodome.dmm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_trash.dm
Labels: Map Modification

eeeeeeeee
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
Labels: none

now THIS is epic
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
Labels: none
