Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[MODULAR - BLOAT EDITION] The dauntless ammo locker now actually has the correct ammo types (#733)
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/areas.dm
  modular_zubbers/maps/offstation/dauntless/security.dm
  tgstation.dme
Labels: Map Modification

Ghost buster
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/mob/dead/observer/observer.dm
  modular_zubbers/code/modules/indicators/code/ssd_indicator.dm
  tgstation.dme
Labels: none

Reverts a few of the security alert sounds back to SR's
  modular_zubbers/sound/alerts/amber.ogg
  modular_zubbers/sound/alerts/blue.ogg
  modular_zubbers/sound/alerts/gamma.ogg
  modular_zubbers/sound/alerts/orange.ogg
  modular_zubbers/sound/alerts/red.ogg
Labels: none

cleaner dorms
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

pre atmos fix
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

god this will take forever
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

Fixes conflicts.
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  _maps/_basemap.dm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/burgerstation/burgerstation.dmm
  _maps/map_files/ss13construct/ss13_construct.dmm
  _maps/shuttles/zubbers/emergency_burgerstation.dmm
  _maps/ss13_construct.json
  code/game/machinery/doors/firedoor.dm
  config/maps.txt
  modular_skyrat/master_files/code/datums/quirks/negative.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_common.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_build.dm
  modular_zubbers/code/modules/mob/living/simple_animal/guardian/guardian.dm
Labels: Map Modification

changelog memes
  html/changelogs/AutoChangeLog-pr-25048.yml
  html/changelogs/AutoChangeLog-pr-25090.yml
  html/changelogs/AutoChangeLog-pr-25093.yml
  html/changelogs/AutoChangeLog-pr-25095.yml
  html/changelogs/AutoChangeLog-pr-25096.yml
  html/changelogs/AutoChangeLog-pr-25097.yml
  html/changelogs/AutoChangeLog-pr-25098.yml
  html/changelogs/AutoChangeLog-pr-25099.yml
  html/changelogs/AutoChangeLog-pr-25101.yml
  html/changelogs/AutoChangeLog-pr-25102.yml
  html/changelogs/AutoChangeLog-pr-25104.yml
  html/changelogs/AutoChangeLog-pr-25107.yml
  html/changelogs/AutoChangeLog-pr-25108.yml
  html/changelogs/AutoChangeLog-pr-25109.yml
  html/changelogs/AutoChangeLog-pr-25111.yml
  html/changelogs/AutoChangeLog-pr-25112.yml
  html/changelogs/AutoChangeLog-pr-25113.yml
  html/changelogs/AutoChangeLog-pr-25115.yml
  html/changelogs/AutoChangeLog-pr-25116.yml
  html/changelogs/archive/2023-11.yml
Labels: none

changelog for upstream merge (#744)
  html/changelogs/AutoChangeLog-pr-25048.yml
  html/changelogs/AutoChangeLog-pr-25090.yml
  html/changelogs/AutoChangeLog-pr-25093.yml
  html/changelogs/AutoChangeLog-pr-25095.yml
  html/changelogs/AutoChangeLog-pr-25096.yml
  html/changelogs/AutoChangeLog-pr-25097.yml
  html/changelogs/AutoChangeLog-pr-25098.yml
  html/changelogs/AutoChangeLog-pr-25099.yml
  html/changelogs/AutoChangeLog-pr-25101.yml
  html/changelogs/AutoChangeLog-pr-25102.yml
  html/changelogs/AutoChangeLog-pr-25104.yml
  html/changelogs/AutoChangeLog-pr-25107.yml
  html/changelogs/AutoChangeLog-pr-25108.yml
  html/changelogs/AutoChangeLog-pr-25109.yml
  html/changelogs/AutoChangeLog-pr-25111.yml
  html/changelogs/AutoChangeLog-pr-25112.yml
  html/changelogs/AutoChangeLog-pr-25113.yml
  html/changelogs/AutoChangeLog-pr-25115.yml
  html/changelogs/AutoChangeLog-pr-25116.yml
  html/changelogs/archive/2023-11.yml
Labels: none

Update code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/nukeop/nukeop.dm
Labels: none

Update modular_skyrat/modules/contractor/code/datums/midround/antag_datum.dm
  modular_skyrat/modules/contractor/code/datums/midround/antag_datum.dm
Labels: none

Initial File Creation
  modular_zubbers/icons/donator/idmaco.dmi
Labels: Sprites

Update idmaco.dmi
  modular_zubbers/icons/donator/idmaco.dmi
Labels: Sprites

Normal Uni done
  modular_zubbers/icons/donator/idmaco.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
Labels: Sprites

sprite ready
  modular_zubbers/icons/donator/idmaco.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
Labels: Sprites

I NEED MY EMOTES AAAAA
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_zubbers/modules/emotes/sound/voice/fox_purr.ogg
  modular_zubbers/modules/emotes/sound/voice/foxgecker.ogg
  modular_zubbers/modules/emotes/sound/voice/mrrp.ogg
  modular_zubbers/modules/emotes/sound/voice/prbt.ogg
Labels: none

removes all this
  html/changelogs/archive/2023-11.yml
Labels: none

Update changelogParser.js
  tools/pull_request_hooks/changelogParser.js
Labels: none

Update changelogParser.js (#747)
  tools/pull_request_hooks/changelogParser.js
Labels: none

ah
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

Add our own PAT for a changelog bot
  .github/workflows/auto_changelog.yml
Labels: none

Fix CI suite badge in readme
  README.md
Labels: none

Fix CI suite badge in readme (#749)
  README.md
Labels: none

Automatic changelog for PR #749 [ci skip]
  html/changelogs/AutoChangeLog-pr-749.yml
Labels: none

Fixes a thing (#748)
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

Automatic changelog for PR #748 [ci skip]
  html/changelogs/AutoChangeLog-pr-748.yml
Labels: none

I'm going to run it manually
  html/changelogs/AutoChangeLog-pr-748.yml
  html/changelogs/AutoChangeLog-pr-749.yml
  html/changelogs/archive/2023-11.yml
Labels: none

Changelog test [ci skip] (#750)
  html/changelogs/AutoChangeLog-pr-748.yml
  html/changelogs/AutoChangeLog-pr-749.yml
  html/changelogs/archive/2023-11.yml
Labels: none

Add our bot token to the compile changelogs action too
  .github/workflows/compile_changelogs.yml
Labels: none

Fix the typo in the preceding commit
  .github/workflows/compile_changelogs.yml
Labels: none

Fixes weak tackles bugging out your movespeed (#706)
  code/datums/components/tackle.dm
Labels: none

Automatic changelog for PR #706 [ci skip]
  html/changelogs/AutoChangeLog-pr-706.yml
Labels: none

fix
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_zubbers/modules/emotes/code/emotes.dm
Labels: none

Update synth_prefab.dm
  modular_zubbers/code/modules/synths/code/synth_prefab.dm
Labels: none

Brain stuff
  modular_zubbers/code/modules/synths/code/synth_prefab.dm
Labels: none

Okay this is nice
  modular_zubbers/code/modules/surgery/organs/internal/lungs/_brain.dm
  tgstation.dme
Labels: none

Yes
  modular_skyrat/modules/verbs/code/subtle.dm
  modular_zubbers/sound/misc/subtler.ogg
Labels: none

ugh fix
  modular_zubbers/modules/emotes/code/emotes.dm
Labels: none

Fixes the Birdshot disposals inlet
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

im crazy
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
