Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Readds DMI files
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/customization/horns_big.dmi
  modular_zubbers/icons/mob/inhands/64x64_lefthand.dmi
  modular_zubbers/icons/mob/inhands/64x64_righthand.dmi
  modular_zubbers/icons/obj/artefacts.dmi
Labels: Sprites

Uncomments the GMM
  code/modules/cargo/packs/imports.dm
Labels: none

Fixes the GMM cargo order (#673)
  code/modules/cargo/packs/imports.dm
Labels: none

adds comments
  code/modules/mod/mod_ai.dm
Labels: none

Curator Kindred Fix
  modular_zubbers/code/modules/antagonists/bloodsucker/code/job_edits.dm
  tgstation.dme
Labels: none

[NOW WITH LESS BUGS AND OVERSIGHTS 2] Undressing as synth no longer drops all your items (#573)
  code/modules/mob/living/carbon/human/inventory.dm
Labels: none

stuff
  code/__DEFINES/reagents.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/reaction_chamber.dm
  code/game/atoms.dm
  code/modules/plumbing/plumbers/acclimator.dm
  code/modules/plumbing/plumbers/reaction_chamber.dm
  code/modules/plumbing/plumbers/synthesizer.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/reaction_agents_reagents.dm
Labels: none

ok its ready
  code/datums/components/plumbing/reaction_chamber.dm
Labels: none

Revert Curator Kindred Fix
  modular_zubbers/code/modules/antagonists/bloodsucker/code/job_edits.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Remove Scuhf's Sprites
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/customization/horns_big.dmi
  modular_zubbers/icons/customization/kangarooalt.dmi
  tgstation.dme
Labels: Sprites

remove hierophant stuff- forgot this at first!
  modular_zubbers/code/modules/mining/lavaland/equipment/kinetic_crusher.dm
  modular_zubbers/code/modules/mining/lavaland/megafauna/hierophant.dm
  modular_zubbers/code/modules/mining/lavaland/megafauna_loot.dm
  modular_zubbers/icons/obj/artefacts.dmi
Labels: Sprites

forgot dme
  tgstation.dme
Labels: none

round end credits
  code/_onclick/hud/credits.dm
  modular_zubbers/code/modules/credits/credits.dm
  tgstation.dme
Labels: none

aaaaaaaaaa
  tgui/packages/tgui/interfaces/ZubbersFlappyMoth.tsx
Labels: none

aaaaaaaaaaaaaaaaaaaa
  modular_zubbers/code/modules/modular_computers/file_system/programs/flappymoth.dm
Labels: none

eeeeeeee
  tgui/packages/tgui/interfaces/ZubbersFlappyMoth.tsx
Labels: none

{Ready] Adds nearly every toy/fun item to Arcade Loot, makes 1 ticket vend 1 prize. (#634)
  code/game/machinery/computer/arcade/arcade.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_classic.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_mechanical.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_oh_god.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_special.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_toy.dm
  modular_zubbers/code/game/machinery/computer/arcade/~arcade_weights_final.dm
  tgstation.dme
Labels: none

Unremoves cursed. (#671)
  code/datums/quirks/negative_quirks/cursed.dm
Labels: none

lamps failing CI
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

Removes duds from new fish types, swaps fishing t2 and t3 research reward. (#646)
  code/modules/fishing/sources/source_types.dm
  modular_zubbers/code/modules/experisci/experiment/types/scanning_fish.dm
  tgstation.dme
Labels: none

mostly resets dynamic to tg (#450)
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/ruleset_picking.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
Labels: none

some fix
  modular_zubbers/code/modules/credits/credits.dm
Labels: none

Modularizes Bubber AI override
  code/modules/mod/mod_ai.dm
  modular_zubbers/code/modules/mod/mod_ai.dm
  tgstation.dme
Labels: none

mouseover highlights
  modular_zubbers/code/modules/mouseover/highlights.dm
  tgstation.dme
Labels: none

Yes AIs in modsuits (#669)
  modular_zubbers/code/modules/mod/mod_ai.dm
  tgstation.dme
Labels: none

[Modular] Adds moth milk (#640)
  modular_skyrat/modules/imported_vendors/code/vendors.dm
  modular_zubbers/code/modules/reagents/drink_reagents.dm
  modular_zubbers/code/modules/reagents/reagent_containers/condiment.dm
  modular_zubbers/icons/obj/food/reagent_containers.dmi
  tgstation.dme
Labels: Sprites

[FULLY MODULAR] Adds a very small healing buff to the high complexity food mood (#603)
  modular_zubbers/code/datums/mood_events/food_events.dm
  tgstation.dme
Labels: none

Snellie paid me for this
  modular_zubbers/code/modules/hydroponics/grown/rocks.dm
  modular_zubbers/code/modules/hydroponics/icons/growing_fruits.dmi
  modular_zubbers/code/modules/hydroponics/icons/seeds.dmi
  tgstation.dme
Labels: Sprites

Update growing_fruits.dmi
  modular_zubbers/code/modules/hydroponics/icons/growing_fruits.dmi
Labels: Sprites

a
  modular_zubbers/code/modules/hydroponics/grown/rocks.dm
  modular_zubbers/code/modules/hydroponics/icons/harvest.dmi
Labels: Sprites

make it work across mob transfers
  modular_zubbers/code/modules/mouseover/highlights.dm
Labels: none

send it
  modular_zubbers/code/modules/mouseover/highlights.dm
Labels: none

make it smaller from feedback
  modular_zubbers/code/modules/mouseover/highlights.dm
Labels: none

this is surely an improvement too as it reduces the glow size
  modular_zubbers/code/modules/mouseover/highlights.dm
Labels: none

rules
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

spelling
  README.md
Labels: none

ops
  README.md
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
