Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Update readme.md
  modular_bubbers/modules/remove_vet_status/readme.md
Labels: none

Update readme.md
  modular_bubbers/modules/remove_vet_status/readme.md
Labels: none

X'd Kilostation, made all sensible maps votable
  config/game_options.txt
Labels: none

Fixes crewsimov
  code/datums/ai_laws/laws_station_sided.dm
  config/game_options.txt
Labels: none

I hate /tg/ and skyrat.
  modular_bubbers/modules/remove_vet_status/code/ashwalkerunfucking.dm
Labels: none

a
  modular_bubbers/modules/Ashwalkers/ashwalkerunfucking.dm
Labels: none

Disables repeat antags and increased obsessed $
  modular_bubbers/modules/Dynamic/MidroundRulesets.dm
Labels: none

Fixed Ashwalkers again
  modular_bubbers/modules/Ashwalkers/ashwalkerunfucking.dm
Labels: none

Attempt 4?
  modular_bubbers/modules/Ashwalkers/ashwalkerunfucking.dm
  modular_skyrat/modules/ashwalkers/code/species/Ashwalkers.dm
Labels: none

a
  tgstation.dme
Labels: none

Update Readme
  README.md
Labels: none

move modular_bubbers to modular_zubbers & Others
  modular_bubbers/module_template.md
  modular_bubbers/modules/remove_vet_status/code/remove_vet_status.dm
  modular_bubbers/modules/remove_vet_status/readme.md
  modular_bubbers/readme.md
  modular_zubbers/modules/Dynamic/MidroundRulesets.dm
Labels: none

stampmaps
  _maps/skyrat/automapper/templates/deltastation/deltastation_ntrep_office.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_ntrep_office.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_ntrep_office.dmm
Labels: Map Modification

Remove ID console access from NT Consultant
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
Labels: none

Changes various event overrides
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: none

Make lone op event require 20 pop
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: none

Update modular_skyrat/modules/events/code/event_overrides.dm
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: none

Apply suggestions from code review
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: none

Update hemophage.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
Labels: none

Modified asset protection
  modular_skyrat/master_files/code/modules/clothing/outfits/ert.dm
Labels: none

Reverts ERT outfit change (moving modularity)
  modular_skyrat/master_files/code/modules/clothing/outfits/tgstation.dme
Labels: none

Updated ERT.dm
  modular_zubbers/code/datums/ert.dm
Labels: none

Revert ert.dm changes in modular_skyrat
  modular_skyrat/master_files/code/modules/clothing/outfits/ert.dm
Labels: none

Delete tgstation.dme
  modular_skyrat/master_files/code/modules/clothing/outfits/tgstation.dme
Labels: none

Make ert.dm actually have the right outfit.
  modular_zubbers/code/datums/ert.dm
Labels: none

Fix that lil error
  modular_zubbers/code/datums/ert.dm
Labels: none

The Fuckening pt 2
  code/__DEFINES/~skyrat_defines/antagonists.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_diveworm.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_general.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_hivelord.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_symbiote.dm
Labels: none

Adds maint kitchen, adds sauna because why not.
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes armory, xenobiology, and chemistry
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

small tweaks
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

salt pr
  config/silicon_laws.txt
Labels: none

byebye!
  config/game_options.txt
Labels: none

balloons and extra checks
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: none

fixes a funny issue
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

tick biogen
  tgstation.dme
Labels: none

Fire Alarm Overhaul
  code/game/machinery/doors/firedoor.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  modular_zubbers/code/game/machinery/doors/firedoor.dm
  modular_zubbers/code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  modular_zubbers/icons/obj/doors/doorfire.dmi
  tgstation.dme
Labels: Sprites

monophobia QoL
  code/__DEFINES/traits.dm
  code/datums/brain_damage/severe.dm
  code/game/objects/items/plushes.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
Labels: none

More checks
  code/datums/brain_damage/severe.dm
Labels: none

little change on flavor
  code/game/objects/items/plushes.dm
Labels: none

Buffs Peacekeeper Borgs
  modular_zubbers/code/game/objects/items/robot/items/harm_alarm_new.dm
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
  modular_zubbers/sound/ai/alan_davies.ogg
  tgstation.dme
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
