Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

further reduces the power requirement
  code/game/machinery/doors/airlock.dm
Labels: none

space
  modular_zubbers/code/game/turf/space.dm
  modular_zubbers/icons/space/space.dmi
  tgstation.dme
Labels: Sprites

[Modular] Adds the Tactical Maid Outfit for Donors. (#441)
  modular_zubbers/code/modules/clothing/gloves/syndicate.dm
  modular_zubbers/code/modules/clothing/head/syndicate.dm
  modular_zubbers/code/modules/clothing/under/syndicate.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  tgstation.dme
Labels: none

defaults and fix lint
  code/modules/client/preferences/parallax.dm
  modular_zubbers/icons/space/space.dmi
Labels: Sprites

looking good friend!
  code/modules/client/preferences/parallax.dm
Labels: none

Restores Low end Space sprites (#442)
  code/modules/client/preferences/parallax.dm
  modular_zubbers/code/game/turf/space.dm
  modular_zubbers/icons/space/space.dmi
  tgstation.dme
Labels: Sprites

Update hemophage_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
Labels: none

Smithing bounties
  code/__DEFINES/economy.dm
  code/modules/cargo/bounty.dm
  modular_zubbers/code/modules/cargo/bounties/blacksmith.dm
  modular_zubbers/code/modules/jobs/job_types/blacksmith.dm
  tgstation.dme
Labels: none

Two more
  modular_zubbers/code/modules/cargo/bounties/blacksmith.dm
Labels: none

finalizes engineering
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

wow this works
  code/__DEFINES/traits.dm
  code/datums/mood.dm
  modular_zubbers/code/datums/mood_events/death_events.dm
  modular_zubbers/code/datums/quirks/positive_quirks/i_do_not_fear_death.dm
Labels: none

I fucking hate this
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification

Added
  _maps/map_files/PubberStation/pubberstation.dmm
  _maps/pubberstation.json
Labels: Map Modification

lots of stuff
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

Update modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
Labels: none

Hemophage Mutant Colors (#443)
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
Labels: none

Give the dead mercy
  code/datums/diseases/chronic_illness.dm
Labels: none

Don't Qdelete Dead HMS Havers (#446)
  code/datums/diseases/chronic_illness.dm
Labels: none

one more
  modular_zubbers/code/modules/cargo/bounties/blacksmith.dm
Labels: none

One less cage
  modular_zubbers/code/modules/cargo/bounties/blacksmith.dm
Labels: none

Update blacksmith.dm
  modular_zubbers/code/modules/cargo/bounties/blacksmith.dm
Labels: none

The katana was not set to true
  modular_zubbers/code/modules/cargo/bounties/blacksmith.dm
Labels: none

again
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/biodome/modules/cage_2_amoung.dmm
  modular_zubbers/maps/biodome/amoung.dm
  modular_zubbers/maps/biodome/amoung.dmi
  tgstation.dme
Labels: Map Modification, Sprites

Today on I am dumb.dm
  modular_zubbers/code/modules/cargo/bounties/blacksmith.dm
Labels: none

dd
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
Labels: none

(Non-modular) Removes the majority of Interdyne's snipers. (#449)
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
Labels: none

Adds bounties to the blacksmith job (#447)
  code/__DEFINES/economy.dm
  code/modules/cargo/bounty.dm
  modular_zubbers/code/modules/cargo/bounties/blacksmith.dm
  modular_zubbers/code/modules/jobs/job_types/blacksmith.dm
  tgstation.dme
Labels: none

mostly resets dynamic to tg
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/ruleset_picking.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: none

f
  code/game/gamemodes/dynamic/dynamic.dm
Labels: none

worm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
Labels: none

comment
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
Labels: none

snout typo
  modular_skyrat/master_files/code/datums/traits/negative.dm
Labels: none

Update blacksmith.dm
  modular_zubbers/code/modules/cargo/bounties/blacksmith.dm
Labels: none

chemistry wiring/piping
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

science piping plus wires
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

sci med engineering is done
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

dorms atmos
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

Reebe touchups
  _maps/skyrat/lazy_templates/reebe.dmm
Labels: Map Modification

hello you are no longer missing lattice at: AI SAT
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

det shutters now synced to button on the west
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification
