Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Update wt551.dmi
  modular_zubbers/icons/obj/weapons/guns/wt551.dmi
Labels: Sprites

oops
  code/modules/projectiles/projectile/bullets/smg.dm
Labels: none

oops x2
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

oops 3
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

[Modular] Gives the NTRep an e_gun (#654)
  modular_zubbers/code/modules/jobs/job_types/nanotrasen_consultant.dm
Labels: none

Adds hyphen to the regex list
  code/__DEFINES/~~bubber_defines/misc.dm
Labels: none

Clarifies vetting
  modular_zubbers/modules/vetted/examine.dm
Labels: none

[Modular] Clarifies vetting (#656)
  modular_zubbers/modules/vetted/examine.dm
Labels: none

Takes autopunctuation off of deadchat
  code/modules/mob/dead/observer/observer_say.dm
Labels: none

no fun allowed
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_oh_god.dm
Labels: none

Requested changes.
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

Documents the removal properly
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: none

Documentation stuff
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
Labels: none

Update antagonists.dm
  code/__DEFINES/antagonists.dm
Labels: none

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

changes to fix conflicts
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/burgerstation/burgerstation.dmm
  _maps/shuttles/zubbers/emergency_burgerstation.dmm
  modular_zubbers/code/modules/sec_haul/code/security_medic/secmed_clothes.dm
  modular_zubbers/icons/mob/clothing/head/helmet.dmi
Labels: Map Modification, Sprites

ops I typoed something
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

Maybe?
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

fixed the elevators
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

I'm deleting the pleasure boat code.
  modular_zubbers/icons/obj/computer.dmi
  modular_zubbers/maps/biodome/tram.dm
Labels: Sprites

forgot to untick the file
  tgstation.dme
Labels: none

adds the spider back
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

Revert "Fixes vents having "infinite" pressure caps. (#77686)"
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
Labels: none

Revert "[MIRROR] Overclocked Vent Pumps [MDB IGNORE] (#24330)"
  code/datums/looping_sounds/vents.dm
  code/game/atom_defense.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  icons/obj/machines/atmospherics/unary_devices.dmi
  sound/machines/fan_break.ogg
  sound/machines/fan_loop.ogg
  sound/machines/fan_start.ogg
  sound/machines/fan_stop.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/common/AtmosControls.tsx
Labels: Sprites

Revert "Tints the screen for halloween (#79062)"
  code/_onclick/hud/rendering/render_plate.dm
Labels: none

Replaces Dauntless combat shotguns with solfed evil riot shotguns (#657)
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

yeah no
  code/modules/cargo/packs/security.dm
  code/modules/projectiles/guns/energy/stun.dm
Labels: none

Update README.md
  README.md
Labels: none

removes redundency
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

Kilo station
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
Labels: none

test, prob will change
  _maps/map_files/KiloStation/KiloStation.dmm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
Labels: Map Modification

Revert "test, prob will change"
  _maps/map_files/KiloStation/KiloStation.dmm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
Labels: Map Modification

Revert "Kilo station"
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
Labels: none

Maybe this will have kilo pass CI
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

hopefully
  _maps/map_files/KiloStation/KiloStation.dmm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
Labels: Map Modification

Update README.md
  README.md
Labels: none

Apparently no-one does toxins in lowpop
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Kilo late fix (#663)
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Update food_events.dm
  modular_zubbers/code/datums/mood_events/food_events.dm
Labels: none

Makes Changeling normal again
  code/modules/antagonists/changeling/changeling.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
