Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

fixes in game errors
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes medical breakroom
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

EVA suit resprite
  icons/mob/clothing/head/spacehelm.dmi
  icons/mob/clothing/suits/spacesuit.dmi
Labels: Sprites

Digi Compatibility
  modular_skyrat/master_files/icons/mob/clothing/head/spacehelm_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/spacesuit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/spacesuit_digi.dmi
Labels: Sprites

Fixes various issues
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

nukes guncargo
  modular_skyrat/modules/company_imports/code/armament_datums/bolt_nanotrasen_firearms.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

nukes guncargo
  modular_skyrat/modules/company_imports/code/armament_datums/bolt_nanotrasen_firearms.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

Re-privates my dono item (#483)
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: none

fix various CI errors. (#478)
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/biodome/biodome.dmm
  code/modules/unit_tests/station_trait_tests.dm
Labels: Map Modification

moves morgue, fixes some issues
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes funny disposals
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes various issues
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

more misc fixes!
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

buffs dorms
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

improves genetics
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update to modern commenting
  modular_skyrat/modules/company_imports/code/armament_datums/bolt_nanotrasen_firearms.dm
Labels: none

Update deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
Labels: none

adds missing air alarm to genetics
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
Labels: none

Update vitezstvi_ammo.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
Labels: none

fixes missing firelocks
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

hopefully fixes the last of the missing firelocks
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

unindent
  modular_skyrat/modules/company_imports/code/armament_datums/bolt_nanotrasen_firearms.dm
Labels: none

Update deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
Labels: none

Update nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
Labels: none

Update vitezstvi_ammo.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
Labels: none

Update nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
Labels: none

Update cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

adds some extra details
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes rd door
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

adds second range
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Adds a new Bubber donor item section
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  modular_zubbers/code/modules/loadouts/loadout_items/~donator.dm
  tgstation.dme
Labels: none

Added CrewSimov
  code/datums/ai_laws/laws_station_sided.dm
Labels: none

Fixes Default Configs
  config/config.txt
  config/skyrat/skyrat_config.txt
Labels: none

Add modular config setup
  config/config.txt
Labels: none

Add docs for modularization
  modular_bubbers/module_template.md
  modular_bubbers/readme.md
Labels: none

Update module_template.md
  modular_bubbers/module_template.md
Labels: none

Revert "Fixed lotsas"
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
Labels: none

Modularize #2
  modular_bubbers/modules/remove_vet_status/code/remove_vet_status.dm
  modular_bubbers/modules/remove_vet_status/readme.md
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
