Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #815 [ci skip]
  html/changelogs/AutoChangeLog-pr-815.yml
Labels: none

Automatic changelog for PR #812 [ci skip]
  html/changelogs/AutoChangeLog-pr-812.yml
Labels: none

Adds "Merged" and "Closed" stamps (#820)
  code/modules/asset_cache/assets/paper.dm
  icons/stamp_icons/large_stamp-closed.png
  icons/stamp_icons/large_stamp-merged.png
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
  modular_zubbers/code/game/objects/items/storage/briefcase.dm
  modular_zubbers/code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  modular_zubbers/code/modules/paperwork/folders_premade.dm
  modular_zubbers/code/modules/paperwork/paper_premade.dm
  modular_zubbers/code/modules/paperwork/stamps.dm
  modular_zubbers/icons/obj/service/bureaucracy.dmi
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #820 [ci skip]
  html/changelogs/AutoChangeLog-pr-820.yml
Labels: none

Update sol_defense.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none

changelog
  html/changelogs/AutoChangeLog-pr-770.yml
  html/changelogs/AutoChangeLog-pr-810.yml
  html/changelogs/AutoChangeLog-pr-812.yml
  html/changelogs/AutoChangeLog-pr-814.yml
  html/changelogs/AutoChangeLog-pr-815.yml
  html/changelogs/AutoChangeLog-pr-816.yml
  html/changelogs/AutoChangeLog-pr-818.yml
  html/changelogs/AutoChangeLog-pr-820.yml
  html/changelogs/archive/2023-12.yml
Labels: none

changelog 12/6/2023 (#824)
  html/changelogs/AutoChangeLog-pr-770.yml
  html/changelogs/AutoChangeLog-pr-810.yml
  html/changelogs/AutoChangeLog-pr-812.yml
  html/changelogs/AutoChangeLog-pr-814.yml
  html/changelogs/AutoChangeLog-pr-815.yml
  html/changelogs/AutoChangeLog-pr-816.yml
  html/changelogs/AutoChangeLog-pr-818.yml
  html/changelogs/AutoChangeLog-pr-820.yml
  html/changelogs/archive/2023-12.yml
Labels: none

test
  modular_zubbers/code/modules/power/circulator.dm
  modular_zubbers/code/modules/power/generator.dm
Labels: none

Sol-Fed Guns Return to Cargo (#754)
  _maps/bubber/automapper/templates/Birdshot/birdshot_armory.dmm
  _maps/bubber/automapper/templates/Deltastation/deltastation_armory.dmm
  _maps/bubber/automapper/templates/IceBoxStation/iceboxstation_armory.dmm
  _maps/bubber/automapper/templates/LimaStation/limastation_armory.dmm
  _maps/bubber/automapper/templates/MetaStation/metastation_armory.dmm
  _maps/bubber/automapper/templates/NorthStar/northstar_armory.dmm
  _maps/bubber/automapper/templates/biodome/biodome_armory.dmm
  _maps/bubber/automapper/templates/burgerstation/burgerstation_armory.dmm
  _maps/bubber/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/bubber/automapper/templates/tramstation/tramstation_armory.dmm
  _maps/skyrat/automapper/automapper_config.toml
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/pistol.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/ammo.dm
  modular_zubbers/modules/modular_weapons/code/gunsets.dm
  tgstation.dme
Labels: Map Modification

Automatic changelog for PR #754 [ci skip]
  html/changelogs/AutoChangeLog-pr-754.yml
Labels: none

did nothing so revert
  modular_zubbers/code/modules/power/circulator.dm
  modular_zubbers/code/modules/power/generator.dm
Labels: none

fixes this thing we removed
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update generator.dm
  modular_zubbers/code/modules/power/generator.dm
Labels: none

disables the GMM
  code/modules/cargo/packs/imports.dm
  modular_zubbers/code/modules/cargo/packs/metalsheets.dm
  tgstation.dme
Labels: none

Fixes fire overlays. Possibly. Hopefully. Probably not. (#822)
  code/modules/mob/living/basic/basic.dm
Labels: none

Automatic changelog for PR #822 [ci skip]
  html/changelogs/AutoChangeLog-pr-822.yml
Labels: none

Cherry Pick: Gives blueshields a new shoulder-bruising "submachinegun" (Early Balance Changes) (#768)
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/gunsets.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/submachinegun.dm
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/xhihao_light_arms/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/xhihao_light_arms/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/xhihao_light_arms/guns32x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/gunsets.dmi
  modular_skyrat/modules/modular_weapons/sounds/smg_heavy.ogg
  modular_zubbers/code/game/objects/items/storage/guncases.dm
  tgstation.dme
Labels: Sprites

[Event Testmerge Only] Adds reverie to the fax list (#668)
  modular_zubbers/code/modules/paperwork/fax.dm
Labels: none

Update generator.dm
  modular_zubbers/code/modules/power/generator.dm
Labels: none

Automatic changelog for PR #668 [ci skip]
  html/changelogs/AutoChangeLog-pr-668.yml
Labels: none

Disables the Galactic Materials Market completely (#825)
  code/modules/cargo/packs/imports.dm
  modular_zubbers/code/modules/cargo/packs/metalsheets.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #825 [ci skip]
  html/changelogs/AutoChangeLog-pr-825.yml
Labels: none

fuck this pr
  code/modules/asset_cache/assets/paper.dm
  icons/stamp_icons/large_stamp-closed.png
  icons/stamp_icons/large_stamp-merged.png
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
  modular_zubbers/code/game/objects/items/storage/briefcase.dm
  modular_zubbers/code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  modular_zubbers/code/modules/paperwork/folders_premade.dm
  modular_zubbers/code/modules/paperwork/paper_premade.dm
  modular_zubbers/code/modules/paperwork/stamps.dm
  modular_zubbers/icons/obj/service/bureaucracy.dmi
  tgstation.dme
Labels: Sprites

Update tgstation.dme
  tgstation.dme
Labels: none

Sorry, posibrains
  code/modules/mob/living/brain/posibrain.dm
Labels: none

Makes it say silicon flavor text
  code/modules/mob/living/brain/posibrain.dm
Labels: none

Addscurrent time in the world to the statpanel
  code/controllers/subsystem/statpanel.dm
Labels: none

Delete modular_zubbers/modules/Tesla_Gen/energy_ball.dm
  modular_zubbers/modules/Tesla_Gen/energy_ball.dm
Labels: none

changelog
  html/changelogs/AutoChangeLog-pr-668.yml
  html/changelogs/AutoChangeLog-pr-754.yml
  html/changelogs/AutoChangeLog-pr-822.yml
  html/changelogs/AutoChangeLog-pr-825.yml
  html/changelogs/archive/2023-12.yml
Labels: none

changelog 12/7/2023 (#828)
  html/changelogs/AutoChangeLog-pr-668.yml
  html/changelogs/AutoChangeLog-pr-754.yml
  html/changelogs/AutoChangeLog-pr-822.yml
  html/changelogs/AutoChangeLog-pr-825.yml
  html/changelogs/archive/2023-12.yml
Labels: none

Adds gender and attraction
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/species_features.tsx
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

Adds attraction and gender
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

test if it fixes ci
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
  code/modules/power/generator.dm
Labels: none

Parts can be bought in cargo
  modular_zubbers/code/modules/cargo/packs/engineering.dm
  tgstation.dme
Labels: none

Added items to cargo + maybe fixes all ci errors
  modular_zubbers/code/modules/cargo/packs/engineering.dm
  modular_zubbers/icons/obj/machines/particle_accelerator.dmi
  modular_zubbers/modules/Tesla_Gen/generator.dm
  modular_zubbers/modules/Tesla_Gen/particle.dm
  modular_zubbers/modules/Tesla_Gen/particle_accelerator.dm
  modular_zubbers/modules/Tesla_Gen/particle_control.dm
  modular_zubbers/modules/Tesla_Gen/particle_emitter.dm
Labels: Sprites

Added
  icons/obj/service/bureaucracy.dmi
  modular_zubbers/code/controllers/subsystem/economy.dm
  modular_zubbers/code/game/objects/items/storage/briefcase.dm
  modular_zubbers/code/modules/events/shuttle_loan/shuttle_loan_datum.dm
  modular_zubbers/code/modules/paperwork/paper_premade.dm
  modular_zubbers/code/modules/paperwork/stamps.dm
  modular_zubbers/icons/obj/service/bureaucracy.dmi
  modular_zubbers/master_files/code/modules/cargo/exports/pull_requests.dm
  tgstation.dme
Labels: Sprites

we will see / maybe ci fix
  code/modules/power/tesla/energy_ball.dm
  modular_zubbers/icons/obj/machines/particle_accelerator.dmi
  tgstation.dme
Labels: Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
