Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Update jobs.dm
  modular_zubbers/code/datums/id_trim/jobs.dm
Labels: none

Fixes wound related undefines
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/targeted/lunge.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/tremere/auspex.dm
Labels: none

much less annoying and frequent
  code/modules/atmospherics/machinery/air_alarm/air_alarm_modes.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_thresholds.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/mob/living/carbon/life.dm
  modular_zubbers/code/modules/organs/rot.dm
Labels: none

Adds auto punctuation
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/mob/living/living_say.dm
  tgstation.dme
Labels: none

adds more required criteria
  modular_zubbers/code/modules/organs/rot.dm
Labels: none

Gives secmed back basic medical access (#627)
  modular_zubbers/code/datums/id_trim/jobs.dm
Labels: none

Vetted Player Locks (#601)
  code/modules/admin/verbs/admingame.dm
  code/modules/client/preferences/middleware/jobs.dm
  config/bubbers/vetted_players.txt
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_zubbers/modules/vetted/examine.dm
  modular_zubbers/modules/vetted/vetted.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: none

Improves Trash Piles (#610)
  modular_skyrat/master_files/code/game/objects/structures/trash_pile.dm
  modular_zubbers/code/_globalvars/lists/~maintenance_loot.dm
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
  modular_zubbers/code/game/objects/structures/trash_pile.dm
  tgstation.dme
Labels: none

Skyrat Armory Removal (#618)
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/objects/effects/spawners/random/armory.dm
  tgstation.dme
Labels: Map Modification

Removes the shitty skyrat "Realism" change that just stops your heart when you get shocked (#620)
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: none

Adds a beret for coroners (#611)
  code/modules/vending/wardrobes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_zubbers/code/modules/clothing/head/jobs.dm
Labels: none

FIR-36 Rebreather no longer hides faces (#581)
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: none

Changes Obsessed objs to less round-removing types (#558)
  code/modules/antagonists/obsessed/obsessed.dm
Labels: none

[Modular] Adds a pinwheel hat (#606)
  code/modules/vending/clothesmate.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
  modular_zubbers/modules/clothing/head/helmet.dm
  tgstation.dme
Labels: Sprites

im jacked to the tits
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_acts.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_guide.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_icon.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_rod.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_wires.dm
  modular_zubbers/icons/obj/equipment/burger_reactor.dmi
Labels: Map Modification, Sprites

removes radio, adds a functional meltdown state to the RB-MK2
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_wires.dm
Labels: none

yeah
  code/game/objects/items/storage/garment.dm
  code/modules/jobs/job_types/head_of_security.dm
  modular_zubbers/modules/modular_items/code/HoS_beacon.dm
  tgstation.dme
Labels: none

linter whining
  code/modules/jobs/job_types/head_of_security.dm
Labels: none

redsec vendor for real this time
  modular_zubbers/modules/automapper/code/area_spawn_entries.dm
  tgstation.dme
Labels: none

linters!!!!!
  modular_zubbers/modules/automapper/code/area_spawn_entries.dm
Labels: none

adds it to all our working maps
  modular_zubbers/modules/automapper/code/area_spawn_entries.dm
Labels: none

codedocs
  modular_zubbers/modules/automapper/code/area_spawn_entries.dm
Labels: none

Fixes several serious bugs, adds the reactor sniffer
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_design.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_acts.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_circuit.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_icon.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_wires.dm
  modular_zubbers/icons/obj/equipment/burger_reactor.dmi
  modular_zubbers/icons/obj/equipment/burger_reactor_computer.dmi
  tgstation.dme
Labels: Map Modification, Sprites

Update reactor_sniffer_wires.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_wires.dm
Labels: none

fixes bad icon
  modular_zubbers/icons/obj/equipment/burger_reactor.dmi
Labels: Sprites

Fixes cursed heart undefine
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/frenzy.dm
Labels: none

Fixes moveintent undefines
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/cloak.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/fortitude.dm
Labels: none

Fixes notransform undefines
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/targeted/mesmerize.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/targeted/trespass.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/tremere/dominate.dm
Labels: none

Testing this stupid thing
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/veil.dm
Labels: none

weh
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/veil.dm
Labels: none

Revert "weh"
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/veil.dm
Labels: none

Revert "Testing this stupid thing"
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/veil.dm
Labels: none

Hypospray & kit added to cargo
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
Labels: none

fuck fuck fuck
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
Labels: none

REDSEC IS BACK (#630)
  modular_zubbers/modules/automapper/code/area_spawn_entries.dm
  tgstation.dme
Labels: none

Fixes HoS/Warden drip, disables HoS beacon (#629)
  code/game/objects/items/storage/garment.dm
  code/modules/jobs/job_types/head_of_security.dm
  modular_zubbers/modules/modular_items/code/HoS_beacon.dm
  tgstation.dme
Labels: none

Removes surplus crates, buffs starting TC cost.
  code/__DEFINES/antagonists.dm
  code/modules/uplink/uplink_items/bundle.dm
Labels: none

typo
  code/modules/uplink/uplink_items/bundle.dm
  tgstation.dme
Labels: none

adds shake, power generation curve
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
Labels: none

fixes various bugs, nerfs radiation, adds emergency cooling
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_acts.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer.dm
Labels: Map Modification

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
