Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Adds maintenance loot to the areas.
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

fixes a runtime error?
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

fixes some pipes, adds more detail
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

Update pubberstation.dmm
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

Adds Bodycameras
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_zubbers/code/modules/bodycameras/bodycamera.dm
  modular_zubbers/code/modules/bodycameras/bodycamera.dmi
  modular_zubbers/code/modules/bodycameras/integration.dm
  tgstation.dme
Labels: Sprites

Gives Lawyers Security Access
  code/datums/id_trim/jobs.dm
Labels: none

shrink size of breasts_double on latex catsuit (#352)
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform-snake.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_clothing/lewd_uniform.dmi
Labels: Sprites

Added imaginary friend implant
  code/datums/brain_damage/imaginary_friend.dm
  code/modules/vending/modularpc.dm
Labels: none

starts adding some lights to the station
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

emergency meeting
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/biodome/modules/cage_2_amoung.dmm
  modular_zubbers/maps/biodome/amoung.dm
  modular_zubbers/maps/biodome/amoung.dmi
  tgstation.dme
Labels: Map Modification, Sprites

Adds a mood penalty for death.
  code/__DEFINES/traits.dm
  code/datums/mood.dm
  modular_zubbers/code/datums/mood_events/death_events.dm
  modular_zubbers/code/datums/quirks/positive_quirks/i_do_not_fear_death.dm
  tgstation.dme
Labels: none

Brings back redsec.
  modular_zubbers/code/security_reddening/airlock.dm
  modular_zubbers/code/security_reddening/closet.dm
  modular_zubbers/code/security_reddening/decals.dm
  modular_zubbers/code/security_reddening/job.dm
  modular_zubbers/code/security_reddening/vendor.dm
  tgstation.dme
Labels: none

Essential fixes so the game isn't broken.
  code/modules/research/stock_parts.dm
  modular_zubbers/code/modules/mob/living/living.dm
Labels: none

skin.dmf attempt
  tgstation.dme
Labels: none

wow skyrat missed this mirror?
  tools/validate_dme.py
Labels: none

Fixes up Ticked File Enforcement (#76592)
  tgstation.dme
Labels: none

updatemaps
  _maps/map_files/Basketball/beach_bums.dmm
Labels: Map Modification

some CI changes
  .github/CODEOWNERS
  .github/workflows/ci_suite.yml
Labels: none

ffffff skin.dmf again weh
  tgstation.dme
Labels: none

we don't use this.
  code/modules/unit_tests/station_trait_tests.dm
Labels: none

insane nitpicking
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Map Modification

Essential fixes so the game isn't broken. (#432)
  .github/CODEOWNERS
  .github/workflows/ci_suite.yml
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/map_files/Basketball/beach_bums.dmm
  code/modules/research/stock_parts.dm
  code/modules/unit_tests/station_trait_tests.dm
  modular_zubbers/code/modules/mob/living/living.dm
  tgstation.dme
  tools/validate_dme.py
Labels: Map Modification

Progtot goals overrides
  modular_zubbers/code/modules/traitor/goal_overrides.dm
  tgstation.dme
Labels: none

Progtot goals Overrides (#433)
  modular_zubbers/code/modules/traitor/goal_overrides.dm
  tgstation.dme
Labels: none

Revert "Antag Revamp*: The Nuclear-ish Option (#18110)"
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~skyrat_defines/admin.dm
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/admin/topic.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  modular_skyrat/master_files/code/modules/antagonists/_common/antag_datum.dm
  modular_skyrat/master_files/code/modules/antagonists/changeling/changeling.dm
  modular_skyrat/modules/examinemore/code/examine_more.dm
  modular_skyrat/modules/opposing_force/code/antagonist.dm
  modular_skyrat/modules/opposing_force/code/dynamic.dm
  modular_skyrat/modules/opposing_force/code/equipment/antagonist_powers.dm
  modular_skyrat/modules/opposing_force/code/equipment/loadouts.dm
  modular_skyrat/modules/opposing_force/code/items.dm
  modular_skyrat/modules/opposing_force/icons/items.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
  tgui/packages/tgui/interfaces/AntagInfoOpfor.tsx
  tgui/packages/tgui/interfaces/OpposingForcePanel.js
Labels: Sprites

a
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
Labels: none

a
  tgstation.dme
Labels: none

lol wtf even happened
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/biodome/biodome.dmm
  code/modules/research/stock_parts.dm
Labels: Map Modification

reset maps
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Map Modification

l lmao
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/map_files/Basketball/beach_bums.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/hunter_russian.dmm
Labels: Map Modification

sdadadada
  code/modules/research/stock_parts.dm
  icons/ui_icons/achievements/achievements.dmi
Labels: Sprites

fix it, remove the modular version of opfor antag granters since we have them normally now
  modular_zubbers/code/modules/opposing_force/code/equipment/antagonist_powers.dm
  modular_zubbers/code/modules/opposing_force/code/items.dm
  modular_zubbers/code/modules/opposing_force/icons/items.dmi
  tgstation.dme
Labels: Sprites

me when i
  modular_skyrat/modules/oversized/code/oversized_quirk.dm
Labels: none

silicons now require power to do door actions
  code/game/machinery/doors/airlock.dm
  code/modules/power/power.dm
  modular_zubbers/code/modules/silicon_powerdraw/powerdraw.dm
  tgstation.dme
Labels: none

fixes oversized quirk replacing synth/nohunger species stomach (take 2) (#436)
  modular_skyrat/modules/oversized/code/oversized_quirk.dm
Labels: none

Add: Skrell Hair Variety
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/skrell_hair.dm
  modular_zubbers/master_files/icons/mob/sprite_accessory/skrell_hair.dmi
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/skrell_hair.dm
  tgstation.dme
Labels: Sprites

AI no longer needs to draw power as they are stationed. Power cost base lowered to 125. Free local usage.
  code/game/machinery/doors/airlock.dm
  modular_zubbers/code/modules/silicon_powerdraw/powerdraw.dm
Labels: none

space ninja is not longer bald
  code/modules/antagonists/space_ninja/space_ninja.dm
Labels: none

Add: Skrell Hair Variety (#439)
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/skrell_hair.dm
  modular_zubbers/master_files/icons/mob/sprite_accessory/skrell_hair.dmi
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/skrell_hair.dm
  tgstation.dme
Labels: Sprites

Adds Tactical Maid outfit to the Loudout.
  modular_zubbers/code/modules/clothing/gloves/syndicate.dm
  modular_zubbers/code/modules/clothing/head/syndicate.dm
  modular_zubbers/code/modules/clothing/under/syndicate.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  tgstation.dme
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
