Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

fixes the missing wire in the RD's office
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Fixes organ spilling organs that should be unspillable (#560)
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: none

Update security_medic Locker Privs (#557)
  modular_zubbers/code/modules/sec_haul/code/security_medic/security_medic.dm
Labels: none

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

fixes missing wires, holopads, and other stuff
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

makes evac dock a little shorter
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

test
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

test
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

Please work
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

The screams of the damned
  tgui/packages/tgui/interfaces/ZubbersFlappyMoth.tsx
Labels: none

bubbles
  modular_zubbers/modules/customization/modules/mob/living/carbon/human/species/akula.dm
Labels: none

woops
  tgstation.dme
Labels: none

possibly fixes asteroid apc
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

removes duds
  code/__DEFINES/fishing.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/sources/source_types.dm
Labels: none

fixes shuttle curtains, nerfs seed spawn in maint
  _maps/map_files/burgerstation/burgerstation.dmm
  _maps/shuttles/zubbers/emergency_burgerstation.dmm
Labels: Map Modification

service hallway changes, adds a dickload of detail
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes linters
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Denotes change as Bubber Station Change
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
Labels: none

Akula say_verb is now "bubbles" (#567)
  modular_zubbers/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  tgstation.dme
Labels: none

Improves Harm Alarm cosmetic code and adds customization. (#541)
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_zubbers/code/game/objects/items/robot/items/harm_alarm_new.dm
  modular_zubbers/sound/ai/alan_davies.ogg
  tgstation.dme
Labels: none

Removes Unecessary Skyrat Edits that made the HoS Gun Useless (#532)
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: none

surgery cap default changed to loosened state (#524)
  code/modules/clothing/head/jobs.dm
Labels: none

[Semi-Definitely-Non-Modular] Service Borg Edits (#528)
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/modules/borg_buffs/code/robot.dm
  modular_skyrat/modules/borg_buffs/icons/items_cyborg.dmi
Labels: Sprites

Fixes Air Alarms resetting scrubbers/vents on map load. (#550)
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Unskyratifies the batons and double esword. (#556)
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/melee/baton.dm
Labels: none

(Mostly-Modular) SSV Dauntless - Interdyne Rework (#520)
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  code/__DEFINES/role_preferences.dm
  code/datums/ruins/space.dm
  code/modules/jobs/jobs.dm
  code/modules/research/techweb/all_nodes.dm
  config/lavaruinblacklist.txt
  modular_skyrat/modules/mapping/code/icemoon.dm
  modular_skyrat/modules/mapping/code/lavaland.dm
  modular_zubbers/code/datums/computer_datums/protolathe_modifications.dm
  modular_zubbers/maps/offstation/dauntless/ID_trims.dm
  modular_zubbers/maps/offstation/dauntless/areas.dm
  modular_zubbers/maps/offstation/dauntless/code.dm
  modular_zubbers/maps/offstation/dauntless/gasminers.dm
  modular_zubbers/maps/offstation/dauntless/laws.dm
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
  tgstation.dme
Labels: Map Modification

Adds a new map (#459)
  _maps/_basemap.dm
  _maps/burgerstation.json
  _maps/map_files/burgerstation/burgerstation.dmm
  _maps/shuttles/zubbers/emergency_burgerstation.dmm
  code/datums/map_config.dm
  config/maps.txt
  modular_skyrat/modules/automapper/code/area_spawn_subsystem.dm
  modular_zubbers/code/datums/shuttles/emergency.dm
  modular_zubbers/code/game/area/areas/burgerstation.dm
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
  modular_zubbers/code/game/objects/structures/plaques/static_plaques.dm
  modular_zubbers/icons/obj/map_markers.dmi
  tgstation.dme
Labels: Map Modification, Sprites

cooking oil commit
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: none

Volume pump interface accounts for spt.
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
Labels: none

Adds netrunner room.
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification
