Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Update reactor_sniffer_wires.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_wires.dm
Labels: none

Delam shoo scram
  _maps/bubber/automapper/templates/kilostation/kilostation_supermatter.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/skyrat/automapper/automapper_config.toml
Labels: Map Modification

oops
  tgstation.dme
Labels: none

removes skyrat change
  modular_skyrat/modules/skyrat-uplinks/code/categories/bundles.dm
Labels: none

Ignore me adding this back in
  tgui/packages/tgui/interfaces/Fishing.tsx
  tgui/packages/tgui/interfaces/ZubbersFlappyMoth.tsx
Labels: none

Added
  code/game/machinery/computer/arcade/arcade.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_classic.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_mechanical.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_oh_god.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_special.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_toy.dm
  modular_zubbers/code/game/machinery/computer/arcade/~arcade_weights_final.dm
  tgstation.dme
Labels: none

Removes Vore
  modular_zubbers/code/modules/mob/living/carbon/alien/adult/adult.dm
  tgstation.dme
Labels: none

remember to check your code lmao
  modular_zubbers/code/modules/mob/living/carbon/alien/adult/adult.dm
Labels: none

this is already a disaster
  modular_zubbers/code/modules/mob/living/carbon/alien/adult/adult.dm
Labels: none

adds super_spaceacillin
  modular_zubbers/code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  modular_zubbers/code/modules/reagents/chemistry/recipes/medicine.dm
Labels: none

lesser name
  modular_zubbers/code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: none

Update medicine_reagents.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: none

Disables Blob for good
  code/modules/events/ghost_role/blob.dm
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
Labels: none

fixes linters
  code/modules/events/ghost_role/blob.dm
Labels: none

Adds Goblin Gas
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/cargo/exports/large_objects.dm
  modular_zubbers/code/__DEFINES/atmospherics/atmos_gasses.dm
  modular_zubbers/code/controllers/subsystem/air.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/modules/atmospherics/gasmixtures/gas_types.dm
  modular_zubbers/code/modules/atmospherics/machinery/portable/canister.dm
  modular_zubbers/code/modules/power/supermatter/supermatter_gas.dm
  modular_zubbers/code/modules/surgery/organs/internal/lungs/_lungs.dm
  tgstation.dme
  tgui/packages/tgui/constants.ts
Labels: none

WIP
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_processing.dm
Labels: none

Nerfs Blob Atmos
  modular_zubbers/code/modules/antagonists/blob/structures/_blob.dm
Labels: none

Adds missing include
  tgstation.dme
Labels: none

Update _blob.dm
  modular_zubbers/code/modules/antagonists/blob/structures/_blob.dm
Labels: none

Update _blob.dm
  modular_zubbers/code/modules/antagonists/blob/structures/_blob.dm
Labels: none

Update trash_pile.dm
  modular_zubbers/code/game/objects/structures/trash_pile.dm
Labels: none

Moves RBMK to asteroid.
  _maps/map_files/burgerstation/burgerstation.dmm
  code/__DEFINES/atmospherics/atmos_gasses.dm
  modular_zubbers/code/__DEFINES/atmospherics/atmos_gasses.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_rod.dm
  tgstation.dme
Labels: Map Modification

It is done.
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_guide.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_icon.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_processing.dm
Labels: Map Modification

Adds moth milk
  modular_skyrat/modules/imported_vendors/code/vendors.dm
  modular_zubbers/code/modules/reagents/drink_reagents.dm
  modular_zubbers/code/modules/reagents/reagent_containers/condiment.dm
  modular_zubbers/icons/obj/food/reagent_containers.dmi
  tgstation.dme
Labels: Sprites

fixes initial
  modular_zubbers/code/controllers/subsystem/air.dm
Labels: none

Update burgerstation.dmm
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Fixes this incredibly minor thing that bothered me
  code/modules/jobs/job_types/head_of_security.dm
Labels: none

proper examine
  modular_zubbers/code/modules/mob/living/examine.dm
  tgstation.dme
Labels: none

fix again
  modular_zubbers/code/modules/mob/living/examine.dm
Labels: none

Touchies icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification

bases
  modular_zubbers/code/modules/scents/gasses.dm
  modular_zubbers/code/modules/scents/rot.dm
  tgstation.dme
Labels: none

guh
  modular_zubbers/code/modules/scents/gasses.dm
Labels: none

revert scrubbers
  code/modules/atmospherics/machinery/air_alarm/air_alarm_modes.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/mob/living/carbon/life.dm
Labels: none

send it
  code/modules/mob/living/carbon/life.dm
  modular_zubbers/code/modules/scents/gasses.dm
  modular_zubbers/code/modules/scents/reagents.dm
  modular_zubbers/code/modules/scents/rot.dm
  tgstation.dme
Labels: none

its nasty
  modular_zubbers/code/modules/scents/reagents.dm
Labels: none

fixes review comments
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
Labels: none

Buffs Fishing 2
  code/modules/fishing/sources/source_types.dm
  modular_zubbers/code/modules/experisci/experiment/types/scanning_fish.dm
Labels: none

Update scanning_fish.dm
  modular_zubbers/code/modules/experisci/experiment/types/scanning_fish.dm
Labels: none

forgot to INCLUDE
  tgstation.dme
Labels: none

visbility
  modular_zubbers/code/modules/scents/gasses.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
