Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

-varedits
  _maps/map_files/debug/ss13_construct.dmm
Labels: Map Modification

-varedits on stairs -checks +space turf (probably)
  _maps/map_files/debug/ss13_construct.dmm
  _maps/ss13_construct.json
Labels: Map Modification

COMMA
  _maps/ss13_construct.json
Labels: Map Modification

Small fix for PR for donator items #582
  modular_zubbers/icons/mob/body_markings/markings.dmi
Labels: Sprites

Vetted Player Locks
  code/modules/admin/verbs/admingame.dm
  code/modules/client/preferences/middleware/jobs.dm
  config/bubbers/vetted_players.txt
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_zubbers/modules/vetted/examine.dm
  modular_zubbers/modules/vetted/vetted.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

a
  modular_zubbers/code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  modular_zubbers/code/modules/reagents/chemistry/recipes/medicine.dm
  tgstation.dme
Labels: none

maps in rbmk
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update tgstation.dme
  tgstation.dme
Labels: none

runtime
  modular_zubbers/modules/vetted/examine.dm
Labels: none

reverts burgerstation map changes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

change style
  modular_zubbers/modules/vetted/examine.dm
Labels: none

Fixes disposals, Fixes Incin
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update traitor.dm
  modular_zubbers/code/controllers/subsystem/traitor.dm
Labels: none

Removes a duplicate in tgstation.dme
  tgstation.dme
Labels: none

another dupe
  tgstation.dme
Labels: none

alphabetical order
  tgstation.dme
Labels: none

alphabetical order pt. 2
  tgstation.dme
Labels: none

Yespls
  modular_zubbers/code/datums/mood_events/food_events.dm
  tgstation.dme
Labels: none

now
  modular_zubbers/code/datums/mood_events/food_events.dm
Labels: none

number stuff
  modular_zubbers/code/datums/mood_events/food_events.dm
Labels: none

eeeh???
  config/maps.txt
  modular_zubbers/code/datums/mood_events/food_events.dm
Labels: none

Significantly improves the reactor.
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_acts.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_rod.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_wires.dm
  modular_zubbers/icons/obj/equipment/burger_reactor.dmi
  tgstation.dme
Labels: Sprites

minor map changes
  _maps/map_files/debug/ss13_construct.dmm
Labels: Map Modification

+Tier 4 RPEDs
  _maps/map_files/debug/ss13_construct.dmm
Labels: Map Modification

ass
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

makes smuggler satchels harder to game
  modular_zubbers/code/controllers/subsystem/minor_mapping.dm
Labels: none

fixes linter complaining
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
Labels: none

food
  modular_zubbers/code/datums/mood_events/food_events.dm
Labels: none

Update maps.txt
  config/maps.txt
Labels: none

probably terrible like this
  modular_zubbers/code/datums/quirks/neutral_quirks/hungry.dm
  tgstation.dme
Labels: none

This should work well
  modular_zubbers/code/datums/quirks/neutral_quirks/hungry.dm
Labels: none

Re-add Kilo
  _maps/_basemap.dm
  _maps/kilostation.json
  _maps/map_files/KiloStation/KiloStation.dmm
  code/game/objects/structures/plaques/static_plaques.dm
  config/maps.txt
Labels: Map Modification

Update food_events.dm
  modular_zubbers/code/datums/mood_events/food_events.dm
Labels: none

Better icon
  modular_zubbers/code/datums/quirks/neutral_quirks/hungry.dm
Labels: none

I hate
  modular_zubbers/code/datums/quirks/neutral_quirks/hungry.dm
Labels: none

Adds coconuts
  modular_zubbers/code/game/objects/items/cigs_lighters.dm
  modular_zubbers/code/modules/hydroponics/grown/coconut.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents/drink_reagents.dm
  modular_zubbers/icons/obj/hydroponics/growing_fruits.dmi
  modular_zubbers/icons/obj/hydroponics/seeds.dmi
  sound/weapons/klonk.ogg
  tgstation.dme
Labels: Sprites

repathing
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Adds the RB-MK2 to Burgerstation, Adds Guide, Reactor Improvements
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_areas.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_guide.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_wires.dm
  tgstation.dme
Labels: Map Modification
