Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

little fix
  README.md
Labels: none

credit to goon
  README.md
Labels: none

Tg guide to contributers
  README.md
Labels: none

first stages
  modular_zubbers/code/modules/customization/sprite_accessories/gloss.dm
  modular_zubbers/icons/customization/glossy.dmi
  tgstation.dme
Labels: Sprites

Preference autopunctuation
  code/modules/mob/living/living_say.dm
  modular_zubbers/code/modules/autopunctuation/preferences.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/autopunctuation.tsx
Labels: none

Antag names
  code/modules/jobs/job_types/_job.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_zubbers/code/modules/client/preferences/names.dm
  tgstation.dme
Labels: none

Updates the IF statement in say.dm
  code/modules/mob/living/living_say.dm
Labels: none

sprite updates
  modular_zubbers/code/modules/customization/sprite_accessories/gloss.dm
  modular_zubbers/icons/customization/glossy.dmi
Labels: Sprites

Update glossy.dmi
  modular_zubbers/icons/customization/glossy.dmi
Labels: Sprites

ops
  modular_zubbers/icons/customization/glossy.dmi
Labels: Sprites

sorted
  tgstation.dme
Labels: none

https://www.youtube.com/watch?v=MR6VoO_Sgyg
  modular_zubbers/code/modules/hydroponics/grown/rocks.dm
  modular_zubbers/code/modules/hydroponics/icons/harvest.dmi
  modular_zubbers/code/modules/hydroponics/icons/seeds.dmi
  modular_zubbers/code/modules/vending/megaseed.dm
  tgstation.dme
Labels: Sprites

Rocks and stones may break my bones
  modular_zubbers/code/modules/food_and_drinks/icons/rocks.dmi
  modular_zubbers/code/modules/hydroponics/grown/rocks.dm
  modular_zubbers/code/modules/hydroponics/icons/harvest.dmi
Labels: Sprites

Adds the WT-551, Unskyrats the WT-550 ammo (#655)
  modular_zubbers/code/game/objects/effects/spawners/random/armory.dm
  modular_zubbers/code/modules/cargo/exports/weapons.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zubbers/code/modules/jobs/job_types/cargo_technician.dm
  modular_zubbers/code/modules/mob/living/basic/trooper/nanotrasen.dm
  modular_zubbers/code/modules/projectiles/ammunition/ballistic/smg.dm
  modular_zubbers/code/modules/projectiles/boxes_magazines/external/smg.dm
  modular_zubbers/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_zubbers/code/modules/projectiles/projectile/bullets/smg.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/icons/obj/weapons/guns/wt551.dmi
  modular_zubbers/master_files/code/modules/research/designs/weapon_designs.dm
  modular_zubbers/sound/weapons/gun/wt551/shot.ogg
  tgstation.dme
Labels: Sprites

my sanity
  modular_zubbers/code/modules/food_and_drinks/icons/rocks.dmi
  modular_zubbers/code/modules/hydroponics/grown/rocks.dm
Labels: Sprites

this is too long
  modular_zubbers/code/modules/hydroponics/grown/rocks.dm
Labels: none

update
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: none

Adds contribution rules to the main readme.txt (#682)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Forgot to update the contributer blurb (#687)
  README.md
Labels: none

[TESTMERGE READY] [FULLY-MODULAR] [NOW WITH 99% LESS MEMORY LEAKS] Gives synths internal computers (#585)
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
  tgstation.dme
Labels: none

fixes sprite outline
  modular_zubbers/icons/obj/doors/doorfire.dmi
  modular_zubbers/icons/obj/doors/doorfireglass.dmi
Labels: Sprites

snel
  modular_zubbers/code/modules/hydroponics/icons/growing_fruits.dmi
Labels: Sprites

remove indestructible
  code/modules/food_and_drinks/restaurant/_venue.dm
Labels: none

Update scanning_fish.dm
  code/modules/experisci/experiment/types/scanning_fish.dm
Labels: none

Update scanning_fish.dm
  code/modules/experisci/experiment/types/scanning_fish.dm
Labels: none

Update scanning_fish.dm
  code/modules/experisci/experiment/types/scanning_fish.dm
Labels: none

SS13 construct (#593)
  _maps/map_files/debug/ss13_construct.dmm
  _maps/ss13_construct.json
  config/maps.txt
  modular_zubbers/code/modules/debug_tools/debug_abilites/fly.dm
  modular_zubbers/code/modules/debug_tools/debug_abilites/noclip.dm
  modular_zubbers/code/modules/debug_tools/debug_items.dm
  modular_zubbers/code/modules/debug_tools/debug_machinery.dm
  modular_zubbers/code/modules/debug_tools/physgun.dm
  modular_zubbers/code/modules/debug_tools/phystool.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/_phystool_mode.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_build.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_color.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_remove.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_size.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_spawn.dm
  modular_zubbers/icons/mob/inhands/architector_items_belt.dmi
  modular_zubbers/icons/mob/inhands/architector_items_lefthand.dmi
  modular_zubbers/icons/mob/inhands/architector_items_righthand.dmi
  modular_zubbers/icons/obj/equipment/architector_items.dmi
  modular_zubbers/sound/phystools/physgun_cant_grab.ogg
  modular_zubbers/sound/phystools/physgun_hold_loop.ogg
  modular_zubbers/sound/phystools/physgun_pause.ogg
  modular_zubbers/sound/phystools/physgun_pickup.ogg
  modular_zubbers/sound/phystools/physgun_repulse.ogg
  modular_zubbers/sound/phystools/toolgun_error.ogg
  modular_zubbers/sound/phystools/toolgun_select.ogg
  modular_zubbers/sound/phystools/toolgun_shot1.ogg
  modular_zubbers/sound/phystools/toolgun_shot2.ogg
  tgstation.dme
Labels: Map Modification, Sprites

(Modular) Adds Body Gloss (#683)
  modular_zubbers/code/modules/customization/sprite_accessories/gloss.dm
  modular_zubbers/icons/customization/glossy.dmi
  tgstation.dme
Labels: Sprites

no more sticky. now dna lock blows up!
  modular_zubbers/code/modules/antagonists/modglue.dm
Labels: none

Makes Fishing Research Actually Obtainable (#691)
  code/modules/experisci/experiment/types/scanning_fish.dm
Labels: none

Might as well save this.
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

Update _air_alarm.dm
  modular_zubbers/code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Ports Gimmick Traitor from Daedalus Dock (and raises starting TC) (#583)
  code/__DEFINES/antagonists.dm
  modular_zubbers/code/game/gamemodes/objectives/gimmick.dm
  modular_zubbers/code/game/gamemodes/objectives/overrides.dm
  tgstation.dme
Labels: none

[Ready] Firelock (and air alarm) Overhaul (#492)
  code/game/machinery/doors/firedoor.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
  modular_zubbers/code/game/machinery/doors/firedoor.dm
  modular_zubbers/code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  modular_zubbers/icons/obj/doors/doorfire.dmi
  modular_zubbers/icons/obj/doors/doorfireglass.dmi
  tgstation.dme
Labels: Sprites

[Not Modular] Drifting contractor adjustments (#667)
  modular_skyrat/modules/contractor/code/datums/midround/event.dm
  modular_skyrat/modules/contractor/code/datums/midround/ruleset.dm
Labels: none

Fixes RBMK sniffer.
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_wires.dm
Labels: none

Update burgerstation_new.dmm
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

Update reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
