Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

Revert it donut work'd
  code/__DEFINES/~~bubber_defines/misc.dm
Labels: none

adds and fi
  .vscode/settings.json
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~~bubber_defines/bloodsuckers.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_clans/clan.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_clans/clan_malkavian.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_clans/clan_ventrue.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/vassal/vassal_fold.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/coffin.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/objects.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_types/ex_vassal.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_types/favorite_vassal.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_types/revenge_vassal.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/defines.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/dynamic_rulesets/bloodsucker_rulesets.dm
  modular_zubbers/code/modules/jobs/job_types/curator.dm
  modular_zubbers/strings/bloodsuckers/malkavian_revelations.json
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/bloodsuckerbreakout.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/vampiricaccident.ts
Labels: none

reinforced dna locks for contractors
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_zubbers/code/modules/antagonists/modglue.dm
Labels: none

Fucking asterisks
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/mob/living/living_say.dm
Labels: none

toss the contents. needs ai still.
  modular_zubbers/code/modules/antagonists/modglue.dm
Labels: none

Update true_changeling.dm
  modular_skyrat/modules/horrorform/code/true_changeling.dm
Labels: none

modsuits now can be dumped
  modular_zubbers/code/modules/antagonists/modglue.dm
Labels: none

Horrorform changeling salt PR (#859)
  modular_skyrat/modules/horrorform/code/true_changeling.dm
Labels: none

Automatic changelog for PR #859 [ci skip]
  html/changelogs/AutoChangeLog-pr-859.yml
Labels: none

a
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

Miasma Organ Rotting
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/internal/_internal_organ.dm
Labels: none

fixed
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/internal/_internal_organ.dm
Labels: none

the rehaul
  code/__HELPERS/global_lists.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  modular_zubbers/code/modules/mob/living/living.dm
  modular_zubbers/code/modules/mob/living/living_say.dm
  modular_zubbers/master_files/code/modules/client/preferences/voice.dm
  modular_zubbers/master_files/code/modules/client/preferences/voice_chime.dm
  modular_zubbers/modules/code/voice_datums.dm
  modular_zubbers/sound/voices/silence.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/voice.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/voice.tsx
Labels: none

poprawki
  code/modules/power/tesla/energy_ball.dm
  modular_zubbers/icons/obj/machines/particle_accelerator.dmi
  modular_zubbers/modules/power/singularity/particle_accelerator/particle.dm
  modular_zubbers/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  modular_zubbers/modules/power/singularity/particle_accelerator/particle_controller.dm
  modular_zubbers/modules/power/singularity/particle_accelerator/particle_emitter.dm
  modular_zubbers/modules/power/singularity/rad_collector.dm
  modular_zubbers/modules/power/singularity/singularity_generator.dm
  tgstation.dme
Labels: Sprites

draft ready
  code/modules/antagonists/changeling/changeling.dm
  modular_skyrat/master_files/code/modules/antagonists/changeling/changeling.dm
  modular_zubbers/code/modules/mob/living/living.dm
  modular_zubbers/code/modules/mob/living/living_say.dm
  modular_zubbers/master_files/code/modules/client/preferences/middleware/voice_preview.dm
  modular_zubbers/master_files/code/modules/client/preferences/voice.dm
  modular_zubbers/modules/code/voice_datums.dm
Labels: none

draftdraft noerrorsbut notworking
  modular_zubbers/code/modules/mob/living/living_say.dm
Labels: none

oop
  modular_zubbers/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: none

it costs 30% maxblood to level up now
  modular_zubbers/code/__DEFINES/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_clans/clan.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/coffin.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/bloodsucker.dm
  tgstation.dme
Labels: none

updates and nerfs drinking mindless blood
  code/__DEFINES/~~bubber_defines/bloodsuckers.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/feed.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/life.dm
Labels: none

changes paths to what fulp has and brings us more up to date
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/vassal/vassal_fold.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/veil.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/crypt.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/objects.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_types/ex_vassal.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_types/revenge_vassal.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/procs.dm
Labels: none

Comment, nerf of tesla power
  code/__DEFINES/_flags.dm
  code/datums/wires/particle_accelerator.dm
  code/modules/power/tesla/energy_ball.dm
Labels: none

replacement
  icons/mob/simple/slimes.dmi
  icons/obj/science/slimecrossing.dmi
Labels: Sprites

CI fix
  icons/mob/simple/slimes.dmi
Labels: Sprites

oop II
  modular_zubbers/icons/mob/body_markings/markings.dmi
Labels: Sprites

fixes admin give rank & malkavian ramblings
  modular_zubbers/code/__DEFINES/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_clans/clan.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_clans/clan_malkavian.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/coffin.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/frenzy.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/life.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/sol.dm
  tgstation.dme
Labels: none

temp test flag
  modular_zubbers/code/modules/antagonists/bloodsucker/code/defines.dm
Labels: none

hopefully fixes frenzy looping and malkavian say linter
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_clans/clan_malkavian.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/life.dm
Labels: none

makes level 4 become snobbish, and increases the level stockpile level to 2
  code/__DEFINES/~~bubber_defines/bloodsuckers.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_clans/clan.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/feed.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/coffin.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/frenzy.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/defines.dm
  tgstation.dme
Labels: none

Let's fix the formatting
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_clans/clan.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/frenzy.dm
Labels: none

Walance: Reverts the level stockpiling prevention and sets the required blood to 20%
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/defines.dm
Labels: none

Creates a silicon flavor text config flag
  code/__DEFINES/~~bubber_defines/jobs.dm
  code/controllers/subsystem/job.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/brain/posibrain.dm
  modular_skyrat/modules/title_screen/code/new_player.dm
  modular_zubbers/code/controllers/configuration/bubber_config_entries.dm
  tgstation.dme
Labels: none

Reverts this because it doesn't work in the first place
  modular_skyrat/modules/title_screen/code/new_player.dm
Labels: none

It technically works but I hate it
  modular_skyrat/modules/title_screen/code/new_player.dm
Labels: none

ES told me to do this
  code/modules/uplink/uplink_items/device_tools.dm
Labels: none

kill people with a rock (#837)
  modular_zubbers/modules/stone/code/stone.dm
Labels: none

Update device_tools.dm
  code/modules/uplink/uplink_items/device_tools.dm
Labels: none

Automatic changelog for PR #837 [ci skip]
  html/changelogs/AutoChangeLog-pr-837.yml
Labels: none

Update reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
Labels: none

Update reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
Labels: none

Restores TG wall camera sprites (#846)
  modular_skyrat/modules/aesthetics/camera/code/camera.dm
Labels: none
