Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Mod vending like skyrat
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/vending/vending.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
  tgstation.dme
Labels: none

Revert "Merge branch 'ilovefnaf' of https://github.com/fnaffan1987harharhar/Bubberstation into ilovefnaf"
  modular_zubbers/code/modules/clothing/suits/armor.dm
Labels: none

Update armor.dm
  modular_zubbers/code/modules/clothing/suits/armor.dm
Labels: none

Update vending.dm
  modular_zubbers/code/modules/vending/vending.dm
Labels: none

bring the other thing aboard why not
  modular_zubbers/code/modules/vending/vending.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
Labels: none

Update vending.dm
  modular_zubbers/code/modules/vending/vending.dm
Labels: none

Update vending.dm
  modular_zubbers/code/modules/vending/vending.dm
Labels: none

Update modular_zubbers/code/modules/vending/wardrobe.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
Labels: none

Update wardrobe.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
Labels: none

Revert "Merge remote-tracking branch 'upstream/master' into ilovefnaf"
  .github/CODEOWNERS
  README.md
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_ntrep_office.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_ntrep_office.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_ntrep_office.dmm
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/datums/ai_laws/laws_station_sided.dm
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  config/config.txt
  config/game_options.txt
  config/maps.txt
  config/skyrat/skyrat_config.txt
  html/changelogs/AutoChangeLog-pr-6.yml
  modular_skyrat/modules/ashwalkers/code/species/Ashwalkers.dm
  modular_skyrat/modules/veteran_players/code/veteran_players.dm
  modular_zubbers/modules/Dynamic/MidroundRulesets.dm
Labels: Map Modification

Update area.dm
  modular_zubbers/maps/biodome/area.dm
Labels: none

Update area.dm
  modular_zubbers/maps/biodome/area.dm
Labels: none

Update area.dm
  modular_zubbers/maps/biodome/area.dm
Labels: none

Update area.dm
  modular_zubbers/maps/biodome/area.dm
Labels: none

Update wardrobe.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
Labels: none

Update vending.dm
  modular_zubbers/code/modules/vending/vending.dm
Labels: none

Update alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
Labels: none

Update modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/clothing/suits/armor.dm
Labels: none

Update modular_zubbers/modules/clothing/head/helmet.dm
  modular_zubbers/modules/clothing/head/helmet.dm
Labels: none

Update modular_zubbers/code/modules/vending/wardrobe.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
Labels: none

[EARLY MIRROR] Holiday Supermatter (#842)
  code/game/objects/effects/countdown.dm
  code/modules/power/supermatter/supermatter.dm
  icons/obj/machines/engine/supermatter.dmi
  modular_zubbers/modules/seasons/christmas/code/supermatter.dm
  modular_zubbers/modules/seasons/christmas/icons/supermatter.dmi
  tgstation.dme
Labels: Sprites

it works in tgui
  .vscode/settings.json
  modular_zubbers/code/modules/mob/living/living_say.dm
  modular_zubbers/master_files/code/modules/client/preferences/voice_chime.dm
  modular_zubbers/modules/code/voice_datums.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/voice_chime.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/voice_chime.tsx
Labels: none

modularization
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_zubbers/code/modules/clothing_reskins/redsec.dm
  tgstation.dme
Labels: none

naming oversight
  modular_zubbers/code/modules/clothing_reskins/redsec.dm
Labels: none

Removes the 100% energy reflect chance from Marked One armor and the 25% block chance from the Marked One sword because my attacks got blocked once. (#839)
  modular_zubbers/modules/gladiator/code/game/objects/items/gladiator_items.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #839 [ci skip]
  html/changelogs/AutoChangeLog-pr-839.yml
Labels: none

Feedback-based adjustments
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/carwo.dm
Labels: none

bubber splash CSS
  config/skyrat/bubber_html.txt
  modular_skyrat/modules/title_screen/code/new_player.dm
  modular_skyrat/modules/title_screen/code/title_screen_subsystem.dm
  modular_zubbers/interface/fonts/Ubuntu-Medium.ttf
  modular_zubbers/modules/title_screen/code/title_screen_html.dm
  modular_zubbers/modules/title_screen/code/title_screen_subsystem.dm
  modular_zubbers/modules/title_screen/icons/bubber_title_screen.png
  tgstation.dme
Labels: none

dump eet
  html/changelogs/AutoChangeLog-pr-795.yml
  html/changelogs/AutoChangeLog-pr-803.yml
  html/changelogs/AutoChangeLog-pr-830.yml
  html/changelogs/AutoChangeLog-pr-836.yml
  html/changelogs/AutoChangeLog-pr-839.yml
  html/changelogs/archive/2023-12.yml
Labels: none

Changelog 12/14/2023 (#850)
  html/changelogs/AutoChangeLog-pr-795.yml
  html/changelogs/AutoChangeLog-pr-803.yml
  html/changelogs/AutoChangeLog-pr-830.yml
  html/changelogs/AutoChangeLog-pr-836.yml
  html/changelogs/AutoChangeLog-pr-839.yml
  html/changelogs/archive/2023-12.yml
Labels: none

IT'S FINALLY DONE
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_zubbers/code/modules/client/nsfw_flavor_text/flavor_text.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ExaminePanel.js
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/species_features.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/nsfw_flavor_text.tsx
  tgui/webpack.config.js
Labels: none

Oops
  tgui/webpack.config.js
Labels: none

Small adjustments to the sorting. removes some unneeded code
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/species_features.tsx
  tgui/webpack.config.js
Labels: none

Code cleanup
  modular_zubbers/code/controllers/configuration/entries/job_estimation.dm
  modular_zubbers/code/modules/client/ready_job/preferences.dm
  modular_zubbers/code/modules/job_estimation/code/dead.dm
  tgstation.dme
Labels: none

Clarifies the job readying description
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/ready_job.tsx
Labels: none

Tries to fix my regex so it's compatible with the new beta
  code/__DEFINES/~~bubber_defines/misc.dm
Labels: none

Thanks Mothblocks!
  code/__DEFINES/~~bubber_defines/misc.dm
Labels: none

Add those bubber edit comments
  tgui/packages/tgui/interfaces/ExaminePanel.js
Labels: none

Looks like this override works :)
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_zubbers/modules/examine/examine_tgui.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ExaminePanel.js
Labels: none

Add that suggestion I suppose
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
