Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

forgot hug
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

lets do this so people don't whine
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

eh lets re-add this
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

Adds more security maint areas, improves some other areas
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

oops oops
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

drugs
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/piratefort.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/smugglies.dmm
  code/__DEFINES/~~bubber_defines/reagents.dm
  code/modules/reagents/chemistry/holder.dm
  modular_skyrat/master_files/code/game/objects/items/storage/backpack.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_trash.dm
  modular_zubbers/master_files/code/modules/reagents/chemistry/recipes.dm
  modular_zubbers/modules/morenarcotics/code/hydroponics/cocoleaves.dm
  modular_zubbers/modules/morenarcotics/code/hydroponics/opiumpoppy.dm
  modular_zubbers/modules/morenarcotics/code/items/bong.dm
  modular_zubbers/modules/morenarcotics/code/items/bongable.dm
  modular_zubbers/modules/morenarcotics/code/items/bongable/thc.dm
  modular_zubbers/modules/morenarcotics/code/items/brick.dm
  modular_zubbers/modules/morenarcotics/code/items/bricks/cocaine.dm
  modular_zubbers/modules/morenarcotics/code/items/bricks/heroin.dm
  modular_zubbers/modules/morenarcotics/code/items/bricks/thc.dm
  modular_zubbers/modules/morenarcotics/code/items/crackpipe.dm
  modular_zubbers/modules/morenarcotics/code/items/smokable.dm
  modular_zubbers/modules/morenarcotics/code/items/smokable/blacktar.dm
  modular_zubbers/modules/morenarcotics/code/items/smokable/crack.dm
  modular_zubbers/modules/morenarcotics/code/items/smokable/meth.dm
  modular_zubbers/modules/morenarcotics/code/items/snortable.dm
  modular_zubbers/modules/morenarcotics/code/items/snortable/cocaine.dm
  modular_zubbers/modules/morenarcotics/code/items/snortable/heroin.dm
  modular_zubbers/modules/morenarcotics/code/items/vapecarts.dm
  modular_zubbers/modules/morenarcotics/code/reagents/cocaine.dm
  modular_zubbers/modules/morenarcotics/code/reagents/glass_styles/lean.dm
  modular_zubbers/modules/morenarcotics/code/reagents/lean.dm
  modular_zubbers/modules/morenarcotics/code/reagents/meth.dm
  modular_zubbers/modules/morenarcotics/code/reagents/opium.dm
  modular_zubbers/modules/morenarcotics/code/reagents/pcp.dm
  modular_zubbers/modules/morenarcotics/code/reagents/quaalude.dm
  modular_zubbers/modules/morenarcotics/code/reagents/thc.dm
  modular_zubbers/modules/morenarcotics/icons/bong.dmi
  modular_zubbers/modules/morenarcotics/icons/crack.dmi
  modular_zubbers/modules/morenarcotics/icons/lefthand.dmi
  modular_zubbers/modules/morenarcotics/icons/mask.dmi
  modular_zubbers/modules/morenarcotics/icons/righthand.dmi
  tgstation.dme
Labels: Map Modification, Sprites

adds a whole bunch of detail
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

oops
  modular_zubbers/modules/morenarcotics/code/reagents/lean.dm
Labels: none

adds missing ion rifle, adds security n-spect scanners
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

adds more detail
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes brig pipes, fixes chem lighting
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

modular test
  code/datums/brain_damage/severe.dm
  code/game/objects/items/plushes.dm
  modular_zubbers/code/datums/Items/plushes.dm
  modular_zubbers/code/datums/__DEFINES/traits.dm
  modular_zubbers/code/datums/brain_damage/severe.dm
  modular_zubbers/code/traits/negative.dm
  tgstation.dme
Labels: none

:3
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: none

fixes a typo and adds lidopaine
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_chems.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_diveworm.dm
Labels: none

ticks biogen file (#493)
  tgstation.dme
Labels: none

Cyborg-Reverse-Nerf (#458)
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/projectiles/ammunition/energy/plasma.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: none

Revert "Cyborg-Reverse-Nerf (#458)"
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/projectiles/ammunition/energy/plasma.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: none

make it build, disables the elitist veteran garbo
  code/_onclick/hud/screen_objects.dm
  code/modules/jobs/job_types/head_of_security.dm
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_common.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_trash.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_uncommon.dm
  modular_zubbers/maps/biodome/turfs.dm
Labels: none

updatepath
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/biodome/modules/cage_4_spider.dmm
Labels: Map Modification

fix various CI errors. (#478)
  code/__HELPERS/maths.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  modular_zubbers/icons/obj/machines/thermoelectric.dmi
  modular_zubbers/modules/TEG/circulator.dm
  modular_zubbers/modules/TEG/generator.dm
  modular_zubbers/modules/TEG/icons/obj/machines/thermoelectric.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/ThermalGenerator.js
Labels: Sprites

Balance change around cogging APC's
  code/modules/power/apc/apc_main.dm
Labels: none

Power per cog increase
  modular_skyrat/modules/clock_cult/code/items/integration_cog.dm
Labels: none

Cogging changes
  code/modules/power/apc/apc_main.dm
  modular_skyrat/modules/clock_cult/code/items/integration_cog.dm
Labels: none

Reverts unintentional changes.
  code/modules/power/apc/apc_main.dm
Labels: none

Removes the pax injector.
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

fixes a missing APC
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Removes disabler, re-adds peace hypo
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

Neurine + Holywater cures magic traumas
  code/modules/surgery/advanced/lobotomy.dm
Labels: none

Air alarms now heat if they can (they ofc are weaker than heaters)
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  modular_zubbers/code/game/machinery/doors/firedoor.dm
  modular_zubbers/code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  modular_zubbers/icons/obj/doors/doorfireglass.dmi
Labels: Sprites

Update _air_alarm.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Update lobotomy.dm
  code/modules/surgery/advanced/lobotomy.dm
Labels: none

Illegal Borgs are now Hard
  code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Labels: none

Nerfs Fingerprints
  code/modules/detectivework/scanner.dm
  code/modules/forensics/_forensics.dm
  modular_zubbers/code/modules/forensics/_forensics.dm
  tgstation.dme
Labels: none

(PLEASE REVIEW BEFORE UPDATING TESTMERGE)
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
  modular_zubbers/icons/obj/map_markers.dmi
  tgstation.dme
Labels: Map Modification, Sprites

Remove Haloperidol from Borgs
  code/game/objects/items/robot/items/hypo.dm
Labels: none

maybe NOW I can sleep
  code/game/objects/items/plushes.dm
Labels: none

Revert "maybe NOW I can sleep"
  code/game/objects/items/plushes.dm
Labels: none

I think that fixes the code compliance
  code/game/objects/items/robot/items/hypo.dm
Labels: none

monophobia plushies
  code/datums/brain_damage/severe.dm
  code/game/objects/items/plushes.dm
  modular_zubbers/code/__DEFINES/traits.dm
  modular_zubbers/code/game/Items/plushes.dm
  modular_zubbers/code/game/brain_damage/severe.dm
  modular_zubbers/code/game/traits/negative.dm
  tgstation.dme
Labels: none

Fixed syntax on bubberedit comment
  code/game/objects/items/robot/items/hypo.dm
Labels: none
