Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[Modular] Nerfs pirate cheese (stop destroying the consoles) (#22147)
  modular_skyrat/master_files/code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  tgstation.dme
Labels: none

[MIRROR] Removed unnecessary/incorrectly placed space tiles on multiple ruins maps [MDB IGNORE] (#22738)
  _maps/RandomRuins/SpaceRuins/DJstation/kitchen_3.dmm
  _maps/RandomRuins/SpaceRuins/allamericandiner.dmm
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/RandomRuins/SpaceRuins/mimesvsclowns.dmm
  _maps/RandomRuins/SpaceRuins/phonebooth.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomRuins/SpaceRuins/the_faceoff.dmm
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/shuttles/emergency_fish.dmm
Labels: Map Modification

[MIRROR] Adds a negative station trait: Vending products shortage. [MDB IGNORE] (#22746)
  code/__DEFINES/traits.dm
  code/datums/station_traits/negative_traits.dm
  code/modules/vending/_vending.dm
Labels: none

Automatic changelog for PR #22746 [ci skip]
  html/changelogs/AutoChangeLog-pr-22746.yml
Labels: none

[MIRROR] Makes transparent curtains not block emissives [MDB IGNORE] (#22742)
  code/game/objects/structures/watercloset.dm
Labels: none

Automatic changelog for PR #22147 [ci skip]
  html/changelogs/AutoChangeLog-pr-22147.yml
Labels: none

Automatic changelog for PR #22738 [ci skip]
  html/changelogs/AutoChangeLog-pr-22738.yml
Labels: none

[MIRROR] Gives `flick_visual` `MOUSE_OPACITY_TRANSPARENT` [MDB IGNORE] (#22747)
  code/__HELPERS/game.dm
Labels: none

Automatic changelog for PR #22742 [ci skip]
  html/changelogs/AutoChangeLog-pr-22742.yml
Labels: none

[FIX] Synths now have a way to remove disgust (#22713)
  modular_skyrat/modules/synths/code/reagents/reagents.dm
Labels: none

Automatic changelog for PR #22744 [ci skip]
  html/changelogs/AutoChangeLog-pr-22744.yml
Labels: none

Automatic changelog for PR #22713 [ci skip]
  html/changelogs/AutoChangeLog-pr-22713.yml
Labels: none

Automatic changelog for PR #22747 [ci skip]
  html/changelogs/AutoChangeLog-pr-22747.yml
Labels: none

[MIRROR] Adds cliffs to icebox [MDB IGNORE] (#22744)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/__DEFINES/dcs/signals/signals_turf.dm
  code/__DEFINES/icon_smoothing.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/movement/cliff_falling.dm
  code/controllers/subsystem/throwing.dm
  code/datums/elements/cliff_walker.dm
  code/game/objects/structures/fake_stairs.dm
  code/game/turfs/open/cliff.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spider.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  icons/turf/cliff/cliff.dmi
  icons/turf/cliff/icerock_cliff.dmi
  tgstation.dme
Labels: Map Modification, Sprites

[MIRROR] Fix a to chat runtime with stoves [MDB IGNORE] (#22758)
  code/modules/food_and_drinks/machinery/stove_component.dm
Labels: none

[MIRROR] Puts a cap to the amount of stickers that can be sticked to an atom. [MDB IGNORE] (#22752)
  code/__DEFINES/traits.dm
  code/datums/components/attached_sticker.dm
  code/datums/elements/sticker.dm
Labels: none

Automatic changelog for PR #22757 [ci skip]
  html/changelogs/AutoChangeLog-pr-22757.yml
Labels: none

Automatic changelog for PR #22753 [ci skip]
  html/changelogs/AutoChangeLog-pr-22753.yml
Labels: none

[MIRROR] Fixes staff of lava working on space tiles [MDB IGNORE] (#22757)
  code/modules/mining/lavaland/megafauna_loot.dm
Labels: none

Automatic changelog for PR #22752 [ci skip]
  html/changelogs/AutoChangeLog-pr-22752.yml
Labels: none

[MIRROR] Fixing the greyscale modify menu not sanitizing inputs. [MDB IGNORE] (#22756)
  code/modules/admin/greyscale_modify_menu.dm
  code/modules/admin/view_variables/topic_basic.dm
Labels: none

Fix escape menu items (#22753)
  modular_skyrat/modules/escape_menu/code/escape_menu_skyrat.dm
Labels: none

Automatic changelog for PR #22756 [ci skip]
  html/changelogs/AutoChangeLog-pr-22756.yml
Labels: none

[MIRROR] [NO GBP] fixes the logic for mob size-related maptext height. [MDB IGNORE] (#22755)
  code/modules/mob/living/living_update_icons.dm
Labels: none

[MIRROR] Piggyback rides no longer permanently remove your density [MDB IGNORE] (#22754)
  code/datums/components/riding/riding_mob.dm
Labels: none

Automatic changelog for PR #22754 [ci skip]
  html/changelogs/AutoChangeLog-pr-22754.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-22147.yml
  html/changelogs/AutoChangeLog-pr-22713.yml
  html/changelogs/AutoChangeLog-pr-22736.yml
  html/changelogs/AutoChangeLog-pr-22737.yml
  html/changelogs/AutoChangeLog-pr-22738.yml
  html/changelogs/AutoChangeLog-pr-22742.yml
  html/changelogs/AutoChangeLog-pr-22744.yml
  html/changelogs/AutoChangeLog-pr-22746.yml
  html/changelogs/AutoChangeLog-pr-22747.yml
  html/changelogs/archive/2023-07.yml
Labels: none

Automatic changelog for PR #22762 [ci skip]
  html/changelogs/AutoChangeLog-pr-22762.yml
Labels: none

[MIRROR] convert the bear to a basic mobster [MDB IGNORE] (#22751)
  _maps/RandomRuins/SpaceRuins/skyrat/prisonshuttle.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/Basketball/soviet_bear.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  _maps/shuttles/hunter_russian.dmm
  code/__DEFINES/ai.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/climb_tree.dm
  code/datums/ai/basic_mobs/basic_subtrees/climb_tree.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/datums/components/tree_climber.dm
  code/datums/memory/_memory.dm
  code/game/objects/items/bear_armor.dm
  code/modules/events/shuttle_loan/shuttle_loan_datum.dm
  code/modules/events/vent_clog.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/mob/living/basic/space_fauna/bear/_bear.dm
  code/modules/mob/living/basic/space_fauna/bear/bear_ai_behavior.dm
  code/modules/mob/living/basic/space_fauna/bear/bear_ai_subtree.dm
  code/modules/mob/living/living.dm
  code/modules/mob/transform_procs.dm
  code/modules/research/experimentor.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/shuttle/special.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_skyrat/modules/mapping/voidraptor/code/mob.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/77141_bears.txt
Labels: Map Modification

Automatic changelog for PR #22760 [ci skip]
  html/changelogs/AutoChangeLog-pr-22760.yml
Labels: none

Automatic changelog for PR #22751 [ci skip]
  html/changelogs/AutoChangeLog-pr-22751.yml
Labels: none

[MISSED MIRROR] make the mushroom a basic monster (#76570) (#22760)
  code/datums/memory/_memory.dm
  code/modules/events/vent_clog.dm
  code/modules/hydroponics/unique_plant_genes.dm
  code/modules/mob/living/basic/space_fauna/mushroom.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/mushroom.dm
  code/modules/mob/transform_procs.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: none

[MIRROR] Removed tails inherit their color [MDB IGNORE] (#22761)
  code/modules/mob/living/basic/space_fauna/cat_surgeon.dm
  code/modules/surgery/organs/external/_external_organ.dm
  code/modules/surgery/organs/external/tails.dm
Labels: none

[MIRROR] fixes revolvers losing ammo capacity when you load in ammo [MDB IGNORE] (#22762)
  code/modules/projectiles/guns/ballistic.dm
Labels: none

Automatic changelog for PR #22761 [ci skip]
  html/changelogs/AutoChangeLog-pr-22761.yml
Labels: none

Automatic changelog for PR #22758 [ci skip]
  html/changelogs/AutoChangeLog-pr-22758.yml
Labels: none

[MODULAR] Fixes custom tongues not getting the right food preferences/hemophage abilities (#22664)
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/organs/code/organs.dm
  modular_skyrat/modules/organs/code/tongue.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #22664 [ci skip]
  html/changelogs/AutoChangeLog-pr-22664.yml
Labels: none

once more, as a joke - re-ports the proto-kinetic glaive (#22626)
  code/game/objects/items.dm
  modular_skyrat/master_files/icons/mob/64x64_lefthand.dmi
  modular_skyrat/master_files/icons/mob/64x64_righthand.dmi
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/obj/kinetic_glaive.dmi
  modular_skyrat/modules/mining_vendor_additions/code/order_mining.dm
Labels: Sprites

[Modular] GAGS Version of the Flannel Shirt (#22711)
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/suit.dmi
  modular_skyrat/modules/GAGS/json_configs/flannel/flannel.json
  modular_skyrat/modules/GAGS/json_configs/flannel/flannel_worn.json
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
