Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

wee
  modular_skyrat/modules/blueshield/code/modsuit/mod_theme.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_type.dm
  modular_zubbers/code/datums/armor_overrides.dm
  tgstation.dme
Labels: none

Update mod_type.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_type.dm
Labels: none

Update maps.txt
  config/maps.txt
Labels: none

balance edits
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_type.dm
  modular_zubbers/code/datums/armor_overrides.dm
Labels: none

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

Comments out the signaller
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
Labels: none

sprites updated and should work ingame
  modular_zubbers/icons/donator/idmaco.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: Sprites

sprites done
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

sprites done again, last time
  modular_zubbers/icons/donator/idmaco.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
Labels: Sprites

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

Update modular_skyrat/modules/blueshield/code/modsuit/mod_theme.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_theme.dm
Labels: none

Update id_cards.dm
  code/__DEFINES/id_cards.dm
Labels: none

Update modular_zubbers/code/datums/armor_overrides.dm
  modular_zubbers/code/datums/armor_overrides.dm
Labels: none

Update modular_zubbers/code/datums/armor_overrides.dm
  modular_zubbers/code/datums/armor_overrides.dm
Labels: none

Added
  code/game/machinery/computer/crew.dm
  code/modules/clothing/under/_under.dm
  modular_zubbers/code/modules/clothing/under/_under.dm
  tgstation.dme
Labels: none

Becoming a Traitor/ninja is now an Offer, Ninja is now a crew antag
  modular_zubbers/modules/pda_antagonist/ninja.dm
  modular_zubbers/modules/pda_antagonist/pda.dm
  tgstation.dme
Labels: none

Freedom Crate
  modular_zubbers/code/modules/cargo/packs/contraband.dm
  tgstation.dme
Labels: none

Blueshield Part II: The MOD suit awakening (+ buffs security modsuit armor) (#771)
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_theme.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_type.dm
  modular_zubbers/code/datums/armor_overrides.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #771 [ci skip]
  html/changelogs/AutoChangeLog-pr-771.yml
Labels: none

Shaking and crying
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
  modular_zubbers/modules/borgs/code/robot_defines.dm
  modular_zubbers/modules/borgs/code/robot_model.dm
  modular_zubbers/modules/borgs/code/robot_upgrade.dm
  modular_zubbers/modules/borgs/sprites/tallrobot_bluesec.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_cc.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_syndie.dmi
  tgstation.dme
Labels: Sprites

oooh-oh
  modular_zubbers/modules/borgs/code/robot_items.dm
  tgstation.dme
Labels: none

aaaaa
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

You can't believe how insane I am rn
  modular_zubbers/modules/borgs/sprites/raptor.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_eng.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_jani.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_med.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_mine.dmi
Labels: Sprites

Okay this should work
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_zubbers/modules/borgs/code/robot_model.dm
  modular_zubbers/modules/borgs/sprites/raptor.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_sec.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_serv.dmi
Labels: Sprites

Reverts the 20% damage on some ammos
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/pistol.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/ammo.dm
Labels: none

multi-step
  modular_zubbers/modules/headrev_convert_head/code/head_convert_device.dm
Labels: none

prod time values
  modular_zubbers/modules/headrev_convert_head/code/head_convert_device.dm
Labels: none

update readme
  modular_zubbers/modules/headrev_convert_head/readme.md
Labels: none

Adds new disabler sounds from Daedalus
  modular_zubbers/code/modules/projectiles/ammunition/energy/stun.dm
  modular_zubbers/code/modules/projectiles/guns/energy/stun.dm
  modular_zubbers/code/modules/projectiles/projectile/beams.dm
  modular_zubbers/icons/obj/projectiles.dmi
  modular_zubbers/icons/obj/weapons/guns/projectiles.dmi
  modular_zubbers/sound/weapons/sparks6.ogg
  modular_zubbers/sound/weapons/taser.ogg
  tgstation.dme
Labels: Sprites

wee
  html/changelogs/AutoChangeLog-pr-741.yml
  html/changelogs/AutoChangeLog-pr-771.yml
  html/changelogs/archive/2023-11.yml
Labels: none

changelog 11 / 27 / 2023 (#780)
  html/changelogs/AutoChangeLog-pr-741.yml
  html/changelogs/AutoChangeLog-pr-771.yml
  html/changelogs/archive/2023-11.yml
Labels: none

this will break linters
  tgstation.dme
Labels: none

[MODULAR] Refactors (hopefully) all borg modular changes into one module, adds raptor borgs (#777)
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_zubbers/code/modules/altborgs/code/robot_model.dm
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
  modular_zubbers/modules/borgs/code/robot_defines.dm
  modular_zubbers/modules/borgs/code/robot_items.dm
  modular_zubbers/modules/borgs/code/robot_model.dm
  modular_zubbers/modules/borgs/code/robot_upgrade.dm
  modular_zubbers/modules/borgs/sprites/tallrobot_bluesec.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_cc.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_eng.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_jani.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_med.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_mine.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_sec.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_serv.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_syndie.dmi
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #777 [ci skip]
  html/changelogs/AutoChangeLog-pr-777.yml
Labels: none

+
  modular_zubbers/icons/mob/body_markings/markings.dmi
  modular_zubbers/master_files/code/modules/client/preferences/voice_chime.dm
  modular_zubbers/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/sound/voices/info.txt
  modular_zubbers/sound/voices/speak_1.ogg
  modular_zubbers/sound/voices/speak_1_ask.ogg
  modular_zubbers/sound/voices/speak_1_exclaim.ogg
  modular_zubbers/sound/voices/speak_2.ogg
  modular_zubbers/sound/voices/speak_2_ask.ogg
  modular_zubbers/sound/voices/speak_2_exclaim.ogg
  tgstation.dme
Labels: Sprites

Update brainwashing.dm
  code/modules/surgery/advanced/brainwashing.dm
Labels: none

Update code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/brainwashing.dm
Labels: none

Update sol_defense.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none

Update sol_defense.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none

Update idmaco.dmi
  modular_zubbers/icons/donator/idmaco.dmi
Labels: Sprites
