Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Edit, Sprites, Code, Administration, Mapping, Requires Config Change, Dependencies, DME Edit, Javascript, Sound, SQL, TGUI, Github, Tools, Image

fiksed
  code/game/machinery/computer/communications.dm
Labels: Code

Skyrat jukebox code cleanup (#2762)
  _maps/map_files/biodome/biodome.dmm
  _maps/shuttles/zubbers/emergency_vortex.dmm
  code/__DEFINES/sound.dm
  code/datums/components/jukebox.dm
  code/game/machinery/dance_machine.dm
  code/modules/mod/modules/modules_maint.dm
  config/jukebox_music/README.txt
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/jukebox/code/dance_machine.dm
  modular_skyrat/modules/jukebox/code/jukebox_subsystem.dm
  modular_skyrat/modules/jukebox/code/ravemod.dm
  modular_skyrat/modules/jukebox/icons/stationobjs.dmi
  modular_skyrat/modules/jukebox/readme.md
  tgstation.dme
  tools/UpdatePaths/Scripts_Bubber/2762_jukebox_repath.txt
Labels: Map Edit, Sprites, Code, Requires Config Change, DME Edit, Tools

Automatic changelog for PR #2762 [ci skip]
  html/changelogs/AutoChangeLog-pr-2762.yml
Labels: none

sync to tg
  code/__DEFINES/chat.dm
  tgui/packages/tgui-panel/chat/constants.ts
Labels: Code, TGUI

no checks helper
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

Added hair_big.dmi (with Edgerunner hair style)
  modular_zubbers/icons/customization/hair_big.dmi
Labels: Sprites

Add Edgerunner hairstyle
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Code

new damage feedback for synths
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
Labels: Code

fuck off that's not even an active bug
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
Labels: Code

Nukeops + Delta AI
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/nuke_ops.dm
Labels: Code

[BubberLite] Enables Nukeops + Delta AI (#2769)
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/nuke_ops.dm
Labels: Code

Consistent vendors in departmental security offices (#2760)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/moonstation/moonstation.dmm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Map Edit, Code

Automatic changelog for PR #2760 [ci skip]
  html/changelogs/AutoChangeLog-pr-2760.yml
Labels: none

Adds Edgerunner hair, a mohawk/quiff style from MonkeStation (#2768)
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/icons/customization/hair_big.dmi
Labels: Sprites, Code

Adds blood cult and rev to storyteller
  modular_zubbers/code/modules/storyteller/event_defines/crewset/bloodcult.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/revolution.dm
  tgstation.dme
Labels: Code, DME Edit

Automatic changelog for PR #2768 [ci skip]
  html/changelogs/AutoChangeLog-pr-2768.yml
Labels: none

Add no checks helper to kilo telecomms air alarm (#2767)
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

Automatic changelog for PR #2767 [ci skip]
  html/changelogs/AutoChangeLog-pr-2767.yml
Labels: none

Remove backup calling
  modular_zubbers/code/game/Items/sec_hailer.dm
Labels: Code

Additional rat-sized plushie because the Head of Security once plush-shamed me in the prison shower-room (#2764)
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Sprites, Code

Bubberstation automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2760.yml
  html/changelogs/AutoChangeLog-pr-2762.yml
  html/changelogs/AutoChangeLog-pr-2767.yml
  html/changelogs/AutoChangeLog-pr-2768.yml
  html/changelogs/archive/2024-12.yml
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: DME Edit

Update revolution.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/revolution.dm
Labels: Code

Reenable more antag stuff
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_zubbers/code/game/gamemodes/objectives/overrides.dm
Labels: Code

Update moonstation.dmm
  _maps/map_files/moonstation/moonstation.dmm
Labels: Map Edit

blueshield quarters thing
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

stuff
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
Labels: Code

fix
  modular_zubbers/code/modules/loadout/categories/under.dm
Labels: Code

Update biodome.dmm
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

Reenable more antag stuff (#2777)
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_zubbers/code/game/gamemodes/objectives/overrides.dm
Labels: Code

jukebox repath
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

disappear after
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
Labels: Code

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Edit:
- changed-files:
    - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
    - any-glob-to-any-file: '**/*.dmi'

# Changes to .dm files
Code:
- changed-files:
    - any-glob-to-any-file: '**/*.dm'

# Changes to admin files or specific logging files
Administration:
- changed-files:
    - any-glob-to-any-file: '**/admin/**'
    - any-glob-to-any-file: '**/logging.dm'
    - any-glob-to-any-file: '**/_logging.dm'

# Changes to datums ruins or shuttles files regardless of root
Mapping:
- changed-files:
    - any-glob-to-any-file: '**/datums/ruins/**'
    - any-glob-to-any-file: '**/datums/shuttles/**'
    - any-glob-to-any-file: '**/datums/shuttles.dm'

# Any file within the config subfolder
Requires Config Change:
- changed-files:
    - any-glob-to-any-file: 'config/**'

# Changes to dependency files
Dependencies:
- changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# When the .DME is changed
DME Edit:
- changed-files:
    - any-glob-to-any-file: './*.dme'
    - any-glob-to-any-file: '**/*.dme'

# Changes to JavaScript files
Javascript:
- changed-files:
    - any-glob-to-any-file: '**/*.js'

# Changes to a .ogg or anything in the sound folder
Sound:
- changed-files:
    - any-glob-to-any-file: '**/*.ogg'
    - any-glob-to-any-file: '**/*.wav'
    - any-glob-to-any-file: 'sound/**'

# Changes to SQL
SQL:
- changed-files:
    - any-glob-to-any-file: 'SQL/**'

# Encompasses both the tgui and the tgui-next folder
TGUI:
- changed-files:
    - any-glob-to-any-file: 'tgui/**'
    - any-glob-to-any-file: 'tgui-next/**'

# Changes to the .Github folder
Github:
- changed-files:
    - any-glob-to-any-file: '.github/**'

# Changes to the tools folder
Tools:
- changed-files:
    - any-glob-to-any-file: 'tools/**'

# Changes to image files
Image:
- changed-files:
    - any-glob-to-any-file: '**/*.png'
    - any-glob-to-any-file: '**/*.jpg'
    - any-glob-to-any-file: '**/*.jpeg'
    - any-glob-to-any-file: '**/*.gif'
    - any-glob-to-any-file: '**/*.bmp'
    - any-glob-to-any-file: '**/*.webp'
    - any-glob-to-any-file: '**/*.svg'
