Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Two trays! Cause there was a good argument
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

oops
  code/modules/antagonists/blob/overmind.dm
Labels: none

this was a bitch to fucking test holy shit
  modular_zubbers/code/modules/mob/dead/new_player/latejoin_menu.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/JobSelection.tsx
Labels: none

lets do this instead
  modular_zubbers/code/modules/mob/dead/new_player/latejoin_menu.dm
Labels: none

The light switchening
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Removed skyratified armories, reverting them to tg standard gearsets.
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/templates/birdshot/birdshot_armory.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_armory.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_armory_middle.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_armory.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_armory.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_armory.dmm
Labels: Map Modification

I think this should work.
  _maps/skyrat/automapper/automapper_config.toml
Labels: Map Modification

Removes unecessary skyrat edits that caused the HoS Gun to be terrible.
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: none

Let's not forget the entire point of this.
  code/modules/projectiles/guns/energy/energy_gun.dm
Labels: none

Update latejoin_menu.dm
  modular_zubbers/code/modules/mob/dead/new_player/latejoin_menu.dm
Labels: none

God does not exist (prisoners will now get shot by turrets)
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: Map Modification

turrets don't burn now
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update misc.dm
  code/modules/cargo/markets/market_items/misc.dm
Labels: none

Update imports.dm
  code/modules/cargo/packs/imports.dm
Labels: none

OCD
  code/modules/cargo/packs/imports.dm
Labels: none

Allow cargo borg mail bags to put things in chutes (#512)
  modular_zubbers/modules/cargoborg/code/robot_items.dm
  tgstation.dme
Labels: none

Crew monitor sorting overhaul (#521)
  code/game/machinery/computer/crew.dm
  modular_zubbers/code/game/machinery/computer/crew.dm
  tgstation.dme
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.js
Labels: none

Gavla`s donator plush item (#525)
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
  modular_zubbers/sound/misc/squeakle.ogg
Labels: Sprites

Hugboxes food germs.
  code/datums/components/food/germ_sensitive.dm
  modular_zubbers/code/datums/diseases/advance/presets.dm
Labels: none

Update germ_sensitive.dm
  code/datums/components/food/germ_sensitive.dm
Labels: none

inclusion
  tgstation.dme
Labels: none

Removes Cybersun
  code/datums/ruins/space.dm
Labels: none

Add Chaplain to heretic protected roles.
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: none

Smuggler Satchel Overhaul
  code/__DEFINES/traits.dm
  code/game/objects/items/devices/scanners/t_scanner.dm
  code/game/objects/items/storage/backpack.dm
  modular_zubbers/code/controllers/subsystem/minor_mapping.dm
  modular_zubbers/code/controllers/subsystem/traitor.dm
  modular_zubbers/code/game/objects/effects/decals/crayon.dm
  modular_zubbers/code/game/objects/items/storage/backpack.dm
  modular_zubbers/code/modules/uplink/uplink_items/badass.dm
  modular_zubbers/code/modules/uplink/uplink_items/device_tools.dm
  tgstation.dme
Labels: none

OOPS
  code/game/objects/items/devices/scanners/t_scanner.dm
  code/game/objects/items/storage/backpack.dm
Labels: none

Add chaplain to protected roles against heretic.
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
Labels: none

logic
  modular_zubbers/code/controllers/subsystem/minor_mapping.dm
  modular_zubbers/code/controllers/subsystem/traitor.dm
Labels: none

what kind of person puts a fucking /obj/effect in the uplink
  modular_zubbers/code/controllers/subsystem/traitor.dm
Labels: none

gas mix check
  modular_zubbers/code/controllers/subsystem/minor_mapping.dm
Labels: none

remember to test your shitcode
  modular_zubbers/code/controllers/subsystem/traitor.dm
Labels: none

8 tiles so satchels actually spawn, fixed up code
  modular_zubbers/code/controllers/subsystem/minor_mapping.dm
  modular_zubbers/code/controllers/subsystem/traitor.dm
  modular_zubbers/code/game/objects/items/storage/backpack.dm
Labels: none

fuck you linters
  code/game/objects/items/devices/scanners/t_scanner.dm
Labels: none

Remove Herechap, add Hereprisoner
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: none

Removes Herechap, Adds Hereprisoner
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
Labels: none

Update dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
Labels: none

Update dynamic_rulesets_roundstart.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: none

Swaps blue and amber alert sounds
  modular_skyrat/modules/alerts/sound/security_levels/amber.ogg
  modular_skyrat/modules/alerts/sound/security_levels/blue.ogg
Labels: none

it's done. I'm going to bed
  code/game/gamemodes/dynamic/dynamic.dm
  modular_zubbers/code/modules/mob/dead/new_player/latejoin_menu.dm
  modular_zubbers/modules/customization/__HELPERS/text.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/JobSelection.tsx
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
