Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

MORE KNITTING
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

More knitables
  modular_zubbers/code/modules/knitting/knitables.dm
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

a
  modular_zubbers/code/modules/knitting/knitables.dm
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

fuck
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

another attempt to make this work
  modular_zubbers/code/modules/knitting/knitables.dm
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

fixes a thing
  modular_zubbers/code/modules/knitting/knitables.dm
Labels: none

PROGRESS
  modular_zubbers/code/modules/knitting/knitables.dm
  modular_zubbers/code/modules/knitting/knitting.dm
  modular_zubbers/code/modules/knitting/knitting_skill.dm
  modular_zubbers/code/modules/knitting/previews.dmi
  tgstation.dme
Labels: Sprites

Progress 2
  modular_zubbers/code/modules/knitting/knitting.dm
  modular_zubbers/code/modules/knitting/knitting_skill.dm
Labels: none

GOD HAS BLESSED ME
  modular_zubbers/code/modules/knitting/knitables.dm
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

Adds knitting skill, breaks clothes
  modular_zubbers/code/modules/knitting/knitables.dm
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

Makes Hypovials Holdable by chembags
  code/game/objects/items/storage/bags.dm
Labels: none

comment
  code/game/objects/items/storage/bags.dm
Labels: none

Update revolver.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/revolver.dm
Labels: none

Update revolver.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/revolver.dm
Labels: none

Update security_medic.dm
  modular_zubbers/code/modules/sec_haul/code/security_medic/security_medic.dm
Labels: none

WE BALL.
  modular_zubbers/code/modules/knitting/knitables.dm
  modular_zubbers/code/modules/knitting/knitables.dmi
  modular_zubbers/code/modules/knitting/knitables_worn.dmi
  modular_zubbers/code/modules/knitting/knitting.dm
  modular_zubbers/code/modules/knitting/knitting.dmi
  modular_zubbers/code/modules/knitting/previews.dmi
Labels: Sprites

Fixes typos
  modular_zubbers/code/modules/knitting/knittables.dm
  modular_zubbers/code/modules/knitting/knittables.dmi
  modular_zubbers/code/modules/knitting/knittables_worn.dmi
  modular_zubbers/code/modules/knitting/knitting.dm
  tgstation.dme
Labels: Sprites

fixes the thing I forgot a sprite for
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

fixes beanie
  modular_zubbers/code/modules/knitting/knittables.dm
Labels: none

Adds some missing paper, fixes compile errors from merges
  modular_zubbers/code/_globalvars/lists/maintenance_loot_common.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_oddity.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_trash.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_uncommon.dm
Labels: none

Adds proper credits
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

credit I missed
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

b
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

some more crazy work
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

Missed one
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: none

patch
  code/__DEFINES/~~bubber_defines/bloodsuckers.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_clans/clan_ventrue.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/feed.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/targeted/lunge.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/targeted/mesmerize.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/tremere/dominate.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/vassal/vassal_fold.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/veil.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/crypt.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/objects.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_datum.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_types/ex_vassal.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_types/favorite_vassal.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_types/revenge_vassal.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/bloodsucker_integration.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/phobetor_trauma.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/icons/phobetor_tear.dmi
  tgstation.dme
Labels: Sprites

buh
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_vassal/vassal_datum.dm
Labels: none

Fixes some spelling errors
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: none

Restores radioblock
  code/modules/mob/living/living_say.dm
Labels: none

It is what it is.
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: none

comment
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: none

finished disposals
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

adds maint stuff
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

Update pubberstation.dmm
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

Enables borers spawning.
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
Labels: none

Minor changes to their weight.
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
Labels: none

Fixes Integration Tests maybe
  modular_zubbers/code/modules/knitting/knittables.dm
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

adds solars
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

Revert "Fixes Integration Tests maybe"
  modular_zubbers/code/modules/knitting/knittables.dm
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

Revert "Revert "Fixes Integration Tests maybe""
  modular_zubbers/code/modules/knitting/knittables.dm
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none
