Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

Automatic changelog for PR #22766 [ci skip]
  html/changelogs/AutoChangeLog-pr-22766.yml
Labels: none

[MIRROR] Arconomy: Balance Update 2023 [MDB IGNORE] (#22766)
  code/controllers/subsystem/economy.dm
  code/game/machinery/computer/accounting.dm
  code/modules/events/market_crash.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/AccountingConsole.tsx
Labels: none

Automatic changelog for PR #22780 [ci skip]
  html/changelogs/AutoChangeLog-pr-22780.yml
Labels: none

Automatic changelog for PR #22786 [ci skip]
  html/changelogs/AutoChangeLog-pr-22786.yml
Labels: none

[MIRROR] Module duplicator has cheaper costs for circuit duplication [MDB IGNORE] (#22785)
  code/modules/wiremod/core/component_printer.dm
Labels: none

Automatic changelog for PR #22781 [ci skip]
  html/changelogs/AutoChangeLog-pr-22781.yml
Labels: none

Automatic changelog for PR #22787 [ci skip]
  html/changelogs/AutoChangeLog-pr-22787.yml
Labels: none

[MIRROR] Bluespace MOD Storage can now hold bulky storage items. [MDB IGNORE] (#22783)
  code/modules/mod/modules/modules_general.dm
Labels: none

[MIRROR] Fixes bloody soles making jumpsuits that cover your feet bloody when you're wearing shoes [MDB IGNORE] (#22787)
  code/datums/components/bloodysoles.dm
Labels: none

Automatic changelog for PR #22745 [ci skip]
  html/changelogs/AutoChangeLog-pr-22745.yml
Labels: none

Automatic changelog for PR #22783 [ci skip]
  html/changelogs/AutoChangeLog-pr-22783.yml
Labels: none

Automatic changelog for PR #22785 [ci skip]
  html/changelogs/AutoChangeLog-pr-22785.yml
Labels: none

Automatic changelog for PR #22782 [ci skip]
  html/changelogs/AutoChangeLog-pr-22782.yml
Labels: none

[MIRROR] Fixes a bug with pAI leashing [MDB IGNORE] (#22782)
  code/datums/components/leash.dm
Labels: none

[MIRROR] Add leash component to pAIs that keeps them within range instead of directly teleporting them back, increases default range to max range [MDB IGNORE] (#22745)
  code/__DEFINES/dcs/signals/signals_leash.dm
  code/__DEFINES/pai.dm
  code/datums/components/leash.dm
  code/modules/pai/card.dm
  code/modules/pai/pai.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/leash.dm
  modular_skyrat/master_files/code/datums/components/leash.dm
  modular_skyrat/master_files/code/modules/pai/card.dm
  modular_skyrat/master_files/code/modules/pai/pai.dm
  tgstation.dme
Labels: none

[MIRROR] RPED can carry & install computer circuit boards and complete computer frames & general code cleanup [MDB IGNORE] (#22781)
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/modules/research/stock_parts.dm
Labels: none

Map Reset
  _maps/map_files/Basketball/beach_bums.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/debug/gateway_test.dmm
Labels: Map Modification

biodome updatepaths
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

removes BUG that causes DAMAGE to ANTAG (#403)
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Labels: none

maybe (hopefully)
  modular_zubbers/code/modules/clothing/outfits/kim.dm
  tgstation.dme
Labels: none

[Modular] Makes all techwebs generate points (#314)
  modular_zubbers/code/modules/research/techweb/_techweb.dm
Labels: none

Update cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
Labels: none

Update security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: none

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Labels: none

Update nanotrasen_consultant.dm
  modular_zubbers/code/modules/jobs/job_types/nanotrasen_consultant.dm
Labels: none

prison
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

uuuuuh maybe modular now???
  modular_zubbers/icons/mob/clothing/neck/shemagh.dmi
  modular_zubbers/icons/obj/clothing/neck/shemagh.dmi
  modular_zubbers/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_zubbers/modules/loadouts/loadout_ui/loadout_manager.dm
  modular_zubbers/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  modular_zubbers/modules/loadouts/readme.md
Labels: Sprites

Revert "Update _neck.dm"
  code/modules/clothing/neck/_neck.dm
Labels: none

Revert "ok pls be right this time"
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/neck.dmi
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
Labels: Sprites

aaaauuuuuuuugh
  .gitignore
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_zubbers/icons/mob/clothing/species/vox/shemagh.dmi
  modular_zubbers/modules/loadouts/loadout_ui/loadout_manager.dm
  modular_zubbers/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  modular_zubbers/modules/loadouts/readme.md
Labels: Sprites

Remove borer from uplink
  modular_skyrat/modules/skyrat-uplinks/code/categories/dangerous.dm
Labels: none

racism
  config/game_options.txt
Labels: none

ai core
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

medical
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

hehehehe
  _maps/map_files/PubberStation/pubberstation.dmm
Labels: Map Modification

Changes all of the blatant skyrat self insert donor items to be normal items.
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_items.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: none

HNG I JUST WANT PRETTY
  modular_zubbers/code/modules/knitting/knitables.dm
  modular_zubbers/code/modules/knitting/knitting.dm
Labels: none

It lives
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/icons/obj/clothing/suits/collared_vest.dmi
  tgstation.dme
Labels: Sprites

Clarification
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: none

hand-sprite change
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/icons/obj/clothing/suits/collared_vest.dmi
Labels: Sprites
