Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

occupancy_limit
  modular_zubbers/code/modules/mapping/limastation/shuttles.dm
Labels: none

Fixes John Bangle Donor Item (#515)
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/icons/obj/clothing/suits/collared_vest.dmi
Labels: Sprites

Re-Enables the Colorist Quirk (#513)
  code/datums/quirks/neutral_quirks/neutral_quirks.dm
Labels: none

this file is UNTICKED AND IN A COMMENT BLOCK
  code/modules/unit_tests/station_trait_tests.dm
Labels: none

virology airlock
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Map Modification

fixes some things to appease the angry man
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

biodome CI
  _maps/map_files/biodome/biodome.dmm
  modular_zubbers/icons/obj/computer.dmi
  modular_zubbers/maps/biodome/tram.dm
Labels: Map Modification, Sprites

bump to 1589
  .tgs.yml
  dependencies.sh
Labels: none

sexting
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
Labels: none

fixes all CI issues currently (#516)
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/map_files/biodome/biodome.dmm
  code/modules/unit_tests/station_trait_tests.dm
  modular_zubbers/code/modules/mapping/limastation/shuttles.dm
  modular_zubbers/icons/obj/computer.dmi
  modular_zubbers/maps/biodome/tram.dm
Labels: Map Modification, Sprites

there
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
Labels: none

Bump Version of CI to 1589 (#517)
  .tgs.yml
  dependencies.sh
Labels: none

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update tgstation.dme
  tgstation.dme
Labels: none

Makes everything work!
  modular_zubbers/code/game/machinery/computer/crew.dm
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.js
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Deletes a cable to fix linters
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

FIXED
  code/game/machinery/computer/crew.dm
  modular_zubbers/code/game/machinery/computer/crew.dm
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.js
Labels: none

makes command blue instead of poop gold
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.js
Labels: none

fixes outfit CI
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: none

imagine testing your code
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.js
Labels: none

IMAGINE TESTING YOUR CODE
  modular_zubbers/code/game/machinery/computer/crew.dm
Labels: none

fixes more outfit sanity
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: none

fixes CI
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

So Operative does not have two Ps
  modular_zubbers/maps/offstation/dauntless/ID_trims.dm
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: none

fixes
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

(hopefully) adds soul to cargo
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

more fixes
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

overhauls engineering
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update constants.ts
  tgui/packages/tgui/constants.ts
Labels: none

Update CrewConsoleBubbers.js
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.js
Labels: none

fixes CI
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
Labels: Map Modification

Update constants.ts
  tgui/packages/tgui/constants.ts
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
