Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

minor updates
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

UAUHAHHAHAH
  code/__DEFINES/~~bubber_defines/bloodsuckers.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/veil.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update true_changeling.dm
  modular_skyrat/modules/horrorform/code/true_changeling.dm
Labels: none

engage storyteller cleanup mode
  code/modules/events/anomaly/_anomaly.dm
  code/modules/events/brain_trauma.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/bureaucratic_error.dm
  code/modules/events/camerafailure.dm
  code/modules/events/carp_migration.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/disease_outbreak.dm
  code/modules/events/earthquake.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/fake_virus.dm
  code/modules/events/false_alarm.dm
  code/modules/events/gravity_generator_blackout.dm
  code/modules/events/grid_check.dm
  code/modules/events/market_crash.dm
  code/modules/events/mass_hallucination.dm
  code/modules/events/meteors/meteor_wave_events.dm
  code/modules/events/mice_migration.dm
  code/modules/events/portal_storm.dm
  code/modules/events/processor_overload.dm
  code/modules/events/radiation_storm.dm
  code/modules/events/sandstorm.dm
  code/modules/events/scrubber_overflow.dm
  code/modules/events/shuttle_catastrophe.dm
  code/modules/events/shuttle_insurance.dm
  code/modules/events/shuttle_loan/shuttle_loan_event.dm
  code/modules/events/space_vines/vine_event.dm
  code/modules/events/stray_cargo.dm
  code/modules/events/vent_clog.dm
  code/modules/events/wisdomcow.dm
  code/modules/events/wormholes.dm
  modular_zubbers/code/modules/storyteller/antagonist_event.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
Labels: none

pop scaling
  _bubber_defines/storyteller_defines.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
Labels: none

AI core fix
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Fixes a ton of issues that people were complaining about
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update tgstation.dme
  tgstation.dme
Labels: none

Update traitor.dm
  modular_zubbers/code/controllers/subsystem/traitor.dm
Labels: none

salvaged
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_zubbers/code/game/objects/items/robot/items/harm_alarm_new.dm
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
  tgstation.dme
Labels: none

Update burgerstation.dmm
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Disposals Refractor
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

adds a funny
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes up service water
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes service plumbing
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes some piping
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes missing tcomms key, station alert consoles
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Delete Changeling Code Nuke
  modular_skyrat/master_files/code/modules/antagonists/changeling/changeling.dm
Labels: none

Small Slappy [ Salt PR ] (#533)
  code/modules/cargo/markets/market_items/misc.dm
  code/modules/cargo/packs/imports.dm
Labels: none

amonugs (#448)
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/biodome/modules/cage_2_amoung.dmm
  modular_zubbers/maps/biodome/amoung.dm
  modular_zubbers/maps/biodome/amoung.dmi
  tgstation.dme
Labels: Map Modification, Sprites

Buffs post-tackle grabs because I used tackle once as a Sol Officer and it didn't work out so now I'm making a PR about it. (#510)
  code/datums/components/tackle.dm
Labels: none

Removed skyratified armories, reverting them to tg standard gearsets. (#531)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/birdshot/birdshot_armory.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_armory.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_armory_middle.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_armory.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_armory.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_armory.dmm
Labels: Map Modification

Hugboxes heresy without adding weird metagame (#519)
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
Labels: none

Swaps current blue and amber alert level sounds (#539)
  modular_skyrat/modules/alerts/sound/security_levels/amber.ogg
  modular_skyrat/modules/alerts/sound/security_levels/blue.ogg
Labels: none

quick dumb fix
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Adds a big fuck-off asteroid because why not.
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/area/areas/burgerstation.dm
  tgstation.dme
Labels: Map Modification

Update burgerstation.dmm
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update burgerstation.dmm
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes cargo shuttle (hopefully)
  _maps/burgerstation.json
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

realth
  modular_zubbers/code/modules/contractor/code/items/boxes.dm
  tgstation.dme
Labels: none

[MODULAR] contractor kit random item shuffle AWESOME PART TWO BAYBEE (#544)
  modular_zubbers/code/modules/contractor/code/items/boxes.dm
  tgstation.dme
Labels: none

Update tgstation.dme to reflect deletion
  tgstation.dme
Labels: none

Update ion_storm.dm
  code/modules/events/ion_storm.dm
Labels: none

Removes Validmov
  modular_zubbers/code/game/objects/items/ai_modules/full_lawsets.dm
Labels: none

Update full_lawsets.dm
  modular_zubbers/code/game/objects/items/ai_modules/full_lawsets.dm
Labels: none

I have gone crazy and added a voxbox in maint
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes some errors
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes linters
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

timeclock for limastation
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Modification
