Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

She pull on my commit till I merge
  modular_zubbers/code/game/objects/structures/beds_chairs/sofa.dm
  tgstation.dme
Labels: none

It works
  modular_zubbers/code/game/objects/structures/beds_chairs/sofa.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Synths can now charge from cyborg chargers (#716)
  modular_zubbers/code/modules/synths/code/bodyparts/stomach.dm
  tgstation.dme
Labels: none

the start of memes
  code/__DEFINES/~~bubber_defines/events.dm
  modular_zubbers/code/modules/ICES/Bubber_Ices_config.dm
Labels: none

make humans able to digest moth milk
  modular_zubbers/code/modules/reagents/drink_reagents.dm
Labels: none

changes
  code/__DEFINES/~skyrat_defines/events.dm
  code/__DEFINES/~~bubber_defines/events.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update Bubber_Ices_config.dm
  modular_zubbers/code/modules/ICES/Bubber_Ices_config.dm
Labels: none

Update ICES_event_config.dm
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
Labels: none

fixes broken shit
  modular_zubbers/code/modules/ICES/Bubber_Ices_config.dm
  modular_zubbers/code/modules/ICES/_ICES_DEFINES.dm
  tgstation.dme
Labels: none

guh
  code/__DEFINES/~skyrat_defines/events.dm
Labels: none

Update events.dm
  code/__DEFINES/~skyrat_defines/events.dm
Labels: none

adds cameras to dauntless
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/camera.dm
  tgstation.dme
Labels: Map Modification

THERE GOES MY HEROOO
  modular_zubbers/code/game/objects/structures/beds_chairs/sofa.dm
Labels: none

So people think it's real
  modular_zubbers/code/game/objects/structures/beds_chairs/sofa.dm
Labels: none

few less cams
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

even less cameras
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Virtual insanity
  modular_zubbers/maps/offstation/dauntless/areas.dm
  modular_zubbers/maps/offstation/dauntless/security.dm
  tgstation.dme
Labels: none

I give up
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/security.dm
  modular_zubbers/maps/offstation/dauntless/security.dm
Labels: none

Change of plans
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/security.dm
Labels: Map Modification

Update security.dm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/security.dm
Labels: none

Jyeah (fixes loadout items armour values) [NON-MODULAR]
  modular_skyrat/modules/customization/modules/clothing/hands/hands.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: none

does it right this time
  modular_skyrat/modules/customization/modules/clothing/hands/hands.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_zubbers/code/modules/clothing/hands.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  tgstation.dme
Labels: none

Adds bracer wrap overrides
  modular_zubbers/code/modules/clothing/gloves/bracers/armwraps.dm
Labels: none

forgot tgstation.dme oopsie
  tgstation.dme
Labels: none

Pilot suit not restricted anymore
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
Labels: none

Two more goobers to the pinwheel list
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: none

commit
  _maps/RandomRuins/SpaceRuins/bubberstation/Abandoned CentCom Telecomms Satellite.dmm
  _maps/RandomRuins/SpaceRuins/bubberstation/Fake Relay Station.dmm
Labels: Map Modification

Overrides floor height
  modular_zubbers/code/modules/liquids/height_floors.dm
  tgstation.dme
Labels: none

adds cameras to dauntless (#732)
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/camera.dm
  tgstation.dme
Labels: Map Modification

[Modular] Pool's closed (#737)
  modular_zubbers/code/modules/liquids/height_floors.dm
  tgstation.dme
Labels: none

Added
  modular_zubbers/code/_globalvars/lists/flavor_misc.dm
  modular_zubbers/code/datums/ai/basic_mobs/basic_subtrees/speech_subtrees.dm
  modular_zubbers/code/modules/events/wisdomcow.dm
  modular_zubbers/code/modules/mob/living/basic/farm_animals/cow/cow_wisdom.dm
  modular_zubbers/icons/mob/dril_cow.dmi
  strings/dril.txt
  tgstation.dme
Labels: Sprites

[Mostly Modular] Hypnosis Preference (#700)
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_zubbers/master_files/code/modules/client/preferences/hypnopref.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/hypno_status.tsx
Labels: none

Removes OP modules from cargo
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_modsuits.dm
Labels: none

Removes OP modules from cargo (#740)
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_modsuits.dm
Labels: none

You can now dig through sofa pillows (#727)
  modular_zubbers/code/game/objects/structures/beds_chairs/sofa.dm
  tgstation.dme
Labels: none

Added Interdyne Base Remake
  _maps/RandomRuins/IceRuins/zubbers/Fake Relay Station Snow.dmm
  _maps/RandomRuins/SpaceRuins/bubberstation/Interdyne Medical Research Facility.dmm
  code/datums/id_trim/syndicate.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
  modular_zubbers/maps/offstation/miscellaneous/mob_spawns.dm
  tgstation.dme
Labels: Map Modification

Update tgstation.dme
  tgstation.dme
Labels: none

Adds kidkirby to the goober list
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: none
