Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

adds soul to warden's office
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

More fixes + prisoner books
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

thermos QOL
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

ops
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

towels
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

updated the rules to match rules V2
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: none

syndicate fax
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

fixes missing cable
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

fixes prisoner IDs
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: none

[MODULAR] Ashwalker-friend
  modular_zubbers/code/game/objects/items/food/meatslab.dm
  modular_zubbers/code/modules/antagonists/ashwalker/ashwalker.dm
  modular_zubbers/code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  modular_zubbers/modules/ashwalkers/code/effects/ash_rituals.dm
  tgstation.dme
Labels: none

More minor changes
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Interdyne Mining Board
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/datums/computer_datums/protolathe_modifications.dm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Pokes holes into the dense rock
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

various requested changes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

removes mob spawners
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
Labels: none

Fixes biodome CI.
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

surgerycap
  code/modules/clothing/head/jobs.dm
Labels: none

Fixes biodome CI. (#523)
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

typo
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: none

Deer plush donator thing
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
  modular_zubbers/sound/misc/squeakle.ogg
Labels: Sprites

Update ID_trims.dm
  modular_zubbers/maps/offstation/dauntless/ID_trims.dm
Labels: none

Adds more lore.
  code/modules/food_and_drinks/machinery/gibber.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: none

formats per prettier
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.js
Labels: none

fixes prettier for constants
  tgui/packages/tgui/constants.ts
Labels: none

RCD nuke
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

true though
  modular_zubbers/code/game/objects/items/plushes.dm
Labels: none

some changes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

should remove Donator status restrictions
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: none

text fix
  code/modules/cargo/bounties/medical.dm
Labels: none

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Fixes NOPE
  code/__DEFINES/role_preferences.dm
  code/modules/jobs/jobs.dm
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: none

Service Borg Edits
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/modules/borg_buffs/code/robot.dm
  modular_skyrat/modules/borg_buffs/icons/items_cyborg.dmi
Labels: Sprites

Emergency oops fix
  modular_skyrat/modules/borg_buffs/code/robot.dm
Labels: none

Adds a threat level display
  modular_zubbers/code/modules/mob/dead/new_player/latejoin_menu.dm
  tgui/packages/tgui/interfaces/JobSelection.tsx
Labels: none

Hugboxes Blob
  code/__DEFINES/blob_defines.dm
  code/modules/antagonists/blob/blob_antag.dm
  code/modules/antagonists/blob/blobstrains/_blobstrain.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/mob/living/simple_animal/hostile/blob.dm
Labels: none

oops
  code/__DEFINES/blob_defines.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
