Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Adds sorting to the player list
  modular_zubbers/code/modules/mob/dead/dead.dm
Labels: none

Update modular_zubbers/code/modules/paperwork/fax.dm
  modular_zubbers/code/modules/paperwork/fax.dm
Labels: none

Maybe fixes the order?
  modular_zubbers/code/modules/mob/dead/dead.dm
Labels: none

This seems to work
  modular_zubbers/code/modules/mob/dead/dead.dm
Labels: none

AAAAA
  modular_zubbers/code/modules/food_and_drinks/icons/rocks.dmi
  modular_zubbers/code/modules/hydroponics/icons/harvest.dmi
  modular_zubbers/modules/hydroponics/code/grown/rocks.dm
  modular_zubbers/modules/hydroponics/code/vending/megaseed.dm
  modular_zubbers/modules/hydroponics/icons/growing_fruits.dmi
  modular_zubbers/modules/hydroponics/icons/harvest.dmi
  modular_zubbers/modules/hydroponics/icons/seeds.dmi
  modular_zubbers/modules/hydroponics/readme.txt
  tgstation.dme
Labels: Sprites

nice
  modular_zubbers/modules/hydroponics/icons/harvest.dmi
Labels: Sprites

Update imports.dm
  code/modules/cargo/packs/imports.dm
Labels: none

burgerstation
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update modular_zubbers/code/modules/mob/dead/dead.dm
  modular_zubbers/code/modules/mob/dead/dead.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

unticked file in idma donor (#790)
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
  tgstation.dme
Labels: none

[Modular] Adds mouse waddle (#783)
  modular_zubbers/code/modules/mob/living/basic/vermin/mouse.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #783 [ci skip]
  html/changelogs/AutoChangeLog-pr-783.yml
Labels: none

lets medipens be put into the medical bandolier
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
Labels: none

Updated sprites
  modular_zubbers/icons/donator/idmaco.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
Labels: Sprites

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

removing mishanok from the file
  modular_zubbers/icons/donator/idmaco.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: Sprites

fixes issues with the IDMA donor file, last time I swear (#794)
  modular_zubbers/icons/donator/idmaco.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: Sprites

vibe check
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  modular_zubbers/modules/customization/icons/mutant_bodyparts.dmi
  modular_zubbers/modules/customization/icons/wings.dmi
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  tgstation.dme
Labels: Sprites

creds
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: none

ok well I tried
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: none

Update modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
Labels: none

Shaking and crying
  modular_zubbers/modules/customization/icons/mutant_bodyparts.dmi
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Sprites

Update unique_plant_genes.dm
  code/modules/hydroponics/unique_plant_genes.dm
Labels: none

Update maintenance.dm
  code/game/objects/effects/spawners/random/maintenance.dm
Labels: none

IT WORKS
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

Makes a subtype for prisons
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_zubbers/code/modules/lewd_machinery/lustwish.dm
  tgstation.dme
Labels: none

wishing to die
  modular_zubbers/modules/customization/icons/wings.dmi
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Sprites

Lit cakes
  modular_zubbers/modules/modular_items/code/cake_light.dm
  tgstation.dme
Labels: none

dafs
  tgstation.dme
Labels: none

cleaning some
  modular_zubbers/modules/modular_items/code/cake_light.dm
Labels: none

It works
  icons/obj/machines/thermoelectric.dmi
  modular_zubbers/code/modules/power/circulator.dm
  modular_zubbers/code/modules/power/generator.dm
  tgstation.dme
Labels: Sprites

tweaks
  modular_zubbers/code/modules/power/circulator.dm
Labels: none

Done hopefully
  modular_zubbers/modules/customization/icons/wings.dmi
Labels: Sprites

I shall fuck
  modular_zubbers/modules/customization/icons/wings.dmi
Labels: Sprites

Its needed to work
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
