Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #22709 [ci skip]
  html/changelogs/AutoChangeLog-pr-22709.yml
Labels: none

[MIRROR] Fixes floating light on delta [MDB IGNORE] (#22716)
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Modification

Automatic changelog for PR #22704 [ci skip]
  html/changelogs/AutoChangeLog-pr-22704.yml
Labels: none

[MIRROR] A small pile of borg combat changes [MDB IGNORE] (#22704)
  code/game/machinery/computer/robot.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/robot/items/generic.dm
  code/modules/assembly/flash.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/movespeed/modifiers/mobs.dm
Labels: none

[MIRROR] fixes SM crystals dusting themselves after falling [MDB IGNORE] (#22729)
  code/datums/components/supermatter_crystal.dm
Labels: none

[MIRROR] Add a heretics sacrifice targets to the end of round report [MDB IGNORE] (#22722)
  code/modules/antagonists/heretic/heretic_antag.dm
Labels: none

[MIRROR] [NO-GBP] Warns viro of radioactive resonance absence [MDB IGNORE] (#22724)
  code/datums/station_traits/negative_traits.dm
  code/game/machinery/nebula_shielding.dm
  code/modules/paperwork/fax.dm
Labels: none

[MIRROR] Fixes a type mismatch error with phobias [MDB IGNORE] (#22730)
  code/datums/brain_damage/phobia.dm
Labels: none

Automatic changelog for PR #22722 [ci skip]
  html/changelogs/AutoChangeLog-pr-22722.yml
Labels: none

Automatic changelog for PR #22719 [ci skip]
  html/changelogs/AutoChangeLog-pr-22719.yml
Labels: none

Automatic changelog for PR #22729 [ci skip]
  html/changelogs/AutoChangeLog-pr-22729.yml
Labels: none

Automatic changelog for PR #22721 [ci skip]
  html/changelogs/AutoChangeLog-pr-22721.yml
Labels: none

[MIRROR] Photophobia quirk [MDB IGNORE] (#22721)
  code/controllers/subsystem/processing/quirks.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/quirks/negative_quirks/negative_quirks.dm
Labels: none

[MIRROR] Fixes undeleted SQL queries in `IsBanned()` [MDB IGNORE] (#22707)
  code/modules/admin/IsBanned.dm
Labels: none

Automatic changelog for PR #22730 [ci skip]
  html/changelogs/AutoChangeLog-pr-22730.yml
Labels: none

Automatic changelog for PR #22720 [ci skip]
  html/changelogs/AutoChangeLog-pr-22720.yml
Labels: none

[MIRROR] Refactors vendor tipping and adds 2 new malf modules: Remote vendor tipping, and the ability to roll around and crush anything in your path. [MDB IGNORE] (#22727)
  code/__DEFINES/crushing.dm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_attack.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/is_helpers.dm
  code/datums/ai/objects/vending_machines/vending_machine_behaviors.dm
  code/datums/components/sitcomlaughter.dm
  code/datums/components/tackle.dm
  code/datums/station_traits/negative_traits.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/game/objects/structures/crates_lockers/crates/syndicrate.dm
  code/game/objects/structures/window.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  code/modules/industrial_lift/industrial_lift.dm
  code/modules/power/apc/apc_attack.dm
  code/modules/power/lighting/light.dm
  code/modules/shuttle/shuttle.dm
  code/modules/vehicles/mecha/combat/durand.dm
  code/modules/vending/_vending.dm
  icons/mob/actions/actions_AI.dmi
  icons/testing/turf_analysis.dmi
  tgstation.dme
Labels: Sprites

[MIRROR] fixes a guillotine logging runtime [MDB IGNORE] (#22726)
  code/game/objects/structures/guillotine.dm
Labels: none

Automatic changelog for PR #22724 [ci skip]
  html/changelogs/AutoChangeLog-pr-22724.yml
Labels: none

Automatic changelog for PR #22723 [ci skip]
  html/changelogs/AutoChangeLog-pr-22723.yml
Labels: none

[MIRROR] Dog wit the butter (feat. a bunch of dog-related code improvements) [MDB IGNORE] (#22728)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_basic.dm
  code/datums/ai/basic_mobs/pet_commands/play_dead.dm
  code/datums/dog_fashion.dm
  code/game/objects/items/food/misc.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/basic/pets/dog.dm
  code/modules/mob/living/basic/pets/dog/_dog.dm
  code/modules/mob/living/basic/pets/dog/corgi.dm
  code/modules/mob/living/basic/pets/dog/dog_subtypes.dm
  code/modules/mob/living/basic/pets/dog/strippable_items.dm
  code/modules/mob/living/basic/pets/pet.dm
  code/modules/research/xenobiology/crossbreeding/_mobs.dm
  icons/mob/simple/corgi_head.dmi
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  tgstation.dme
Labels: Sprites

[MIRROR] New MOD Suit UI [MDB IGNORE] (#22718)
  code/modules/mod/mod_ui.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_medical.dm
  code/modules/mod/modules/modules_ninja.dm
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
  tgui/packages/tgui/interfaces/MODsuit.js
  tgui/packages/tgui/interfaces/MODsuit.tsx
  tgui/packages/tgui/interfaces/SolarControl.tsx
Labels: none

[MIRROR] [no gbp] Goliaths make less mess [MDB IGNORE] (#22725)
  code/__DEFINES/dcs/signals/signals_area.dm
  code/datums/components/storm_hating.dm
  code/datums/weather/weather.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath_ai.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #22725 [ci skip]
  html/changelogs/AutoChangeLog-pr-22725.yml
Labels: none

[MIRROR] flame_range and flash_range autoset fix [MDB IGNORE] (#22723)
  code/controllers/subsystem/explosions.dm
Labels: none

Automatic changelog for PR #22726 [ci skip]
  html/changelogs/AutoChangeLog-pr-22726.yml
Labels: none

Automatic changelog for PR #22727 [ci skip]
  html/changelogs/AutoChangeLog-pr-22727.yml
Labels: none

Automatic changelog for PR #22710 [ci skip]
  html/changelogs/AutoChangeLog-pr-22710.yml
Labels: none

[MIRROR] Converting crabs to basic mobs [MDB IGNORE] (#22710)
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/piratefort.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/map_files/Basketball/beach_bums.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_2.dmm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movement.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/movement.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_find_nearest_target_to_flee.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/datums/elements/sideway_movement.dm
  code/datums/memory/_memory.dm
  code/modules/cargo/packs/livestock.dm
  code/modules/holodeck/holo_effect.dm
  code/modules/mob/living/basic/vermin/crab.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/transform_procs.dm
  code/modules/research/experimentor.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/mapping/voidraptor/code/mob.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/77109_simple_to_basic_crabs.txt
Labels: Map Modification

Automatic changelog for PR #22728 [ci skip]
  html/changelogs/AutoChangeLog-pr-22728.yml
Labels: none

[MIRROR] Removes the stealth-added ability to screwdriver springlock modules to make them not deadly because that defeats the point of the springlock module [MDB IGNORE] (#22733)
  code/modules/mod/modules/modules_maint.dm
Labels: none

Automatic changelog for PR #22718 [ci skip]
  html/changelogs/AutoChangeLog-pr-22718.yml
Labels: none

[MIRROR] Fixes lightning on Northstar's HoP's office, and moves the stamp to somewhere visible [MDB IGNORE] (#22735)
  _maps/map_files/NorthStar/north_star.dmm
Labels: Map Modification

Automatic changelog for PR #22737 [ci skip]
  html/changelogs/AutoChangeLog-pr-22737.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-22704.yml
  html/changelogs/AutoChangeLog-pr-22705.yml
  html/changelogs/AutoChangeLog-pr-22706.yml
  html/changelogs/AutoChangeLog-pr-22709.yml
  html/changelogs/AutoChangeLog-pr-22710.yml
  html/changelogs/AutoChangeLog-pr-22716.yml
  html/changelogs/AutoChangeLog-pr-22718.yml
  html/changelogs/AutoChangeLog-pr-22719.yml
  html/changelogs/AutoChangeLog-pr-22720.yml
  html/changelogs/AutoChangeLog-pr-22721.yml
  html/changelogs/AutoChangeLog-pr-22722.yml
  html/changelogs/AutoChangeLog-pr-22723.yml
  html/changelogs/AutoChangeLog-pr-22724.yml
  html/changelogs/AutoChangeLog-pr-22725.yml
  html/changelogs/AutoChangeLog-pr-22726.yml
  html/changelogs/AutoChangeLog-pr-22727.yml
  html/changelogs/AutoChangeLog-pr-22728.yml
  html/changelogs/AutoChangeLog-pr-22729.yml
  html/changelogs/AutoChangeLog-pr-22730.yml
  html/changelogs/AutoChangeLog-pr-22733.yml
  html/changelogs/AutoChangeLog-pr-22735.yml
  html/changelogs/archive/2023-07.yml
Labels: none

Automatic changelog for PR #22735 [ci skip]
  html/changelogs/AutoChangeLog-pr-22735.yml
Labels: none

Automatic changelog for PR #22736 [ci skip]
  html/changelogs/AutoChangeLog-pr-22736.yml
Labels: none

[MIRROR] Swaps around the unrestricted access to the AI sat on birdshot [MDB IGNORE] (#22737)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

Automatic changelog for PR #22733 [ci skip]
  html/changelogs/AutoChangeLog-pr-22733.yml
Labels: none

[MIRROR] makes puzzle doors not open if you just walk into them while fireman carrying someone [MDB IGNORE] (#22736)
  code/game/objects/items/puzzle_pieces.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
