Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

oops
  _maps/burgerstation.json
Labels: Map Modification

wait why did I do that
  _maps/burgerstation.json
Labels: Map Modification

Adds Torment, Fixes bugs
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_diveworm.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_general.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_hivelord.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_symbiote.dm
Labels: none

dynamic disable threat
  code/game/gamemodes/dynamic/dynamic.dm
Labels: none

tweaks
  code/game/gamemodes/dynamic/dynamic.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
Labels: none

fuck linux holy shit
  _maps/burger_station.json
  _maps/map_files/burger_station/burger_station.dmm
Labels: Map Modification

adds missing buttons, nodes, and others tuff
  _maps/map_files/burger_station/burger_station.dmm
Labels: Map Modification

fixes integration
  _maps/map_files/burger_station/burger_station.dmm
Labels: Map Modification

converts the map name, adds map to basemap, fixes intergration
  _maps/_basemap.dm
  _maps/burgerstation.json
  _maps/map_files/burgerstation/burgerstation.dmm
  config/maps.txt
Labels: Map Modification

lol, lmao even
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Fixes an issue I didn't notice
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: none

Fixes the OTHER thing I missed
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: none

Step one
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: none

Step dos
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/icons/obj/clothing/suits/collared_vest.dmi
Labels: Sprites

Sets inhand to null
  modular_zubbers/code/modules/clothing/suits/armor.dm
Labels: none

fixes a bunch of nonsense
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes docking ports
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes AI and dock issue
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes siphons for tcomms and AI
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes the docks once and for all
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes missing cable
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Includes the modular file for biogenerator additions
  tgstation.dme
Labels: none

Apparently this file was deleted
  modular_zubbers/code/modules/research/designs/biogenerator_designs.dm
Labels: none

OVERDOSE
  modular_skyrat/modules/cortical_borer/code/cortical_borer_chems.dm
Labels: none

automatic rekeying
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes missing apc
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

overdose my beloved
  modular_skyrat/modules/cortical_borer/code/cortical_borer_chems.dm
Labels: none

fixes a whole bunch of issues and adds new ones
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes some other issues
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

buffs maint
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

the rewallening
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

hugboxes maintenance restrictions
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

misc fixes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes unit tests
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

further tweaks
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

good for testing again
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Obscure Examine Panel Pref
  code/modules/mob/living/carbon/human/examine.dm
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_zubbers/master_files/code/modules/client/preferences/obscurity.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/obscurity_examine.tsx
Labels: none

adds firedoors to nearly all doors
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

File Name Consistency
  modular_zubbers/master_files/code/modules/client/preferences/obscurity_examine.dm
Labels: none

everything is good
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification
