Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

There
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

I'll fix this too
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update robot.dm
  modular_zubbers/maps/offstation/dauntless/robot.dm
Labels: none

[DAUNTLESS] Adds syndicate access module for cyborgs, Removes duplicate air alarm (#704)
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/robot.dm
  tgstation.dme
Labels: Map Modification

progress
  code/modules/antagonists/nukeop/nukeop.dm
  modular_skyrat/modules/Midroundtraitor/code/datum_traitor.dm
  modular_skyrat/modules/contractor/code/datums/midround/antag_datum.dm
  modular_zubbers/code/modules/client/preferences/names.dm
Labels: none

removes non-working code
  code/modules/jobs/job_types/_job.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: none

Fixes runtime
  modular_zubbers/code/modules/client/preferences/names.dm
Labels: none

cards
  modular_zubbers/code/game/objects/items/centcomsword.dm
  modular_zubbers/code/modules/clothing/belts/Sword Sheath.dm
Labels: none

Update tackle.dm
  code/datums/components/tackle.dm
Labels: none

Adds-alt-titles
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

B goes before G
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

indent fail
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Adds Loyalty officer to NTRep
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Adds farmer to botanist
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Forgot a comma
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

guh
  _maps/ss13_construct.json
Labels: Map Modification

GAS Fixes
  modular_skyrat/modules/bodyparts/code/nabber_bodyparts.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/nabber.dm
Labels: none

GAS
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/__DEFINES/~skyrat_defines/mobs.dm
  code/__DEFINES/~skyrat_defines/nabber_clothing_paths.dm
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  config/game_options.txt
  modular_skyrat/master_files/code/modules/clothing/base_clothes.dm
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/accessories.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/ears.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/nabber/uniform.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/nabber_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/nabber_fallbacks/belt.json
  modular_skyrat/modules/GAGS/json_configs/nabber_fallbacks/eyes.json
  modular_skyrat/modules/GAGS/json_configs/nabber_fallbacks/gloves.json
  modular_skyrat/modules/GAGS/json_configs/nabber_fallbacks/neck.json
  modular_skyrat/modules/GAGS/json_configs/nabber_fallbacks/uniform.json
  modular_skyrat/modules/bodyparts/code/nabber_bodyparts.dm
  modular_skyrat/modules/bodyparts/icons/nabber_parts_greyscale.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/nabber.dm
  modular_skyrat/modules/emotes/code/dna_screams.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/code/laugh_datums.dm
  modular_skyrat/modules/emotes/code/scream_datums.dm
  modular_skyrat/modules/emotes/sound/emotes/nabbercough.ogg
  modular_skyrat/modules/emotes/sound/emotes/nabberlaugh.ogg
  modular_skyrat/modules/emotes/sound/emotes/nabberscream.ogg
  modular_skyrat/modules/emotes/sound/emotes/nabbersneeze.ogg
  modular_skyrat/modules/organs/icons/nabber_eyes.dmi
  modular_skyrat/modules/organs/icons/nabber_organs.dmi
  tgstation.dme
Labels: Sprites

Updates alt titles for corporate approval
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

no more goon, only henchman
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Hobbyist addition
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

More alt titles from an old PR
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Removes the not job-related assistant titles
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Edits a comment
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Not doing well is not a job
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Magos to Chaplain
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

read enable spiders
  code/modules/uplink/uplink_items/job.dm
Labels: none

Revert "Subverts Democracy and destroys the Meta-Icebox-Delta voting cycle by adding negative voting multipliers to recently played maps. (#554)"
  code/controllers/subsystem/persistence.dm
  modular_zubbers/code/datums/votes/map_vote.dm
  tgstation.dme
Labels: none

added wrench_act
  code/modules/food_and_drinks/restaurant/_venue.dm
Labels: none

there is 90% less varedits on this map
  _maps/map_files/debug/ss13_construct.dmm
  code/game/area/areas/away_content.dm
Labels: Map Modification

Update maps.txt
  config/maps.txt
Labels: none

Update code/game/area/areas/away_content.dm
  code/game/area/areas/away_content.dm
Labels: none

ss13_construct optimization pull request (#711)
  _maps/map_files/debug/ss13_construct.dmm
  code/game/area/areas/away_content.dm
Labels: Map Modification

ascii healthhud
  code/game/data_huds.dm
Labels: none

Wear a condom
  code/game/objects/items/storage/boxes/job_boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: none

Fixes medbay disposals
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Also salty
  modular_zubbers/master_files/code/modules/research/designs/biogenerator_designs.dm
Labels: none

I am so insane rn
  modular_zubbers/code/modules/synths/code/bodyparts/stomach.dm
  tgstation.dme
Labels: none

IRS Pirate Ship & Cybersun Battlecruiser Ghostspawn Map Updates
  _maps/RandomRuins/SpaceRuins/bubberstation/SBC-44.dmm
  _maps/shuttles/zubbers/Pirate_IRS_Better.dmm
Labels: Map Modification

commit
  _maps/RandomRuins/SpaceRuins/bubberstation/SBC-44.dmm
Labels: Map Modification

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
