Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

Let's try this
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

Try this
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

nuh uh
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

TRY THIS
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

small adjustment
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

ADDS HYPNO PREFS
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/species_features.tsx
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

Noncon pref
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

A New() method
  modular_zubbers/modules/customization/modules/language/_language_holder.dm
Labels: none

Updates Dauntless map
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update modular_zubbers/modules/customization/modules/language/_language_holder.dm
  modular_zubbers/modules/customization/modules/language/_language_holder.dm
Labels: none

Update modular_zubbers/modules/customization/modules/language/_language_holder.dm
  modular_zubbers/modules/customization/modules/language/_language_holder.dm
Labels: none

Update modular_zubbers/modules/customization/modules/language/_language_holder.dm
  modular_zubbers/modules/customization/modules/language/_language_holder.dm
Labels: none

Reverts the Expand module to Skyrat Default
  code/game/objects/items/robot/robot_upgrades.dm
Labels: none

Update modular_zubbers/modules/modular_items/code/cake_light.dm
  modular_zubbers/modules/modular_items/code/cake_light.dm
Labels: none

Changes from review
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
  code/modules/power/generator.dm
Labels: none

Fixed and everything is working except little detail
  modular_zubbers/code/modules/power/generator.dm
Labels: none

Removed not needed
  modular_zubbers/code/modules/power/generator.dm
  tgstation.dme
Labels: none

Lit Cakes (modular + tested) (#797)
  modular_zubbers/modules/modular_items/code/cake_light.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #797 [ci skip]
  html/changelogs/AutoChangeLog-pr-797.yml
Labels: none

engineering overhaul
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

Fixes a minor issue with hungry quirk (#760)
  modular_zubbers/code/datums/quirks/neutral_quirks/hungry.dm
Labels: none

Automatic changelog for PR #760 [ci skip]
  html/changelogs/AutoChangeLog-pr-760.yml
Labels: none

No signaller in the prison LustWish (#773)
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/code/modules/lewd_machinery/lustwish.dm
  modular_zubbers/modules/automapper/code/area_spawn_entries.dm
  tgstation.dme
Labels: Map Modification

Automatic changelog for PR #773 [ci skip]
  html/changelogs/AutoChangeLog-pr-773.yml
Labels: none

[non-modular] revert the tg vent pump limit (#805)
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
Labels: none

Automatic changelog for PR #805 [ci skip]
  html/changelogs/AutoChangeLog-pr-805.yml
Labels: none

Nerfs Miasma (#649)
  modular_zubbers/code/datums/diseases/advance/presets.dm
  modular_zubbers/code/datums/mood_events/miasma_events.dm
  modular_zubbers/code/modules/surgery/organs/internal/lungs/_lungs.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #649 [ci skip]
  html/changelogs/AutoChangeLog-pr-649.yml
Labels: none

Adds sound effects to the subtler emote (#752)
  modular_skyrat/modules/verbs/code/subtle.dm
Labels: none

more nonsense
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

Minor cleanup and modularization
  modular_zubbers/code/modules/client/directory/character_directory.dm
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/showindirectory.tsx
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

Automatic changelog for PR #752 [ci skip]
  html/changelogs/AutoChangeLog-pr-752.yml
Labels: none

I forgor, also exploitables
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

more stuff!
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

Update burgerstation_new.dmm
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

changelog
  html/changelogs/AutoChangeLog-pr-649.yml
  html/changelogs/AutoChangeLog-pr-752.yml
  html/changelogs/AutoChangeLog-pr-760.yml
  html/changelogs/AutoChangeLog-pr-761.yml
  html/changelogs/AutoChangeLog-pr-765.yml
  html/changelogs/AutoChangeLog-pr-773.yml
  html/changelogs/AutoChangeLog-pr-785.yml
  html/changelogs/AutoChangeLog-pr-797.yml
  html/changelogs/AutoChangeLog-pr-801.yml
  html/changelogs/AutoChangeLog-pr-804.yml
  html/changelogs/AutoChangeLog-pr-805.yml
  html/changelogs/archive/2023-12.yml
Labels: none

Changelog 12/4/23 (#809)
  html/changelogs/AutoChangeLog-pr-649.yml
  html/changelogs/AutoChangeLog-pr-752.yml
  html/changelogs/AutoChangeLog-pr-760.yml
  html/changelogs/AutoChangeLog-pr-761.yml
  html/changelogs/AutoChangeLog-pr-765.yml
  html/changelogs/AutoChangeLog-pr-773.yml
  html/changelogs/AutoChangeLog-pr-785.yml
  html/changelogs/AutoChangeLog-pr-797.yml
  html/changelogs/AutoChangeLog-pr-801.yml
  html/changelogs/AutoChangeLog-pr-804.yml
  html/changelogs/AutoChangeLog-pr-805.yml
  html/changelogs/archive/2023-12.yml
Labels: none

Fuck yes
  modular_zubbers/modules/seasons/christmas/code/supermatter.dm
  modular_zubbers/modules/seasons/christmas/icons/supermatter.dmi
  tgstation.dme
Labels: Sprites

wait I dont need this
  modular_zubbers/modules/seasons/christmas/code/supermatter.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none
