Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

okay it works
  code/datums/brain_damage/severe.dm
  code/game/objects/items/plushes.dm
  modular_zubbers/code/game/Items/plushes.dm
  modular_zubbers/code/game/brain_damage/severe.dm
Labels: none

Goodbye Security Borgs
  config/game_options.txt
Labels: none

wtf is this dogshit - removes offensive naming
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories.dm
Labels: none

Fixes a funny Skyrat bug. Improves the icon.
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
  modular_zubbers/code/game/machinery/doors/firedoor.dm
  modular_zubbers/icons/obj/doors/doorfire.dmi
  modular_zubbers/icons/obj/doors/doorfireglass.dmi
Labels: Sprites

Finally fixes firelocks
  code/game/machinery/doors/firedoor.dm
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
Labels: none

yes that song is what you think it is
  code/game/objects/items/robot/items/hypo.dm
Labels: none

fixes a lot of issues, nerfs oddity spawn rate
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
Labels: Map Modification

oh fuck changes didn't apply
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Buffs post-tackle grabs.
  code/datums/components/tackle.dm
Labels: none

pain
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
Labels: Map Modification

fixes ordnance
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

adds prison gardening tools
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Allow cargo borg mail bags to put things in chutes
  modular_zubbers/modules/cargoborg/code/robot_items.dm
  tgstation.dme
Labels: none

improves the AI core design, adds missing stuff to some departments
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes some bugs
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Fixes AI sat, fixes fire lockers that got deleted for some reason
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

adds a bunch of evac signs
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

colorist quirk pls
  code/datums/quirks/neutral_quirks/neutral_quirks.dm
Labels: none

fixes stray cable, fixes CI, adjusts oddity weights
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
Labels: Map Modification

Hugboxes heretic sacrifice
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  modular_zubbers/code/__HELPERS/turfs.dm
  modular_zubbers/code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  tgstation.dme
Labels: none

There is no game yet and I already weep
  code/__DEFINES/~~bubber_defines/modular_computer.dm
  config/maps.txt
  modular_zubbers/code/modules/modular_computers/file_system/programs/flappymoth.dm
  modular_zubbers/code/modules/modular_computers/file_system/programs/minesweeper.dm
  modular_zubbers/code/modules/modular_computers/file_system/programs/ntdownloader.dm
  tgstation.dme
Labels: none

ok this might work, pray be to the big moff
  modular_zubbers/code/modules/modular_computers/file_system/programs/ntdownloader.dm
Labels: none

MeinGott
  modular_zubbers/code/modules/modular_computers/file_system/programs/arcade.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ZubbersFlappyMoth.tsx
  tgui/packages/tgui/interfaces/ZubbersMinesweeper.js
  tgui/packages/tgui/interfaces/ZubbersNtosMinesweeper.js
Labels: none

Organising!
  modular_zubbers/code/game/machinery/computer/arcade.dm
  modular_zubbers/code/modules/modular_computers/file_system/programs/minesweeper.dm
Labels: none

aaaaa
  tgui/packages/tgui/interfaces/ZubbersMinesweeper.js
  tgui/packages/tgui/interfaces/ZubbersNtosMinesweeper.js
Labels: none

bbbbbbbbb
  modular_zubbers/code/modules/modular_computers/file_system/programs/flappymoth.dm
  tgui/packages/tgui/interfaces/ZubbersFlappyMoth.tsx
Labels: none

remove be_antagonist edits
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  modular_skyrat/master_files/code/modules/client/preferences/be_antag.dm
  modular_skyrat/modules/opposing_force/code/admin_procs.dm
  modular_skyrat/modules/title_screen/code/new_player.dm
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/be_antag.tsx
Labels: none

Overhauls crew monitor sorting.
  modular_zubbers/code/game/machinery/computer/crew.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.js
Labels: none

music changes, add title0, rem clown
  strings/round_start_sounds.txt
Labels: none

Fixes cargo power, fixes air alarms, improves a bunch of stuff
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/objects/structures/plaques/static_plaques.dm
  tgstation.dme
Labels: Map Modification

adds more soul, fixes runtimes, fixes map errors
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes stray powernet, adds more soul
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

misc tweaks
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fix the vest
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/icons/obj/clothing/suits/collared_vest.dmi
Labels: Sprites

needs new sprites to do this right
  modular_zubbers/code/modules/clothing/suits/armor.dm
Labels: none

Makes plushies huggable to reduce stress from monophobia (#507)
  modular_zubbers/code/__DEFINES/traits.dm
  modular_zubbers/code/game/Items/plushes.dm
  modular_zubbers/code/game/brain_damage/severe.dm
  modular_zubbers/code/game/traits/negative.dm
  tgstation.dme
Labels: none

Remove Haloperidol from Borgs (#506)
  code/game/objects/items/robot/items/hypo.dm
Labels: none

Update code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: none

Update modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
Labels: none

Obscure Examine Panel Pref (#471)
  code/modules/mob/living/carbon/human/examine.dm
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_zubbers/master_files/code/modules/client/preferences/obscurity_examine.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/obscurity_examine.tsx
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
