Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

adding to loadout I THINK
  loadout_datum_neck.dm
Labels: none

IM AN IDIOT
  neck.dmi
Labels: Sprites

stupid dumb idiot
  _neck.dm
Labels: none

arhuwtrhe9thg9-
  loadout_datum_neck.dm
Labels: none

work this time i swear to fuck
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
Labels: none

ough
  icons/obj/clothing/neck.dmi
Labels: Sprites

ough 2
  icons/mob/neck.dmi
Labels: Sprites

ough 3
  code/modules/clothing/neck/_neck.dm
Labels: none

ok pls be right this time
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/neck.dmi
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
Labels: Sprites

Revert "Merge branch 'master' of https://github.com/CenkTheRaptor/Bubberstation"
  code/modules/clothing/neck/_neck.dm
  icons/mob/neck.dmi
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
Labels: Sprites

Update mothmen.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/mothmen.dm
Labels: none

Update plasmamen.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: none

remove da damage
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Labels: none

wait we dont do it like that we actually jujst make it functional
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Labels: none

lets make this a bit less miserable too
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Labels: none

undef
  modular_zubbers/code/game/objects/items/reshirevolver.dm
Labels: none

First try baybe
  modular_zubbers/code/modules/clothing/outfits/kim.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_zubbers/icons/mob/clothing/kim.dmi
  modular_zubbers/icons/obj/clothing/kim.dmi
  tgstation.dme
Labels: Sprites

Added
  _maps/map_files/PubberStation/pubberstation.dmm
  _maps/pubberstation.json
Labels: Map Modification

Update screenshot_humanoids__datum_species_mammal_shadekin.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mammal_shadekin.png
Labels: none

SECOND TRY??
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
Labels: none

THIRD TRY
  tgstation.dme
Labels: none

i hate the automapper
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

WAIT THE DECAL
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

you ever forget firelocks exist
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

Update _neck.dm
  code/modules/clothing/neck/_neck.dm
Labels: none

my hubris my hubris my hubris
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
Labels: none

Biodome Tweaks (#370)
  _maps/map_files/biodome/biodome.dmm
  modular_zubbers/maps/biodome/tram.dm
  tgstation.dme
Labels: Map Modification

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-22400.yml
  html/changelogs/AutoChangeLog-pr-22687.yml
  html/changelogs/AutoChangeLog-pr-22688.yml
  html/changelogs/AutoChangeLog-pr-22689.yml
  html/changelogs/AutoChangeLog-pr-22690.yml
  html/changelogs/AutoChangeLog-pr-22691.yml
  html/changelogs/AutoChangeLog-pr-22692.yml
  html/changelogs/AutoChangeLog-pr-22693.yml
  html/changelogs/AutoChangeLog-pr-22694.yml
  html/changelogs/AutoChangeLog-pr-22695.yml
  html/changelogs/AutoChangeLog-pr-22696.yml
  html/changelogs/AutoChangeLog-pr-22698.yml
  html/changelogs/AutoChangeLog-pr-22699.yml
  html/changelogs/AutoChangeLog-pr-22702.yml
  html/changelogs/AutoChangeLog-pr-22703.yml
  html/changelogs/archive/2023-07.yml
Labels: none

[MIRROR] [NO GBP] Fixes active conveyor belts not moving movables spawned on top of them. [MDB IGNORE] (#22703)
  code/modules/mining/machine_processing.dm
  code/modules/recycling/conveyor.dm
Labels: none

Automatic changelog for PR #22702 [ci skip]
  html/changelogs/AutoChangeLog-pr-22702.yml
Labels: none

[MIRROR] Fixes traitor sabotage objective device [MDB IGNORE] (#22702)
  code/modules/antagonists/traitor/objectives/sabotage_machinery.dm
Labels: none

Automatic changelog for PR #22703 [ci skip]
  html/changelogs/AutoChangeLog-pr-22703.yml
Labels: none

Fixes eye emissives not scaling properly with height (#22705)
  code/modules/surgery/organs/internal/eyes/_eyes.dm
Labels: none

Automatic changelog for PR #22705 [ci skip]
  html/changelogs/AutoChangeLog-pr-22705.yml
Labels: none

[MIRROR] Adds a runtime protection check to play_tts [MDB IGNORE] (#22706)
  code/controllers/subsystem/tts.dm
Labels: none

[MIRROR] Fix adrenal crisis being incurable (Fixes #77086) [MDB IGNORE] (#22720)
  code/datums/diseases/adrenal_crisis.dm
Labels: none

[MIRROR] Sets a saner length limit to ID assignments and paintings' titles. [MDB IGNORE] (#22719)
  code/controllers/subsystem/persistent_paintings.dm
  code/game/objects/items/cards_ids.dm
  code/modules/art/paintings.dm
  code/modules/modular_computers/file_system/programs/card.dm
Labels: none

[MIRROR] [NO GBP] Fixes clown car + deer collision [MDB IGNORE] (#22709)
  code/modules/vehicles/cars/clowncar.dm
  sound/attributions.txt
  sound/vehicles/car_crash.ogg
Labels: none

Automatic changelog for PR #22706 [ci skip]
  html/changelogs/AutoChangeLog-pr-22706.yml
Labels: none

Automatic changelog for PR #22716 [ci skip]
  html/changelogs/AutoChangeLog-pr-22716.yml
Labels: none
