Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Updates CC modules
  modular_zubbers/code/modules/altborgs/code/robot_model.dm
Labels: none

Pinwheel hat
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
  modular_zubbers/modules/clothing/head/helmet.dm
  tgstation.dme
Labels: Sprites

Rearranges donor items to be unified
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: none

Fixes armor and adds the hat to clothesmate
  code/modules/vending/clothesmate.dm
  modular_zubbers/modules/clothing/head/helmet.dm
Labels: none

Fixes integration tests by marking icon states as null
  modular_zubbers/modules/clothing/head/helmet.dm
Labels: none

fixes linters
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

All the.. small things
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Adds Halloween Chocolate
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
  modular_zubbers/code/game/objects/effects/spawners/random/vending.dm
  modular_zubbers/code/game/objects/items/food/halloween_chocolate.dm
  modular_zubbers/code/modules/vending/halloween_chocolate.dm
  modular_zubbers/icons/obj/food/halloween_chocolate.dmi
  modular_zubbers/icons/obj/machines/halloween_chocolate_vendor.dmi
  tgstation.dme
Labels: Sprites

weee
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_zubbers/code/game/objects/items/storage/guncases.dm
  tgstation.dme
Labels: none

Update biodome.dmm
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

CODE CHANGE!
  code/game/objects/effects/spawners/random/random.dm
Labels: none

Update plant_genes.dm
  modular_zubbers/code/modules/hydroponics/plant_genes.dm
Labels: none

Added
  modular_skyrat/master_files/code/game/objects/structures/trash_pile.dm
  modular_zubbers/code/_globalvars/lists/~maintenance_loot.dm
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
  modular_zubbers/code/game/objects/structures/trash_pile.dm
  tgstation.dme
Labels: none

Adds a beret for the coroner
  code/modules/vending/wardrobes.dm
  modular_zubbers/code/modules/clothing/head/jobs.dm
Labels: none

adds the coroner beret
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_zubbers/code/modules/clothing/head/jobs.dm
Labels: none

Update loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: none

Fixes Biodome Linters + Other Linters (#609)
  _maps/map_files/biodome/biodome.dmm
  code/game/objects/effects/spawners/random/random.dm
  modular_zubbers/code/modules/hydroponics/plant_genes.dm
Labels: Map Modification

Update cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

Added
  code/modules/hydroponics/plant_genes.dm
Labels: none

lets do this too
  code/modules/uplink/uplink_items/job.dm
Labels: none

eee
  modular_zubbers/modules/customization/modules/client/augment/implants.dm
  tgstation.dme
Labels: none

Bitrunner Den
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Coroners Office
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

oh right
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

oops forgot a lightswitch
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

bit too cramped for more than that
  config/maps.txt
Labels: none

directionals and wallfridges begone
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

request console helpers
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

ooooohhhh that's what it ment
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

oops
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

fixes
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Neurine + Holywater cures magic traumas during lobotomies (#503)
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/surgery/advanced/lobotomy.dm
Labels: none

Subverts Democracy and destroys the Meta-Icebox-Delta voting cycle by adding negative voting multipliers to recently played maps. (#554)
  code/controllers/subsystem/persistence.dm
  modular_zubbers/code/datums/votes/map_vote.dm
  tgstation.dme
Labels: none

Makes Fishing Easier (#559)
  code/__DEFINES/fish.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/sources/source_types.dm
  modular_zubbers/code/modules/fishing/fishing_minigame.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/FishingBubbers.tsx
Labels: none

nukes ballistics from guncargo again (skyrat stealthadded it) (#592)
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none

Replaces the Blueshield's Sindano with the WT-550 (and makes it only admin spawned) (#608)
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_zubbers/code/game/objects/items/storage/guncases.dm
  tgstation.dme
Labels: none

Adds a CentCom dogborg (#594)
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_zubbers/code/datums/ai_laws/laws_neutral.dm
  modular_zubbers/code/game/objects/items/ai_modules/full_lawsets.dm
  modular_zubbers/code/game/objects/items/robot/items/hypo.dm
  modular_zubbers/code/game/objects/items/robot/items/storage.dm
  modular_zubbers/code/modules/altborgs/code/robot_model.dm
  modular_zubbers/code/modules/altborgs/code/robot_upgrade.dm
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_defines.dm
  modular_zubbers/icons/mob/silicon/widerobot_cc.dmi
  tgstation.dme
Labels: Sprites

Fixes Burgerstation Disposals + Incinerator (#602)
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Fixes very broken plant dna manipulator (gene_modder.dm) (#563)
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

le bin
  modular_zubbers/code/datums/components/crafting/utility.dm
  tgstation.dme
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
