Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Baton edits
  code/game/objects/items/melee/baton.dm
Labels: none

Desword edits
  code/game/objects/items/dualsaber.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

gives command a delivery access from maint
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Medbay now has an emergency entrance + other changes
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
Labels: Map Modification

fixes errors
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes additional errors
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

fixes errors for real
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Improves the vox box
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Adds Aux base and the Space Hut
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Fixes some other issues
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
Labels: Map Modification

More moff
  tgui/packages/tgui/interfaces/ZubbersFlappyMoth.tsx
Labels: none

fixes errors for real now
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update ZubbersFlappyMoth.tsx
  tgui/packages/tgui/interfaces/ZubbersFlappyMoth.tsx
Labels: none

More outside turf atmos changes to remove weird plasma
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Nukes the ability to buy most ballistic weapons from cargo. (correct this time) (#486)
  modular_skyrat/modules/company_imports/code/armament_datums/bolt_nanotrasen_firearms.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

fixes suits in eva storage
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

adds missing PDA painters
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update security_medic Locker Privs
  modular_zubbers/code/modules/sec_haul/code/security_medic/security_medic.dm
Labels: none

improves the sprites
  modular_zubbers/icons/obj/doors/doorfire.dmi
  modular_zubbers/icons/obj/doors/doorfireglass.dmi
Labels: Sprites

Changes Obsessed objs to less round-removing types
  code/modules/antagonists/obsessed/obsessed.dm
Labels: none

Forgor Obsessed text
  code/modules/antagonists/obsessed/obsessed.dm
Labels: none

Makes fishing easier
  code/__DEFINES/fishing_zubbers.dm
  modular_zubbers/code/modules/fishing/fishing_minigame.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/FishingBubbers.tsx
Labels: none

fixes various issues
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Update dismemberment.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: none

Update dismemberment.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: none

Update lavaland_dauntless.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

AI laws
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/laws.dm
  tgstation.dme
Labels: Map Modification

forgot this
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Map Modification

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

Add plant dna manipulator board to wild mutation experiment reward
  code/modules/research/techweb/all_nodes.dm
Labels: none

Revert "Hugboxes heresy without adding weird metagame (#519)"
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
Labels: none

gas miners
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/gasminers.dm
  tgstation.dme
Labels: Map Modification

Update dismemberment.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: none

threat bump
  code/game/gamemodes/dynamic/dynamic.dm
Labels: none

Update gene_modder.dm
  modular_zubbers/code/modules/hydroponics/gene_modder.dm
Labels: none

Update traitor.dm
  modular_zubbers/code/controllers/subsystem/traitor.dm
Labels: none

Adds the Burgerstation Emergency Shuttle
  _maps/burgerstation.json
  _maps/shuttles/zubbers/emergency_burgerstation.dmm
  code/datums/map_config.dm
  modular_zubbers/code/datums/shuttles/emergency.dm
  tgstation.dme
Labels: Map Modification

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
