Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Resets armblade
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: none

Update mutations.dm
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: none

Update Changelog.js
  tgui/packages/tgui/interfaces/Changelog.js
Labels: none

Fixes the changelog to properly reflect our server (#664)
  tgui/packages/tgui/interfaces/Changelog.js
Labels: none

sadly the blueshield modsuit is too based
  modular_skyrat/modules/blueshield/code/closet.dm
Labels: none

Update modular_zubbers/modules/ballstics/wt_autorifle.dm
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

Update arcade_weights_toy.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_toy.dm
Labels: none

Updates discord link
  code/modules/client/client_procs.dm
Labels: none

Removes the Bubber Edit
  code/modules/mob/living/living_say.dm
Labels: none

Makes it so the panicbunker text shows forumurl
  code/modules/client/client_procs.dm
Labels: none

Adds a panicbunker text at the end
  code/modules/client/client_procs.dm
Labels: none

Wording changes
  code/modules/client/client_procs.dm
Labels: none

Fixes the discord link (#666)
  code/modules/client/client_procs.dm
Labels: none

[Tested And Ready] Adds auto punctuation (#628)
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/mob/living/living_say.dm
  code/modules/unit_tests/say.dm
  tgstation.dme
Labels: none

Drifting contractor adjustments
  modular_skyrat/modules/contractor/code/datums/midround/event.dm
  modular_skyrat/modules/contractor/code/datums/midround/ruleset.dm
Labels: none

Removes edit from contractor definition
  modular_skyrat/modules/contractor/code/datums/midround/ruleset.dm
Labels: none

Adds reverie to the fax list
  modular_zubbers/code/modules/paperwork/fax.dm
Labels: none

Update modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/sol_subsystem.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/sol_subsystem.dm
Labels: none

Update modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/tremere/thaumaturgy.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_powers/tremere/thaumaturgy.dm
Labels: none

Update modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/objects.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/objects.dm
Labels: none

Update modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/shaded_bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/shaded_bloodsucker.dm
Labels: none

Update modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/objects.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsucker_structures/objects.dm
Labels: none

Linter Fix
  tgui/packages/tgui/interfaces/AntagInfoRevengeVassal.tsx
Labels: none

Fixes a number of issues
  code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/modules/cargo/exports/weapons.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zubbers/code/modules/jobs/job_types/cargo_technician.dm
  modular_zubbers/code/modules/mob/living/basic/trooper/nanotrasen.dm
  modular_zubbers/code/modules/projectiles/ammunition/ballistic/smg.dm
  modular_zubbers/code/modules/projectiles/boxes_magazines/external/smg.dm
  modular_zubbers/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_zubbers/code/modules/projectiles/projectile/bullets/smg.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/master_files/code/modules/research/designs/weapon_designs.dm
  modular_zubbers/modules/ballstics/wt_autorifle.dm
  tgstation.dme
Labels: none

unremoves cursed
  code/datums/quirks/negative_quirks/cursed.dm
Labels: none

[Fixes modularity] Restores Radioblock refreshed (#665)
  code/modules/mob/living/living_say.dm
Labels: none

Adds the WT-551
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/game/objects/effects/spawners/random/armory.dm
  modular_zubbers/icons/obj/weapons/guns/wt551.dmi
  modular_zubbers/modules/ballstics/wt_autorifle.dm
  modular_zubbers/sound/weapons/gun/wt551/shot.ogg
  tgstation.dme
Labels: Sprites

oops x2
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

Requested changes.
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

removes these stats
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

slight nerf
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

oops 3
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

Update wt551.dmi
  modular_zubbers/icons/obj/weapons/guns/wt551.dmi
Labels: Sprites

oops
  code/modules/projectiles/projectile/bullets/smg.dm
Labels: none

[Fixes modularity] Restores Radioblock refreshed (#665)
  code/modules/mob/living/living_say.dm
Labels: none

Update modular_zubbers/modules/ballstics/wt_autorifle.dm
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

Fixes a number of issues
  code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/modules/cargo/exports/weapons.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zubbers/code/modules/jobs/job_types/cargo_technician.dm
  modular_zubbers/code/modules/mob/living/basic/trooper/nanotrasen.dm
  modular_zubbers/code/modules/projectiles/ammunition/ballistic/smg.dm
  modular_zubbers/code/modules/projectiles/boxes_magazines/external/smg.dm
  modular_zubbers/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_zubbers/code/modules/projectiles/projectile/bullets/smg.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/master_files/code/modules/research/designs/weapon_designs.dm
  modular_zubbers/modules/ballstics/wt_autorifle.dm
  tgstation.dme
Labels: none

[Non-Modular] Reverts changeling balance back to TG (#480)
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: none

[Testmerge Ready] Adds the RB-MK2 Reactor, Makes Tritium buyable from Cargo (#598)
  _maps/map_files/burgerstation/burgerstation.dmm
  code/__DEFINES/atmospherics/atmos_gasses.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/cargo/exports/large_objects.dm
  modular_zubbers/code/controllers/subsystem/air.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_acts.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_areas.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_circuit.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_design.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_guide.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_icon.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_rod.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_wires.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_acts.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_circuit.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_icon.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_wires.dm
  modular_zubbers/code/modules/atmospherics/gasmixtures/gas_types.dm
  modular_zubbers/code/modules/atmospherics/machinery/portable/canister.dm
  modular_zubbers/code/modules/power/supermatter/supermatter_gas.dm
  modular_zubbers/code/modules/surgery/organs/internal/lungs/_lungs.dm
  modular_zubbers/icons/obj/equipment/burger_reactor.dmi
  modular_zubbers/icons/obj/equipment/burger_reactor_computer.dmi
  modular_zubbers/sound/machines/rbmk2/failure01.ogg
  modular_zubbers/sound/machines/rbmk2/failure02.ogg
  modular_zubbers/sound/machines/rbmk2/failure03.ogg
  modular_zubbers/sound/machines/rbmk2/failure04.ogg
  modular_zubbers/sound/machines/rbmk2/ionization.ogg
  tgstation.dme
  tgui/packages/tgui/constants.ts
Labels: Map Modification, Sprites

Sprite Removal
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/code/modules/mining/lavaland/equipment/kinetic_crusher.dm
  modular_zubbers/code/modules/mining/lavaland/megafauna/hierophant.dm
  modular_zubbers/code/modules/mining/lavaland/megafauna_loot.dm
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/customization/horns_big.dmi
  modular_zubbers/icons/customization/kangarooalt.dmi
  modular_zubbers/icons/mob/inhands/64x64_lefthand.dmi
  modular_zubbers/icons/mob/inhands/64x64_righthand.dmi
  modular_zubbers/icons/obj/artefacts.dmi
Labels: Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
