Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

Changes nsfw flavor text to a character pref
  modular_zubbers/code/modules/client/nsfw_flavor_text/flavor_text.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/nsfw_flavor_text.tsx
Labels: none

Thanks to Ivory for this part
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/mob/living/living_say.dm
Labels: none

Update modular_zubbers/code/modules/job_estimation/code/dead.dm
  modular_zubbers/code/modules/job_estimation/code/dead.dm
Labels: none

please set me free
  modular_zubbers/code/modules/job_estimation/code/dead.dm
Labels: none

Too many asterisk try this
  code/__DEFINES/~~bubber_defines/misc.dm
Labels: none

semi-test
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_zubbers/code/modules/clothing_reskins/redsec.dm
Labels: none

Grants the ability to open Clown slots once more.
  modular_zubbers/code/modules/jobs/job_types/clown.dm
  tgstation.dme
Labels: none

re-mod
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_zubbers/code/modules/clothing_reskins/redsec.dm
Labels: none

ok this'll have to do
  modular_skyrat/master_files/code/modules/jobs/job_types/clown.dm
  modular_zubbers/code/modules/jobs/job_types/clown.dm
  tgstation.dme
Labels: none

back_to_semi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_zubbers/code/modules/clothing_reskins/redsec.dm
Labels: none

Please work.
  modular_skyrat/master_files/code/modules/jobs/job_types/clown.dm
  modular_zubbers/code/modules/jobs/job_types/clown.dm
Labels: none

Update modular_zubbers/code/modules/jobs/job_types/clown.dm
  modular_zubbers/code/modules/jobs/job_types/clown.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

I shouldn't hae to do this
  code/modules/uplink/uplink_items/job.dm
Labels: none

updated
  code/modules/uplink/uplink_items/device_tools.dm
Labels: none

Update device_tools.dm
  code/modules/uplink/uplink_items/device_tools.dm
Labels: none

His Grace? He's gone (#854)
  code/modules/uplink/uplink_items/job.dm
Labels: none

Automatic changelog for PR #854 [ci skip]
  html/changelogs/AutoChangeLog-pr-854.yml
Labels: none

partial revert
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
  modular_zubbers/modules/title_screen/code/title_screen_html.dm
  modular_zubbers/modules/title_screen/icons/bubber_title_screen.png
Labels: none

bubber title
  config/bubbers/bubbers_title.txt
  modular_skyrat/modules/title_screen/code/new_player.dm
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
  modular_skyrat/modules/title_screen/code/title_screen_subsystem.dm
  modular_skyrat/modules/title_screen/icons/skyrat_title_screen.png
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

[Modular] Ports the Character Directory from Coyote Bayou (see inside for link) (#784)
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/species_features.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/showindirectory.tsx
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

Automatic changelog for PR #784 [ci skip]
  html/changelogs/AutoChangeLog-pr-784.yml
Labels: none

Update modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
Labels: none

Simplifies some of the checks
  modular_zubbers/code/modules/job_estimation/code/dead.dm
Labels: none

Adds an extra !J to avoid a runtime
  modular_zubbers/code/modules/job_estimation/code/dead.dm
Labels: none

Code and comment cleanup
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/ammobox.dm
Labels: none

Update area_spawn_subsystem.dm
  modular_zubbers/modules/automapper/code/overrides/area_spawn_subsystem.dm
Labels: none

Update limbgrower.dm
  modular_zubbers/modules/hemophages/code/limbgrower.dm
Labels: none

Update species.dm
  modular_zubbers/modules/hemophages/code/species.dm
Labels: none

Fixes a missing bit
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/species_features.tsx
Labels: none

Add that bubber edit comment
  tgui/packages/tgui/interfaces/ExaminePanel.js
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

ie_test
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_zubbers/code/modules/clothing_reskins/redsec.dm
Labels: none

Player counts and station time to statpanel (#827)
  code/controllers/subsystem/statpanel.dm
Labels: none

Automatic changelog for PR #827 [ci skip]
  html/changelogs/AutoChangeLog-pr-827.yml
Labels: none

Modularized loading/title splash CSS (#856)
  config/bubbers/bubbers_title.txt
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
  modular_skyrat/modules/title_screen/code/title_screen_subsystem.dm
  modular_skyrat/modules/title_screen/icons/skyrat_title_screen.png
  modular_zubbers/interface/fonts/Ubuntu-Medium.ttf
  modular_zubbers/modules/title_screen/code/title_screen_subsystem.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #856 [ci skip]
  html/changelogs/AutoChangeLog-pr-856.yml
Labels: none

Update KiloStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

wooo (Still can't sprite)
  modular_zubbers/modules/hydroponics/icons/harvest.dmi
Labels: Sprites
