Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Adds silicon flavor text requirements
  code/controllers/subsystem/job.dm
Labels: none

revert to effigy skyynouncements
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: none

Revert announcement CSS back to TG (#818)
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: none

Automatic changelog for PR #818 [ci skip]
  html/changelogs/AutoChangeLog-pr-818.yml
Labels: none

SMG and Rifle now spawn with Short Mags rather than Long Mags
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/gunsets.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  tgstation.dme
Labels: none

Revert SMG Long Mag Removal
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/gunsets.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  tgstation.dme
Labels: none

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

sprites updated
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: Sprites

Update idmaco_worn.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: Sprites

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

Update code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
Labels: none

Update code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
Labels: none

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

tried and tested
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn_digi.dmi
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: Sprites

Update burgerstation_new.dmm
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

Update idmaco_worn.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
Labels: Sprites

Adds Mergd and Closed stamps
  code/modules/asset_cache/assets/paper.dm
  icons/stamp_icons/large_stamp-closed.png
  icons/stamp_icons/large_stamp-merged.png
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
  modular_zubbers/code/game/objects/items/storage/briefcase.dm
  modular_zubbers/code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  modular_zubbers/code/modules/paperwork/folders_premade.dm
  modular_zubbers/code/modules/paperwork/paper_premade.dm
  modular_zubbers/code/modules/paperwork/stamps.dm
  modular_zubbers/icons/obj/service/bureaucracy.dmi
  tgstation.dme
Labels: Sprites

Paper expansion
  modular_zubbers/code/modules/paperwork/paper_premade.dm
Labels: none

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

this is too high effort
  modular_zubbers/code/modules/paperwork/paper_premade.dm
Labels: none

misc fixes
  modular_zubbers/code/game/objects/items/storage/briefcase.dm
  modular_zubbers/code/modules/paperwork/folders_premade.dm
  modular_zubbers/code/modules/paperwork/paper_premade.dm
Labels: none

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

Update horns.dm
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
Labels: none

Update wings.dm
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: none

Requested changes and fixes
  modular_zubbers/code/game/objects/items/storage/briefcase.dm
  modular_zubbers/code/modules/paperwork/folders_premade.dm
  modular_zubbers/code/modules/paperwork/paper_premade.dm
  modular_zubbers/code/modules/paperwork/stamps.dm
Labels: none

fixed the IDMA donor sprites (#819)
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn_digi.dmi
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: Sprites

[Draft] Adds back Tesla and Particle Accelerator for old engineering enjoyers
  code/datums/wires/particle_accelerator.dm
  modular_zubbers/modules/Tesla_Gen/energy_ball.dm
  modular_zubbers/modules/Tesla_Gen/generator.dm
  modular_zubbers/modules/Tesla_Gen/particle.dm
  modular_zubbers/modules/Tesla_Gen/particle_accelerator.dm
  modular_zubbers/modules/Tesla_Gen/particle_control.dm
  modular_zubbers/modules/Tesla_Gen/particle_emitter.dm
  tgstation.dme
Labels: none

fixes linters, adds a funny
  modular_zubbers/code/modules/paperwork/paper_premade.dm
  modular_zubbers/code/modules/paperwork/stamps.dm
Labels: none

imagine testing your code lmao
  modular_zubbers/code/modules/paperwork/paper_premade.dm
Labels: none

Update id_cards.dm
  code/__DEFINES/id_cards.dm
Labels: none

Sprites and minority
  code/datums/wires/particle_accelerator.dm
  modular_zubbers/modules/Tesla_Gen/generator.dm
  tgstation.dme
Labels: none

Possibly fixes fire overlays
  code/modules/mob/living/basic/basic.dm
Labels: none

fixed errors
  code/datums/wires/particle_accelerator.dm
Labels: none

Fixes PR numbers, fixes some grammar and misplaced "
  modular_zubbers/code/modules/paperwork/paper_premade.dm
Labels: none

Revert "Buffids" - Reverts ID trim access back to TG (But leaves a little extra slots still) (#770)
  code/__DEFINES/id_cards.dm
Labels: none

[Not-Modular] Tesla zap now make power (#815)
  code/__DEFINES/_flags.dm
Labels: none

Clarifies flavor text requirements, prisoners can't spawn with razor claws (#812)
  code/modules/mob/dead/new_player/new_player.dm
  modular_zubbers/code/modules/jobs/_job.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #770 [ci skip]
  html/changelogs/AutoChangeLog-pr-770.yml
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
