Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

tweak numbers
  modular_zubbers/code/modules/scents/reagents.dm
Labels: none

clear it
  modular_zubbers/code/modules/scents/reagents.dm
Labels: none

it works
  code/game/machinery/computer/arcade/arcade.dm
Labels: none

1 ticket = 1 prize
  code/game/machinery/computer/arcade/arcade.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade.dm
  tgstation.dme
Labels: none

early returns
  modular_zubbers/code/modules/scents/reagents.dm
Labels: none

Commits suggested changes from Burger
  modular_zubbers/code/modules/reagents/drink_reagents.dm
Labels: none

oops :3
  modular_zubbers/code/modules/scents/reagents.dm
Labels: none

Update arcade_weights_oh_god.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_oh_god.dm
Labels: none

Initial changes.
  code/__DEFINES/blob_defines.dm
  code/modules/mob/living/basic/blob_minions/blob_spore.dm
Labels: none

tweaks after a test
  code/__DEFINES/blob_defines.dm
Labels: none

Update blob_defines.dm
  code/__DEFINES/blob_defines.dm
Labels: none

Adds back snowflake implants
  modular_zubbers/code/game/objects/items/implants/implant_explosive.dm
  modular_zubbers/code/modules/antagonists/ninja/outfit.dm
  modular_zubbers/modules/contractor/code/datums/midround/outfit.dm
  modular_zubbers/sound/misc/bomb_implant_countdown.ogg
  tgstation.dme
Labels: none

fixes issues
  modular_zubbers/code/game/objects/items/implants/implant_explosive.dm
Labels: none

Nerfs Miasma
  modular_zubbers/code/datums/diseases/advance/presets.dm
  modular_zubbers/code/datums/mood_events/miasma_events.dm
  modular_zubbers/code/modules/surgery/organs/internal/lungs/_lungs.dm
  tgstation.dme
Labels: none

AIs in modsuits
  code/modules/mod/mod_ai.dm
Labels: none

Fixes trash pile linter (#639)
  modular_zubbers/code/game/objects/structures/trash_pile.dm
Labels: none

Re-add and update Kilostation (#614)
  _maps/_basemap.dm
  _maps/bubber/automapper/templates/kilostation/kilostation_arrivals.dmm
  _maps/bubber/automapper/templates/kilostation/kilostation_supermatter.dmm
  _maps/kilostation.json
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/skyrat/automapper/automapper_config.toml
  code/game/objects/structures/plaques/static_plaques.dm
  config/maps.txt
Labels: Map Modification

Overrides Trappiste
  modular_zubbers/code/modules/jobs/job_types/nanotrasen_consultant.dm
Labels: none

removes the hos beacon entirely (#642)
  code/modules/jobs/job_types/head_of_security.dm
Labels: none

patches dnr examines (#643)
  modular_zubbers/code/modules/mob/living/examine.dm
  tgstation.dme
Labels: none

Adds Several Halloween Chocolate + Vendor (#607)
  modular_zubbers/code/game/objects/effects/spawners/random/burgerstation_random.dm
  modular_zubbers/code/game/objects/effects/spawners/random/vending.dm
  modular_zubbers/code/game/objects/items/food/halloween_chocolate.dm
  modular_zubbers/code/modules/vending/halloween_chocolate.dm
  modular_zubbers/icons/obj/food/halloween_chocolate.dmi
  modular_zubbers/icons/obj/machines/halloween_chocolate_vendor.dmi
  tgstation.dme
Labels: Sprites

[Modular] Overrides Trappiste (#650)
  modular_zubbers/code/modules/jobs/job_types/nanotrasen_consultant.dm
Labels: none

Hypospray & hypokit added to the cargo company listings. (#632)
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
Labels: none

Makes paper bins craftable (#615)
  modular_zubbers/code/datums/components/crafting/utility.dm
  tgstation.dme
Labels: none

[FULLY MODULAR] New quirk: Hungry (#604)
  modular_zubbers/code/datums/quirks/neutral_quirks/hungry.dm
  tgstation.dme
Labels: none

Changes tactics, adjusts unit test
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/mob/living/living_say.dm
  code/modules/unit_tests/say.dm
Labels: none

updates regex
  code/__DEFINES/~~bubber_defines/misc.dm
Labels: none

Removes the extra if
  modular_zubbers/code/modules/reagents/drink_reagents.dm
Labels: none

oops
  modular_zubbers/code/modules/reagents/drink_reagents.dm
Labels: none

Fixes the radio emote bug
  code/__DEFINES/~~bubber_defines/misc.dm
Labels: none

Adds the nobl plushie to the loadout
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: none

small typo
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: none

another oops
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: none

Gives the NTRep an e_gun
  modular_zubbers/code/modules/jobs/job_types/nanotrasen_consultant.dm
Labels: none

Update nanotrasen_consultant.dm
  modular_zubbers/code/modules/jobs/job_types/nanotrasen_consultant.dm
Labels: none

Moves the e-gun to suit storage
  modular_zubbers/code/modules/jobs/job_types/nanotrasen_consultant.dm
Labels: none

[Modular] Adds the nobl plushie to the loadout (#653)
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: none

Adds the WT-551
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/game/objects/effects/spawners/random/armory.dm
  modular_zubbers/icons/obj/weapons/guns/wt551.dmi
  modular_zubbers/modules/ballstics/wt_autorifle.dm
  modular_zubbers/sound/weapons/gun/wt551/shot.ogg
  tgstation.dme
Labels: Sprites

removes these stats
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none

slight nerf
  modular_zubbers/modules/ballstics/wt_autorifle.dm
Labels: none
