Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

Updates build.js to check for modular zubber changes (#762)
  tools/build/build.js
Labels: none

Automatic changelog for PR #762 [ci skip]
  html/changelogs/AutoChangeLog-pr-762.yml
Labels: none

Slightly more lower damage for 40 sol incind
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
Labels: none

weee
  html/changelogs/AutoChangeLog-pr-684.yml
  html/changelogs/AutoChangeLog-pr-686.yml
  html/changelogs/AutoChangeLog-pr-706.yml
  html/changelogs/AutoChangeLog-pr-715.yml
  html/changelogs/AutoChangeLog-pr-726.yml
  html/changelogs/AutoChangeLog-pr-728.yml
  html/changelogs/AutoChangeLog-pr-745.yml
  html/changelogs/AutoChangeLog-pr-755.yml
  html/changelogs/AutoChangeLog-pr-758.yml
  html/changelogs/archive/2023-11.yml
Labels: none

changelog compile 11 - 23 - 2023 [ci skip] (#764)
  html/changelogs/AutoChangeLog-pr-684.yml
  html/changelogs/AutoChangeLog-pr-686.yml
  html/changelogs/AutoChangeLog-pr-706.yml
  html/changelogs/AutoChangeLog-pr-715.yml
  html/changelogs/AutoChangeLog-pr-726.yml
  html/changelogs/AutoChangeLog-pr-728.yml
  html/changelogs/AutoChangeLog-pr-745.yml
  html/changelogs/AutoChangeLog-pr-755.yml
  html/changelogs/AutoChangeLog-pr-758.yml
  html/changelogs/archive/2023-11.yml
Labels: none

Automap Armory Changes
  _maps/bubber/automapper/templates/Birdshot/birdshot_armory.dmm
  _maps/bubber/automapper/templates/Deltastation/deltastation_armory.dmm
  _maps/bubber/automapper/templates/IceBoxStation/iceboxstation_armory.dmm
  _maps/bubber/automapper/templates/LimaStation/limastation_armory.dmm
  _maps/bubber/automapper/templates/MetaStation/metastation_armory.dmm
  _maps/bubber/automapper/templates/NorthStar/northstar_armory.dmm
  _maps/bubber/automapper/templates/biodome/biodome_armory.dmm
  _maps/bubber/automapper/templates/burgerstation/burgerstation_armory.dmm
  _maps/bubber/automapper/templates/tramstation/tramstation_armory.dmm
  _maps/skyrat/automapper/automapper_config.toml
Labels: Map Modification

Convert maps to TGM
  _maps/bubber/automapper/templates/Birdshot/birdshot_armory.dmm
  _maps/bubber/automapper/templates/Deltastation/deltastation_armory.dmm
  _maps/bubber/automapper/templates/IceBoxStation/iceboxstation_armory.dmm
  _maps/bubber/automapper/templates/LimaStation/limastation_armory.dmm
  _maps/bubber/automapper/templates/MetaStation/metastation_armory.dmm
  _maps/bubber/automapper/templates/NorthStar/northstar_armory.dmm
  _maps/bubber/automapper/templates/biodome/biodome_armory.dmm
  _maps/bubber/automapper/templates/burgerstation/burgerstation_armory.dmm
  _maps/bubber/automapper/templates/tramstation/tramstation_armory.dmm
Labels: Map Modification

Kilostation armory. Was told to. :pensive:
  _maps/bubber/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/skyrat/automapper/automapper_config.toml
Labels: Map Modification

WHY DOES THE LASER GUN SPAWNER SPAWN WT551'S?
  _maps/bubber/automapper/templates/Birdshot/birdshot_armory.dmm
  _maps/bubber/automapper/templates/Deltastation/deltastation_armory.dmm
  _maps/bubber/automapper/templates/IceBoxStation/iceboxstation_armory.dmm
  _maps/bubber/automapper/templates/MetaStation/metastation_armory.dmm
  _maps/bubber/automapper/templates/NorthStar/northstar_armory.dmm
  _maps/bubber/automapper/templates/burgerstation/burgerstation_armory.dmm
  _maps/bubber/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/bubber/automapper/templates/tramstation/tramstation_armory.dmm
Labels: Map Modification

Should be good to upload
  modular_zubbers/code/modules/designs/machine_designs.dm
  modular_zubbers/code/modules/power/circulator.dm
  modular_zubbers/code/modules/power/generator.dm
  modular_zubbers/code/modules/techweb/all_nodes.dm
  tgstation.dme
Labels: none

sprites update
  modular_zubbers/icons/donator/idmaco.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
  tgstation.dme
Labels: Sprites

Added
  code/__DEFINES/maintenance_loot.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_common.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_oddity.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_trash.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_uncommon.dm
Labels: none

code cleanup
  modular_zubbers/code/_globalvars/lists/maintenance_loot_common.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_trash.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_uncommon.dm
  modular_zubbers/code/_globalvars/lists/~maintenance_loot.dm
Labels: none

code cleanup 2
  modular_zubbers/code/_globalvars/lists/maintenance_loot_common.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_oddity.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_trash.dm
Labels: none

halves elevated loot
  code/game/objects/effects/spawners/random/maintenance.dm
Labels: none

Update maintenance_loot_uncommon.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_uncommon.dm
Labels: none

This could work
  modular_zubbers/code/datums/quirks/neutral_quirks/waddle.dm
  tgstation.dme
Labels: none

a new icon maybe
  modular_zubbers/code/datums/quirks/neutral_quirks/waddle.dm
Labels: none

Update maintenance_loot_rare.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Why the fucking shit is this not a 2 second fix.
  tgstation.dme
Labels: none

New quirk - Waddle (#766)
  modular_zubbers/code/datums/quirks/neutral_quirks/waddle.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #766 [ci skip]
  html/changelogs/AutoChangeLog-pr-766.yml
Labels: none

I'm going to compile the changelog too
  html/changelogs/AutoChangeLog-pr-762.yml
  html/changelogs/AutoChangeLog-pr-766.yml
  html/changelogs/archive/2023-11.yml
Labels: none

Ghosting, suiciding, and DNR makes your body ever so slightly transparent (#741)
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/mob/dead/observer/observer.dm
  html/changelogs/AutoChangeLog-pr-762.yml
  html/changelogs/AutoChangeLog-pr-766.yml
  html/changelogs/archive/2023-11.yml
  modular_zubbers/code/modules/indicators/code/ssd_indicator.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #741 [ci skip]
  html/changelogs/AutoChangeLog-pr-741.yml
Labels: none

Gives blueshields a new shoulder-bruising "submachinegun" that fires .585 (#24640)
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/gunsets.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/submachinegun.dm
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/xhihao_light_arms/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/xhihao_light_arms/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/xhihao_light_arms/guns32x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/gunsets.dmi
  modular_skyrat/modules/modular_weapons/sounds/smg_heavy.ogg
  tgstation.dme
Labels: Sprites

Delete guncases.dm
  modular_zubbers/code/game/objects/items/storage/guncases.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

actual sound effect
  modular_skyrat/modules/verbs/code/subtle.dm
Labels: none

goodbye
  modular_zubbers/sound/misc/subtler.ogg
Labels: none

cargo
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none

Revert "Buffids (#297)"
  code/__DEFINES/id_cards.dm
Labels: none

Update id_cards.dm
  code/__DEFINES/id_cards.dm
Labels: none

yes I'm doing this on the website
  code/__DEFINES/id_cards.dm
Labels: none

Update modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
Labels: none

Update modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
Labels: none

Update modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
Labels: none

Update sol_defense.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none
