Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

Adds sprite credit to QuartzAdachi
  modular_zubbers/code/modules/altborgs/code/robot_model.dm
Labels: none

Adds some Syndie borg sprites + Security module picker
  modular_zubbers/code/modules/altborgs/code/robot_upgrade.dm
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
  modular_zubbers/icons/mob/silicon/widerobot_syndie.dmi
  tgstation.dme
Labels: Sprites

Makes xenocommon available
  modular_skyrat/master_files/code/modules/language/language.dm
Labels: none

fixes air spam in AI core
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

removing takbok (apparently its op)
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none

Initial draft.
  modular_zubbers/code/game/machinery/burger_reactor.dm
  modular_zubbers/icons/obj/equipment/burger_reactor.dmi
Labels: Sprites

the start of memes
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Labels: none

list stuff
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Labels: none

more memes
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/projectiles/ammunition/energy/plasma.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/research/designs/mechfabricator_designs.dm
  modular_zubbers/code/game/objects/items/robot/robot_upgrades/adv_plasmacutter_upgrade.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

pre testing code
  modular_zubbers/code/game/machinery/burger_reactor.dm
  modular_zubbers/icons/obj/equipment/burger_reactor.dmi
  tgstation.dme
Labels: Sprites

comments out
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Labels: none

Update burger_reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor.dm
Labels: none

it is almost done
  modular_zubbers/code/game/machinery/burger_reactor.dm
Labels: none

imagine submitting code that actually compiles
  modular_zubbers/code/game/machinery/burger_reactor.dm
Labels: none

wires
  modular_zubbers/code/game/machinery/burger_reactor.dm
Labels: none

spreads the files out
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_circuit.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_design.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_rod.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_wires.dm
  tgstation.dme
Labels: none

experiments
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_wires.dm
Labels: none

Removes Engineering Cyborg Electric Welder (+ modularization) (#597)
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/projectiles/ammunition/energy/plasma.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/game/objects/items/robot/robot_upgrades/adv_plasmacutter_upgrade.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Labels: none

Makes xenocommon available roundstart (#596)
  modular_skyrat/master_files/code/modules/language/language.dm
Labels: none

[Modular] Adds some Syndie borg sprites + Security module picker (#595)
  modular_zubbers/code/modules/altborgs/code/robot_upgrade.dm
  modular_zubbers/code/modules/mob/living/silicon/robot/robot_model.dm
  modular_zubbers/icons/mob/silicon/widerobot_syndie.dmi
  tgstation.dme
Labels: Sprites

Adds a single table to Lima (#589)
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Modification

PR for donator items (#582)
  modular_zubbers/icons/donator/donator_items.dmi
  modular_zubbers/icons/mob/body_markings/markings.dmi
  modular_zubbers/icons/mob/sprite_accesory/snouts.dmi
  modular_zubbers/icons/mob/sprite_accesory/wings.dmi
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Sprites

Update modular_skyrat/modules/mold/code/mold_mobs.dm
  modular_skyrat/modules/mold/code/mold_mobs.dm
Labels: none

Hugboxes Mold so it can be enabled (eventually, maybe) (#587)
  modular_skyrat/modules/mold/code/mold.dm
  modular_skyrat/modules/mold/code/mold_mobs.dm
  modular_skyrat/modules/mold/code/mold_structures.dm
Labels: none

Replaces all braindamage text with Dracula Flow (#591)
  strings/traumas.json
Labels: none

Added *chirp, modified *caw (#579)
  modular_zubbers/modules/emotes/code/emotes.dm
  modular_zubbers/modules/emotes/sound/voice/caw.ogg
  modular_zubbers/modules/emotes/sound/voice/caw2.ogg
  modular_zubbers/modules/emotes/sound/voice/chirp.ogg
  tgstation.dme
Labels: none

Tweaks Validmov (Safeguard) to something less validhunty and more in tune with the new rules. (#546)
  modular_zubbers/code/game/objects/items/ai_modules/full_lawsets.dm
Labels: none

[MODULAR] Ashwalker-friend (#522)
  modular_zubbers/code/game/objects/items/food/meatslab.dm
  modular_zubbers/code/modules/antagonists/ashwalker/ashwalker.dm
  modular_zubbers/code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  modular_zubbers/modules/ashwalkers/code/effects/ash_rituals.dm
  tgstation.dme
Labels: none

toss it thru sdmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_arena.dmm
Labels: Map Modification

repath
  modular_zubbers/code/game/objects/items/food/meatslab.dm
Labels: none

mapping fixes for biodome and lima
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

Fixes Burgerstation Disposals, Detective Access, and Bitrunner access. (#586)
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Almost done!!!!
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_wires.dm
  modular_zubbers/code/modules/atmospherics/gasmixtures/gas_types.dm
  tgstation.dme
Labels: none

Update reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
Labels: none

fixes deletion error
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
Labels: none

tested and fixed
  code/__DEFINES/fish.dm
  code/__DEFINES/fishing_zubbers.dm
  tgstation.dme
Labels: none

health analyzer stuff
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: none

+bitrunner spawn
  _maps/map_files/debug/ss13_construct.dmm
Labels: Map Modification

eeee
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none
