Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

Character directory integration
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

Automatic changelog for PR #846 [ci skip]
  html/changelogs/AutoChangeLog-pr-846.yml
Labels: none

It's eternity in there, Briefcase Launchpad available again (#855)
  code/modules/uplink/uplink_items/device_tools.dm
Labels: none

Automatic changelog for PR #855 [ci skip]
  html/changelogs/AutoChangeLog-pr-855.yml
Labels: none

Added
  code/game/objects/items/crab17.dm
  modular_zubbers/code/modules/uplink/uplink_items/device_tools.dm
  tgstation.dme
Labels: none

now modular
  icons/mob/simple/slimes.dmi
  icons/obj/science/slimecrossing.dmi
  modular_zubbers/code/modules/mob/living/simple_animal/slime/slime_sprites_override.dm
  modular_zubbers/icons/mob/simple/slimecrossing.dmi
  modular_zubbers/icons/mob/simple/slimes.dmi
  tgstation.dme
Labels: Sprites

this is needed
  modular_zubbers/icons/mob/simple/slimes.dmi
Labels: Sprites

finally update from auto sort
  tgstation.dme
Labels: none

ok
  html/changelogs/AutoChangeLog-pr-564.yml
  html/changelogs/AutoChangeLog-pr-837.yml
  html/changelogs/AutoChangeLog-pr-846.yml
  html/changelogs/AutoChangeLog-pr-855.yml
  html/changelogs/AutoChangeLog-pr-859.yml
  html/changelogs/archive/2023-12.yml
Labels: none

changelog 12/18/2023 (#866)
  html/changelogs/AutoChangeLog-pr-564.yml
  html/changelogs/AutoChangeLog-pr-837.yml
  html/changelogs/AutoChangeLog-pr-846.yml
  html/changelogs/AutoChangeLog-pr-855.yml
  html/changelogs/AutoChangeLog-pr-859.yml
  html/changelogs/archive/2023-12.yml
Labels: none

[Modular] adds Job Estimation to the statpanel (#782)
  modular_zubbers/code/modules/client/autopunctuation/preferences.dm
  modular_zubbers/code/modules/job_estimation/code/dead.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/ready_job.tsx
Labels: none

Automatic changelog for PR #782 [ci skip]
  html/changelogs/AutoChangeLog-pr-782.yml
Labels: none

testing define OFF
  modular_zubbers/code/modules/antagonists/bloodsucker/code/defines.dm
Labels: none

aaaaaaa
  modular_zubbers/modules/loadouts/code/donator/idmaco_donator.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_glasses.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_gloves.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_heads.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_inhands.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_mask.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_neck.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_pocket.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_shoes.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_suit.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_toys.dm
  modular_zubbers/modules/loadouts/code/loadout_datum_under.dm
  modular_zubbers/modules/loadouts/readme.md
  tgstation.dme
Labels: none

V
  modular_zubbers/modules/loadouts/code/loadout_datum_mask.dm
Labels: none

SonicGotNuked requested night timer to be 20minutes
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/sol_subsystem.dm
Labels: none

makes vampirin not learnable by anyone and makes frenzy yell at you more clearly about blood
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/frenzy.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/vampiric.dm
Labels: none

odd that defines don't here work, but I guess it makes sense
  modular_zubbers/code/modules/antagonists/bloodsucker/code/bloodsuckers/sol_subsystem.dm
Labels: none

Update maps.txt
  config/maps.txt
Labels: none

muted row colors
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

Darkened character directory rows (#869)
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

gonna try to webedit this, yolo
  tgui/packages/tgui/interfaces/ExaminePanel.js
Labels: none

Just in case it's case sensitive
  tgui/packages/tgui/interfaces/ExaminePanel.js
Labels: none

some legitimately insane additions
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

SILICON HEADSHOT (REAL)
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_zubbers/code/modules/client/flavor_text/silicon_headshot.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/species_features.tsx
Labels: none

I should probably go to bed
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

ok i sleep now
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

This one actually works
  tgui/packages/tgui/interfaces/ExaminePanel.js
Labels: none

cleaning
  .vscode/settings.json
  code/__HELPERS/global_lists.dm
  modular_zubbers/icons/mob/body_markings/markings.dmi
  modular_zubbers/master_files/code/modules/client/preferences/middleware/voice_preview.dm
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #838 [ci skip]
  html/changelogs/AutoChangeLog-pr-838.yml
Labels: none
