Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Update tgstation.dme
  tgstation.dme
Labels: none

Adds a Christmas themed SM and allows you to put a Christmas hat atop (#810)
  modular_zubbers/modules/seasons/christmas/code/supermatter.dm
  modular_zubbers/modules/seasons/christmas/icons/supermatter.dmi
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #810 [ci skip]
  html/changelogs/AutoChangeLog-pr-810.yml
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Revert "Update tgstation.dme"
  tgstation.dme
Labels: none

fixes linters
  tgstation.dme
Labels: none

Updates exploitables, reorders interface, comments
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

Hopefully fixes this error
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

patch checks
  modular_skyrat/master_files/code/modules/events/_event.dm
  modular_zubbers/code/modules/storyteller/storyteller.dm
Labels: none

instances of player checks
  modular_zubbers/code/modules/storyteller/scheduled_event.dm
Labels: none

Fixes the .js
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: none

break linters
  tgstation.dme
Labels: none

SMG and Guncase Weight Adjustments
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_zubbers/modules/modular_weapons/code/gunsets.dm
  tgstation.dme
Labels: none

Large magazines can no longer be purchased
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none

yolo?
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
  modular_skyrat/modules/ices_events/code/events/ev_meteors.dm
  modular_zubbers/code/modules/storyteller/scheduled_event.dm
  modular_zubbers/code/modules/storyteller/storyteller.dm
Labels: none

Trailing new lines (THIS ISNT GOING TO FIX IT BUBBY)
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_zubbers/modules/modular_weapons/code/gunsets.dm
Labels: none

Revert Pistol Case Size Change
  modular_zubbers/modules/modular_weapons/code/gunsets.dm
Labels: none

fix the panel and less timers
  code/modules/events/_event.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
Labels: none

Makes the SAD need synthflesh for monkeys
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: none

a
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: none

Small tweaks
  code/modules/mob/dead/new_player/new_player.dm
  modular_zubbers/code/modules/jobs/_job.dm
  tgstation.dme
Labels: none

done
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Removes santa claus
  code/datums/quirks/negative_quirks/claustrophobia.dm
Labels: none

Automatic changelog for PR #761 [ci skip] ## About The Pull Request
  modular_zubbers/code/__DEFINES/flags.dm
Labels: none

forgot about it
  tgstation.dme
Labels: none

Now works
  code/__DEFINES/_flags.dm
  modular_zubbers/code/__DEFINES/flags.dm
  tgstation.dme
Labels: none

Update LimaStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Modification

adding waterpig to the thing
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

Adjustment, adds TG's fix to webpack.config.js
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
  tgui/webpack.config.js
Labels: none

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

Update idmaco_worn.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
Labels: Sprites

Update idmaco_donator.dm
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: none

This should fix it, test soon
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

Adds arrival shuttle console on lima (#816)
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Modification

Automatic changelog for PR #816 [ci skip]
  html/changelogs/AutoChangeLog-pr-816.yml
Labels: none

Removes santa claus (From making claustrophobes die) (#814)
  code/datums/quirks/negative_quirks/claustrophobia.dm
Labels: none

Automatic changelog for PR #814 [ci skip]
  html/changelogs/AutoChangeLog-pr-814.yml
Labels: none

Fixes observers not being able to see directory
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

More comments
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

Fixes assistants and prisoners, add s comments
  modular_zubbers/code/modules/mob/dead/dead.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
