Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

commit
  _maps/shuttles/zubbers/Pirate_IRS_Better.dmm
Labels: Map Modification

commit
  _maps/shuttles/zubbers/Pirate_IRS_Better.dmm
Labels: Map Modification

commit
  _maps/RandomRuins/SpaceRuins/bubberstation/Abandoned CentCom Telecomms Satellite.dmm
Labels: Map Modification

commit
  _maps/RandomRuins/SpaceRuins/bubberstation/Abandoned CentCom Telecomms Satellite.dmm
Labels: Map Modification

commit
  _maps/RandomRuins/SpaceRuins/bubberstation/SBC-44.dmm
Labels: Map Modification

wee
  modular_zubbers/code/modules/cargo/packs/tech.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Labels: none

oops
  modular_zubbers/code/modules/cargo/packs/tech.dm
Labels: none

oops 2x
  modular_zubbers/code/modules/cargo/packs/tech.dm
Labels: none

Fuck you un-capitalizes your items
  modular_zubbers/code/game/Items/storage/backpack.dm
  modular_zubbers/code/game/objects/items/cards_ids.dm
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/game/objects/items/stacks/medical.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/clothing/under/jobs/command.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  modular_zubbers/code/modules/reagents/reagent_containers/cups/glassbottle.dm
  modular_zubbers/code/modules/surgery/tools.dm
  modular_zubbers/modules/clothing/head/helmet.dm
Labels: none

Fixes the RB-MK2 sniffer not broadcasting. (#694)
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_wires.dm
Labels: none

Changes where Goblin Gas is outputted in the RBMK2 (#696)
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
Labels: none

Fixes medbay disposals (#714)
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Reverts "Subverts Democracy and destroys the Meta-Icebox-Delta voting cycle by adding negative voting multipliers to recently played maps. (#554)" (#710)
  code/controllers/subsystem/persistence.dm
  modular_zubbers/code/datums/votes/map_vote.dm
  tgstation.dme
Labels: none

Update modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
Labels: none

Update modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
Labels: none

Update modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
Labels: none

restaurant portal can be moved w/ wrench (#690)
  code/modules/food_and_drinks/restaurant/_venue.dm
Labels: none

[Modular] Loads of cosmetics (Nice) (#699)
  modular_zubbers/code/game/Items/storage/backpack.dm
  modular_zubbers/code/game/objects/items/cards_ids.dm
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/game/objects/items/stacks/medical.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/clothing/under/jobs/command.dm
  modular_zubbers/code/modules/command_vendor/vending.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  modular_zubbers/code/modules/reagents/reagent_containers/cups/glassbottle.dm
  modular_zubbers/code/modules/surgery/tools.dm
  modular_zubbers/icons/mob/clothing/back/backpack.dmi
  modular_zubbers/icons/mob/clothing/backpack.dmi
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/mob/clothing/suits/jacket.dmi
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
  modular_zubbers/icons/mob/clothing/under/captain.dmi
  modular_zubbers/icons/mob/inhands/equipment/backpack_lefthand.dmi
  modular_zubbers/icons/mob/inhands/equipment/backpack_righthand.dmi
  modular_zubbers/icons/mob/inhands/equipment/idcards_lefthand.dmi
  modular_zubbers/icons/mob/inhands/equipment/idcards_righthand.dmi
  modular_zubbers/icons/mob/sprite_accesory/wings.dmi
  modular_zubbers/icons/obj/card.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/jacket.dmi
  modular_zubbers/icons/obj/clothing/runnerjacketdono.dmi
  modular_zubbers/icons/obj/clothing/under/captain.dmi
  modular_zubbers/icons/obj/drinks/bottles.dmi
  modular_zubbers/icons/obj/medical/surgery_tools.dmi
  modular_zubbers/icons/obj/storage/backpack.dmi
  modular_zubbers/icons/obj/toys/plushes.dmi
  modular_zubbers/modules/clothing/head/helmet.dm
  tgstation.dme
Labels: Sprites

STARWIRE
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
Labels: none

Update modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
Labels: none

MINOR SPELLING MISTAKE (#720)
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
Labels: none

so over
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
Labels: none

Oh nice
  code/__DEFINES/~~bubber_defines/research_categories.dm
  modular_zubbers/code/modules/synths/code/designs/exofab_designs.dm
  tgstation.dme
Labels: none

this is it hopefully
  modular_zubbers/code/modules/synths/code/synth_prefab.dm
  tgstation.dme
Labels: none

fixes the whitespace
  modular_zubbers/code/modules/synths/code/bodyparts/stomach.dm
Labels: none

Update modular_zubbers/code/game/objects/items/centcomsword.dm
  modular_zubbers/code/game/objects/items/centcomsword.dm
Labels: none

Update modular_zubbers/code/modules/clothing/belts/Sword Sheath.dm
  modular_zubbers/code/modules/clothing/belts/Sword Sheath.dm
Labels: none

commit
  code/modules/antagonists/fugitive/hunters/hunter_outfits.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  config/skyrat/veteran_players.txt
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
  modular_zubbers/code/modules/clothing/masks.dm
  modular_zubbers/code/modules/projectiles/guns/ballistic/pistol.dm
  modular_zubbers/icons/mob/clothing/masks.dmi
  modular_zubbers/icons/obj/clothing/masks.dmi
  tgstation.dme
Labels: Sprites

commit
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_zubbers/code/modules/clothing/masks.dm
  modular_zubbers/code/modules/projectiles/guns/ballistic/pistol.dm
  modular_zubbers/icons/obj/weapons/guns/m1990.dmi
  modular_zubbers/sound/voice/cpdeath/die1.ogg
  modular_zubbers/sound/voice/cpdeath/die2.ogg
  modular_zubbers/sound/voice/cpdeath/die3.ogg
  modular_zubbers/sound/voice/cpdeath/die4.ogg
  tgstation.dme
Labels: Sprites

commit
  modular_zubbers/code/modules/clothing/masks.dm
  modular_zubbers/sound/voice/cpdeath/die2.ogg
  modular_zubbers/sound/voice/cpdeath/die3.ogg
  modular_zubbers/sound/voice/cpdeath/die4.ogg
  sound/voice/police_death.ogg
Labels: none

commit
  modular_zubbers/code/modules/clothing/masks.dm
Labels: none

commit
  _maps/RandomRuins/SpaceRuins/bubberstation/SBC-44.dmm
Labels: Map Modification

needs documentation
  code/__DEFINES/atom_hud.dm
  code/game/data_huds.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/living_defines.dm
Labels: none

remove icon if full
  code/game/data_huds.dm
Labels: none

Update code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: none

round up
  code/game/data_huds.dm
Labels: none

span
  code/game/data_huds.dm
Labels: none

Update _maps/_basemap.dm
  _maps/_basemap.dm
Labels: Map Modification

Update burgerstation_new.dmm
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

This
  modular_zubbers/code/modules/synths/code/designs/exofab_designs.dm
  modular_zubbers/code/modules/synths/code/synth_prefab.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
