Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'

aaaaaaa
  modular_zubbers/modules/customization/icons/wings.dmi
Labels: Sprites

fucking
  modular_zubbers/modules/customization/icons/wings.dmi
Labels: Sprites

Ugh....still nothing
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
  modular_zubbers/code/modules/power/generator.dm
Labels: none

FIxing CI errors
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
  code/modules/power/generator.dm
  tgstation.dme
Labels: none

no comment
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
  code/modules/power/generator.dm
Labels: none

pipes
  _maps/map_files/burgerstation/burgerstation_new.dmm
Labels: Map Modification

fixes
  modular_zubbers/code/modules/surgery/organs/internal/lungs/_lungs.dm
  tgstation.dme
Labels: none

Update code/modules/hydroponics/unique_plant_genes.dm
  code/modules/hydroponics/unique_plant_genes.dm
Labels: none

add balanced
  modular_zubbers/code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: none

IT JUST WORKS
  code/game/machinery/computer/crew.dm
  modular_zubbers/code/modules/clothing/under/_under.dm
Labels: none

Adjusts the text to match
  modular_zubbers/code/modules/mob/dead/dead.dm
Labels: none

Viva la flip emote
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: none

[Modular] ACTUALLY Restores some Languages removed by our ball & chain.
  modular_zubbers/modules/customization/modules/language/_language_holder.dm
  modular_zubbers/modules/customization/modules/language/nekomimetic.dm
  modular_zubbers/modules/customization/modules/language/piratespeak.dm
  tgstation.dme
Labels: none

Update nekomimetic.dm
  modular_zubbers/modules/customization/modules/language/nekomimetic.dm
Labels: none

Removes Explosive Lemon Grudgecode because I died to it once. (#796)
  code/modules/hydroponics/unique_plant_genes.dm
Labels: none

Automatic changelog for PR #796 [ci skip]
  html/changelogs/AutoChangeLog-pr-796.yml
Labels: none

[MODULAR] Freedom Crate!! An early celebration of that American holiday thing. (#778)
  modular_zubbers/code/modules/cargo/packs/contraband.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #778 [ci skip]
  html/changelogs/AutoChangeLog-pr-778.yml
Labels: none

Update imports.dm
  code/modules/cargo/packs/imports.dm
Labels: none

revert the tg vent pump limit because it's a bad change
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
Labels: none

Suit Sensors EMP Overhaul (Because I died in maint after getting EMP'd once) (#801)
  code/game/machinery/computer/crew.dm
  code/modules/clothing/under/_under.dm
  modular_zubbers/code/modules/clothing/under/_under.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #801 [ci skip]
  html/changelogs/AutoChangeLog-pr-801.yml
Labels: none

Maintenance Loot Rebalancing (#765)
  code/__DEFINES/maintenance_loot.dm
  code/game/objects/effects/spawners/random/maintenance.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_common.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_oddity.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_trash.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_uncommon.dm
  modular_zubbers/code/_globalvars/lists/~maintenance_loot.dm
Labels: none

Automatic changelog for PR #765 [ci skip]
  html/changelogs/AutoChangeLog-pr-765.yml
Labels: none

changelog
  html/changelogs/AutoChangeLog-pr-777.yml
  html/changelogs/AutoChangeLog-pr-778.yml
  html/changelogs/AutoChangeLog-pr-781.yml
  html/changelogs/AutoChangeLog-pr-783.yml
  html/changelogs/AutoChangeLog-pr-796.yml
  html/changelogs/archive/2023-12.yml
Labels: none

QM spawns with permit sunglasses (#804)
  code/modules/jobs/job_types/quartermaster.dm
  html/changelogs/AutoChangeLog-pr-777.yml
  html/changelogs/AutoChangeLog-pr-778.yml
  html/changelogs/AutoChangeLog-pr-781.yml
  html/changelogs/AutoChangeLog-pr-783.yml
  html/changelogs/AutoChangeLog-pr-796.yml
  html/changelogs/archive/2023-12.yml
Labels: none

Automatic changelog for PR #804 [ci skip]
  html/changelogs/AutoChangeLog-pr-804.yml
Labels: none

[Modular] Adds Clown & Mime Planet to the Fax. (#785)
  modular_zubbers/code/modules/paperwork/fax.dm
Labels: none

New Quirk : Dead Inside (#761)
  modular_zubbers/code/datums/bubber_quirks/deadinside.dm
  tgstation.dme
Labels: none

breaking linters
  tgstation.dme
Labels: none

Update modular_zubbers/code/modules/lewd_machinery/lustwish.dm
  modular_zubbers/code/modules/lewd_machinery/lustwish.dm
Labels: none

Automatic changelog for PR #785 [ci skip]
  html/changelogs/AutoChangeLog-pr-785.yml
Labels: none

Automatic changelog for PR #761 [ci skip]
  html/changelogs/AutoChangeLog-pr-761.yml
Labels: none

Modularizes the area spawn edit
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_zubbers/modules/automapper/code/area_spawn_entries.dm
Labels: none

This builds, let's try it
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

Fixes some variables and such
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: none

TC reversion
  modular_skyrat/modules/contractor/code/datums/midround/outfit.dm
  modular_skyrat/modules/skyrat-uplinks/code/uplink_implant.dm
  tgstation.dme
Labels: none

Initializeing()
  modular_zubbers/modules/customization/modules/language/_language_holder.dm
Labels: none

Update _language_holder.dm
  modular_zubbers/modules/customization/modules/language/_language_holder.dm
Labels: none

Guess not.
  modular_zubbers/modules/customization/modules/language/_language_holder.dm
Labels: none
