Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

bitrunning vendor, errant cable, some lights
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Update dynamic_midround_rolling.dm
  code/game/gamemodes/dynamic/dynamic_midround_rolling.dm
Labels: none

Tweaks Variables
  code/__DEFINES/wounds.dm
Labels: none

Makes it so ears and hair are visible for the hat
  modular_zubbers/modules/clothing/head/helmet.dm
Labels: none

oops!
  code/__DEFINES/wounds.dm
Labels: none

double oops!
  code/__DEFINES/wounds.dm
Labels: none

I hate how I have to fucking do this
  modular_zubbers/code/game/objects/items/weaponry.dm
Labels: none

Update weaponry.dm
  modular_zubbers/code/game/objects/items/weaponry.dm
Labels: none

Skyrat Armory Removal
  _maps/map_files/burgerstation/burgerstation.dmm
  modular_zubbers/code/game/objects/effects/spawners/random/armory.dm
  tgstation.dme
Labels: Map Modification

forgot to include
  modular_zubbers/code/game/objects/items/weaponry.dm
  tgstation.dme
Labels: none

fixes the interaction descriptions
  modular_zubbers/modules/clothing/head/helmet.dm
Labels: none

Update head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Labels: none

Update human_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: none

If this works I will cry of joy
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

Fixes last touches
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

Update maps.txt
  config/maps.txt
Labels: none

minor touches
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

Maybe fixes a memory leak hopefully
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
Labels: none

Will this work?
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

a
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

screams loudly
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
Labels: none

makes frames a little darker
  modular_zubbers/icons/obj/doors/doorfire.dmi
  modular_zubbers/icons/obj/doors/doorfireglass.dmi
Labels: Sprites

gives the firelocks more shape when closed/open
  modular_zubbers/icons/obj/doors/doorfire.dmi
  modular_zubbers/icons/obj/doors/doorfireglass.dmi
Labels: Sprites

draft as fug
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_zubbers/code/game/objects/items/fleshlight.dm
  modular_zubbers/icons/obj/fleshlight.dmi
  tgstation.dme
Labels: Sprites

Morgue vendor, more space, more fixes
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

hugboxes the reactor
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_rod.dm
Labels: none

woops
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

makes organs stink
  modular_zubbers/code/modules/organs/rot.dm
  tgstation.dme
Labels: none

Kilo Arrival shuttle door
  _maps/bubber/automapper/templates/kilostation/kilostation_arrivals.dmm
  _maps/skyrat/automapper/automapper_config.toml
Labels: Map Modification

visibility
  modular_zubbers/code/modules/organs/rot.dm
Labels: none

some pref changes by default
  code/modules/client/preferences/darkened_flash.dm
  code/modules/client/preferences/parallax.dm
  code/modules/client/preferences/scaling_method.dm
Labels: none

Update halloween_chocolate.dm
  modular_zubbers/code/game/objects/items/food/halloween_chocolate.dm
Labels: none

Update networked_fibers.dm
  code/modules/antagonists/blob/blobstrains/networked_fibers.dm
Labels: none

Update networked_fibers.dm
  code/modules/antagonists/blob/blobstrains/networked_fibers.dm
Labels: none

Contractor and Ninja Modsuits Are Eternal
  modular_zubbers/code/modules/antagonists/modglue.dm
  tgstation.dme
Labels: none

more physical
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: none

The walls are speaking to me
  tgui/packages/tgui/interfaces/ZubbersFlappyMoth.tsx
Labels: none

Update maps.txt
  config/maps.txt
Labels: none

Update jobs.dm
  modular_zubbers/code/datums/id_trim/jobs.dm
Labels: none

I have went insane and improved the reactor.
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_acts.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_guide.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_icon.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_rod.dm
  modular_zubbers/icons/obj/equipment/burger_reactor.dmi
  modular_zubbers/sound/machines/rbmk2/failure01.ogg
  modular_zubbers/sound/machines/rbmk2/failure02.ogg
  modular_zubbers/sound/machines/rbmk2/failure03.ogg
  modular_zubbers/sound/machines/rbmk2/failure04.ogg
  modular_zubbers/sound/machines/rbmk2/ionization.ogg
  tgstation.dme
Labels: Sprites

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
