Repository Bubberstation/Bubberstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Update tgstation.dme
  tgstation.dme
Labels: none

fixes misplaced lettuce
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fuck it, we grill
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fuel for the fire
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

various fixes and changes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

lots of changes and fixes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

Removes reagent restriction for forging
  modular_skyrat/modules/reagent_forging/code/forge.dm
Labels: none

Bangle's Dono Item (#467)
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/icons/obj/clothing/suits/collared_vest.dmi
Labels: Sprites

Jukeboksss Update (#462)
  modular_zubbers/code/modules/cargo/packs/service.dm
  tgstation.dme
Labels: none

Reebe touchups (#454)
  _maps/skyrat/lazy_templates/reebe.dmm
Labels: Map Modification

Fixes something about the new bounties (#452)
  modular_zubbers/code/modules/cargo/bounties/blacksmith.dm
Labels: none

Fixes sensitive snout typo (#451)
  modular_skyrat/master_files/code/datums/traits/negative.dm
Labels: none

grrr fixes gags menu cutely (#463)
  code/modules/admin/greyscale_modify_menu.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/tgui/states/greyscale_menu.dm
  code/modules/vending/_vending.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
Labels: none

[non-modular] Space Ninja no longer spawns in BALD. (#440)
  code/modules/antagonists/space_ninja/space_ninja.dm
Labels: none

woa momma
  code/modules/research/designs/mechfabricator_designs.dm
Labels: none

ye
  modular_skyrat/modules/reagent_forging/code/forge.dm
Labels: none

Changes the cost of the borg expander to be 1 sheet of iron, not 100 (#473)
  code/modules/research/designs/mechfabricator_designs.dm
Labels: none

Removes the species restriction placed on reagent forging (#472)
  modular_skyrat/modules/reagent_forging/code/forge.dm
Labels: none

Revert "Bangle's Dono Item (#467)"
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/icons/obj/clothing/suits/collared_vest.dmi
Labels: Sprites

bangle item fix
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: none

bangle item fix (#475)
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: none

FIXES THE BROKEN SHIT
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: none

remove unnecessary files
  modular_zubbers/code/datums/ai_laws/laws_antagonistic.dm
  modular_zubbers/code/datums/ai_laws/laws_neutral.dm
Labels: none

The Fuckening pt 1
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_chems.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_diveworm.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_general.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_symbiote.dm
Labels: none

fix biodome linter errors
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification

removes meth custom OD
  modular_skyrat/modules/cortical_borer/code/cortical_borer_chems.dm
Labels: none

fix limastation compiling by removing an item
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Modification

fix a warning about an unused variable
  code/modules/unit_tests/station_trait_tests.dm
Labels: none

various improvements and fixes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes some silly things
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes disposals
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

hehehehehe
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

hugboxes power, fixes lack of safes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes various engineering/atmos issues
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

moves a lot of things around, makes thing bigger, fixes issues
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

replaces various maintenance areas
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

misc fixes and changes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

additional fixes
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

fixes integration tests
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

adds missing walls
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Map Modification

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modification:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
