Repository Bubberstation/Bubberstation, pull requests merged in 2023-04, with the labels that each got.

#139 blueshield buff
  code/modules/projectiles/ammunition/energy/laser.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/medkit.dm
  modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/icons/energy.dmi
Labels: balance changes, feature

#154 Kangaroo Tail (Alt)
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/icons/customization/kangarooalt.dmi
Labels: test merge candidate, sprites

#166 adds *mggaow
  modular_skyrat/modules/emote_panel/code/emote_panel.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/voice/mggaow.ogg
Labels: feature, test merge candidate

#157 a buff to security
  code/__DEFINES/~skyrat_defines/gun.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  modular_zubbers/code/game/objects/items/reshirevolver.dm
  modular_zubbers/icons/obj/pouches.dmi
  modular_zubbers/icons/obj/reshirevolver.dmi
  tgstation.dme
Labels: balance changes, help wanted, feature, sprites

#203 SharkWaifu's Donator Item
  _maps/map_files/Deltastation/DeltaStation2_bubber.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_bubber.dmm
  _maps/map_files/MetaStation/MetaStation_bubber.dmm
  _maps/map_files/VoidRaptor/VoidRaptor_bubber.dmm
  _maps/map_files/tramstation/tramstation_bubber.dmm
  modular_zubbers/icons/mob/simple/pets.dmi
Labels: donor

#204 Clears the lint out of the washing machine
  _maps/map_files/tramstation/tramstation_bubber.dmm
  code/game/objects/items/melee/baton.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/warden.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Labels: Fix, Holy Fix
