Repository Bubberstation/Bubberstation, pull requests merged in 2023-08, with the labels that each got.

#272 Adds nearly every item to the game into maintenance.
  code/__DEFINES/maintenance_loot.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/effects/spawners/random/maintenance.dm
  code/modules/admin/admin_verbs.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  modular_zubbers/code/_globalvars/lists/_maintenance_loot.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_common.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_oddity.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_trash.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_uncommon.dm
  modular_zubbers/code/_globalvars/lists/~maintenance_loot.dm
  modular_zubbers/code/modules/admin/verbs/debug.dm
  tgstation.dme
Labels: Balance Changes, Test Merge Candidate

#436 fixes oversized quirk replacing synth/nohunger species stomach (take 2)
  modular_skyrat/modules/oversized/code/oversized_quirk.dm
Labels: Test Merge Candidate

#462 Jukeboksss Update
  modular_zubbers/code/modules/cargo/packs/service.dm
  tgstation.dme
Labels: Test Merge Candidate

#463 grrr fixes gags menu cutely
  code/modules/admin/greyscale_modify_menu.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/tgui/states/greyscale_menu.dm
  code/modules/vending/_vending.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
Labels: Test Merge Candidate, Holy Fix

#475 bangle item fix
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: ! Critical Priority !
