Repository Bubberstation/Bubberstation, pull requests merged in 2023-10, with the labels that each got.

#614 Re-add and update Kilostation
  _maps/_basemap.dm
  _maps/bubber/automapper/templates/kilostation/kilostation_arrivals.dmm
  _maps/bubber/automapper/templates/kilostation/kilostation_supermatter.dmm
  _maps/kilostation.json
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/skyrat/automapper/automapper_config.toml
  code/game/objects/structures/plaques/static_plaques.dm
  config/maps.txt
Labels: Test Merge Candidate

#654 [Modular] Gives the NTRep an e_gun
  modular_zubbers/code/modules/jobs/job_types/nanotrasen_consultant.dm
Labels: Balance Changes, Test Merge Candidate

#657 Replaces Dauntless combat shotguns with solfed evil riot shotguns
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: Test Merge Candidate, map changes

#663 Kilo late fix
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: map changes, Fix

#664 Fixes the changelog to properly reflect our server
  tgui/packages/tgui/interfaces/Changelog.js
Labels: Fix

#628 [Tested And Ready] Adds auto punctuation
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/mob/living/living_say.dm
  code/modules/unit_tests/say.dm
  tgstation.dme
Labels: Help Wanted, Test Merge Candidate, Test Merged

#665 [Fixes modularity] Restores Radioblock refreshed
  code/modules/mob/living/living_say.dm
Labels: Test Merge Candidate, Test Merged, TG Balance Revert

#480 [Non-Modular] Reverts changeling balance back to TG
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Balance Changes, Test Merge Candidate, Test Merged

#673 Fixes the GMM cargo order
  code/modules/cargo/packs/imports.dm
Labels: Fix
