Repository Bubberstation/Bubberstation, pull requests merged in 2023-12, with the labels that each got.

#801 Suit Sensors EMP Overhaul (Because I died in maint after getting EMP'd once)
  code/game/machinery/computer/crew.dm
  code/modules/clothing/under/_under.dm
  modular_zubbers/code/modules/clothing/under/_under.dm
  tgstation.dme
Labels: Feature

#785 [Modular] Adds Clown & Mime Planet to the Fax.
  modular_zubbers/code/modules/paperwork/fax.dm
Labels: Reviewed

#797 Lit Cakes (modular + tested)
  modular_zubbers/modules/modular_items/code/cake_light.dm
  tgstation.dme
Labels: Feature, Good First PR, Reviewed

#773 No signaller in the prison LustWish
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/code/modules/lewd_machinery/lustwish.dm
  modular_zubbers/modules/automapper/code/area_spawn_entries.dm
  tgstation.dme
Labels: Good Idea, Reviewed

#752 Adds sound effects to the subtler emote
  modular_skyrat/modules/verbs/code/subtle.dm
Labels: Test Merge Candidate, Feature, Good Idea

#770 Revert "Buffids" - Reverts ID trim access back to TG (But leaves a little extra slots still)
  code/__DEFINES/id_cards.dm
Labels: Balance Changes, Reviewed

#815 [Not-Modular] Tesla zap now make power
  code/__DEFINES/_flags.dm
Labels: Balance Changes, Good Idea, TG Balance Revert, Reviewed

#812 Clarifies flavor text requirements, prisoners can't spawn with razor claws
  code/modules/mob/dead/new_player/new_player.dm
  modular_zubbers/code/modules/jobs/_job.dm
  tgstation.dme
Labels: Feature, Good Idea, Documentation

#820 Adds "Merged" and "Closed" stamps
  code/modules/asset_cache/assets/paper.dm
  icons/stamp_icons/large_stamp-closed.png
  icons/stamp_icons/large_stamp-merged.png
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
  modular_zubbers/code/game/objects/items/storage/briefcase.dm
  modular_zubbers/code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  modular_zubbers/code/modules/paperwork/folders_premade.dm
  modular_zubbers/code/modules/paperwork/paper_premade.dm
  modular_zubbers/code/modules/paperwork/stamps.dm
  modular_zubbers/icons/obj/service/bureaucracy.dmi
  tgstation.dme
Labels: Against God & Nature, Unfathomably Based

#754 Sol-Fed Guns Return to Cargo
  _maps/bubber/automapper/templates/Birdshot/birdshot_armory.dmm
  _maps/bubber/automapper/templates/Deltastation/deltastation_armory.dmm
  _maps/bubber/automapper/templates/IceBoxStation/iceboxstation_armory.dmm
  _maps/bubber/automapper/templates/LimaStation/limastation_armory.dmm
  _maps/bubber/automapper/templates/MetaStation/metastation_armory.dmm
  _maps/bubber/automapper/templates/NorthStar/northstar_armory.dmm
  _maps/bubber/automapper/templates/biodome/biodome_armory.dmm
  _maps/bubber/automapper/templates/burgerstation/burgerstation_armory.dmm
  _maps/bubber/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/bubber/automapper/templates/tramstation/tramstation_armory.dmm
  _maps/skyrat/automapper/automapper_config.toml
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/pistol.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/ammo.dm
  modular_zubbers/modules/modular_weapons/code/gunsets.dm
  tgstation.dme
Labels: Balance Changes, Test Merge Candidate, Test Merged, Skyrat Feature Revert

#768 Cherry Pick: Gives blueshields a new shoulder-bruising "submachinegun" (Early Balance Changes)
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/gunsets.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/submachinegun.dm
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/xhihao_light_arms/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/xhihao_light_arms/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/xhihao_light_arms/guns32x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/gunsets.dmi
  modular_skyrat/modules/modular_weapons/sounds/smg_heavy.ogg
  modular_zubbers/code/game/objects/items/storage/guncases.dm
  tgstation.dme
Labels: Balance Changes, Test Merge Candidate, Skyrat Feature Revert

#668 [Event Testmerge Only] Adds reverie to the fax list
  modular_zubbers/code/modules/paperwork/fax.dm
Labels: Test Merge Candidate, Test Merged

#825 Disables the Galactic Materials Market completely
  code/modules/cargo/packs/imports.dm
  modular_zubbers/code/modules/cargo/packs/metalsheets.dm
  tgstation.dme
Labels: Removal

#803 [Modular] ACTUALLY Restores some Languages removed by our ball & chain.
  modular_zubbers/modules/customization/modules/language/_language_holder.dm
  modular_zubbers/modules/customization/modules/language/nekomimetic.dm
  modular_zubbers/modules/customization/modules/language/piratespeak.dm
  tgstation.dme
Labels: Reviewed

#842 [EARLY MIRROR] Holiday Supermatter
  code/game/objects/effects/countdown.dm
  code/modules/power/supermatter/supermatter.dm
  icons/obj/machines/engine/supermatter.dmi
  modular_zubbers/modules/seasons/christmas/code/supermatter.dm
  modular_zubbers/modules/seasons/christmas/icons/supermatter.dmi
  tgstation.dme
Labels: Reviewed

#839 Removes the 100% energy reflect chance from Marked One armor and the 25% block chance from the Marked One sword because my attacks got blocked once.
  modular_zubbers/modules/gladiator/code/game/objects/items/gladiator_items.dm
  tgstation.dme
Labels: Balance Changes, Pending Maintainer Discussion

#854 His Grace? He's gone
  code/modules/uplink/uplink_items/job.dm
Labels: Removal

#784 [Modular] Ports the Character Directory from Coyote Bayou (see inside for link)
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/species_features.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/showindirectory.tsx
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.js
Labels: Do Not Merge, Feature

#856 Modularized loading/title splash CSS
  config/bubbers/bubbers_title.txt
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
  modular_skyrat/modules/title_screen/code/title_screen_subsystem.dm
  modular_skyrat/modules/title_screen/icons/skyrat_title_screen.png
  modular_zubbers/interface/fonts/Ubuntu-Medium.ttf
  modular_zubbers/modules/title_screen/code/title_screen_subsystem.dm
  tgstation.dme
Labels: Unfathomably Based

#847 Security reskin update. Red Sec edition
  modular_zubbers/code/modules/clothing_reskins/redsec.dm
  tgstation.dme
Labels: Reviewed

#853 Grants the ability to open Clown slots once more.
  modular_zubbers/code/modules/jobs/job_types/clown.dm
  tgstation.dme
Labels: Skyrat Feature Revert, Reviewed

#857 Disallows siphoning credits outside of station
  code/game/machinery/bank_machine.dm
Labels: Test Merge Candidate, Do Not Merge

#858 Fixes a linter issue with the rbmk2
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_processing.dm
Labels: Holy Fix

#564 Add plant dna manipulator board to wild mutation experiment reward
  html/changelogs/AutoChangeLog-pr-784.yml
  html/changelogs/AutoChangeLog-pr-827.yml
  html/changelogs/AutoChangeLog-pr-844.yml
  html/changelogs/AutoChangeLog-pr-847.yml
  html/changelogs/AutoChangeLog-pr-853.yml
  html/changelogs/AutoChangeLog-pr-854.yml
  html/changelogs/AutoChangeLog-pr-856.yml
  html/changelogs/AutoChangeLog-pr-857.yml
  html/changelogs/AutoChangeLog-pr-858.yml
  html/changelogs/archive/2023-12.yml
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Labels: Balance Changes, Reviewed

#859 Horrorform changeling salt PR
  modular_skyrat/modules/horrorform/code/true_changeling.dm
Labels: Balance Changes

#837 kill people with a rock
  modular_zubbers/modules/stone/code/stone.dm
Labels: Reviewed

#846 Restores TG wall camera sprites
  modular_skyrat/modules/aesthetics/camera/code/camera.dm
Labels: Sprites

#855 It's eternity in there, Briefcase Launchpad available again
  code/modules/uplink/uplink_items/device_tools.dm
Labels: Balance Changes

#782 [Modular] adds Job Estimation to the statpanel
  modular_zubbers/code/modules/client/autopunctuation/preferences.dm
  modular_zubbers/code/modules/job_estimation/code/dead.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/ready_job.tsx
Labels: Test Merge Candidate, Feature, Modularization

#831 Rebalances Sol-Fed Guns
  .vscode/settings.json
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/ammobox.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/carwo.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/pistol.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  tgstation.dme
Labels: Balance Changes

#891 Fixes vending machine distribution
  modular_zubbers/code/game/objects/effects/spawners/random/vending.dm
Labels: Reviewed

#912 Makes the christmas tree safe
  code/modules/events/holiday/xmas.dm
Labels: Balance Changes

#906 Nerfs Ling Horror Form
  modular_zubbers/code/modules/mob/living/simple_animal/hostile/megafauna/horror_ling.dm
Labels: Balance Changes
