Repository Bubberstation/Bubberstation, pull requests merged in 2023-11, with the labels that each got.

#634 {Ready] Adds nearly every toy/fun item to Arcade Loot, makes 1 ticket vend 1 prize.
  code/game/machinery/computer/arcade/arcade.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_classic.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_mechanical.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_oh_god.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_special.dm
  modular_zubbers/code/game/machinery/computer/arcade/arcade_weights_toy.dm
  modular_zubbers/code/game/machinery/computer/arcade/~arcade_weights_final.dm
  tgstation.dme
Labels: Test Merge Candidate, Feature

#671 Unremoves cursed.
  code/datums/quirks/negative_quirks/cursed.dm
Labels: TG Feature Revert, Good First PR

#646 Removes duds from new fish types, swaps fishing t2 and t3 research reward.
  code/modules/fishing/sources/source_types.dm
  modular_zubbers/code/modules/experisci/experiment/types/scanning_fish.dm
  tgstation.dme
Labels: Test Merge Candidate

#450 mostly resets dynamic to tg
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/ruleset_picking.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
Labels: Test Merge Candidate, Do Not Merge, ! Critical Priority !, Test Merged

#669 Yes AIs in modsuits
  modular_zubbers/code/modules/mod/mod_ai.dm
  tgstation.dme
Labels: Test Merge Candidate, Modularization, TG Feature Revert

#640 [Modular] Adds moth milk
  modular_skyrat/modules/imported_vendors/code/vendors.dm
  modular_zubbers/code/modules/reagents/drink_reagents.dm
  modular_zubbers/code/modules/reagents/reagent_containers/condiment.dm
  modular_zubbers/icons/obj/food/reagent_containers.dmi
  tgstation.dme
Labels: Test Merge Candidate, Against God & Nature, Feature

#655 Adds the WT-551, Unskyrats the WT-550 ammo
  modular_zubbers/code/game/objects/effects/spawners/random/armory.dm
  modular_zubbers/code/modules/cargo/exports/weapons.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zubbers/code/modules/jobs/job_types/cargo_technician.dm
  modular_zubbers/code/modules/mob/living/basic/trooper/nanotrasen.dm
  modular_zubbers/code/modules/projectiles/ammunition/ballistic/smg.dm
  modular_zubbers/code/modules/projectiles/boxes_magazines/external/smg.dm
  modular_zubbers/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_zubbers/code/modules/projectiles/projectile/bullets/smg.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/icons/obj/weapons/guns/wt551.dmi
  modular_zubbers/master_files/code/modules/research/designs/weapon_designs.dm
  modular_zubbers/sound/weapons/gun/wt551/shot.ogg
  tgstation.dme
Labels: Balance Changes

#682 Adds contribution rules to the main readme.txt
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: Documentation

#687 Forgot to update the contributer blurb
  README.md
Labels: Documentation

#585 [TESTMERGE READY] [FULLY-MODULAR] [NOW WITH 99% LESS MEMORY LEAKS] Gives synths internal computers
  modular_zubbers/code/modules/synths/code/bodyparts/brain.dm
  modular_zubbers/code/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
  tgstation.dme
Labels: Test Merge Candidate, Feature, Pending Review

#683 (Modular) Adds Body Gloss
  modular_zubbers/code/modules/customization/sprite_accessories/gloss.dm
  modular_zubbers/icons/customization/glossy.dmi
  tgstation.dme
Labels: Sprites

#583 Ports Gimmick Traitor from Daedalus Dock (and raises starting TC)
  code/__DEFINES/antagonists.dm
  modular_zubbers/code/game/gamemodes/objectives/gimmick.dm
  modular_zubbers/code/game/gamemodes/objectives/overrides.dm
  tgstation.dme
Labels: Test Merge Candidate, Pending Staff Discussion, Test Merged

#492 [Ready] Firelock (and air alarm) Overhaul
  code/game/machinery/doors/firedoor.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
  modular_zubbers/code/game/machinery/doors/firedoor.dm
  modular_zubbers/code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  modular_zubbers/icons/obj/doors/doorfire.dmi
  modular_zubbers/icons/obj/doors/doorfireglass.dmi
  tgstation.dme
Labels: Test Merge Candidate, Sprites

#667 [Not Modular] Drifting contractor adjustments
  modular_skyrat/modules/contractor/code/datums/midround/event.dm
  modular_skyrat/modules/contractor/code/datums/midround/ruleset.dm
Labels: Balance Changes

#703 [Non-Modular] Readied up players are now visible to everyone
  code/modules/mob/dead/dead.dm
Labels: Pending Review, QoL

#704 [DAUNTLESS] Adds syndicate access module for cyborgs, Removes duplicate air alarm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/robot.dm
  tgstation.dme
Labels: Good Idea, QoL

#694 Fixes the RB-MK2 sniffer not broadcasting.
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_processing.dm
  modular_zubbers/code/game/machinery/burger_reactor_sniffer/reactor_sniffer_wires.dm
Labels: Holy Fix, Pending Review

#696 Changes where Goblin Gas is outputted in the RBMK2
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
Labels: Pending Review, QoL

#714 Fixes medbay disposals
  _maps/map_files/burgerstation/burgerstation.dmm
Labels: Fix

#690 restaurant portal can be moved w/ wrench
  code/modules/food_and_drinks/restaurant/_venue.dm
Labels: QoL

#699 [Modular] Loads of cosmetics (Nice)
  modular_zubbers/code/game/Items/storage/backpack.dm
  modular_zubbers/code/game/objects/items/cards_ids.dm
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/game/objects/items/stacks/medical.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/clothing/under/jobs/command.dm
  modular_zubbers/code/modules/command_vendor/vending.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_zubbers/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  modular_zubbers/code/modules/reagents/reagent_containers/cups/glassbottle.dm
  modular_zubbers/code/modules/surgery/tools.dm
  modular_zubbers/icons/mob/clothing/back/backpack.dmi
  modular_zubbers/icons/mob/clothing/backpack.dmi
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/mob/clothing/suits/jacket.dmi
  modular_zubbers/icons/mob/clothing/suits/runnerjacketdono.dmi
  modular_zubbers/icons/mob/clothing/under/captain.dmi
  modular_zubbers/icons/mob/inhands/equipment/backpack_lefthand.dmi
  modular_zubbers/icons/mob/inhands/equipment/backpack_righthand.dmi
  modular_zubbers/icons/mob/inhands/equipment/idcards_lefthand.dmi
  modular_zubbers/icons/mob/inhands/equipment/idcards_righthand.dmi
  modular_zubbers/icons/mob/sprite_accesory/wings.dmi
  modular_zubbers/icons/obj/card.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/jacket.dmi
  modular_zubbers/icons/obj/clothing/runnerjacketdono.dmi
  modular_zubbers/icons/obj/clothing/under/captain.dmi
  modular_zubbers/icons/obj/drinks/bottles.dmi
  modular_zubbers/icons/obj/medical/surgery_tools.dmi
  modular_zubbers/icons/obj/storage/backpack.dmi
  modular_zubbers/icons/obj/toys/plushes.dmi
  modular_zubbers/modules/clothing/head/helmet.dm
  tgstation.dme
Labels: Donator Reward, Pending Review, Good Idea

#732 adds cameras to dauntless
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/camera.dm
  tgstation.dme
Labels: map changes

#700 [Mostly Modular] Hypnosis Preference
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_zubbers/master_files/code/modules/client/preferences/hypnopref.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/hypno_status.tsx
Labels: Pending Review, QoL

#727 You can now dig through sofa pillows
  modular_zubbers/code/game/objects/structures/beds_chairs/sofa.dm
  tgstation.dme
Labels: Feature

#733 [MODULAR - BLOAT EDITION] The dauntless ammo locker now actually has the correct ammo types
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/areas.dm
  modular_zubbers/maps/offstation/dauntless/security.dm
  tgstation.dme
Labels: map changes

#706 Fixes weak tackles bugging out your movespeed
  code/datums/components/tackle.dm
Labels: Fix

#726 [MODULAR GALORE] Makes empty synth bodies printable on the exofab
  code/__DEFINES/~~bubber_defines/research_categories.dm
  modular_zubbers/code/modules/synths/code/designs/exofab_designs.dm
  modular_zubbers/code/modules/synths/code/synth_prefab.dm
  tgstation.dme
Labels: QoL

#684 Preference autopunctuation
  code/modules/mob/living/living_say.dm
  modular_zubbers/code/modules/autopunctuation/preferences.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/autopunctuation.tsx
Labels: Pending Review, Good Idea, QoL

#686 Rock
  modular_zubbers/code/modules/food_and_drinks/icons/rocks.dmi
  modular_zubbers/code/modules/hydroponics/grown/rocks.dm
  modular_zubbers/code/modules/hydroponics/icons/growing_fruits.dmi
  modular_zubbers/code/modules/hydroponics/icons/harvest.dmi
  modular_zubbers/code/modules/hydroponics/icons/seeds.dmi
  modular_zubbers/code/modules/vending/megaseed.dm
  tgstation.dme
Labels: Feature

#745 Adds some emotes
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_zubbers/modules/emotes/code/emotes.dm
  modular_zubbers/modules/emotes/sound/voice/fox_purr.ogg
  modular_zubbers/modules/emotes/sound/voice/foxgecker.ogg
  modular_zubbers/modules/emotes/sound/voice/mrrp.ogg
  modular_zubbers/modules/emotes/sound/voice/prbt.ogg
Labels: Feature

#755 mid-round salt pr about EMP mold because being repeatedly shocked 500 times in a row unless you get charcoal (now called syniver or whatever fuck new chems) is not what I consider to be fun gameplay
  modular_skyrat/modules/mold/code/mold_mobs.dm
Labels: Pending Review, Good Idea

#758 Removes Skyrat Rules from our antag TGUI [CI skip]
  tgui/packages/tgui/interfaces/AntagInfoRules.tsx
Labels: Documentation

#728 make non-moths able to digest moth milk
  modular_zubbers/code/modules/reagents/drink_reagents.dm
Labels: QoL

#766 New quirk - Waddle
  modular_zubbers/code/datums/quirks/neutral_quirks/waddle.dm
  tgstation.dme
Labels: Feature

#741 Ghosting, suiciding, and DNR makes your body ever so slightly transparent
  code/__DEFINES/~~bubber_defines/misc.dm
  code/modules/mob/dead/observer/observer.dm
  html/changelogs/AutoChangeLog-pr-762.yml
  html/changelogs/AutoChangeLog-pr-766.yml
  html/changelogs/archive/2023-11.yml
  modular_zubbers/code/modules/indicators/code/ssd_indicator.dm
  tgstation.dme
Labels: Good Idea

#771 Blueshield Part II: The MOD suit awakening (+ buffs security modsuit armor)
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_theme.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_type.dm
  modular_zubbers/code/datums/armor_overrides.dm
  tgstation.dme
Labels: Balance Changes

#781 Reverts brainwashing disk obfuscation
  code/modules/surgery/advanced/brainwashing.dm
Labels: TG Balance Revert

#774 IDMA Donor item
  modular_zubbers/icons/donator/idmaco.dmi
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
  modular_zubbers/modules/modular_items/code/idmaco_donator.dm
Labels: Donator Reward
