Repository Bubberstation/Bubberstation, pull requests merged in 2023-07, with the labels that each got.

#342 (Modular) Adds a proc to the SAD to restore character quirks
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: ! Critical Priority !

#327 Improves HoS gear armour values
  code/modules/clothing/suits/armor.dm
Labels: Balance Changes, Pending Maintainer Discussion

#320 [MODULAR] Allows borgs use the infinite hotel in the ghost cafe
  modular_zubbers/code/modules/ghostcafe/hilbertshotel_silicon.dm
  tgstation.dme
Labels: Take it Upstream, Holy Fix

#110 Genesis 11:9 (Required language tweaks)
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Labels: Requires Documentation
