Repository Bubberstation/Bubberstation, pull requests merged in 2023-03, with the labels that each got.

#127 Nerfs RPED alt sounds.
  code/modules/research/stock_parts.dm
Labels: feature, test merge candidate

#75 energy revolver & laser changes
  code/modules/projectiles/ammunition/energy/laser.dm
  modular_skyrat/modules/blueshield/code/special.dm
Labels: balance changes, feature, changes requested

#129 Two new sushis???
  modular_zubbers/code/game/objects/items/food/misc.dm
  modular_zubbers/code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
  modular_zubbers/icons/obj/food/food.dmi
  tgstation.dme
Labels: feature, test merge candidate

#61 Updates crewsimov to modern standards, adds crewsimov++
  code/datums/ai_laws/laws_station_sided.dm
Labels: Stale

#134 Department Sec Update
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: feature, test merge candidate, need head admin approval

#138 Add all SPLURT modular hair
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories.dm
  modular_zubbers/icons/mob/species/human/humanface.dmi
  tgstation.dme
Labels: feature

#101 Papal stuff and hats on wigs
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/_defines.dm
  modular_zubbers/code/modules/clothing/head/wig.dm
  modular_zubbers/icons/mob/clothing/32x48_head.dmi
  modular_zubbers/icons/mob/clothing/hats.dmi
  modular_zubbers/icons/mob/clothing/suits.dmi
  modular_zubbers/icons/mob/inhands/weapons/melee_lefthand.dmi
  modular_zubbers/icons/mob/inhands/weapons/melee_righthand.dmi
  modular_zubbers/icons/obj/clothing/suits.dmi
  modular_zubbers/icons/obj/items_and_weapons.dmi
Labels: feature, merge conflict

#145 Fixes a bunch of issues + removes planting on ash
  code/game/objects/structures/flora.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_ritual.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_zubbers/code/modules/fluff/flora/ash_flora.dm
  tgstation.dme
Labels: fixes

#147 Shadekin
  code/__DEFINES/~~bubber_defines/species.dm
  config/game_options.txt
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/code/modules/customization/sprite_accessories/taurs.dm
  modular_zubbers/code/modules/mob/living/carbon/human/human.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
  modular_zubbers/code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  modular_zubbers/icons/customization/ears.dmi
  modular_zubbers/icons/customization/tails.dmi
  modular_zubbers/icons/customization/taur.dmi
  modular_zubbers/icons/mob/species/human_parts_greyscale.dmi
  tgstation.dme
Labels: bounty
