Repository Bubberstation/Bubberstation, pull requests merged in 2024-12, with the labels that each got.

#2590 Moves Lizard Full Stub horns to beard because of overlay issues.
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/icons/customization/facial_hair.dmi
  modular_zubbers/icons/customization/horns.dmi
Labels: Sprites

#2601 Fix two boxstation pipes
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#2589 New snout: Mandibles
  modular_zubbers/code/modules/customization/sprite_accessories/snouts.dm
  modular_zubbers/icons/customization/snouts.dmi
Labels: Sprites

#2559 Interlink Office 3 - Community Suggestion Edition
  _maps/bubber/automapper/templates/generic/interlink_adminoffice.dmm
Labels: Map Edit

#2615 Biodome pipe fixes
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

#2619 Fix missing blessed lobotomy
  modular_skyrat/modules/medical/code/trauma_surgery.dm
Labels: Fix

#2510 Reduces the amount of ruin Z levels
  code/__DEFINES/maps.dm
Labels: Do Not Merge, Test Merged

#2627 [s] ensure key config is set for any secure request (#88367)
  code/datums/world_topic.dm
Labels: CODECON 1: CRITICAL PRIORITY, FUCK

#2609 actually fixes the mapvote
  code/datums/votes/map_vote.dm
Labels: Test Merged, Test Merge Only

#2490 [Lorpdate] Caligram is now Blacktide, adds new alt sprites for the Caligram-now-Blacktide clothing
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
  modular_skyrat/master_files/icons/donator/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Bounty, Sprites

#2634 Tram spoiler/malf fix #88371
  code/modules/events/tram_malfunction.dm
  code/modules/transport/tram/tram_controller.dm
  code/modules/transport/tram/tram_structures.dm
  code/modules/transport/transport_module.dm
  html/changelogs/AutoChangeLog-pr-88371.yml
Labels: Fix, Upstream Merge, Early Pull

#2633 [NON-MODULAR] Make Synths Able To Join Crusades
  code/modules/religion/honorbound/honorbound_rites.dm
Labels: QoL

#2567 Adds Ballistic Derringer, and Cargo Goodies Packs
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/code/modules/modular_weapons/code/company_and_or_faction_based/sakhno_concern/magazines.dm
  modular_zubbers/code/modules/modular_weapons/code/company_and_or_faction_based/sakhno_concern/pistol.dm
  modular_zubbers/code/modules/modular_weapons/icons/sakhno_concern_guns32x.dmi
  tgstation.dme
Labels: Map Edit, Sprites

#2640 buffs bloodsucker leveling
  modular_zubbers/code/__DEFINES/bloodsucker_defines.dm
Labels: Balance Changes

#2639 Buffs the L6 Saw
  code/modules/projectiles/ammunition/ballistic/lmg.dm
  modular_zubbers/code/modules/projectiles/projectile/bullets/lmg.dm
  tgstation.dme
Labels: Balance Changes

#2647 Fixes map vote winner selection (or: how I found 10,000 extra votes for Tramstation)
  modular_zubbers/code/controllers/subsystem/map_vote.dm
Labels: Fix, Test Merge Only

#2650 [FUCK] Unfucks Loadout Clearing
  code/modules/loadout/loadout_menu.dm
  modular_zubbers/master_files/code/modules/loadout/loadout_menu.dm
Labels: Fix, FUCK

#2657 Persistence bug fixes
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Labels: Map Edit

#2644 Buffs cyborg health to match human health (135)
  code/modules/mob/living/carbon/carbon_defines.dm
Labels: Balance Changes

#2048 Re-removes buggy/defunct cargo import categories
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  tgstation.dme
Labels: Fix

#2293 Berserker/Marked One Armour Nerf
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
Labels: Balance Changes, Test Merge Candidate, Test Merged

#2419 Adds a new mod module - mind swap - to illegal tech
  modular_zubbers/code/modules/mod/modules.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Labels: Feature

#2446 Add a safety net for Manifold Sickness
  code/datums/diseases/chronic_illness.dm
Labels: Stale

#2651 [NON-MODULAR] [TOOLING] Modular Icon Cutter!
  modular_zubbers/code/game/turfs/closed/lunar_cave.dm
  modular_zubbers/code/game/turfs/closed/lunar_surface.dm
  modular_zubbers/icons/turf/lunar_rock_wall.dmi
  modular_zubbers/icons/turf/lunar_rock_wall.png.toml
  tools/build/build.js
  tools/icon_cutter/check.py
Labels: Sprites

#2674 Adds disposal bins to Moon Station arrivals
  _maps/map_files/moonstation/moonstation.dmm
  modular_zubbers/code/game/area/areas/moonstation.dm
Labels: Map Edit

#2662 CentCom / NTC Changes by ChromeFoxxity - SPRITE CHANGES ONLY
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
  modular_zubbers/icons/mob/clothing/gloves/gloves.dmi
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/mob/clothing/head/winterhood.dmi
  modular_zubbers/icons/mob/clothing/mask/mask.dmi
  modular_zubbers/icons/mob/clothing/mask/mask_muzzled.dmi
  modular_zubbers/icons/mob/clothing/suits/armor.dmi
  modular_zubbers/icons/mob/clothing/suits/wintercoat.dmi
  modular_zubbers/icons/mob/clothing/under/centcom.dmi
  modular_zubbers/icons/obj/clothing/gloves/gloves.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/head/winterhood.dmi
  modular_zubbers/icons/obj/clothing/mask/mask.dmi
  modular_zubbers/icons/obj/clothing/suits/armor.dmi
  modular_zubbers/icons/obj/clothing/suits/wintercoat.dmi
  modular_zubbers/icons/obj/clothing/under/centcom.dmi
  tgstation.dme
Labels: Sprites

#2687 Researching Cloak Fix
  modular_skyrat/modules/simple_research/neck.dmi
Labels: Sprites

#2686 Kilo fixes
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

#2682 Some more clean up items that came up for persistence
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Labels: Map Edit

#2701 More QoL changes to Box Station
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#2527 Gives lone infiltrator his micro-bomb back.
  modular_skyrat/modules/Midroundtraitor/code/event.dm
Labels: Pending Staff Discussion, Pending Maintainer Discussion

#2669 Various ashwalker fixes
  _maps/bubber/automapper/automapper_config.toml
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/mining/lavaland_ashwalker_nest.dmm
  code/game/area/areas/ruins/lavaland.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_ritual.dm
Labels: Map Edit, Fix

#2688 Nerfs mantis blades from 25 to 20
  modular_skyrat/modules/implants/code/augments_arms.dm
Labels: Balance Changes

#2711 Locks the research paper only to the hermit
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
  modular_skyrat/modules/simple_research/research_document.dm
  modular_zubbers/code/modules/mob_spawn/ghost_roles/mining_roles.dm
Labels: Balance Changes, Map Edit

#2713 Fixes an oversite that allows ghosts to make opfors.
  modular_skyrat/modules/opposing_force/code/mind.dm
Labels: Administration

#2716 Nebulastation ERT/aux docks
  _maps/bubber/automapper/automapper_config.toml
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_aux.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_centcom.dmm
  modular_zubbers/code/game/area/areas/station.dm
  modular_zubbers/code/game/objects/effects/landmarks.dm
Labels: Map Edit

#2731 Fixes damage falloff across verious skyrat weapons
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
Labels: Fix

#2725 Fix storyteller running holiday events
  modular_zubbers/code/modules/storyteller/event_defines/moderate/moderate_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/mundane_overrides.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
Labels: Fix, Test Merged

#2736 fixes bloodsuckers bleeding forever
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/integration.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/life.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/procs.dm
Labels: Fix

#2738 Bark World
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/widerobot_pk.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/widerobot_serv.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/widerobot_syndie.dmi
Labels: Sprites

#2729 Flechett ammo rebalance.
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Balance Changes

#2405 [Review ready] New mutation - Strong legs
  modular_skyrat/master_files/code/datums/mutations/bunny.dm
  tgstation.dme
Labels: Feature, Test Merged

#2742 Mail Sorting Unit
  code/game/machinery/flatpacker.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/vending/mail.dm
  code/modules/vending/wardrobes.dm
  html/changelogs/AutoChangeLog-pr-88288.yml
  html/changelogs/AutoChangeLog-pr-88562.yml
  icons/hud/radial.dmi
  icons/obj/machines/mailsorter.dmi
  icons/obj/machines/vending.dmi
  sound/machines/license.txt
  sound/machines/mail_sort.ogg
  tgstation.dme
Labels: Upstream Merge, Feature, Sprites, Early Pull

#2291 Saddles, saddlebags, calvary
  code/__DEFINES/~skyrat_defines/combat.dm
  code/__DEFINES/~~bubber_defines/item.dm
  code/__DEFINES/~~bubber_defines/vehicles.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/storage/storage.dm
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/surgery/organs/taur_body.dm
  modular_skyrat/modules/taur_mechanics/code/accessible_storage.dm
  modular_skyrat/modules/taur_mechanics/code/human.dm
  modular_skyrat/modules/taur_mechanics/code/item.dm
  modular_skyrat/modules/taur_mechanics/code/saddle_component.dm
  modular_skyrat/modules/taur_mechanics/code/saddles.dm
  modular_skyrat/modules/taur_mechanics/code/taur_clothing_offset.dm
  modular_skyrat/modules/taur_mechanics/sprites/saddles.dmi
  modular_zubbers/code/modules/loadout/categories/inhands.dm
  modular_zubbers/code/modules/vending/multisec.dm
  tgstation.dme
Labels: Test Merge Candidate, Feature, Test Merged, Sprites

#2752 Fix mail sorter name, add spawn
  modular_zubbers/code/game/machinery/flatpacker.dm
  tgstation.dme
Labels: Fix

#2755 Storyteller Config Option
  code/controllers/subsystem/ticker.dm
  config/bubbers/bubbers_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skyrat_config_entries.dm
Labels: Requires Config Change

#2759 Fix the Christmas postal strike
  modular_zubbers/code/game/machinery/flatpacker.dm
  modular_zubbers/master_files/code/modules/holiday/holiday.dm
Labels: Fix

#2723 Revert "Makes the christmas tree safe" (Please use broken gear responsibly)
  code/modules/events/holiday/xmas.dm
Labels: Test Merged, Test Merge Only

#2762 Skyrat jukebox code cleanup
  _maps/map_files/biodome/biodome.dmm
  _maps/shuttles/zubbers/emergency_vortex.dmm
  code/__DEFINES/sound.dm
  code/datums/components/jukebox.dm
  code/game/machinery/dance_machine.dm
  code/modules/mod/modules/modules_maint.dm
  config/jukebox_music/README.txt
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/jukebox/code/dance_machine.dm
  modular_skyrat/modules/jukebox/code/jukebox_subsystem.dm
  modular_skyrat/modules/jukebox/code/ravemod.dm
  modular_skyrat/modules/jukebox/icons/stationobjs.dmi
  modular_skyrat/modules/jukebox/readme.md
  tgstation.dme
  tools/UpdatePaths/Scripts_Bubber/2762_jukebox_repath.txt
Labels: Map Edit, Test Merged, Sprites

#2760 Consistent vendors in departmental security offices
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/moonstation/moonstation.dmm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Map Edit

#2768 Adds Edgerunner hair, a mohawk/quiff style from MonkeStation
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/icons/customization/hair_big.dmi
Labels: Sprites

#2767 Add no checks helper to kilo telecomms air alarm
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

#2764 Additional rat-sized plushie because the Head of Security once plush-shamed me in the prison shower-room
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Sprites

#2766 Fixes people changing the alert level from Delta or above
  code/game/machinery/computer/communications.dm
Labels: Take It Upstream, Fix, RED LABEL

#2775 Biodome Blueshield Quarters fixes.
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

#2774 Remove sec vendors from Moonstation hallway
  _maps/map_files/moonstation/moonstation.dmm
Labels: Map Edit

#2782 Sauna oven attack chain refactor
  modular_skyrat/master_files/code/game/objects/structures/sauna_oven.dm
Labels: Code

#2761 Chat filter toggle for entertainment radio channel
  code/__DEFINES/chat.dm
  html/changelogs/AutoChangeLog-pr-88712.yml
  tgui/packages/tgui-panel/chat/constants.ts
Labels: Upstream Merge, Early Pull, Code, TGUI

#2788 Fixes Canine Taur-type overlay
  modular_skyrat/master_files/icons/mob/sprite_accessory/taur.dmi
Labels: Sprites

#2628 fixes seed ruin logic preventing forced ruins from spawning when budget is zero, fixes map_logging CI test (#87910)
  _maps/RandomRuins/SpaceRuins/DJstation/kitchen_1.dmm
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  _maps/RandomRuins/SpaceRuins/bus.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck4.dmm
  _maps/RandomRuins/SpaceRuins/prison_shuttle.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/clothing_facility.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/crash.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/luna.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttlescrap.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/smugglies.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/wreckedfriendship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/wreckedhomestead.dmm
  _maps/shuttles/whiteship_birdshot.dmm
  code/__HELPERS/type2type.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/tank.dm
  code/modules/atmospherics/machinery/components/unary_devices/machine_connector.dm
  code/modules/mapfluff/ruins/spaceruin_code/meatderelict.dm
  code/modules/mapping/ruins.dm
  code/modules/power/lighting/light.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/shuttle_rotate.dm
Labels: Map Edit, Code

#2784 Fixes the brig cells on Box Station.
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#2785 Make jukebox in boxstation bar all access
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#2786 Make Kilostation's cold room actually cold
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

#2791 Cargonstein; or, The Modern Shuttlefix
  _maps/shuttles/skyrat/cargo_skyrat.dmm
Labels: Map Edit

#2792 Mail sorter/flatpack naming fix
  code/game/machinery/flatpacker.dm
  code/game/objects/items/flatpacks.dm
  code/game/objects/items/mail.dm
  code/modules/clothing/head/hat.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/vending/wardrobes.dm
  html/changelogs/AutoChangeLog-pr-88687.yml
  modular_skyrat/modules/cargo/code/export_gate.dm
  modular_zubbers/code/game/machinery/flatpacker.dm
  modular_zubbers/code/game/objects/items/flatpacks.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
  tgstation.dme
Labels: Upstream Merge, Early Pull, Code, DME Edit

#2795 Fix Kilostation supermatter air alarm not being linked to the chamber
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

#2793 Fix Engineering plumbing constructor not being researchable
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: Code

#2789 Un-Skyrats Demonic Frost Miner Arena: AKA - The Mining Site / Observation Pit
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_mining_site_skyrat.dmm
  code/datums/ruins/icemoon.dm
  modular_skyrat/modules/mapping/code/icemoon.dm
Labels: Map Edit, Code, Mapping

#2796 (FINALLY) Replaces the leaves sprite on biodome
  modular_zubbers/maps/biodome/holo_leaves.dmi
Labels: Sprites

#2798 System cleaner sobers up synths.
  modular_skyrat/modules/synths/code/reagents/reagents.dm
Labels: Code

#2807 Add a growing vat to Void Raptor cytology
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Edit

#2747 Disables the TTS disable.
  modular_zubbers/master_files/code/controllers/subsystem/tts.dm
  tgstation.dme
Labels: Test Merge Only

#2748 Moves TTS settings to the front page instead of the lore page for visibility
  code/modules/client/preferences/voice.dm
Labels: Test Merge Only

#2814 Fix people with anosmia smelling pollution
  modular_skyrat/modules/pollution/code/pollution.dm
Labels: Code

#2813 Shortening That Godawful Akko Wordwall
  modular_skyrat/modules/customization/modules/language/te_velu_akko.dm
Labels: Code

#2815 Adds Cytopro to Void Raptor
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Edit, Good First PR

#2801 Speedmerge of Upstream CD delay on all action buttons
  code/__DEFINES/combat.dm
  code/datums/actions/action.dm
Labels: Code
