Repository Bubberstation/Bubberstation, pull requests merged in 2024-01, with the labels that each got.

#873 adds missing raptor borg sprites & fixes raptor borg sprite eyes
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_zubbers/modules/borgs/code/robot_model.dm
  modular_zubbers/modules/borgs/sprites/widerobot_cc.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_eng.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_jani.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_med.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_mine.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_ninja.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_pk.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_sec.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_serv.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_syndie.dmi
Labels: Sprites, Good Idea, Good First PR

#936 Malfunctioning AIs can no longer purchase the "Nuke Station" module.
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
Labels: Balance Changes, Pending Staff Discussion, Pending Maintainer Discussion

#989 adds cowprint
  modular_zubbers/master_files/icons/mob/sprite_accessory/clothing.dmi
  modular_zubbers/modules/clothing/code/sprite_accessories/sprite_accessories.dm
  tgstation.dme
Labels: Reviewed, Fetish Content

#875 Abductor and HFZ Changes
  code/__DEFINES/~~bubber_defines/species.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/abductor.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/zombie.dm
  tgstation.dme
Labels: Requires Config, Reviewed

#937 Redsec cosmetics part 2
  modular_zubbers/code/modules/clothing_reskins/redsec.dm
  modular_zubbers/icons/obj/clothing/gloves.dmi
Labels: Reviewed

#986 MultiSec Vendor
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_zubbers/code/game/machinery/vending/multisec.dm
  modular_zubbers/code/game/machinery/vending/multisec.dmi
  modular_zubbers/code/modules/vending/wardrobe.dm
  tgstation.dme
Labels: Reviewed

#969 Gives medical borgs back their crew monitor
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: Balance Changes, TG Balance Revert

#910 Nerfs most modsuits by giving them all armour boosters
  modular_skyrat/modules/blueshield/code/modsuit/mod_type.dm
  modular_zubbers/code/datums/armor_overrides.dm
  modular_zubbers/modules/mod_suits/modules.dm
  tgstation.dme
Labels: Balance Changes, Test Merged, Good Idea

#1024 Gives snail people the option to chose their sex, like everyone else.
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/snail.dm
  tgstation.dme
Labels: Good First PR, QoL

#964 Add dominatrix borg module to lustwish
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
Labels: Modularization, Fetish Content

#1060 I BROUGHT YOU INTO THIS WORLD, I CAN TAKE YOU OUT (Removes Slaughter Demons from wizards, limits laughter demons to one purchase)
  modular_zubbers/code/modules/spells/spell_types/disabled_spells.dm
  modular_zubbers/code/modules/spells/spell_types/nerfed_spells.dm
Labels: Reviewed

#963 [TG MIRROR] Spamming the weld on a robotic part no longer drains the fuel with no benefit (#80801)
  code/game/objects/items/tools/weldingtool.dm
Labels: Early Pull
