Repository Bubberstation/Bubberstation, pull requests merged in 2024-02, with the labels that each got.

#751 Makes roundending significantly harder by making the brain (Almost) indestructible
  modular_zubbers/code/modules/surgery/organs/internal/lungs/_brain.dm
  tgstation.dme
Labels: Feature

#860 Adds Miasma Organ Rotting
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/internal/_internal_organ.dm
Labels: Test Merge Candidate

#865 Nerfs Crab17 because I lost my life savings once
  modular_zubbers/code/modules/uplink/uplink_items/device_tools.dm
  tgstation.dme
Labels: Balance Changes, Help Wanted

#1172 Adds Holographic Sex Barriers because I saw a heated debate on Discord.
  modular_zubbers/code/modules/fluff/sex_barrier.dm
  modular_zubbers/icons/effects/sex_barrier.dmi
  tgstation.dme
Labels: Against God & Nature, Feature, Unfathomably Based, Fetish Content

#1179 Being Polite to Lightgeist
  modular_zubbers/code/modules/mob/living/basic/lightgeist/lightgeist.dm
  tgstation.dme
Labels: Unfathomably Based

#840 Reverts a few of the security alert sounds back to SR's
  modular_zubbers/sound/alerts/amber.ogg
  modular_zubbers/sound/alerts/blue.ogg
  modular_zubbers/sound/alerts/gamma.ogg
  modular_zubbers/sound/alerts/orange.ogg
  modular_zubbers/sound/alerts/red.ogg
Labels: Test Merge Candidate, Do Not Merge

#1199 Removes the blast cannon because I saw someone saw the entire station in half once.
  code/modules/uplink/uplink_items/job.dm
Labels: Balance Changes

#1031 Fixes headshot stuff
  modular_zubbers/modules/client/flavor_text/flavor_text.dm
Labels: Fix, Test Merged

#1135 Exempt playtime by job basis
  SQL/bubber_schema.sql
  code/modules/admin/topic.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/jobs/job_exp.dm
  modular_zubbers/modules/job_exempt/job_exempt.dm
  tgstation.dme
Labels: Test Merge Candidate, Test Merged
