Repository Bubberstation/Bubberstation, pull requests merged in 2024-06, with the labels that each got.

#456 Storyteller port from horizon [DNM]
  code/__DEFINES/~~bubber_defines/storyteller_defines.dm
  code/controllers/subsystem/dynamic/dynamic.dm
  code/controllers/subsystem/persistence/_persistence.dm
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/events/_event.dm
  code/modules/events/bureaucratic_error.dm
  config/events.json
  config/game_options.txt
  modular_skyrat/master_files/code/modules/events/_event.dm
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
  modular_skyrat/modules/supermatter_surge/code/supermatter_surge.dm
  modular_zubbers/code/modules/storyteller/config.dm
  modular_zubbers/code/modules/storyteller/divergency_report.dm
  modular_zubbers/code/modules/storyteller/event_defines/_event.dm
  modular_zubbers/code/modules/storyteller/event_defines/disabled_event_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/major/major_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/moderate/moderate_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/mundane_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/scrubber_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/readme.md
  modular_zubbers/code/modules/storyteller/event_defines/roleset/_antagonist_event.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/bloodsucker.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/changeling.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/heretic.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/malf.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/nuke_ops.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/spies.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/traitor.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/roleset_ghost_overrides.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
  modular_zubbers/code/modules/storyteller/scheduled_event.dm
  modular_zubbers/code/modules/storyteller/storyteller_vote.dm
  modular_zubbers/code/modules/storyteller/storytellers/_storyteller.dm
  modular_zubbers/code/modules/storyteller/storytellers/storyteller_fragile.dm
  modular_zubbers/code/modules/storyteller/storytellers/storyteller_predictable.dm
  modular_zubbers/code/modules/storyteller/storytellers/storyteller_tellers.dm
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
  tgstation.dme
Labels: Balance Changes, Test Merge Candidate, Test Merged, Unfathomably Based

#1407 Adds Research cyborgs [Modularish] (oh no)
  code/__DEFINES/exosuit_fab.dm
  code/__DEFINES/~~bubber_defines/research_categories.dm
  code/__DEFINES/~~bubber_defines/traits.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/master_files/icons/mob/robots.dmi
  modular_skyrat/modules/borgs/code/robot_items.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/secures_internals.dm
  modular_zubbers/code/game/objects/items/robot/items/storage.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/modules/borgs/code/robot_defense.dm
  modular_zubbers/modules/borgs/code/robot_defines.dm
  modular_zubbers/modules/borgs/code/robot_items.dm
  modular_zubbers/modules/borgs/code/robot_model.dm
  modular_zubbers/modules/borgs/code/robot_upgrade.dm
  modular_zubbers/modules/borgs/sprites/felibot_all.dmi
  modular_zubbers/modules/borgs/sprites/largerobot_sci.dmi
  modular_zubbers/modules/borgs/sprites/robot_items.dmi
  modular_zubbers/modules/borgs/sprites/robot_sci.dmi
  modular_zubbers/modules/borgs/sprites/screen_robot.dmi
  modular_zubbers/modules/borgs/sprites/tallrobot_sci.dmi
  modular_zubbers/modules/borgs/sprites/widerobot_sci.dmi
  tgstation.dme
Labels: Requires Documentation, Feature, Test Merged

#1686 [BOUNTY] Dominant Aura and Well-Trained Quirks
  code/__DEFINES/~~bubber_defines/cooldowns.dm
  code/__DEFINES/~~bubber_defines/mood.dm
  code/controllers/subsystem/processing/quirks.dm
  modular_zubbers/code/datums/mood_events/dominant_mood.dm
  modular_zubbers/code/modules/quirks/code/negative_quirks/well_trained.dm
  modular_zubbers/code/modules/quirks/code/positive_quirks/dominant_aura.dm
  tgstation.dme
Labels: Bounty, Feature, Fetish Content, SPLURT CODE

#1679 Lima Maintenances 24/6/2024
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/biodome/biodome.dmm
  modular_zubbers/code/modules/clothing/donator_clothing.dm
  modular_zubbers/icons/mob/clothing/under/idmaco_worn.dmi
Labels: Test Merge Candidate
