Repository Bubberstation/Bubberstation, pull requests merged in 2024-08, with the labels that each got.

#1826 Adding Haydeez
  modular_zubbers/code/modules/borgs/code/robot_defines.dm
  modular_zubbers/code/modules/borgs/code/robot_model.dm
  modular_zubbers/code/modules/borgs/sprites/curverobot_bun.dmi
  modular_zubbers/code/modules/borgs/sprites/curverobot_eng.dmi
  modular_zubbers/code/modules/borgs/sprites/curverobot_jani.dmi
  modular_zubbers/code/modules/borgs/sprites/curverobot_med.dmi
  modular_zubbers/code/modules/borgs/sprites/curverobot_mine.dmi
  modular_zubbers/code/modules/borgs/sprites/curverobot_pk.dmi
  modular_zubbers/code/modules/borgs/sprites/curverobot_serv.dmi
  modular_zubbers/code/modules/borgs/sprites/curverobot_syndie.dmi
Labels: Pending Staff Discussion, Pending Maintainer Discussion

#1633 Massive Overhaul of the Dauntless (Ready)
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  _maps/RandomRuins/SpaceRuins/bubberstation/space_dauntless.dmm
  modular_skyrat/modules/tarkon/code/misc-fluff/research.dm
  modular_zubbers/code/modules/vehicles/mech_fabricator.dm
  modular_zubbers/maps/offstation/dauntless/ID_trims.dm
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
  tgstation.dme
Labels: map changes, Pending Review

#1891 Changes to Ethereal's power supply
  code/__DEFINES/mobs.dm
Labels: Balance Changes, Test Merge Candidate

#1838 Adds Void Walker to Storyteller
  modular_zubbers/code/modules/storyteller/_events/_event.dm
  modular_zubbers/code/modules/storyteller/_events/voidwalker.dm
  modular_zubbers/code/modules/storyteller/event_defines/major/major_overrides.dm
  tgstation.dme
Labels: Fix

#1871 Emags unlink borgs from the console + 0.5 delay in opening their covers
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Balance Changes, Test Merged

#1912 [Bounty] Adds sechailer, and fixes the single problem it had
  modular_zubbers/code/game/Items/sec_hailer.dm
  tgstation.dme
Labels: Bounty

#1900 Intern Job Tags by Azarak, Fixed
  code/datums/records/manifest.dm
  code/game/objects/items/cards_ids.dm
  code/modules/jobs/job_types/_job.dm
  config/bubbers/bubbers_config.txt
  modular_zubbers/code/modules/job_interns/config.dm
  modular_zubbers/code/modules/job_interns/job_interns.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/be_intern.tsx
Labels: Test Merge Candidate, Test Merged

#1983 [MIRROR] Use yt-dlp by default instead of youtube-dl (#29474)
  code/modules/admin/verbs/playsound.dm
  config/config.txt
  tools/tgs_scripts/InstallDeps.sh
Labels: Early Pull

#1828 Limits movement speed to about x2 the base movespeed
  modular_zubbers/code/modules/movespeed/_movespeed_modifier.dm
  tgstation.dme
Labels: Test Merge Candidate, Do Not Merge

#1980 Reworks (mostly) and renames all the storytellers and improves the code.
  code/__DEFINES/~~bubber_defines/storyteller_defines.dm
  modular_zubbers/code/modules/changeling_zombies/event.dm
  modular_zubbers/code/modules/storyteller/event_defines/major/major_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/moderate/moderate_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/malf.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/nuke_ops.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/roleset_ghost_overrides.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
  modular_zubbers/code/modules/storyteller/storytellers/_storyteller.dm
  modular_zubbers/code/modules/storyteller/storytellers/storyteller_fragile.dm
  modular_zubbers/code/modules/storyteller/storytellers/storyteller_tellers.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_combat.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_default.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_destructive.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_extended.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_fragile.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_peaceful.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_plenty.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_predictable.dm
  tgstation.dme
Labels: Test Merge Candidate, Test Merged

#2028 Fixes CI
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_android.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_shadekin.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  modular_zubbers/code/modules/storyteller/storytellers/_storyteller.dm
Labels: Fix
