Repository Bubberstation/Bubberstation, pull requests merged in 2024-09, with the labels that each got.

#2043 Adds in shiba inu plush.
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Good First PR

#2064 [Merge-Ready] Storyteller 2.0
  code/__DEFINES/~~bubber_defines/storyteller_defines.dm
  code/controllers/subsystem/persistence/_persistence.dm
  config/game_options.txt
  modular_zubbers/code/modules/storyteller/config.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/_antagonist_event.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/bloodsucker.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/changeling.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/heretic.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/malf.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/nuke_ops.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/spies.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/traitor.dm
  modular_zubbers/code/modules/storyteller/event_defines/ghostset/ghostset_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/ghostset/lone_infiltrator.dm
  modular_zubbers/code/modules/storyteller/event_defines/ghostset/voidwalker.dm
  modular_zubbers/code/modules/storyteller/event_defines/major/major_overrides.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
  modular_zubbers/code/modules/storyteller/storyteller_vote.dm
  modular_zubbers/code/modules/storyteller/storytellers/data/_track.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/_storyteller.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_bomb.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_chill.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_clown.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_default.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_extended.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_fragile.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_gamer.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_plenty.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_predictable.dm
  tgstation.dme
Labels: Test Merge Candidate

#2030 Small clothing PR (ezpz 2 review & merge)
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_zubbers/code/modules/clothing/under/misc.dm
  modular_zubbers/code/modules/loadout/categories/under.dm
  modular_zubbers/code/modules/vending/clothmate.dm
  modular_zubbers/code/modules/vending/lustwish.dm
  modular_zubbers/icons/mob/clothing/under/costume.dmi
  modular_zubbers/icons/obj/clothing/under/costume.dmi
Labels: Feature

#1458 Bloodsucker power refactor
  code/__DEFINES/~~bubber_defines/signals.dm
  code/__DEFINES/~~bubber_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/modules/mob/living/brain/brain_say.dm
  code/modules/surgery/organs/organ_movement.dm
  modular_zubbers/code/__DEFINES/bloodsucker_defines.dm
  modular_zubbers/code/__DEFINES/span.dm
  modular_zubbers/code/_onclick/hud/screen_objects/hud_timer.dm
  modular_zubbers/code/controllers/subsystem/processing/sol_subsystem.dm
  modular_zubbers/code/datums/materials/basemats.dm
  modular_zubbers/code/datums/mood_events/bloodsucker_events.dm
  modular_zubbers/code/modules/antagonists/_common/antag_datum.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/conversion.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/integration.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/life.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/objectives.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/shaded_bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/sol.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_malkavian.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_nosferatu.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_tremere.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_ventrue.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/_powers.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/cloak.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/feed.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/fortitude.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/gohome.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/masquerade.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/targeted/_powers_targeted.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/targeted/brawn.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/targeted/haste.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/targeted/lunge.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/targeted/mesmerize.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/targeted/trespass.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/_powers_tremere.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/auspex.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/dominate.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/thaumaturgy.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/vassal/distress.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/vassal/recuperate.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/vassal/vassal_fold.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/veil.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/structures/coffin.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/structures/crypt.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/structures/objects.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/vassal/batform.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/vassal/vassal_datum.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/vassal/vassal_procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/vassal/vassal_types/ex_vassal.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/vassal/vassal_types/favorite_vassal.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/vassal/vassal_types/revenge_vassal.dm
  modular_zubbers/code/modules/movespeed/modifiers/status_effects.dm
  modular_zubbers/code/modules/status_effects/buffs/frenzy.dm
  modular_zubbers/strings/bloodsuckers/malkavian_revelations.json
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoBloodsucker.tsx
  tgui/packages/tgui/interfaces/PowerInfo.tsx
Labels: Test Merge Candidate, Do Not Merge, Refactor, Pending Review

#2067 Reduces haste's range to 5
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/targeted/haste.dm
Labels: Balance Changes

#2103 Undoes skyrat 9mm nerf
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
Labels: Balance Changes, TG Balance Revert

#2123 Bubberstation taskbar icon
  interface/skin.dmf
  modular_zubbers/icons/UI_Icons/common/bubber_32.png
Labels: Good Idea

#2128 Fixes backbacks becoming bricks
  code/datums/storage/storage.dm
Labels: Fix, Early Pull, CODECON 2

#2149 Heretic Transmutation Runes can no longer have Fingerprints.
  modular_zubbers/code/modules/antagonists/heretic/transmutation_rune.dm
  tgstation.dme
Labels: Balance Changes
