Repository Bubberstation/Bubberstation, pull requests merged in 2024-07, with the labels that each got.

#1616 [Ready] Makes it so that only melee weapons can dismember because I shot a guy with a pistol once and all their organs came out.
  code/modules/surgery/bodyparts/wounds.dm
Labels: Balance Changes

#1728 CI Fixes
  _maps/bubber/automapper/automapper_config.toml
  _maps/bubber/automapper/templates/Birdshot/barber.dmm
  _maps/skyrat/automapper/automapper_config.toml
  _maps/ss13_construct.json
Labels: Fix

#1727 Dullahanborg
  modular_zubbers/code/modules/borgs/code/robot_defines.dm
  modular_zubbers/code/modules/borgs/code/robot_model.dm
  modular_zubbers/code/modules/borgs/sprites/tallrobot_cargo.dmi
  modular_zubbers/code/modules/borgs/sprites/tallrobot_eng.dmi
  modular_zubbers/code/modules/borgs/sprites/tallrobot_jani.dmi
  modular_zubbers/code/modules/borgs/sprites/tallrobot_med.dmi
  modular_zubbers/code/modules/borgs/sprites/tallrobot_mine.dmi
  modular_zubbers/code/modules/borgs/sprites/tallrobot_ninja.dmi
  modular_zubbers/code/modules/borgs/sprites/tallrobot_pk.dmi
  modular_zubbers/code/modules/borgs/sprites/tallrobot_sci.dmi
  modular_zubbers/code/modules/borgs/sprites/tallrobot_serv.dmi
  modular_zubbers/code/modules/borgs/sprites/tallrobot_syndie.dmi
Labels: Sprites

#1638 Adds Monkeydone, a chemical that transforms monkeys into humans.
  modular_zubbers/code/modules/monkeydone/pill.dm
  modular_zubbers/code/modules/monkeydone/reagent.dm
  modular_zubbers/code/modules/monkeydone/recipe.dm
  tgstation.dme
Labels: Pending Review, Good Idea

#1557 Adds Changeling Zombies (Now 99% more changeling integration)
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~~bubber_defines/changeling_zombie.dm
  code/__DEFINES/~~bubber_defines/traits.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/mob/living/status_procs.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  modular_zubbers/code/modules/changeling_zombies/antagonist.dm
  modular_zubbers/code/modules/changeling_zombies/event.dm
  modular_zubbers/code/modules/changeling_zombies/husking.dm
  modular_zubbers/code/modules/changeling_zombies/infection.dm
  modular_zubbers/code/modules/changeling_zombies/items.dm
  modular_zubbers/code/modules/changeling_zombies/reagent.dm
  modular_zubbers/code/modules/changeling_zombies/virus.dm
  modular_zubbers/icons/mob/clothing/czombie.dmi
  modular_zubbers/icons/mob/huds/czombie.dmi
  modular_zubbers/icons/mob/inhands/czombie_lefthand.dmi
  modular_zubbers/icons/mob/inhands/czombie_righthand.dmi
  modular_zubbers/icons/obj/clothing/czombie.dmi
  modular_zubbers/icons/obj/weapons/czombie.dmi
  tgstation.dme
Labels: Test Merge Candidate, Feature, Test Merged, Good Idea

#1751 quick fix for the TEG Research Cost
  modular_skyrat/modules/power/code/teg.dm
  modular_zubbers/code/modules/loadout/categories/~donator/donator_personal.dm
  tgstation.dme
Labels: Fix

#1752 Fixes dead subs being effected by dominant aura
  modular_zubbers/code/modules/quirks/code/positive_quirks/dominant_aura.dm
Labels: Fix

#1745 You can no longer vote for a map if it was the last 2 maps played, or the current map.
  code/controllers/subsystem/persistence/_persistence.dm
Labels: Test Merge Candidate

#1695 More deployable pods!
  _maps/bubber/pods/listeningbasics.dmm
  _maps/bubber/pods/shelter_3x3.dmm
  _maps/bubber/pods/shelter_4.dmm
  _maps/bubber/pods/shelter_5.dmm
  _maps/bubber/pods/shelter_6x6.dmm
  _maps/bubber/pods/shelter_botany.dmm
  _maps/bubber/pods/shelter_cabin.dmm
  _maps/bubber/pods/shelter_fan.dmm
  _maps/bubber/pods/shelter_kitchen.dmm
  _maps/bubber/pods/shelter_o2.dmm
  _maps/bubber/pods/shelter_s.dmm
  _maps/bubber/pods/shelter_trays.dmm
  modular_zubbers/code/modules/mining/equipment/survival_pod.dm
  modular_zubbers/code/modules/mining/shelters.dm
Labels: map changes

#1599 Adds Antag Tickets
  code/controllers/subsystem/blackbox.dm
  code/controllers/subsystem/polling.dm
  code/modules/admin/antag_panel.dm
  modular_zubbers/code/modules/zantag_tickets/_defines.dm
  modular_zubbers/code/modules/zantag_tickets/antag_ticket_multipliers.dm
  modular_zubbers/code/modules/zantag_tickets/blackbox.dm
  modular_zubbers/code/modules/zantag_tickets/candidate_setup.dm
  modular_zubbers/code/modules/zantag_tickets/commands.dm
  modular_zubbers/code/modules/zantag_tickets/config.dm
  modular_zubbers/code/modules/zantag_tickets/helpers.dm
  modular_zubbers/code/modules/zantag_tickets/logging.dm
  modular_zubbers/code/modules/zantag_tickets/preferences.dm
  tgstation.dme
Labels: Balance Changes, Test Merge Candidate, Pending Maintainer Discussion, Test Merged

#1768 New hemophage quirk
  code/__DEFINES/~~bubber_defines/traits.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/corrupted_liver.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/corrupted_stomach.dm
  modular_zubbers/code/modules/quirks/code/positive_quirks/masquerade_food.dm
  tgstation.dme
Labels: Feature

#1738 Reverts emp nerf since they arent as powerful anymore
  code/modules/surgery/bodyparts/_bodyparts.dm
  modular_zubbers/code/modules/emp_overhaul/organ.dm
  tgstation.dme
Labels: Test Merge Candidate

#1687 Adds Quote of the Round
  code/game/machinery/telecomms/machines/hub.dm
  modular_zubbers/code/modules/quote_of_the_round/config.dm
  modular_zubbers/code/modules/quote_of_the_round/debug_verbs.dm
  modular_zubbers/code/modules/quote_of_the_round/telecomms.dm
  modular_zubbers/code/modules/quote_of_the_round/ticker.dm
  strings/quote_of_the_round.json
  tgstation.dme
Labels: Test Merge Candidate

#1706 Storyteller readjustments part 1
  modular_zubbers/code/modules/storyteller/event_defines/major/major_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/bloodsucker.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/changeling.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/heretic.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/malf.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/spies.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/traitor.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/roleset_ghost_overrides.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
Labels: Balance Changes, Fix

#1811 Disables the ss13_construct json
  _maps/_basemap.dm
  _maps/ss13_construct.txt
Labels: Fix

#1834 Adds a strict limit for how many antagonists of a type can be added in the round via storyteller
  modular_zubbers/code/modules/storyteller/event_defines/roleset/_antagonist_event.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/bloodsucker.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/changeling.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/heretic.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/malf.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/nuke_ops.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/spies.dm
  modular_zubbers/code/modules/storyteller/event_defines/roleset/crew_antagonists/traitor.dm
Labels: Good Idea

#1839 Removes tasteless joke from moonstation
  _maps/map_files/moonstation/moonstation.dmm
Labels: Against God & Nature

#1844 Revert "Nerfs No-Talk Borg Emags"
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Balance Changes, Pending Maintainer Discussion

#1846 [MIRROR] Fix ssmachinary sleeping (#29081)
  code/game/machinery/_machinery.dm
Labels: Fix, CODECON 2
