Repository Bubberstation/Bubberstation, pull requests merged in 2024-04, with the labels that each got.

#1301 Lavaland Dauntless tweaks
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/areas.dm
Labels: Test Merge Candidate, Test Merged

#1321 Nanite Slurry overdose heals organ damage in synthetics (with adjustments)
  modular_skyrat/modules/synths/code/reagents/pill.dm
  modular_skyrat/modules/synths/code/reagents/pill_bottles.dm
  modular_skyrat/modules/synths/code/reagents/reagents.dm
  modular_zubbers/code/modules/jobs/job_types/roboticist.dm
Labels: Do Not Merge, Test Merged

#1350 Luxury Sauna Pod
  _maps/templates/shelter_s.dmm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_rare.dm
  modular_zubbers/code/modules/mining/equipment/survival_pod.dm
  modular_zubbers/code/modules/mining/shelters.dm
Labels: Feature

#635 Removes Vore
  modular_zubbers/code/modules/mob/living/carbon/alien/adult/adult.dm
  tgstation.dme
Labels: Balance Changes, Pending Maintainer Discussion

#1404 Moonstation Public Mining and Misc Fixes
  _maps/map_files/moonstation/moonstation.dmm
  modular_zubbers/code/game/area/areas/moonstation.dm
  modular_zubbers/code/game/turfs/closed/lunar_cave.dm
  modular_zubbers/code/game/turfs/closed/lunar_surface.dm
Labels: map changes

#1403 [Non-modular] New UI theme
  code/__DEFINES/colors.dm
  code/_onclick/hud/hud.dm
  code/modules/tooltip/tooltip.html
  icons/hud/64x16_actions.dmi
  modular_zubbers/master_files/icons/hud/screen_blue98.dmi
Labels: Test Merge Candidate, Test Merged

#1383 Allow heads of staff to be blind
  code/__DEFINES/~skyrat_defines/jobs.dm
Labels: Test Merged

#1367 Adds Plant Gene Disk To Biogen
  modular_zubbers/master_files/code/modules/research/designs/biogenerator_designs.dm
Labels: QoL

#1420 I am in pain
  modular_skyrat/master_files/code/modules/mob/living/basic/alien/alien.dm
Labels: Fix

#1396 adds three new moff wings
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/icons/mob/sprite_accesory/moth_wings.dmi
Labels: Test Merge Candidate, Sprites

#1402 [NOT MODULAR][TM] Nerfs Bluespace crystals
  code/game/objects/items/stacks/bscrystal.dm
Labels: Test Merge Candidate, Test Merged

#1408 [MODULAR] Dauntless tweaks
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  _maps/RandomRuins/SpaceRuins/bubberstation/space_dauntless.dmm
  modular_zubbers/code/modules/power/powerator.dm
  modular_zubbers/maps/offstation/dauntless/areas.dm
  modular_zubbers/maps/offstation/dauntless/camerabutton.dm
  modular_zubbers/maps/offstation/dauntless/code.dm
  modular_zubbers/maps/offstation/dauntless/implant_syndie.dm
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
  modular_zubbers/maps/offstation/dauntless/robot.dm
  tgstation.dme
Labels: Test Merge Candidate, map changes

#1444 Hardlight Wheelchairs no longer drop metal
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_items.dm
Labels: Take it Upstream, Do Not Merge, Fix

#1366 Automapped NTC office updates
  _maps/bubber/automapper/templates/IceBoxStation/Icebox_ntrep_office.dmm
  _maps/bubber/automapper/templates/MetaStation/metastation_ntrep_office.dmm
  _maps/bubber/automapper/templates/kilostation/kilostation_ert_bay.dmm
  _maps/bubber/automapper/templates/tramstation/tramstation_ntrep_office.dmm
Labels: map changes

#1275 Adds the DOTA suit and various extras
  modular_zubbers/code/game/Items/nerdcrowbar.dm
  modular_zubbers/code/modules/clothing/glasses/nerd.dm
  modular_zubbers/code/modules/clothing/suits/nerd.dm
  modular_zubbers/code/modules/research/designs/nerd_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/icons/mob/clothing/suits/nerd.dmi
  modular_zubbers/icons/mob/clothing/suits/nerd_digi.dmi
  modular_zubbers/icons/obj/clothing/suits/nerd.dmi
  modular_zubbers/sound/voice/nerdsuit/audacity settings.txt
  modular_zubbers/sound/voice/nerdsuit/beep_2.ogg
  modular_zubbers/sound/voice/nerdsuit/beep_3.ogg
  modular_zubbers/sound/voice/nerdsuit/bell.ogg
  modular_zubbers/sound/voice/nerdsuit/death.ogg
  modular_zubbers/sound/voice/nerdsuit/emag.ogg
  modular_zubbers/sound/voice/nerdsuit/heat.ogg
  modular_zubbers/sound/voice/nerdsuit/ketamine.ogg
  modular_zubbers/sound/voice/nerdsuit/major_fracture.ogg
  modular_zubbers/sound/voice/nerdsuit/major_lacerations.ogg
  modular_zubbers/sound/voice/nerdsuit/minor_fracture.ogg
  modular_zubbers/sound/voice/nerdsuit/minor_lacerations.ogg
  modular_zubbers/sound/voice/nerdsuit/morphine.ogg
  modular_zubbers/sound/voice/nerdsuit/seek_medical.ogg
  modular_zubbers/sound/voice/nerdsuit/shock.ogg
  modular_zubbers/sound/voice/nerdsuit/stimulants.ogg
  modular_zubbers/sound/voice/nerdsuit/vital_signs_critical.ogg
  modular_zubbers/sound/voice/nerdsuit/vital_signs_death.ogg
  modular_zubbers/sound/voice/nerdsuit/vital_signs_dropping.ogg
  modular_zubbers/sound/voice/nerdsuit/welcome.ogg
  tgstation.dme
Labels: Feature, Test Merged

#1140 Bloodsucker additional levelling system.
  modular_zubbers/code/__DEFINES/bloodsucker_defines.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/integration.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/life.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/structures/coffin.dm
Labels: Balance Changes
