Repository Bubberstation/Bubberstation, pull requests merged in 2024-10, with the labels that each got.

#1994 Bloodsucker leveling rework
  modular_zubbers/code/__DEFINES/bloodsucker_defines.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/integration.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/life.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/procs.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/sol.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_tremere.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_ventrue.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/feed.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/_powers_tremere.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/auspex.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/thaumaturgy.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/structures/crypt.dm
  tgui/packages/tgui/interfaces/AntagInfoBloodsucker.tsx
Labels: Test Merge Candidate, Test Merged

#2136 [port] Moth PR for Central
  modular_skyrat/modules/pet_owner/pet_owner.dm
  modular_zubbers/code/modules/loadout/categories/inhands.dm
  modular_zubbers/code/modules/~donator/mothdonator.dm
  modular_zubbers/icons/mob/donator_pets.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/pet_owner.tsx
Labels: Test Merged

#2137 [TM Only] Removes skyrat wound chance with total damage enhancement.
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Test Merge Candidate, Test Merged, TG Balance Revert

#2058 Is that a PDA in your pocket or are you just happy to subtle me
  code/modules/modular_computers/file_system/programs/messenger/messenger_data.dm
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
  tgui/packages/tgui/interfaces/NtosMessenger/ChatScreen.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/types.tsx
  tgui/packages/tgui/styles/interfaces/NtosMessenger.scss
Labels: Test Merged

#2185 Gravity generator blackout announcement/sound changes
  code/__DEFINES/sound.dm
  code/modules/power/gravitygenerator.dm
  modular_zubbers/code/datums/announcers/default_announcer.dm
  modular_zubbers/master_files/code/datums/announcers/default_announcer.dm
  modular_zubbers/master_files/code/modules/events/gravity_generator_blackout.dm
  modular_zubbers/sound/alerts/gravgen_blackout.ogg
  modular_zubbers/sound/machines/gravgen_down.ogg
  modular_zubbers/sound/machines/gravgen_up.ogg
  tgstation.dme
Labels: Test Merged

#2121 [MIRROR] Suit sensors updates/fixes package
  code/game/data_huds.dm
  code/game/machinery/computer/crew.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/power/cable.dm
  icons/mob/huds/hud.dmi
  modular_skyrat/master_files/icons/mob/huds/hud.dmi
  modular_zubbers/code/modules/clothing/under/_under.dm
  modular_zubbers/icons/mob/huds/hud.dmi
Labels: Test Merged

#2173 Bangle Sprites & ONE Laser Sound
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/aesthetics/guns/sound/laser.ogg
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_worn.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/romulus_technology/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/romulus_technology/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/romulus_technology/guns_worn.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/carwo_defense_systems/guns32x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/carwo_defense_systems/guns48x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun48x32.dmi
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/icons/customization/ears.dmi
Labels: Test Merged

#2091 Adds the Vortex Luxury Emergency Shuttle
  _maps/shuttles/zubbers/emergency_vortex.dmm
  modular_zubbers/code/datums/shuttles/emergency.dm
Labels: Test Merged

#2211 halloween: a 2spooky update
  code/__DEFINES/sound.dm
  code/modules/events/meteors/meteor_wave_events.dm
  modular_skyrat/modules/alerts/code/alert_sound_to_playing.dm
  modular_skyrat/modules/ices_events/code/events/ev_meteors.dm
  modular_zubbers/code/modules/events/meteor_wave.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/mundane_overrides.dm
  modular_zubbers/master_files/code/datums/announcers/default_announcer.dm
  modular_zubbers/master_files/code/modules/holiday/holiday.dm
  modular_zubbers/sound/alerts/meteor_warning.ogg
  tgstation.dme
Labels: Test Merge Candidate, Test Merged, Event

#2277 Fix APC autochannel priority
  code/modules/power/apc/apc_main.dm
Labels: Fix

#2270 Fix upgraded power cell icon
  modular_skyrat/modules/aesthetics/cells/cell.dm
  modular_skyrat/modules/aesthetics/cells/cell.dmi
Labels: Fix

#2262 Adding Science Haydee
  modular_zubbers/code/modules/silicons/borgs/code/robot_defines.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/curverobot_sci.dmi
Labels: Sprites

#2278 Fixes *meow and *purr emotes (and other emote third person keys)
  code/modules/mob/living/basic/pets/cat/cat.dm
  code/modules/mob/living/carbon/human/emote.dm
  modular_skyrat/modules/container_emotes/code/container_emotes.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/layer_shift/code/mob_movement.dm
  modular_skyrat/modules/verbs/code/subtle.dm
  modular_zubbers/code/modules/emotes/emotes.dm
  modular_zubbers/code/modules/surgery/organs/external/wings.dm
Labels: Fix, Test Merged

#2285 Map vote uses simple, not weighted random / show map vote calculation and carryover info
  code/__DEFINES/~~bubber_defines/span.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/vote.dm
  modular_zubbers/code/controllers/subsystem/map_vote.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Test Merge Candidate, Test Merged

#2299 Fix crew monitor computer working without power
  modular_zubbers/code/game/machinery/crew_monitor.dm
Labels: Fix

#2305 Fixes windoor animations
  modular_skyrat/modules/aesthetics/directwindow/icons/directwindow.dmi
Labels: Fix
