Repository Bubberstation/Bubberstation, pull requests merged in 2024-11, with the labels that each got.

#2309 Gecko Tail! (my branch was out of date)
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/icons/customization/tails.dmi
Labels: Test Merge Candidate, Test Merged

#2319 Fix storyteller null event runtime
  modular_zubbers/code/modules/storyteller/storytellers/tellers/_storyteller.dm
Labels: Fix

#2316 Remove archived map config entries
  config/maps.txt
Labels: Fix

#2320 Adds a toggle credits preference
  modular_zubbers/code/modules/credits/credits.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/see_credits.tsx
Labels: Test Merge Candidate, QoL

#2311 Adding Jackal tail
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/icons/customization/tails.dmi
Labels: Feature, Sprites

#2312 Cuts down borg untipping timer
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Balance Changes

#2328 Roselia's Small Fixes and Changes Part 2
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_surface_gas_bubber.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_surface_gas_bubber.dmm
  _maps/RandomRuins/SpaceRuins/bubberstation/thelizardsgas_bubber.dmm
  _maps/bubber/automapper/templates/generic/interlink_adminoffice.dmm
Labels: Map Edit

#2322 Adds a 2nd Skillsoft to the Ghost Cafe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#2318 (PORT) Closet/Crate Examining for Observers
  modular_zubbers/code/game/objects/structures/crates_lockers/closets.dm
  tgstation.dme
Labels: QoL

#2329 Removes the Security Cremator from voidraptor and replaces it with a plushie room.
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Balance Changes, Map Edit

#2338 Fixes upgraded power cell not showing a charge indicator
  code/modules/power/cell.dm
Labels: Fix

#2337 Makes ruin generation like a million times faster
  _maps/moonstation.json
  modular_zubbers/code/__DEFINES/moonstation_defines.dm
  modular_zubbers/code/controllers/subsystem/mapping.dm
Labels: Test Merge Candidate, Fix, Test Merged

#2336 Adds LOOC chat filter
  code/__DEFINES/~~bubber_defines/chat.dm
  tgstation.dme
  tgui/packages/tgui-panel/chat/constants.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/looc.tsx
Labels: Test Merge Candidate, Test Merged, QoL, Accessibility

#2218 Prevent ventrue bloodsuckers from self-softlocking by choosing a revenge vassal
  modular_zubbers/code/__DEFINES/bloodsucker_defines.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/bloodsucker.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/conversion.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/objectives.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_ventrue.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/dominate.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/structures/crypt.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/vassal/vassal_datum.dm
  modular_zubbers/strings/bloodsuckers/malkavian_revelations.json
  tgui/packages/tgui/interfaces/AntagInfoGhoul.tsx
Labels: Fix

#2313 Adds clarity to prisoner bounties.
  modular_zubbers/code/modules/cargo/bounties/prisoner.dm
Labels: Grammar and Formatting

#2205 removes the second wound healing in bloodsucker organ healing
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/life.dm
Labels: Fix

#1842 Limbgrown bodies.
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_mob.dm
  modular_zubbers/code/modules/limbgrowncorpses/limbgrowerblanks.dm
  modular_zubbers/code/modules/monkeydone/pill.dm
  modular_zubbers/code/modules/monkeydone/reagent.dm
  modular_zubbers/code/modules/monkeydone/recipe.dm
  tgstation.dme
Labels: Test Merge Candidate, Do Not Merge, Pending Maintainer Discussion, Feature, Test Merged, Test Merge Only

#2200 Patches a bug with adding vetted users.
  modular_zubbers/code/modules/vetted/vetted.dm
Labels: Test Merge Candidate, Fix, Test Merged

#2348 Fixes standalone hood ears
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Fix

#2345 Make legwraps work against glass
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
Labels: Balance Changes

#2350 Afterattack fixes
  modular_skyrat/modules/clock_cult/code/components/structure_info_element.dm
  modular_skyrat/modules/moretraitoritems/code/weapons.dm
  modular_skyrat/modules/primitive_production/code/hydroponics.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_zubbers/code/modules/debug_tools/physgun.dm
  modular_zubbers/code/modules/debug_tools/phystool.dm
Labels: Fix

#2353 Nerfs the Default slightly
  modular_zubbers/code/modules/storyteller/storytellers/data/_track.dm
Labels: Balance Changes, Test Merge Candidate, Test Merged

#2259 Digi-zombies, attempt numbero 2
  modular_zubbers/code/modules/mob/living/carbon/human/species/zombies.dm
Labels: Fix

#2331 [SKYRAT CLEANUP] Removes bubber comments from skyrat tgui files
  tgui/packages/tgui/interfaces/ExaminePanel.jsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/erp_preferences.tsx
Labels: Skyrat Cleanup

#2361 Fix varnames and spelling in physgun and phystool
  modular_zubbers/code/modules/debug_tools/physgun.dm
  modular_zubbers/code/modules/debug_tools/phystool.dm
Labels: Grammar and Formatting

#2352 adds suspicious protogen plush
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Feature

#2366 Fix moonstation ore vents being empty
  modular_zubbers/code/controllers/subsystem/mapping.dm
Labels: Fix

#2365 Fix window polarizers not linking
  modular_skyrat/modules/polarized_windows/polarization_controller.dm
Labels: Fix

#2349 Makes loadout renamed items able to be examined when worn
  code/__DEFINES/~~bubber_defines/traits/declarations.dm
  code/__DEFINES/~~bubber_defines/traits/sources.dm
  code/modules/loadout/loadout_items.dm
  code/modules/mob/living/carbon/examine.dm
  modular_zubbers/code/datums/elements/examine_when_worn.dm
  modular_zubbers/code/modules/mob/living/carbon/examine.dm
  tgstation.dme
Labels: QoL

#2343 Adds Hemoglobin Iced Tea, a drink for hemophages
  modular_zubbers/code/modules/reagents/reagent_containers/cups/soda.dm
  modular_zubbers/code/modules/vending/cola.dm
  modular_zubbers/icons/obj/drinks/soda.dmi
  tgstation.dme
Labels: Test Merge Candidate, Feature, Test Merged, Needs Modularization

#2363 Fallout sprite updates and fixes
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  modular_skyrat/master_files/icons/mob/newmobs.dmi
  modular_skyrat/master_files/icons/mob/newmobs64x64.dmi
Labels: Sprites

#2362 Fixes the tactical Hawaiian outfits being wrongly adjustable
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Fix

#2376 Allow eating cyborgs with only a passive grab (since you can't do an
  modular_zubbers/code/datums/components/vore/vore.dm
Labels: New South Wales Content

#2404 Fix autochange log entries being off by a day
  .github/workflows/compile_changelogs.yml
Labels: Fix

#2251 Adds a new emote: Bonk
  modular_zubbers/code/modules/emotes/emotes.dm
  modular_zubbers/code/modules/emotes/hand_items.dm
  modular_zubbers/code/modules/emotes/sound/effects/bonk.ogg
  modular_zubbers/code/modules/emotes/sound/effects/license.txt
  tgstation.dme
Labels: Feature

#2323 Banana Slippers
  code/modules/uplink/uplink_items/job.dm
  modular_zubbers/code/modules/clothing/shoes/boots.dm
  modular_zubbers/icons/mob/clothing/feet/feet.dmi
  modular_zubbers/icons/mob/clothing/feet/feet_digi.dmi
  modular_zubbers/icons/obj/clothing/shoes.dmi
Labels: Feature, Good First PR

#2415 Fix alternate meow/purr
  code/modules/mob/living/basic/pets/cat/cat.dm
Labels: Fix

#2335 Added 'Nyamagotchi'
  code/modules/balloon_alert/balloon_alert.dm
  modular_skyrat/master_files/code/modules/loadout/categories/toys.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_common.dm
  modular_zubbers/code/game/brain_damage/severe.dm
  modular_zubbers/code/game/traits/negative.dm
  modular_zubbers/code/modules/arcades/code/loot/arcade_weights_classic.dm
  modular_zubbers/code/modules/nyamagotchi/nyamagotchi.dm
  modular_zubbers/code/modules/nyamagotchi/sound/cat_alert.ogg
  modular_zubbers/code/modules/nyamagotchi/sound/cat_eat.ogg
  modular_zubbers/code/modules/nyamagotchi/sound/cat_sad.ogg
  modular_zubbers/code/modules/nyamagotchi/sprites/radial_nyamagotchi.dmi
  modular_zubbers/code/modules/vending/games.dm
  modular_zubbers/icons/obj/toys/toys.dmi
  tgstation.dme
Labels: Feature, Good First PR

#2408 Gives tastes to the cyborg snack dispenser snacks
  modular_skyrat/modules/borg_buffs/code/snack_dispensor.dm
Labels: Feature

#2436 Two new hair sprites by Cepha
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/icons/customization/hair.dmi
Labels: Feature, Sprites

#2473 Fix health analyzer not showing missing heart
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Test Merge Candidate, Fix, Test Merged, Early Pull

#2314 Ore 'berries'
  modular_zubbers/code/modules/hydroponics/code/grown/rocks.dm
  modular_zubbers/code/modules/hydroponics/icons/growing_fruits.dmi
  modular_zubbers/code/modules/hydroponics/icons/harvest.dmi
  modular_zubbers/code/modules/hydroponics/icons/seeds.dmi
Labels: Feature

#2392 Fix issues with sol weakness and the quirk whitelist
  modular_zubbers/code/__DEFINES/quirks.dm
  modular_zubbers/code/modules/client/preferences/middleware/species.dm
  modular_zubbers/code/modules/quirks/code/negative_quirks/sol_weakness.dm
  tgstation.dme
Labels: Fix

#2421 Lets anyone be a special ghoul type
  modular_zubbers/code/modules/antagonists/bloodsucker/bloodsuckers/conversion.dm
Labels: Balance Changes

#2206 (Port) MKUltra - Mind Control
  code/__DEFINES/~~bubber_defines/span.dm
  code/__DEFINES/~~bubber_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  modular_skyrat/modules/customization/modules/clothing/neck/collars.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kink_collars.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/size_items.dm
  modular_zubbers/code/modules/mkultra/enthrall.dm
  modular_zubbers/code/modules/mkultra/misc.dm
  modular_zubbers/code/modules/mkultra/moods.dm
  modular_zubbers/code/modules/mkultra/reaction.dm
  modular_zubbers/code/modules/mkultra/reagent.dm
  modular_zubbers/code/modules/mkultra/vocal_cords.dm
  modular_zubbers/code/modules/mkultra/vocal_cords.dmi
  modular_zubbers/code/modules/vending/lustwish.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/erp_preferences.tsx
Labels: Test Merge Candidate, Against God & Nature, Test Merged, New South Wales Content, SPLURT CODE

#2502 Fix the PR labeler action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Fix

#2193 Succumbing now alerts everyone around you that you gave up on life.
  code/modules/mob/living/living.dm
Labels: Balance Changes

#2478 Biodome Unfuckening
  _maps/map_files/biodome/biodome.dmm
  modular_skyrat/modules/automapper/code/area_spawn_subsystem.dm
  modular_zubbers/code/game/objects/effects/landmarks.dm
  modular_zubbers/master_files/code/game/objects/effects/spawners/random/decoration.dm
  tgstation.dme
Labels: Map Edit

#2517 Engineering Cyborg grippers
  modular_zubbers/code/game/objects/items/robot/items/storage.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/robot_items.dmi
Labels: Sprites

#2341 Removes the burst fire action button from the bulldog shotgun
  modular_zubbers/code/game/objects/items/bulldog.dm
Labels: Balance Changes

#2481 Large hypo fix and new large bottles for chemistry press
  code/__DEFINES/~skyrat_defines/reagents.dm
  code/_globalvars/lists/reagents.dm
  code/modules/plumbing/plumbers/pill_press.dm
  icons/obj/medical/chemical.dmi
  icons/obj/medical/reagent_fillings.dmi
  modular_zubbers/code/modules/reagents/reagent_containers/cups/bottle.dm
  modular_zubbers/icons/obj/medical/chemical.dmi
  modular_zubbers/icons/obj/medical/reagent_fillings.dmi
  tgstation.dme
Labels: Balance Changes, Feature, Sprites

#2535 Fixes emote cooldown
  code/datums/emotes.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/emote.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_zubbers/code/modules/mob/living/emote.dm
Labels: Fix, Skyrat Cleanup

#2511 Snake Scarves!
  modular_zubbers/code/modules/snakes/snakes.dm
  modular_zubbers/code/modules/snakes/snakes.dmi
  tgstation.dme
Labels: Sprites

#2506 Makes rags holdable in a pocket protector
  code/datums/storage/subtypes/pockets.dm
Labels: Feature

#2538 shockwave PKA's no longer stack all their blasts on one tile if you click on on a tile next to you
  modular_zubbers/code/game/objects/items/more_pkas.dm
Labels: Fix

#2544 Fix ghosts being unable to flip
  code/modules/mob/emote.dm
Labels: Fix

#2505 Bugfixing Haydee Sprites, Updating poor-quality Sprites
  modular_zubbers/code/modules/silicons/borgs/sprites/curverobot_eng.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/curverobot_jani.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/curverobot_mine.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/curverobot_serv.dmi
Labels: Sprites

#2516 [Greer] Replaces NTC's captain pen with a fountain pen
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_zubbers/code/modules/jobs/job_types/nanotrasen_consultant.dm
  modular_zubbers/icons/obj/service/bureaucracy.dmi
Labels: Sprites

#1545 Public Logging Update
  code/__HELPERS/logging/_logging.dm
  code/__HELPERS/logging/attack.dm
  code/__HELPERS/logging/mecha.dm
  code/__HELPERS/logging/mob.dm
  code/__HELPERS/logging/talk.dm
  code/datums/components/butchering.dm
  code/datums/elements/strippable.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  modular_zubbers/code/modules/public_logging/public_logging.dm
Labels: Test Merge Candidate, Test Merged, Refactor

#2537 Update health analyzer to show blessed lobotomy
  code/modules/mob/living/brain/brain_item.dm
Labels: Fix

#2562 Fixes up the medical item reskinning
  modular_zubbers/code/game/Items/storage/backpack.dm
  modular_zubbers/code/game/objects/items/stacks/medical.dm
  modular_zubbers/code/modules/surgery/tools.dm
  modular_zubbers/icons/obj/medical/surgery_tools.dmi
Labels: Sprites

#2125 Brings upstream cargo features in line with our cargo changes
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/jarnsmiour.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zubbers/code/modules/security/security_glock/cargo.dm
Labels: Balance Changes, Test Merge Candidate

#2551 Gives the Chef All-American Diner uniforms
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_zubbers/code/modules/clothing/gloves/misc.dm
  modular_zubbers/code/modules/clothing/head/hats.dm
  modular_zubbers/code/modules/clothing/neck/neck.dm
  modular_zubbers/code/modules/clothing/suits/misc.dm
  modular_zubbers/code/modules/clothing/under/misc.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/mob/clothing/neck/neck.dmi
  modular_zubbers/icons/mob/clothing/suits/misc.dmi
  modular_zubbers/icons/mob/clothing/under/costume.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/neck/neck.dmi
  modular_zubbers/icons/obj/clothing/suits/misc.dmi
  modular_zubbers/icons/obj/clothing/under/costume.dmi
  tgstation.dme
Labels: Sprites

#2570 Plush addition.
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Sprites

#2566 Medical jacket adjustments
  modular_skyrat/master_files/code/modules/loadout/categories/suit.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/goofsec/code/department_guards.dm
  modular_zubbers/code/modules/loadout/categories/~donator/donator_personal.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
  modular_zubbers/icons/donator/skyymed.dmi
  modular_zubbers/icons/donator/skyymed_worn.dmi
  modular_zubbers/icons/mob/clothing/suits/labcoat.dmi
  modular_zubbers/icons/obj/clothing/suits/labcoat.dmi
Labels: Sprites

#2571 [Cherry-Pick] Carp infusion now changes how your skin looks to reflect your fishy nature
  code/datums/bodypart_overlays/texture_bodypart_overlay.dm
  code/datums/elements/organ_set_bonus.dm
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  icons/mob/human/textures.dmi
Labels: Upstream Merge, Sprites

#2523 The Great Akula Lore Rewrite
  modular_skyrat/master_files/code/modules/clothing/head/akula_official.dm
  modular_skyrat/master_files/code/modules/clothing/under/akula_jobs.dm
  modular_skyrat/master_files/code/modules/clothing/under/akula_official.dm
  modular_skyrat/modules/aesthetics/flag/code/signs_flags.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
Labels: Good First PR

#2519 Skyrat Cleanup: Total Veteran Annihilation
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/controllers/subsystem/job.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/client/preferences/middleware/jobs.dm
  code/modules/client/preferences/middleware/quirks.dm
  code/modules/client/preferences/species.dm
  code/modules/mob/dead/new_player/new_player.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skyrat_config_entries.dm
  modular_skyrat/master_files/code/datums/quirks/_quirk.dm
  modular_skyrat/modules/admin/code/player_ranks.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/oversized/code/oversized_quirk.dm
  modular_skyrat/modules/pet_owner/pet_owner.dm
  modular_skyrat/modules/player_ranks/code/player_rank_controller/config_entry.dm
  modular_skyrat/modules/player_ranks/code/player_rank_controller/veteran_controller.dm
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_skyrat/modules/station_traits/code/station_traits.dm
  modular_skyrat/modules/veteran_only/code/job_types.dm
  modular_skyrat/modules/veteran_only/code/species_types.dm
  modular_skyrat/modules/veteran_only/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/JobsPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/SpeciesPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: Skyrat Cleanup

#2580 adds the CentCom Synth Fox plushie
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
  sound/machines/terminal_alert_short.ogg
Labels: Sprites

#2199 Space MP5 - Redux
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/smg.dm
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/romulus_technology/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/romulus_technology/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
  modular_skyrat/modules/sec_haul/code/guns/sec_gun_rs.dm
  modular_skyrat/modules/sec_haul/code/technode/conversion_kit.dm
  modular_zubbers/code/modules/clothing/suits/armor.dm
  modular_zubbers/code/modules/loadout/categories/suit.dm
  modular_zubbers/code/modules/vending/multisec.dm
  modular_zubbers/icons/obj/clothing/suits/collared_vest.dmi
Labels: Test Merge Candidate, Test Merged, Sprites

#2545 Box Station 2: An update to Box Station
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Test Merge Candidate, Map Edit, Test Merged

#2586 quick fix for a missing cable on Box Station.
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#2582 Hopefully fix everything making you limp
  modular_zubbers/code/datums/wounds/permanent_limp.dm
Labels: Fix, Test Merged

#2584 Bring back the species menu
  tgui/packages/tgui/interfaces/PreferencesMenu/SpeciesPage.tsx
Labels: Fix, Test Merged, FUCK
