Repository Bubberstation/Bubberstation, pull requests merged in 2024-03, with the labels that each got.

#625 Contractor and Ninja Modsuits have a deployable microbomb (Enable the DNA lock and hit Lock on the modsuit to arm)
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_zubbers/code/modules/antagonists/modglue.dm
  tgstation.dme
Labels: Requires Documentation, Test Merge Candidate, Pending Staff Discussion

#1202 Buffs the amount of lethal lasers energy weapons can put out.
  code/modules/projectiles/ammunition/energy/_energy.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/lmg.dm
Labels: Balance Changes, Test Merged, Reviewed

#1131 Lift him (PR that makes it so you can be lifted)
  code/__DEFINES/~~bubber_defines/traits.dm
  code/controllers/subsystem/processing/quirks.dm
  modular_zubbers/code/datums/components/datums/riding_mob.dm
  modular_zubbers/code/game/traits/positive.dm
  tgstation.dme
Labels: Test Merge Candidate, Test Merged

#1014 Lavaland Dauntless / Removes cameras
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
Labels: map changes

#1285 Removes Dauntless Self Destruct
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: map changes

#186 Doctor Moffson Antivirus for Artificial Intelligence Units @ the AI restore consoles
  modular_zubbers/code/modules/antagonists/malf/remove_malf.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AiRestorer.tsx
Labels: Stale, Test Merge Candidate, Merge Conflict, Pending Maintainer Discussion

#1305 Fixes Hemophage and Humanoid skintone issues
  code/__DEFINES/~~bubber_defines/species.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_hemophage.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_humanoid.png
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/hemophage/hemophage_species.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/humanoid_overrides.dm
  modular_zubbers/code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  modular_zubbers/icons/mob/species/human_parts_greyscale.dmi
  modular_zubbers/modules/hemophages/code/species.dm
  tgstation.dme
Labels: Fix, Sprites
