Repository Bubberstation/Bubberstation, pull requests merged in 2024-05, with the labels that each got.

#1169 [Non-Modular Because Globalvars suck ass] Mirror-Nova: "Girl Dinner: Adds Mariinsky Ballet Company Chassis"
  modular_skyrat/master_files/icons/mob/augmentation/mariinskyipc.dmi
  modular_skyrat/modules/bodyparts/icons/ipc_parts.dmi
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_zubbers/modules/customization/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  tgstation.dme
Labels: Test Merge Candidate, Feature, Test Merged

#1456 [MIRROR] Fixes using the milking machine crashing the entire server
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/milking_machine.dm
Labels: Holy Fix, CODECON 1: CRITICAL PRIORITY

#1414 Adds the Wizard Die of Fate, plus the random event that spawns it. Roll a 20, and become a wizard. Roll a 1, and fucking die.
  modular_zubbers/code/modules/wizard_dize/wizard_dice_event.dm
  modular_zubbers/code/modules/wizard_dize/wizard_dice_object.dm
  tgstation.dme
Labels: Test Merge Candidate, Unfathomably Based

#1440 some hairs and a cool mot wing
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories.dm
  modular_zubbers/icons/mob/species/human/humanface.dmi
  modular_zubbers/icons/mob/sprite_accesory/moth_wings.dmi
Labels: Sprites

#1371 [MODULAR-ISH] Entombed Quirk from Nova Sector
  modular_skyrat/master_files/code/datums/quirks/neutral_quirks/equipping.dm
  modular_zubbers/master_files/code/modules/entombed_quirk/code/entombed.dm
  modular_zubbers/master_files/code/modules/entombed_quirk/code/entombed_mod.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/entombed.tsx
Labels: Test Merge Candidate, Test Merged

#1463 Add Marish and Shadekin Empathy
  modular_zubbers/code/modules/languages/empathy.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
  modular_zubbers/code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  modular_zubbers/icons/misc/language.dmi
  tgstation.dme
Labels: Fetish Content

#1486 fixes linters and entombed
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/entombed.tsx
Labels: Fix

#677 round end credits
  code/_onclick/hud/credits.dm
  modular_zubbers/code/modules/credits/credits.dm
  tgstation.dme
Labels: Test Merge Candidate, Feature, Test Merged, Good Idea

#1306 (Mostly-Modular) Restore Ice Moon Interdyne Classic
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_interdyne.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_dauntless.dmm
  _maps/RandomRuins/SpaceRuins/bubberstation/space_dauntless.dmm
  config/iceruinblacklist.txt
  modular_skyrat/modules/mapping/code/icemoon.dm
  modular_zubbers/code/controllers/subsystem/research.dm
  modular_zubbers/code/game/machinery/department_balance.dm
  modular_zubbers/code/modules/power/powerator.dm
  modular_zubbers/maps/offstation/dauntless/camerabutton.dm
  modular_zubbers/maps/offstation/dauntless/code.dm
  modular_zubbers/maps/offstation/interdyne/area.dm
  modular_zubbers/maps/offstation/interdyne/code.dm
  tgstation.dme
Labels: Test Merge Candidate, map changes

#1365 Pod ruin changes
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_surface_seed_vault_bubber.dmm
  config/lavaruinblacklist.txt
  modular_zubbers/code/modules/automapper/code/area_spawn_entries.dm
  modular_zubbers/maps/offstation/seedvault.dm
  tgstation.dme
Labels: map changes

#1400 Adds Big Black Fat Security Glocks
  modular_zubbers/icons/obj/guns/sec_pistol.dmi
  modular_zubbers/master_files/code/modules/research/designs/weapon_designs.dm
  modular_zubbers/modules/security_glock/ammo.dm
  modular_zubbers/modules/security_glock/cargo.dm
  modular_zubbers/modules/security_glock/case.dm
  modular_zubbers/modules/security_glock/firing_pin.dm
  modular_zubbers/modules/security_glock/gun.dm
  modular_zubbers/modules/security_glock/lockers.dm
  modular_zubbers/modules/security_glock/research.dm
  modular_zubbers/sound/weapons/gun/lock/shot.ogg
  tgstation.dme
Labels: Test Merge Candidate

#1397 Adds one extra alt skin to the mining MODsuit
  modular_zubbers/code/modules/mod/mod_theme.dm
  modular_zubbers/icons/mob/clothing/modsuit/mod_clothing.dmi
  modular_zubbers/icons/obj/clothing/modsuit/mod_clothing.dmi
Labels: Sprites

#1455 Reduces nightmare's burn weakness
  modular_zubbers/modules/antagonists/nightmare/nightmare_species.dm
  tgstation.dme
Labels: Pending Maintainer Discussion

#1417 Rebalances being a lardass
  code/controllers/subsystem/processing/quirks.dm
  modular_zubbers/master_files/code/datums/traits/slow.dm
  tgstation.dme
Labels: Balance Changes

#1513 Tajaran Tackling
  code/datums/components/tackle.dm
Labels: Good Idea, Good First PR
