Repository Bubberstation/Bubberstation, pull requests merged in 2025-05, with the labels that each got.

#3465 QOL for Entombed
  modular_zubbers/code/datums/quirks/neutral_quirks/entombed.dm
  modular_zubbers/master_files/code/modules/entombed_quirk/code/entombed_alt_actions.dm
  modular_zubbers/master_files/code/modules/entombed_quirk/code/entombed_mod.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/StripMenu.tsx
Labels: Code, TGUI

#3681 Add default to arrivals shuttle auto return config
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
Labels: Code

#3682 fix nanites leaving bad moods stuck forever
  modular_zubbers/code/modules/nanites/nanite_programs/suppression.dm
  modular_zubbers/code/modules/nanites/program_designs.dm
Labels: Fix, Code

#3686 Fix colony ore silo trying to add a new repackable element to it every time someone inserts materials
  modular_skyrat/modules/colony_fabricator/code/machines/ore_silo.dm
Labels: Code

#3694 Fix screen color not cleaning up and add erroring on invalid usage
  modular_skyrat/modules/exp_corps/code/clothing.dm
  modular_skyrat/modules/quirks/echolocation/echolocation.dm
  modular_zubbers/code/modules/client/client_color.dm
  modular_zubbers/code/modules/status_effects/buffs/frenzy.dm
  tgstation.dme
Labels: Code

#3693 Fix hair gradients not working for changelings
  modular_skyrat/modules/customization/datums/dna.dm
Labels: Code

#3695 Percy has been rust-proofed.
  modular_zubbers/maps/offstation/persistence/area.dm
Labels: Code, Merge Approval #1

#3698 Tableclocks are now loadout items
  modular_zubbers/code/modules/loadout/categories/pocket.dm
Labels: Code

#3678 Icarus Sunbeam is better now
  modular_skyrat/modules/assault_operatives/code/sunbeam.dm
Labels: Test Merged, Code, Merge Approval #1

#3692 Feed tweaks and fixes
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/feed.dm
Labels: Code

#3618 Unifies coco powder to one reagent instead of two
  modular_skyrat/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_skyrat/modules/food_replicator/code/reagents.dm
  modular_skyrat/modules/food_replicator/code/replicator_designs/replicator_food.dm
Labels: Code, Merge Approval #1

#3709 Fix station time on stat panel
  code/controllers/subsystem/statpanel.dm
Labels: Code, Testmerge Approval #1

#3677 Cum 3 - Redone as Climax functionality
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
Labels: Against God & Nature, New South Wales Content, Code, Merge Approval #1, Merge Approval #2

#3675 Restricts guns from being able to be held on the security belt
  code/game/objects/items/storage/belt.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3723 Borgs can use IV drips again
  modular_zubbers/code/game/machinery/iv_drip.dm
  tgstation.dme
Labels: Code

#3729 Remove Skyrat lights off override
  modular_skyrat/modules/aesthetics/lightswitch/code/lightswitch.dm
Labels: Skyrat Cleanup, Code, Merge Approval #1

#3731 Removes hallucination on hunger/mood
  code/datums/mood.dm
Labels: Code

#3734 Fix loadout tab bluescreen
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ItemDisplay.tsx
Labels: TGUI

#3744 Fix persistence walls being error
  code/game/turfs/closed/wall/reinf_walls.dm
Labels: Code

#3715 Fixes bloodsucker ability "Vanishing Act" ignoring NoDrop
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/gohome.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3620 Fixes a BLATANT LIE in the OPFOR SYSTEM
  modular_zubbers/code/modules/opposing_force/code/equipment/antagonist_powers.dm
  modular_zubbers/code/modules/uplink/uplink_devices.dm
  tgstation.dme
Labels: Code, Merge Approval #1

#3747 TGUI Prefs Menu Fix Batch
  code/modules/loadout/loadout_items.dm
  tgui/packages/tgui/bubber_components/Box.tsx
  tgui/packages/tgui/bubber_components/SideDropdown.tsx
  tgui/packages/tgui/interfaces/ColorPickerModal.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/index.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/base.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
Labels: Code, TGUI

#3718 Persistance cargo tech ORM access
  modular_zubbers/maps/offstation/dauntless/ID_trims.dm
  modular_zubbers/maps/offstation/persistence/ID_trims.dm
Labels: Code

#2776 Adds some CentCom outfit pieces to NTC's garment bag
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
  modular_zubbers/code/modules/loadout/categories/under.dm
Labels: Code

#3508 Adds a new latex suit, the half cat suit.
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform-paw.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_clothing/lewd_uniform.dmi
  modular_zubbers/code/modules/loadout/categories/under.dm
  modular_zubbers/modules/lewd_clothing/latex_halfcatsuit.dm
  tgstation.dme
Labels: Sprites, Code

#3753 Readds Burger's Sandstorm for use on Moonstation
  _maps/moonstation.json
  code/__DEFINES/~~bubber_defines/maps.dm
  modular_zubbers/code/datums/weather/weather_types/sand_storm.dm
  tgstation.dme
Labels: Map Edit, Fix, Code

#3748 Revert of Modsuit overslotting changes
  code/modules/mod/mod_activation.dm
Labels: Test Merged, Code, Testmerge Approval #1, Testmerge Approval #2

#3720 Simple bubber map upkeeping
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

#3761 OPFOR Panel Fixes
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_subsystem.dm
  modular_zubbers/master_files/skyrat/modules/opposing_force/code/opposing_force_subsystem.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/OpposingForcePanel.jsx
Labels: Code, TGUI

#3762 Fix SSdecay
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
Labels: Code

#3757 ports Nova's Fix wound treatment medical items #4818
  modular_skyrat/modules/deforest_medical_items/code/healing_stack_items.dm
Labels: Code

#3764 Cleans mentions of 'spinwarder' in code
  code/modules/antagonists/fugitive/hunters/hunter.dm
  code/modules/mob/living/basic/trooper/russian.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  code/modules/vending/sovietsoda.dm
  modular_zubbers/code/modules/languages/_language_holder.dm
Labels: Code

#3766 Reverts the tg change of making lizard blood green
  code/modules/mob/living/blood_types.dm
Labels: Code, Merge Approval #1

#3710 Updates codeowners to something sane
  .github/CODEOWNERS
Labels: Github, Merge Approval #1

#3770 Fix trash bag not going on janitor belt
  code/datums/storage/subtypes/belts.dm
Labels: Code

#3771 Fix departmental stun batons missing inhand icon
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: Code

#3769 fix coffin locking and candelabrum toggling & remove alt click UI from these
  modular_zubbers/code/modules/antagonists/bloodsucker/structures/coffin.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/structures/crypt.dm
Labels: Code

#3776 Fix flaky runtime related to ghoul limbs
  modular_skyrat/modules/bodyparts/code/ghoul_bodyparts.dm
Labels: Code

#3779 Fix donator loadout items being removed
  code/modules/loadout/loadout_helpers.dm
  code/modules/loadout/loadout_menu.dm
  code/modules/loadout/loadout_preference.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/types.ts
Labels: Code, TGUI

#3679 ethereal-revive-bugfix
  code/modules/surgery/organs/internal/heart/heart_ethereal.dm
  code/modules/unit_tests/ethereal_revival.dm
Labels: Code

#3672 Moonstation Hallwaying + Improvements (Expect Bugs)
  _maps/map_files/moonstation/moonstation.dmm
  modular_zubbers/code/game/area/areas/moonstation.dm
Labels: Map Edit, Code, Testmerge Approval #1, Merge Approval #1

#3784 Fix mob_biotypes on xen mobs
  modular_skyrat/modules/black_mesa/code/mobs/bullsquid.dm
  modular_skyrat/modules/black_mesa/code/mobs/headcrab.dm
  modular_skyrat/modules/black_mesa/code/mobs/houndeye.dm
  modular_skyrat/modules/black_mesa/code/mobs/vortigaunt.dm
Labels: Code

#3783 Fix blinking config
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  config/bubbers/bubbers_config.txt
  modular_zubbers/code/controllers/configuration/entries/blinking.dm
Labels: Requires Config Change, Code

#3785 Fix winter woods ambience
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
Labels: Code

#3782 Fix two runtimes in round credits
  modular_zubbers/code/modules/credits/credits.dm
Labels: Code

#3788 Beehive Behinds
  modular_zubbers/code/modules/customization/sprite_accessories/bee_tail64x32.dm
  modular_zubbers/icons/customization/bee_tail64x32.dmi
  tgstation.dme
Labels: Sprites, Code

#3364 Twinkaine: The Scarfacening (probably TM it for balance)
  modular_skyrat/modules/morenarcotics/code/cocaine.dm
  modular_skyrat/modules/morenarcotics/code/cocaine_item.dm
  modular_skyrat/modules/morenarcotics/code/cocoleaves.dm
Labels: Balance Changes, Code, Merge Approval #1, Merge Approval #2

#3792 SAD and VV load prefs overrides quirks
  modular_skyrat/modules/extra_vv/code/extra_vv.dm
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
  modular_zubbers/code/controllers/subsystem/processing/quirks.dm
  tgstation.dme
Labels: Code

#3735 Adds a new Quirk: Unblinking
  code/controllers/subsystem/processing/quirks.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/unblinking.dm
  tgstation.dme
Labels: Good First PR, Code, Merge Approval #1, Merge Approval #2

#3793 Change required perms for player ranks management to R_ADMIN
  modular_skyrat/modules/admin/code/player_ranks.dm
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_skyrat/modules/player_ranks/code/world_topic.dm
Labels: Administration, Code

#3768 More Dullahan Cyborg models
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_cargo.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_clown.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_eng.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_jani.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_med.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_mine.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_ninja.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_pk.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_serv.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_syndie.dmi
Labels: Sprites, Code

#3800 kills TRAIT_OXYIMMUNE
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/damage_procs.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
  modular_skyrat/modules/synths/code/species/synthetic.dm
  tgstation.dme
Labels: Code

#3794 [ready] fixes some taur-related iconforge stuff
  modular_zubbers/icons/actions/constrict.dmi
  modular_zubbers/icons/mob/taur/saddles.dmi
  modular_zubbers/icons/mob/taur/tail.dmi
  modular_zubbers/modules/taur_mechanics/accessible_storage.dm
  modular_zubbers/modules/taur_mechanics/constrict.dm
  modular_zubbers/modules/taur_mechanics/human.dm
  modular_zubbers/modules/taur_mechanics/item.dm
  modular_zubbers/modules/taur_mechanics/mod.dm
  modular_zubbers/modules/taur_mechanics/preferences.dm
  modular_zubbers/modules/taur_mechanics/saddle_component.dm
  modular_zubbers/modules/taur_mechanics/saddles.dm
  modular_zubbers/modules/taur_mechanics/serpentine_taur.dm
  modular_zubbers/modules/taur_mechanics/species.dm
  modular_zubbers/modules/taur_mechanics/taur_clothing_offset.dm
  tgstation.dme
Labels: Sprites, Code

#3803 Fix brain hard delete
  modular_skyrat/master_files/code/modules/client/preferences/brain.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/modular_persistence/code/modular_persistence.dm
Labels: Code

#3789 Makes nanite sting actually work and nanite defib now starts your heart
  modular_zubbers/code/modules/nanites/nanite_programs.dm
  modular_zubbers/code/modules/nanites/nanite_programs/healing.dm
  modular_zubbers/code/modules/nanites/nanite_programs/suppression.dm
  modular_zubbers/code/modules/nanites/nanite_programs/utility.dm
Labels: Code

#3811 New dogtag accessory item
  modular_zubbers/code/modules/clothing/accessory/accessory.dm
  modular_zubbers/code/modules/loadout/categories/accessories.dm
  modular_zubbers/icons/mob/clothing/accessories.dmi
  modular_zubbers/icons/obj/clothing/accessories.dmi
Labels: Sprites, Code

#3809 Clean up examine TGUI a little
  code/__DEFINES/~skyrat_defines/DNA.dm
  modular_zubbers/code/modules/client/examine_tgui.dm
  modular_zubbers/code/modules/examine_tgui/examine_tgui.dm
  modular_zubbers/master_files/code/modules/mob/living/carbon/human/examine.dm
  tgstation.dme
Labels: Code

#3812 Ckey locked UN Beret
  modular_zubbers/code/modules/clothing/head/hats.dm
  modular_zubbers/code/modules/loadout/categories/~donator/donator_personal.dm
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
Labels: Sprites, Code, Merge Approval #1

#3814 Hide unobtainable ckey-locked loadout items again
  code/modules/loadout/loadout_items.dm
  code/modules/loadout/loadout_menu.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/base.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/types.ts
Labels: Code, TGUI, Merge Approval #1

#3449 Add Proteans to the game.
  code/__DEFINES/mobs.dm
  code/__DEFINES/surgery.dm
  code/__DEFINES/~~bubber_defines/dna.dm
  code/__DEFINES/~~bubber_defines/signals.dm
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/datums/outfit.dm
  code/modules/events/ghost_role/space_ninja.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/surgery/blood_filter.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/sleeper_protocol.dm
  code/modules/tgui/status_composers.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_protean.png
  config/game_options.txt
  modular_skyrat/modules/customization/modules/surgery/organs/cap.dm
  modular_skyrat/modules/customization/modules/surgery/organs/ears.dm
  modular_skyrat/modules/customization/modules/surgery/organs/frills.dm
  modular_skyrat/modules/customization/modules/surgery/organs/horns.dm
  modular_skyrat/modules/customization/modules/surgery/organs/moth_antennae.dm
  modular_skyrat/modules/customization/modules/surgery/organs/pod.dm
  modular_skyrat/modules/customization/modules/surgery/organs/skrell_hair.dm
  modular_skyrat/modules/customization/modules/surgery/organs/synth_antenna.dm
  modular_skyrat/modules/customization/modules/surgery/organs/synth_screen.dm
  modular_skyrat/modules/customization/modules/surgery/organs/tails.dm
  modular_skyrat/modules/customization/modules/surgery/organs/wings.dm
  modular_skyrat/modules/customization/modules/surgery/organs/xenodorsal.dm
  modular_skyrat/modules/layer_shift/code/mob_movement.dm
  modular_skyrat/modules/modular_items/lewd_items/code/verbs.dm
  modular_skyrat/modules/synths/code/surgery/robot_brain_surgery.dm
  modular_skyrat/modules/synths/code/surgery/robot_heart_surgery.dm
  modular_skyrat/modules/synths/code/surgery/robot_stomach_surgery.dm
  modular_skyrat/modules/synths/code/surgery/surgery.dm
  modular_zubbers/code/datums/elements/nanite_organ.dm
  modular_zubbers/code/modules/customization/species/proteans/README.md
  modular_zubbers/code/modules/customization/species/proteans/__DEFINES.dm
  modular_zubbers/code/modules/customization/species/proteans/_proteans_species.dm
  modular_zubbers/code/modules/customization/species/proteans/protean_brain.dm
  modular_zubbers/code/modules/customization/species/proteans/protean_modsuit.dm
  modular_zubbers/code/modules/customization/species/proteans/protean_modsuit_core.dm
  modular_zubbers/code/modules/customization/species/proteans/protean_organs.dm
  modular_zubbers/code/modules/customization/species/proteans/protean_stomach.dm
  modular_zubbers/code/modules/customization/species/proteans/protean_verbs.dm
  modular_zubbers/code/modules/security/security_glock/cargo.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/_antagonist_event.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/bloodsucker.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/changeling.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
  modular_zubbers/icons/mob/species/protean/protean.dmi
  tgstation.dme
Labels: Sprites, Requires Config Change, Code, TGUI, Image

#2930 Blackmarket Update / Port
  _maps/RandomRuins/SpaceRuins/skyrat/blackmarket.dmm
  _maps/shuttles/skyrat/ruin_blackmarket_chevvy.dmm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/space.dm
Labels: Map Edit, Test Merged, Test Merge Only, Code

#3806 The droppering
  modular_zubbers/master_files/code/modules/reagents/reagent_containers/dropper.dm
  tgstation.dme
Labels: Code

#3817 Provide hookers to all moonstation players
  _maps/moonstation.json
Labels: Map Edit

#3791 Replicator update; ports #4886 from Nova
  modular_skyrat/modules/food_replicator/code/clothing.dm
  modular_skyrat/modules/food_replicator/code/replicator_designs/replicator_clothing.dm
  modular_skyrat/modules/food_replicator/code/storage.dm
  modular_skyrat/modules/food_replicator/icons/clothing.dmi
  modular_skyrat/modules/food_replicator/icons/clothing_worn.dmi
  modular_skyrat/modules/food_replicator/icons/pouch.dmi
Labels: Balance Changes, Sprites, Code

#3798 Liquid solder now heals organs on top of brain damage.
  modular_skyrat/modules/synths/code/reagents/reagents.dm
Labels: Code

#3819 general purpose pouch is not a medical item
  modular_skyrat/modules/food_replicator/code/replicator_designs/replicator_clothing.dm
Labels: Code

#3820 Fix being unable to hide moth antennae or wings
  code/modules/surgery/organs/external/_visual_organs.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
Labels: Code

#3813 Robotic cavity implant
  code/modules/surgery/cavity_implant.dm
  modular_zubbers/code/modules/surgery/robotic_cavity_implant.dm
  tgstation.dme
Labels: Code, Merge Approval #1, Merge Approval #2

#3765 fix smolrap-jani eye sprites
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_serv.dmi
Labels: Sprites

#3736 Fixes the Cat, Xeno/Xeno Queen, Simple Fish, Crescent Fish, Long Fish, and Chonky Fish tails failing to appear.
  modular_skyrat/master_files/icons/mob/sprite_accessory/fish_tails.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/xeno_queen_tail.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/xeno_tail.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Sprites, Code

#3767 Ports Diesel Boots from F13
  modular_zubbers/code/modules/clothing/shoes/boots.dm
  modular_zubbers/code/modules/loadout/categories/shoes.dm
  modular_zubbers/icons/mob/clothing/feet/feet.dmi
  modular_zubbers/icons/mob/clothing/feet/feet_digi.dmi
  modular_zubbers/icons/obj/clothing/feet/feet.dmi
Labels: Sprites, Code, Merge Approval #1

#2967 Heretic flavour: Epilogues [Port from Yog]
  code/modules/antagonists/heretic/heretic_antag.dm
  modular_zubbers/code/modules/antagonists/heretic/heretic_antag.dm
  tgstation.dme
Labels: Code, Merge Approval #1, Merge Approval #2

#3826 fix abductors getting prefs applied
  code/modules/events/ghost_role/abductor.dm
Labels: Code

#3828 High-Heeled Jackboots replacement
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_zubbers/code/modules/clothing/shoes/boots.dm
  modular_zubbers/icons/mob/clothing/feet/feet.dmi
  modular_zubbers/icons/mob/clothing/feet/feet_digi.dmi
  modular_zubbers/icons/obj/clothing/feet/feet.dmi
Labels: Sprites, Code, Merge Approval #1, Merge Approval #2

#3829 makes last resort 0 cost again
  modular_zubbers/code/modules/antagonists/changeling/powers/headcrab.dm
  tgstation.dme
Labels: Code

#3676 redecorates most of persistence (MERGE BEFORE #3595)
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Labels: Map Edit, Test Merged

#3849 Fix NebulaStation disposals
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_sauna.dmm
Labels: Map Edit

#3851 Fix Persistence linters
  tools/maplint/lints/window_spawner.yml
Labels: Map Edit, Tools

#3848 Kills Drifting Contractor
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/driftingcontractor.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/driftingcontractor.tsx
Labels: TGUI, Merge Approval #1, Merge Approval #2

#3852 Fixes the Cigarette Vendor Contraband lists
  modular_skyrat/modules/modular_vending/code/cigarette.dm
Labels: Code

#3855 Add option to search loadout item tooltip text
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/index.tsx
Labels: TGUI

#3840 Printable medipens & other chemistry product changes
  code/__DEFINES/~skyrat_defines/reagents.dm
  code/_globalvars/lists/reagents.dm
  code/modules/plumbing/plumbers/pill_press.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  modular_zubbers/code/modules/pen_medipens/code/pen_medipens.dm
  modular_zubbers/icons/obj/medical/pen_medipens/fill_overlay.dmi
  modular_zubbers/icons/obj/medical/pen_medipens/pen_medipens.dmi
  tgstation.dme
Labels: Sprites, Code

#3867 Quirk cost rebalance
  modular_skyrat/modules/quirks/good.dm
  modular_zubbers/code/datums/quirks/positive_quirks/apathetic_override.dm
  modular_zubbers/code/datums/quirks/positive_quirks/bilingual_override.dm
  modular_zubbers/code/datums/quirks/positive_quirks/chip_connector_override.dm
  modular_zubbers/code/datums/quirks/positive_quirks/drunk_healing_override.dm
  modular_zubbers/code/datums/quirks/positive_quirks/light_step_override.dm
  modular_zubbers/code/datums/quirks/positive_quirks/poster_boy_override.dm
  modular_zubbers/code/datums/quirks/positive_quirks/signer_override.dm
  modular_zubbers/code/datums/quirks/positive_quirks/spacer_override.dm
  modular_zubbers/code/datums/quirks/positive_quirks/strong_stomach_override.dm
  modular_zubbers/code/datums/quirks/positive_quirks/tagger_override.dm
  tgstation.dme
Labels: Balance Changes, Code

#3714 Butter Churn (+Gutlunch Milking Changes)
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_zubbers/code/datums/components/udder.dm
  modular_zubbers/icons/obj/structures/butterchurn.dmi
  modular_zubbers/modules/primitive_cooking/code/butterchurn.dm
  tgstation.dme
Labels: Sprites, Code, Merge Approval #1, Merge Approval #2

#3859 Adds 'Bovine Traits' speech quirk.
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  modular_skyrat/modules/organs/code/tongue.dm
  modular_skyrat/modules/quirks/neutral.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3868 Cleanup NTC/blueshield code
  _maps/bubber/automapper/templates/IceBoxStation/Icebox_ntrep_office.dmm
  _maps/bubber/automapper/templates/MetaStation/metastation_ntrep_office.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_ntrep_office.dmm
  _maps/bubber/automapper/templates/kilostation/kilostation_ert_bay.dmm
  _maps/bubber/automapper/templates/tramstation/tramstation_ntrep_office.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/moonstation/moonstation.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_ert_bay.dmm
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_zubbers/code/modules/jobs/job_types/blueshield.dm
  modular_zubbers/code/modules/jobs/job_types/nanotrasen_consultant.dm
  modular_zubbers/code/modules/jobs/trims/jobs.dm
  modular_zubbers/master_files/skyrat/modules/blueshield/code/blueshield.dm
  tgstation.dme
  tools/UpdatePaths/Scripts_Bubber/3868_NTC_locker.txt
Labels: Map Edit, Tools, Code, Merge Approval #1

#3863 Adds a Robotics RCD
  code/__DEFINES/~skyrat_defines/research.dm
  modular_skyrat/master_files/code/game/objects/items/RCD.dm
  modular_skyrat/master_files/icons/obj/tools.dmi
  modular_skyrat/modules/aesthetics/tools/tools_lefthand.dmi
  modular_skyrat/modules/aesthetics/tools/tools_righthand.dmi
  modular_skyrat/modules/science_tools/research.dm
  modular_skyrat/modules/science_tools/tool_designs.dm
Labels: Sprites, Code, Merge Approval #1, Merge Approval #2

#3878 Teshari/Tajara now start with cold-adapted lungs + adds default lungs to the augment menu
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3872 lets the medical bandolier hold all 'hyposprays' and vials
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3880 Nerf printable medipen volume from 25 to 12
  modular_zubbers/code/modules/pen_medipens/pen_medipens.dm
  tgstation.dme
Labels: Balance Changes, Code, Merge Approval #1, Merge Approval #2

#3874 Adds Book of Nod to Curator's Study in Box Station (and other fixes)
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit, Merge Approval #1, Merge Approval #2

#3871 [MODULAR] Adds synth versions of fix ears and fix eyes.
  code/modules/surgery/surgery_step.dm
  modular_zubbers/code/modules/surgery/organs/ear_surgery.dm
  modular_zubbers/code/modules/surgery/organs/eye_surgery.dm
  modular_zubbers/code/modules/surgery/surgery_step.dm
  tgstation.dme
Labels: Code, Merge Approval #1, Merge Approval #2

#3833 Craftable Wall Mounted Torches
  modular_skyrat/modules/primitive_structures/code/wall_torch.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3887 Adds 3 new alt job titles, removes one.
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Code, Merge Approval #1

#3890 Fix set internals button missing in strip menu
  modular_zubbers/master_files/code/modules/entombed_quirk/code/entombed_alt_actions.dm
  tgui/packages/tgui/interfaces/StripMenu.tsx
Labels: Code, TGUI

#3536 Adds the latex corset to the lustwish.
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
Labels: Code

#3892 Revert "Nerf printable medipen volume from 25 to 12"
  modular_zubbers/code/modules/pen_medipens/pen_medipens.dm
Labels: Balance Changes, Revert, Code

#3905 Radiation storm event fixes/improvements
  code/datums/weather/weather_types/radiation_storm.dm
  code/modules/security_levels/keycard_authentication.dm
  modular_skyrat/modules/alerts/code/security_level_procs.dm
  modular_skyrat/modules/alerts/sound/alerts/radiation.ogg
  modular_skyrat/modules/alerts/sound/alerts/radiation1.ogg
  modular_zubbers/code/datums/weather/weather_types/radiation_storm.dm
  modular_zubbers/code/modules/events/ev_roleplay_check.dm
  modular_zubbers/code/modules/events/radiation_storm.dm
  tgstation.dme
Labels: Code, Sound

#3548 Non-living beings no longer glow from being irradiated.
  code/datums/components/irradiated.dm
Labels: Test Merged, Code, Testmerge Approval #1, Merge Approval #1

#3910 Fixes the exploitable manifest
  modular_skyrat/modules/records_on_examine/code/record_manifest.dm
  tgui/packages/tgui/interfaces/RecordManifest.jsx
Labels: Code, TGUI

#3896 Adds a new slime tendrils variant
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/icons/customization/hair.dmi
Labels: Sprites, Code

#3894 Adds the Color component to circuitry
  code/modules/wiremod/components/action/speech.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
  modular_zubbers/code/__DEFINES/span.dm
  modular_zubbers/code/modules/research/designs/wiremod_designs.dm
  modular_zubbers/code/modules/research/techweb/circuit_nodes.dm
  modular_zubbers/code/modules/wiremod/components/string/color.dm
  tgstation.dme
Labels: Code, Merge Approval #1

#3898 Delam suppression system refactor
  code/__DEFINES/~skyrat_defines/events.dm
  code/__DEFINES/~~bubber_defines/machines.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination/_sm_delam.dm
  modular_skyrat/modules/delam_emergency_stop/code/admin_scram.dm
  modular_skyrat/modules/delam_emergency_stop/code/delam.dm
  modular_skyrat/modules/delam_emergency_stop/code/scram.dm
  tgstation.dme
Labels: Test Merged, Code, Testmerge Approval #1

#3917 Fix GAGS loadout item recolors not showing in char preview with place all in case pref
  code/modules/loadout/loadout_helpers.dm
Labels: Code

#3842 Synth now require a heart and lungs to function.
  modular_skyrat/modules/synths/code/species/synthetic.dm
Labels: Code, Testmerge Approval #1, Testmerge Approval #2

#3578 Tarkon fixes and QOL changes
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/shuttles/skyrat/ruin_tarkon_driver.dmm
  code/__DEFINES/mining.dm
  code/datums/components/spawner.dm
  code/game/objects/items/robot/robot_upgrades.dm
  modular_skyrat/modules/kahraman_equipment/code/ore_thumper.dm
  modular_skyrat/modules/mapping/code/areas/space.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/port_tarkon_fluff.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/research.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
  modular_skyrat/modules/tarkon/icons/obj/clothing/uniform.dmi
  modular_zubbers/code/modules/ghost_wavedefence/wave_def.dm
  modular_zubbers/code/modules/tarkon/code/tarkon_loot.dm
Labels: Map Edit, Sprites, Code

#3534 S.W.A.T part 3
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/energy/stun.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_zubbers/code/modules/security/secmed/security_medic.dm
  modular_zubbers/code/modules/security/tasers.dm
  tgstation.dme
Labels: Map Edit, Code, Testmerge Approval #1, Testmerge Approval #2, Merge Approval #1, Merge Approval #2

#3924 Some active turfs fixes
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_surface_gas_bubber.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_surface_gas_bubber.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/bubber/automapper/templates/IceBoxStation/iceboxstation_icecats_lower.dmm
  _maps/bubber/automapper/templates/lavaland/lavaland_persistence.dmm
  modular_skyrat/modules/hotel_rooms/prisoninfdorm.dmm
  modular_skyrat/modules/primitive_catgirls/code/map_items.dm
  modular_zubbers/maps/offstation/lizard_gas.dm
  modular_zubbers/maps/offstation/persistence/turf.dm
  tgstation.dme
Labels: Map Edit, Code

#3914 Allows Maintenance Drones to Understand Common. Loosens Drone Law slightly.
  modular_skyrat/modules/drone_adjustments/drone.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3933 Fixes oversight with the wizard's magic wand belt.
  code/datums/storage/subtypes/belts.dm
Labels: Code
