Repository Bubberstation/Bubberstation, pull requests merged in 2025-08, with the labels that each got.

#4297 Re-Adds leashing to pAIs as a pAI side optional toggle
  code/modules/pai/pai.dm
  code/modules/pai/shell.dm
  modular_zubbers/code/modules/pai/hud.dm
  modular_zubbers/code/modules/pai/pai.dm
  modular_zubbers/icons/hud/screen_pai.dmi
  tgstation.dme
Labels: Sprites, Code

#4343 Adds the Hearing Protection Mod to our combat MODsuits
  modular_skyrat/modules/blueshield/code/modsuit/mod_theme.dm
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#4232 Replaces the Wizard Dice event with a round-start wizard role
  modular_zubbers/code/_globalvars/lists/maintenance_loot_one_of_a_kind.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/wizard.dm
  modular_zubbers/code/modules/wizard_dize/wizard_dice_event.dm
  tgstation.dme
Labels: Balance Changes, Code, Merge Approval #1, Merge Approval #2

#4364 Additional vox hairstyles
  modular_skyrat/master_files/icons/mob/sprite_accessory/vox_hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/vox.dm
Labels: Sprites, Code

#4330 Researchable Hat Stabilizer module, as well as adding them by default to the BS and HOS modsuits
  modular_zubbers/code/modules/mod/mod_types.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Labels: Code

#4334 New honorifics
  modular_zubbers/code/datums/id_trim/jobs.dm
  tgstation.dme
Labels: Code

#4375 Fix decal colors from initializing as randomized garbage
  code/modules/holiday/holidays.dm
Labels: Fix, Code, Merge Approval #1

#4348 Reduce Vulpkanin hunger drain from 2x to 1.5x
  code/modules/mob/mob.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
Labels: Balance Changes, Code

#4377 Crew health monitor fixes/cleanup
  code/__DEFINES/~~bubber_defines/misc.dm
  code/game/machinery/computer/crew.dm
  modular_skyrat/modules/blueshield/code/devices/crew.dm
  modular_zubbers/code/game/machinery/computer/crew.dm
  modular_zubbers/code/game/machinery/crew_monitor.dm
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.tsx
  tgui/packages/tgui/interfaces/CrewConsoleSkyrat.jsx
Labels: Fix, Code, TGUI

#4335 New Bug Taur variants
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_zubbers/icons/customization/taur.dmi
Labels: Sprites, Code

#4399 Fixes Synth "Reset Posibrain Logic" Surgery
  modular_zubbers/code/modules/synths/code/surgery/robot_brain_surgery.dm
Labels: Code, Merge Approval #1

#4404 Fix washing off colorful reagent
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: Fix, Code

#4405 Blueshift medbay door button
  _maps/map_files/Blueshift/Blueshift.dmm
Labels: Map Edit

#4311 Allow command to have missing limbs on roundstart.
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/__DEFINES/~~bubber_defines/jobs.dm
  code/controllers/subsystem/job.dm
  code/modules/mob/dead/new_player/new_player.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#4401 Bug taur layering fix
  modular_zubbers/icons/customization/taur.dmi
Labels: Sprites

#4269 Adds "Aphrodisiacal Bite" Quirk, moving "Venomous Bite" 's ERP options.
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/venom_milker.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/aphrodisiacal_bite/aphrodisiacal_bite.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/aphrodisiacal_bite/aphrodisiacal_bite_quirk.dm
  modular_zubbers/code/datums/quirks/positive_quirks/venomous_bite/venomous_bite.dm
  modular_zubbers/code/datums/quirks/positive_quirks/venomous_bite/venomous_bite_quirk.dm
  modular_zubbers/icons/mob/actions/quirks/aphrodisiacal_bite.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/aphrodisiacal_bite.tsx
Labels: Feature, Sprites, Good First PR, Code, TGUI

#4323 Greyscaled Moth Wings + Antennae
  modular_skyrat/modules/customization/modules/surgery/organs/moth_antennae.dm
  modular_zubbers/code/modules/customization/sprite_accessories/moth_antennae.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/icons/mob/sprite_accesory/moth_antennae.dmi
  modular_zubbers/icons/mob/sprite_accesory/moth_wings.dmi
  tgstation.dme
Labels: Feature, Sprites, Code, Merge Approval #1, Merge Approval #2

#4325 New Shadekin Tail + Ears
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/code/modules/customization/sprite_accessories/tails64x32.dm
  modular_zubbers/icons/customization/ears.dmi
  modular_zubbers/icons/customization/shark_tails64x32.dmi
  modular_zubbers/icons/customization/tails64x32.dmi
  tgstation.dme
Labels: Feature, Sprites, Code, Merge Approval #1, Merge Approval #2

#4319 Slows station time to 2x real time, instead of 12x
  code/__HELPERS/time.dm
  code/controllers/subsystem/ticker.dm
  config/bubbers/bubbers_config.txt
  modular_zubbers/code/controllers/configuration/entries/game_options.dm
  tgstation.dme
Labels: Test Merged, Requires Config Change, Code, Merge Approval #1

#4419 Fish Tail Fixes
  code/datums/sprite_accessories.dm
Labels: Code

#4417 Introduces lore for podpeople
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/podpeople.dm
Labels: Code

#4422 Fix flaky CI failure related to liquids
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_effect.dm
Labels: Code

#4420 Society made me this way: Felinid lore update
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: Lore, Code

#4444 Removes a geneva convention violation from the bootyborgs by making their red cross, blue.
  modular_skyrat/modules/borgs/icons/robots_med.dmi
Labels: Sprites

#4433 New Moth Compatible Hair
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/icons/customization/hair.dmi
Labels: Feature, Sprites, Code, Merge Approval #1

#4416 Fixes MOST /tg/ underclothing items not having digitigrade sprites
  modular_skyrat/master_files/code/modules/clothing/under/jobs/cargo.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/centcom.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/civilian/civilian.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/civilian/suits.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/medical.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/rnd.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/modules/salon/code/clothing.dm
  modular_zubbers/code/modules/security/secmed/secmed_clothes.dm
Labels: Fix, Test Merged, Code, Testmerge Approval #1

#4439 [TESHARI TIME] Updates Teshari lore
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Lore, Code

#4437 Skrell lore update
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/skrell.dm
Labels: Lore, Code

#4435 Updates Shadekin lore
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
Labels: Lore, Code

#4426 Mech Launchpads Are Now In the Techweb
  code/__DEFINES/~~bubber_defines/research/techweb_nodes.dm
  modular_zubbers/code/modules/research/designs/comp_board_designs.dm
  modular_zubbers/code/modules/research/designs/machine_board_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Labels: Code

#4456 Department guard taser, file cleanup
  modular_skyrat/modules/goofsec/code/department_guards.dm
  modular_zubbers/code/datums/department_security.dm
  tgstation.dme
Labels: Code

#4318 Fixes abnormal body temp being skrunkled by the SAD
  modular_zubbers/code/modules/quirks/neutral_quirks/body_temp.dm
Labels: Stale, Fix, RED LABEL, Code

#4461 ERTs now spawn with ion jetpacks
  code/modules/mod/mod_types.dm
Labels: Code, Merge Approval #1

#3988 Storyteller Playercount Calculation Overhaul
  modular_zubbers/code/modules/events/ev_roleplay_check.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
  modular_zubbers/code/modules/storyteller/gamemode_ui.dm
  modular_zubbers/code/modules/storyteller/scheduled_event.dm
Labels: Code, TGUI, Testmerge Approval #1, Merge Approval #1

#4465 Fixes dried weed not being deleted after being ground
  modular_skyrat/modules/morenarcotics/code/thc.dm
Labels: Fix, Code

#4458 Polymorph/Shapeshift now takes colors from your prefs + Polymorph gets color changing now
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/shapeshifter.dm
Labels: Test Merged, Code, Testmerge Approval #1

#4478 Adds cables under the SMESes on Void Raptor
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Edit, Fix

#4140 Makes !little guys! get thrown exactly one tile by shotguns
  modular_skyrat/modules/modular_weapons/code/gun_launches_little_guys_element.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Code

#4499 Deer Emote Sound
  modular_zubbers/code/modules/emotes/emotes.dm
Labels: Feature, Code

#4488 Shadekin Fluffy Ear Gradient
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/icons/customization/ears.dmi
Labels: Feature, Sprites, Code

#4492 Updates flavor text tooltips to be a little more helpful
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/species_features.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: TGUI

#4482 Oversized Quirk Buffs
  code/__DEFINES/~~bubber_defines/combat.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/oversized_quirk.dm
Labels: Balance Changes, Code, Merge Approval #1

#4502 Starts Xenomorph Hybrid lore
  modular_zubbers/code/modules/mob/living/carbon/human/species/xeno.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/xeno.dm
  tgstation.dme
Labels: Lore, Code

#4441 Updates synth lore
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/synths.dm
Labels: Lore, Code

#4506 Fix bug with changelog arrow buttons
  tgui/packages/tgui/interfaces/BubberChangelog.jsx
Labels: TGUI

#4494 Disable harmful RPG loot affixes
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/sec_haul/code/corrections_officer/corrections_officer.dm
  modular_skyrat/modules/telecomms_specialist/telecomms_specialist.dm
  modular_zubbers/code/datums/components/fantasy/weight_overrides.dm
  modular_zubbers/code/modules/jobs/job_types/blacksmith.dm
  modular_zubbers/code/modules/jobs/job_types/warden.dm
  tgstation.dme
Labels: Balance Changes, Code

#4480 Replaces all tarkon cameras with their own network
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  code/__DEFINES/~~bubber_defines/cameranets.dm
  modular_zubbers/code/modules/tarkon/code/cameras.dm
  tgstation.dme
Labels: Map Edit, Fix, Code

#4471 [Config Change] Disables Vox_Primalis as a roundstart species
  config/game_options.txt
Labels: Requires Config Change

#4514 Fixes Cybernetic Digitigrade Legs, again
  modular_skyrat/modules/digitigrade_cybernetics/icons/advanced_digitigrade_parts.dmi
  modular_skyrat/modules/digitigrade_cybernetics/icons/digitigrade_parts.dmi
Labels: Sprites

#4524 Makes bilingual function the same as Linguist
  code/__DEFINES/~~bubber_defines/traits/declarations.dm
  code/datums/quirks/positive_quirks/bilingual.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Labels: Code

#4528 Lore language rewrites
  modular_skyrat/modules/customization/modules/language/gutter.dm
  modular_skyrat/modules/customization/modules/language/mothic.dm
  modular_skyrat/modules/customization/modules/language/siiktajr.dm
  modular_skyrat/modules/customization/modules/language/spacer.dm
  modular_skyrat/modules/customization/modules/language/te_velu_akko.dm
  modular_skyrat/modules/customization/modules/language/vox.dm
  modular_skyrat/modules/customization/modules/language/yangyu.dm
  modular_zubbers/code/modules/languages/common.dm
  modular_zubbers/code/modules/languages/siikmaas.dm
  modular_zubbers/code/modules/languages/uncommon.dm
  tgstation.dme
Labels: Code

#4483 Killing simplemob clowns creates gibs instead of corpses because I lagged to them once.
  code/modules/mob/living/basic/clown/clown.dm
Labels: QoL, Code

#4533 Adds more medical items in certain medical bags
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
Labels: Code

#4479 Reverts us back to 100 maxhp from the 135 we have been on because I lived to it once
  code/__DEFINES/bodyparts.dm
  code/__DEFINES/~~bubber_defines/mobs.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/energy/beam_rifle.dm
  modular_skyrat/modules/primitive_cooking_additions/code/millstone.dm
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.tsx
Labels: Balance Changes, Test Merged, TG Balance Revert, Code, TGUI, Merge Approval #1

#4545 Misc. runtime fixes
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/MOD_sprite_accessories/mod_accessory_handler.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
Labels: Code

#4547 Fixes autotransfer happening after shuttle dock
  modular_skyrat/modules/autotransfer/code/autotransfer.dm
Labels: Code

#4558 remove definitely and potentially regex-damaging syllables from skrelluq
  modular_skyrat/modules/customization/modules/language/skrell.dm
Labels: Code

#4564 Severely reduces the amount of access NTRep gets.
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
Labels: Balance Changes, Code, Merge Approval #1

#4570 Adds taur parts to the bioscrambler blacklist
  code/__DEFINES/research/anomalies.dm
Labels: Fix, Code

#4574 Include next map on new round announcement
  modular_zubbers/code/modules/quote_of_the_round/ticker.dm
Labels: Test Merged, QoL, Code

#4573 Adds few "Large Cat" tails & Skin tone markings
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
  modular_zubbers/icons/customization/tails.dmi
Labels: Sprites, Code, Merge Approval #1

#4491 Box Station 3 (Now with 20% more boxes!) [READY]
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit, Test Merged
