Repository Bubberstation/Bubberstation, pull requests merged in 2025-06, with the labels that each got.

#3937 The vettening
  code/__DEFINES/text.dm
  code/__DEFINES/~~bubber_defines/span.dm
  code/_onclick/hud/hud.dm
  code/modules/client/client_procs.dm
  interface/fonts/license.txt
  interface/fonts/selawik.dm
  interface/fonts/selawik.ttf
  modular_skyrat/modules/title_screen/code/new_player.dm
  modular_zubbers/code/_onclick/hud/screen_objects/activation.dm
  modular_zubbers/code/datums/deadline_alert.dm
  modular_zubbers/code/modules/vetted/examine.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/DeadlineModal.tsx
Labels: Code, TGUI

#3936 Adds the lazy synth plush
  modular_zubbers/code/game/objects/effects/items/plushes.dm
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
  tgstation.dme
Labels: Sprites, Code

#3821 Synthetic Taurs
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/synthetic.dm
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_zubbers/code/modules/mob/dead/taur_types.dm
  modular_zubbers/modules/taur_mechanics/preferences.dm
  modular_zubbers/modules/taur_mechanics/taur_body.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: Code, TGUI, Merge Approval #1

#3944 Fix some icon states issues from GAGS
  icons/map_icons/clothing/neck.dmi
  modular_skyrat/modules/customization/modules/clothing/head/jobs.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
  modular_zubbers/code/modules/clothing/clothing_overrides/centcom.dm
  modular_zubbers/code/modules/clothing/head/helmet.dm
  modular_zubbers/code/modules/clothing/neck/neck.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
Labels: Sprites, Code

#3934 lets chemical bags and fridges hold hypo stuff
  code/datums/storage/subtypes/bags.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: Code

#3948 Squashes scrubber overrides into a single file
  modular_zubbers/code/modules/storyteller/_events/scrubber_overflow.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/scrubber_overrides.dm
  tgstation.dme
Labels: Code

#3951 Makes the server (more) gay
  code/__DEFINES/time.dm
  code/modules/holiday/holidays.dm
  modular_zubbers/master_files/code/modules/holiday/holiday.dm
Labels: Code

#3947 Reverts colorful reagent (and other coloring reagents) behavior back to old one.
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code, Merge Approval #1

#3952 Move soulcatcher verb to IC tab
  modular_skyrat/modules/modular_implants/code/soulcatcher/ghost.dm
Labels: Code

#3726 Re-adds Tajaran Tackle Bonus
  code/datums/components/tackle.dm
Labels: Balance Changes, Code, Merge Approval #1

#3494 Stowaway Job
  config/jobconfig.toml
  modular_skyrat/modules/automapper/code/area_spawn_subsystem.dm
  modular_zubbers/code/modules/automapper/code/overrides/area_spawn_subsystem.dm
  modular_zubbers/code/modules/jobs/stowaway.dm
  tgstation.dme
Labels: Requires Config Change, Code, Testmerge Approval #1, Merge Approval #1

#3151 Micro Squishing & Quirk (for abusing small sprites and being SMALLER)
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/squashable.dm
  modular_zubbers/code/datums/quirks/negative_quirks/micro.dm
  tgstation.dme
Labels: Balance Changes, Feature, Code, Merge Approval #1

#3959 ERT gun balance adjustments
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/mode_datums.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
Labels: Balance Changes, Code, Merge Approval #1, Merge Approval #2

#3984 Add COMPONENT_CANCEL_ATTACK_CHAIN to repackable element
  modular_skyrat/modules/colony_fabricator/code/repacking_element.dm
Labels: Code

#3987 Fix antag banned people being able to roll obsessed
  code/datums/brain_damage/creepy_trauma.dm
  code/modules/events/creep_awakening.dm
Labels: Code

#3992 Fix all the sprites in the Command Outfitting Station being broken
  modular_skyrat/modules/aesthetics/vending/access_vending.dm
Labels: Code

#3841 Adds Climbing Hook Implants
  modular_skyrat/modules/customization/modules/client/augment/implants.dm
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/code/modules/implants/code/augments_arms.dm
  modular_zubbers/code/modules/implants/code/game/objects/items/climbingrope.dm
  tgstation.dme
Labels: Code, Merge Approval #1, Merge Approval #2

#3932 Opens up the Southern Half of the Interlink
  _maps/bubber/automapper/templates/centcom/interlink_adminoffice.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit, Merge Approval #1, Merge Approval #2

#3972 Changes Lavaland Mining Base
  _maps/bubber/automapper/automapper_config.toml
  _maps/bubber/automapper/templates/lavaland/lavaland_turbines.dmm
Labels: Map Edit, Merge Approval #1, Merge Approval #2

#4006 Change vetted deadline to June 16 2025
  modular_skyrat/modules/title_screen/code/new_player.dm
Labels: Code

#4016 Fix flaky runtime related to stowaway landmark
  modular_zubbers/code/modules/jobs/stowaway.dm
Labels: Code

#4015 Fix certain species being unable to spawn with digigrade legs
  modular_skyrat/master_files/code/modules/client/preferences/species_features/digitigrade_legs.dm
Labels: Code

#4020 Replaces the Full Toolbox in loadout with Emergency Toolbox
  modular_skyrat/master_files/code/modules/loadout/categories/inhands.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#4022 Fix being unable to change NIF examine text
  modular_skyrat/modules/modular_implants/code/nifs_tgui.dm
  tgui/packages/tgui/interfaces/NifPanel.jsx
Labels: Code, TGUI

#4013 Removes some duplicate sounds
  modular_skyrat/modules/clock_cult/code/items/integration_cog.dm
  modular_skyrat/modules/clock_cult/code/items/replica_fabricator.dm
  modular_skyrat/modules/clock_cult/code/structures/technologists_lectern.dm
  modular_skyrat/modules/clock_cult/code/structures/tinkerers_cache.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/recievers/skewer.dm
  modular_skyrat/modules/clock_cult/code/temp_visual.dm
  modular_skyrat/modules/clock_cult/sound/machinery/ark_deathrattle.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/brass_skewer.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/integration_cog_install.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/steam_whoosh.ogg
Labels: Code, Sound

#3962 Ports Fluffball Hairstyle.
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/icons/customization/hair.dmi
Labels: Sprites, Code

#3995 Blood tea and coffee
  modular_zubbers/code/modules/food_and_drinks/recipes/drinks/drinks_non-alcoholic.dm
  modular_zubbers/code/modules/reagents/drink_reagents.dm
  modular_zubbers/code/modules/reagents/reagent_containers/cups/soda.dm
  modular_zubbers/icons/obj/drinks/mixed_drinks.dmi
  tgstation.dme
Labels: Sprites, Code, Merge Approval #1, Merge Approval #2

#3527 S.W.A.T part 1
  modular_zubbers/code/modules/cargo/packs/security.dm
Labels: Code, Merge Approval #1

#4040 Vox_Primalis Pink Square Gone
  modular_skyrat/modules/better_vox/icons/bodyparts/vox_bodyparts.dmi
Labels: Sprites

#4032 Moonstation Summer 2025 Update
  _maps/map_files/moonstation/moonstation.dmm
Labels: Map Edit, Merge Approval #1, Merge Approval #2

#4055 Minor Visual Fixes To Biodome's SM Room
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

#3985 Increases the minimum players for blob to spawn from 20 to 50 because I saw a suggestion in #suggestions about it once.
  modular_zubbers/code/modules/storyteller/event_defines/major/major_overrides.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#4018 Speech Components are now Multilingual
  code/modules/wiremod/components/action/speech.dm
  modular_zubbers/code/modules/wiremod/components/action/speech.dm
  tgstation.dme
Labels: Code, Merge Approval #1, Merge Approval #2

#4059 Fixes cybernetic/prosthetic digitigrade left leg offsets
  modular_skyrat/modules/digitigrade_cybernetics/icons/advanced_digitigrade_parts.dmi
  modular_skyrat/modules/digitigrade_cybernetics/icons/digitigrade_parts.dmi
Labels: Sprites

#4056 Makes the walls in kilo lesser port maint slightly less infuriating
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

#3918 New robotic/protean wings - Virtualized wings
  modular_skyrat/master_files/code/modules/surgery/organs/external/wings/functional_wings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/synths/code/bodyparts/limbs.dm
  modular_zubbers/code/modules/customization/species/proteans/__DEFINES.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/icons/mob/sprite_accesory/wings_wide.dmi
Labels: Sprites, Code

#4060 Luminescent eyes respect eye colors in preferences
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  code/modules/unit_tests/screenshots/screenshot_high_luminosity_eyes_light_on.png
Labels: Code, Image

#4063 Fix russian and babylon derelict ruins interfering with one another
  _maps/RandomRuins/SpaceRuins/skyrat/drones_derelict.dmm
Labels: Map Edit

#3970 brings the romtech CMG behind the shed
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: Balance Changes, Code, Merge Approval #1

#4078 Clean up the damn map config
  config/maps.txt
Labels: Requires Config Change

#4058 Changes the Medtech kit's bonesaw's force from 20 > 15
  modular_skyrat/modules/exp_corps/code/gear.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#4067 Lazy plush update.
  modular_zubbers/code/game/objects/items/plushes.dm
Labels: Code

#4096 [FIXES OVERSIGHT] Removes Shamebrero From Moonstation EVA
  _maps/map_files/moonstation/moonstation.dmm
Labels: Map Edit

#4098 Event Reward Golden Pinwheel Hat Ignore Freeze PLS
  modular_zubbers/code/modules/loadout/categories/~donator/donator_personal.dm
Labels: Code

#4080 Protean description updates and mod suit examine
  modular_zubbers/code/modules/customization/species/proteans/organs/protean_brain.dm
  modular_zubbers/code/modules/customization/species/proteans/organs/protean_ears.dm
  modular_zubbers/code/modules/customization/species/proteans/organs/protean_eyes.dm
  modular_zubbers/code/modules/customization/species/proteans/organs/protean_stomach.dm
  modular_zubbers/code/modules/customization/species/proteans/protean_modsuit.dm
  modular_zubbers/code/modules/customization/species/proteans/protean_status_effects.dm
Labels: Code

#4104 Removes the 18+ vetted examine
  modular_zubbers/code/modules/vetted/examine.dm
  tgstation.dme
Labels: Code

#4103 Fixes Vox Legs Becoming Regular Digi Legs Whenever You Change Anything At All
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
Labels: Code, Image

#4107 High functioning zombie hair bugfix
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/zombie.dm
Labels: Code

#4111 Proteans can now be lobotomized and brainwashed.
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/blood_filter.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/sleeper_protocol.dm
  modular_skyrat/modules/synths/code/surgery/robot_brain_surgery.dm
Labels: Fix, Code

#4115 Send Catwalkstation to a nice farm upstate for three months
  config/maps.txt
Labels: Requires Config Change

#3857 Fixes Persistence not spawning on icebox (also adds a roof so it stops having holes) (ready)
  _maps/bubber/automapper/automapper_config.toml
  _maps/bubber/automapper/templates/IceBoxStation/iceboxstation_persistence.dmm
  _maps/bubber/automapper/templates/IceBoxStation/iceboxstation_persistence_roof.dmm
  _maps/bubber/automapper/templates/lavaland/lavaland_persistence.dmm
  modular_zubbers/maps/offstation/persistence/area.dm
  modular_zubbers/maps/offstation/persistence/ruins.dm
  modular_zubbers/maps/turfs/icemoon.dm
  tgstation.dme
Labels: Map Edit, Test Merged, Sprites, Code, Testmerge Approval #1, Testmerge Approval #2

#4049 Adds a new borg sprite: Myomer
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/CREDIT.MD
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/LICENSE.txt
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerCargo.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerEngi.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerJani.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerMedical.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerMining.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerNinja.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerPeaceKeeper.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerSci.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerSec.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerService.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/myomer/ProjectMyomerSyndi.dmi
Labels: Sprites, Code

#4128 abnomal > abnormal body temperature
  modular_zubbers/code/modules/quirks/neutral_quirks/body_temp.dm
Labels: Code

#3946 Adds a frontline surplus suit to cargo
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
Labels: Stale, Test Merged, Code, Testmerge Approval #1

#4130 [DO NOT MAKE THE CHANGES ON BOX CONFIG] Disables random events in config (not storyteller)
  config/game_options.txt
Labels: Requires Config Change

#4131 Quick Persistence hotfix to make the elevator work on icebox
  _maps/bubber/automapper/templates/IceBoxStation/iceboxstation_persistence_roof.dmm
Labels: Map Edit

#4023 Morbid toolset parity
  modular_zubbers/code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  tgstation.dme
Labels: Sprites, Code

#4138 Gives biodome guard post airlocks access helpers
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

#4087 more positive quirks
  config/game_options.txt
Labels: Balance Changes, Requires Config Change, Merge Approval #1

#3935 Mutation toxin expansion
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
  modular_zubbers/code/datums/diseases/advance/transformation.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents/Recipes/others.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents/other_reagents.dm
  tgstation.dme
Labels: Code, Merge Approval #1

#4139 Cleans up the crusader belt code a tiny bit and fixes the storage pouch not spawning
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
  modular_skyrat/modules/modular_items/code/tailoring.dm
Labels: Code

#4143 fixes text and ghouling mindshielded people
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/dominate.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/structures/crypt.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/vassal/vassal_datum.dm
Labels: Code

#4088 make SADs actually re-apply quirks
  modular_zubbers/code/controllers/subsystem/processing/quirks.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/entombed.dm
Labels: Code

#4142 Removes pay-to-win military gloves from the loadout (they were free insulated + temp resist + could shoot guns available to server donators only lol)
  modular_skyrat/master_files/code/modules/loadout/categories/gloves.dm
Labels: Code

#4148 Touch up modular attack_hand_secondary overrides
  modular_skyrat/master_files/code/modules/clothing/under/akula_jobs.dm
  modular_skyrat/modules/barricades/code/barricade.dm
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/scryer.dm
  modular_skyrat/modules/mounted_machine_gun/code/mounted_machine_gun.dm
  modular_skyrat/modules/stasisrework/code/stasissleeper.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
  modular_zubbers/code/game/objects/structures/beds_chairs/sofa.dm
  modular_zubbers/code/game/objects/structures/chalkboard.dm
  modular_zubbers/code/game/objects/structures/lewd_portals.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/structures/crypt.dm
  modular_zubbers/code/modules/nanites/machines/nanite_cloud_controller.dm
  modular_zubbers/code/modules/nanites/machines/nanite_program_hub.dm
  modular_zubbers/code/modules/nanites/machines/nanite_programmer.dm
  modular_zubbers/modules/primitive_cooking/code/cauldron.dm
Labels: Code

#4147 Remove extraneous 1 from add_mood_event calls
  modular_skyrat/modules/cortical_borer/code/cortical_borer_chems.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/deforest_medical_items/code/chemicals/demoneye.dm
  modular_skyrat/modules/hairbrush/code/hairbrush.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/camphor.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/dopamine.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/incubus_draft.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/succubus_milk.dm
  modular_skyrat/modules/morenarcotics/code/cocaine.dm
  modular_skyrat/modules/morenarcotics/code/opium.dm
  modular_skyrat/modules/morenarcotics/code/thc.dm
Labels: Code
