Repository Bubberstation/Bubberstation, pull requests merged in 2025-03, with the labels that each got.

#3176 Tojo's Outfits - Kiryu Outfit - With All Species Refits
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/better_vox/icons/clothing/uniform.dmi
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_zubbers/code/modules/tojo_outfits/tojos_outfits.dm
  tgstation.dme
Labels: Sprites, Code

#3180 Admins show ckey on LOOC when they're ghosted
  modular_skyrat/modules/verbs/code/looc.dm
Labels: Code

#3177 Makes CI require a client to activate
  code/modules/mob/living/living_defense.dm
Labels: Code

#3175 Fix cryopods dropping prosthetic bodyparts
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Code

#3185 Reduces the weight of round-start malf ai from 10 to 2.
  modular_zubbers/code/modules/storyteller/event_defines/crewset/malf.dm
Labels: Code

#3197 Fix cargo imports missing
  tgui/packages/tgui/interfaces/Cargo/index.tsx
Labels: TGUI

#3218 Fix missing buttons in the comms console
  tgui/packages/tgui/interfaces/CommunicationsConsole/Main.tsx
  tgui/packages/tgui/interfaces/CommunicationsConsole/types.ts
Labels: TGUI

#3192 Some post-upstream TGUI fixes
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/index.tsx
Labels: Fix, Test Merged, TGUI

#3227 Fixes the sec hailer so it stops broadcasting sec comms, again, and gives backup a custom icon
  modular_zubbers/code/game/Items/sec_hailer.dm
  modular_zubbers/icons/mob/actions/actions.dmi
Labels: Sprites, Code

#3231 Fixes quirks not mathing
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
Labels: TGUI

#3237 Fixes research hanging the MC (#89855)
  code/modules/research/rdconsole.dm
Labels: Code

#3239 Fixes shadekin blinking
  modular_zubbers/code/modules/surgery/organs/internal/eyes/_eyes.dm
Labels: Code

#3187 raises malf AI weight from 2 to 6
  modular_zubbers/code/modules/storyteller/event_defines/crewset/malf.dm
Labels: Revert, Code

#3247 Adds colors for tguisay Looc and Whisper
  tgui/packages/tgui-say/515/styles/colors.scss
  tgui/packages/tgui-say/516/styles/colors.scss
Labels: TGUI

#3194 fix color picker problems
  code/modules/admin/view_variables/get_variables.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubber/character_voice.tsx
Labels: Test Merged, CODECON 1: CRITICAL PRIORITY, Administration, Code, TGUI

#3230 Fixes depguard baton icons
  modular_skyrat/modules/goofsec/code/department_guards.dm
  modular_skyrat/modules/goofsec/icons/departmental_batons.dmi
Labels: Sprites, Code

#3261 Fixes the other issue with quirk mathiness
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
Labels: TGUI

#3107 Wood Wall Resprite, Biodome changes, new Wooden CatWalks
  _maps/map_files/biodome/biodome.dmm
  code/game/objects/items/stacks/tiles/tile_types.dm
  icons/obj/tiles.dmi
  modular_zubbers/modules/wood_walls/code/mineral_walls.dm
  modular_zubbers/modules/wood_walls/code/new_floors.dm
  modular_zubbers/modules/wood_walls/icons/catwalk_newfloors.dmi
  modular_zubbers/modules/wood_walls/icons/wood_wall.dmi
  tgstation.dme
Labels: Map Edit, Test Merged, Sprites, Code

#3081 [SEMI-MODULAR] Persistence Cyborgs
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
  modular_zubbers/maps/offstation/persistence/mob_spawns.dm
  modular_zubbers/maps/offstation/persistence/robot_upgrade.dm
  tgstation.dme
Labels: Map Edit, Test Merged, Code

#3118 (MODULAR) Adds temporary areas for the BYOS gateway
  modular_zubbers/code/game/area/areas/away_content/byos.dm
  tgstation.dme
Labels: Test Merged, Code

#3181 Adds more Ambiance to Lavaland
  code/_globalvars/lists/ambience.dm
  code/datums/looping_sounds/weather.dm
  modular_zubbers/sound/ambiance/bangle-ash-and-fire.ogg
  modular_zubbers/sound/ambiance/bangle-graveyard-of-time.ogg
Labels: Test Merged, Code, Sound

#3161 Adds a wheelchair to loadout
  modular_zubbers/code/modules/loadout/categories/inhands.dm
Labels: Test Merge Candidate, Test Merged, Code

#3264 Remove 516 beta message
  code/controllers/subsystem/statpanel.dm
Labels: Code

#3148 Disease outbreak incident display
  _maps/bubber/automapper/automapper_config.toml
  _maps/bubber/automapper/templates/Deltastation/deltastation_medbay.dmm
  _maps/bubber/automapper/templates/IceBoxStation/iceboxstation_medbay.dmm
  _maps/bubber/automapper/templates/MetaStation/metastation_medbay.dmm
  _maps/bubber/automapper/templates/tramstation/tramstation_medbay.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/moonstation/moonstation.dmm
  code/__DEFINES/~~bubber_defines/signals.dm
  code/controllers/subsystem/disease.dm
  code/game/machinery/incident_display.dm
  modular_zubbers/code/game/machinery/incident_display.dm
  modular_zubbers/code/modules/disease/disease_transmission.dm
  modular_zubbers/icons/obj/machines/incident_display.dmi
  tgstation.dme
Labels: Map Edit, Feature, Test Merged, Sprites, Code

#3262 Fixes small digi shoe inconsistencies
  code/modules/clothing/shoes/boots.dm
  code/modules/clothing/shoes/sneakers.dm
Labels: Code

#3266 fix purr
  code/modules/mob/living/carbon/emote.dm
Labels: Code

#3265 Projectile speed fixes
  modular_skyrat/modules/microfusion/code/projectiles.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/grenade.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/plasma.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/rifle.dm
  modular_zubbers/code/game/objects/items/more_pkas.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/tremere/thaumaturgy.dm
Labels: Code

#3164 Adds requested Pig/Boar character sprites.
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/code/modules/customization/sprite_accessories/snouts.dm
  modular_zubbers/code/modules/mob/dead/taur_types.dm
  modular_zubbers/icons/customization/ears.dmi
  modular_zubbers/icons/customization/snouts.dmi
  modular_zubbers/icons/customization/taur.dmi
Labels: Test Merge Candidate, Test Merged, Sprites, Code

#3260 Fixes xenos lacking their abilities
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/defender.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/drone.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/praetorian.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/queen.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/ravager.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/rouny.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/sentinel.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/spitter.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/warrior.dm
Labels: Code

#3269 Version 515 warning message
  code/controllers/subsystem/statpanel.dm
Labels: Code

#3275 Partially fixes taur clothing
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Code

#3229 Adds dragon borgs to the game and sets up some handling for borg specific item sprites
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/borgs/code/inventory.dm
  modular_skyrat/modules/borgs/code/update_icons.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_cargo.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_engi.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_jani.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_jester.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_med.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_miner.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_ninja.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_peacekeeper.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_sci.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_sec.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_service.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_syndi.dmi
Labels: Sprites, Code

#3292 fixes a miss-naming of one of the icon_state's for sci-dragon borgs
  modular_zubbers/code/modules/silicons/borgs/sprites/dragonborg/dragon_sci.dmi
Labels: Sprites

#3289 Fix hemophages not having blood meter
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_tumor.dm
Labels: Code

#3238 Fixes digilegs not being baked into our species, adding needless exec times
  code/modules/mob/living/carbon/human/_species.dm
  modular_skyrat/master_files/code/modules/client/preferences/species_features/digitigrade_legs.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/_species.dm
  modular_skyrat/modules/bodyparts/code/_mutant_bodyparts.dm
Labels: Code

#3295 being prone (army crawling, borers) now adds the TRAIT_IGNORE_ELEVATION trait
  modular_skyrat/master_files/code/datums/components/prone_mob.dm
Labels: Code

#3301 Fixes akula hair layers
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
Labels: Code

#3309 Fixes being plantigrade with species overrides whitewashing you
  modular_skyrat/master_files/code/modules/client/preferences/species_features/digitigrade_legs.dm
Labels: Code

#3184 Allow the janitor belt to hold one trash bag
  code/game/objects/items/storage/belt.dm
Labels: Code

#3326 Fix Nebulastation failing unit tests
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_supermatter.dmm
Labels: Map Edit

#3322 Fix Plasmamen Prefs Issues Due To Plasmamen Lacking Content (#90029)
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
Labels: TGUI

#3126 (Non-Modular) Growth Serum Size Caps
  code/__DEFINES/~skyrat_defines/lewd_defines.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/size_items.dm
Labels: Code

#3128 Heretic's essence (heal juice) works on synths (and prosthetics)
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code

#3325 Adds Third Eye Marking
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
Labels: Sprites, Code

#3165 Venom milking
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/venom_milker.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/lewd_items.dmi
  modular_zubbers/code/datums/quirks/positive_quirks/venemous_bite/venomous_bite.dm
  modular_zubbers/code/datums/quirks/positive_quirks/venemous_bite/venomous_bite_quirk.dm
  tgstation.dme
Labels: Sprites, Code

#3099 removes last resort from being innate, makes it 0 cost instead
  code/modules/antagonists/changeling/powers/headcrab.dm
Labels: Code

#3333 slightly increase the height of the character panel and fix create loadout button
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/index.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/index.tsx
Labels: TGUI

#3331 makes it easier for admins to bus malf nuke
  code/modules/antagonists/malf_ai/malf_ai_module_picker.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  modular_skyrat/modules/alt_vox/code/vox_procs.dm
Labels: Administration, Code

#3340 Adds The Beo Plushie You Can Torture (For real this time)
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Sprites, Code

#3332 Fix discord round announcements being broken
  code/controllers/subsystem/ticker.dm
  modular_zubbers/code/modules/quote_of_the_round/ticker.dm
Labels: Code

#3346 Bandaged Shadekin Ears!
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/icons/customization/ears.dmi
Labels: Sprites, Code

#3173 Moon Station Spring Cleaning 2025 (Post your Moon Station bugs here!) (Part 1)
  _maps/map_files/moonstation/moonstation.dmm
  modular_zubbers/code/datums/weather/weather_types/sand_storm.dm
Labels: Map Edit, Test Merged, Code

#3170 Events no longer run if the shuttle is moving towards the station in a no-recall state.
  modular_zubbers/code/modules/storyteller/gamemode.dm
Labels: Code

#3343 Removes the martyr and hijack objs, again. Also removes some heavily disruptive spy OBJs
  code/modules/antagonists/spy/spy.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  strings/antagonist_flavor/spy_objective.json
Labels: Code

#3360 Senator Maintainer, Another Jinshee Sprite PR Has Hit The Repo
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/icons/customization/ears.dmi
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/mob/sprite_accesory/wings.dmi
Labels: Sprites, Code

#3361 Fixes missing attribution
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
Labels: Code

#3353 Requested Snout, Frills, Horns, and Marking
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_zubbers/code/modules/customization/sprite_accessories/frills.dm
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
  modular_zubbers/icons/customization/frills.dmi
  modular_zubbers/icons/customization/horns.dmi
  tgstation.dme
Labels: Sprites, Code

#3345 patches a blooddrinking holodeck exploit
  code/modules/holodeck/holo_effect.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/feed.dm
Labels: Code

#3362 Exploitables no longer runtime on examine and don't expose antags.
  code/modules/mob/living/carbon/examine.dm
Labels: Code

#3122 Removes guncases from Skyrat cargo
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/shuttles.dm
  modular_skyrat/modules/modular_weapons/code/gunsets.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/outfits.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
Labels: Code

#3350 Splotches and Chitin Markings!
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
Labels: Sprites, Code

#3371 Add miniskirt to clothesmate
  modular_zubbers/code/modules/vending/clothmate.dm
Labels: Code

#3374 Fix missing pixels on black/colorable flannel
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/GAGS/icons/suit.dmi
Labels: Sprites

#3352 Fix incorrect pixel shift behavior for mobs with nonzero base pixel x/y
  modular_skyrat/modules/pixel_shift/code/pixel_shift_component.dm
Labels: Code

#3372 Adds the fish infusion chat bubble to the akula tongue
  modular_zubbers/code/modules/mob/living/carbon/human/species/akula.dm
Labels: Code

#2122 [Ready for Review] Round Removal Opt-In
  code/modules/mob/living/carbon/human/death.dm
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_zubbers/code/modules/rr_opt_in/examine.dm
  modular_zubbers/code/modules/rr_opt_in/readme.md
  modular_zubbers/code/modules/rr_opt_in/rr_opt_config.dm
  modular_zubbers/code/modules/rr_opt_in/rr_optin_preferences.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubber/round_remove.tsx
Labels: Test Merge Candidate, Do Not Merge, Feature, Code, TGUI

#3381 Fix synth chassis taking color from head
  modular_skyrat/modules/synths/code/species/synthetic.dm
Labels: Code

#3376 Adds Captain-Cast (and more features and fixes) to Box Station
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#3278 Port of Nova "Mood Buff while on special dorms" (4313) [Modular]
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_areas.dm
  modular_skyrat/modules/mapping/code/areas/centcom.dm
  tgstation.dme
Labels: Code

#3342 Adds new barsign
  modular_skyrat/modules/barsigns/code/barsigns.dm
  modular_skyrat/modules/barsigns/icons/barsigns.dmi
Labels: Sprites, Code

#3349 Fixes the storyteller default configs
  config/bubbers/bubbers_config.txt
  config/bubbers/storyteller.txt
  config/config.txt
  modular_zubbers/code/modules/storyteller/config.dm
Labels: Requires Config Change, Code

#3393 Fixes modsuits deleting seamless heels.
  modular_zubbers/code/datums/quirks/neutral_quirks/seamless_clothes.dm
Labels: Code

#3384 Adds Vox laugh from SS14
  modular_skyrat/modules/emotes/code/laugh_datums.dm
  sound/mobs/humanoids/vox/credit.txt
  sound/mobs/humanoids/vox/vox_laugh.ogg
Labels: Code, Sound

#3394 moves vox laugh into the right folder
  modular_skyrat/modules/emotes/code/laugh_datums.dm
  modular_zubbers/sound/mobs/humanoids/vox/credit.txt
  modular_zubbers/sound/mobs/humanoids/vox/vox_laugh.ogg
Labels: Code, Sound

#3355 Adds the Sin Vox Plushie to Lust Wish Vendor
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Sprites, Code

#3402 Adds Marish, Chitinclick and Carptongue to Silicon's Known languages
  modular_skyrat/master_files/code/modules/language/language_holder.dm
Labels: Code
