Repository Bubberstation/Bubberstation, pull requests merged in 2025-04, with the labels that each got.

#3412 Fix every fucking piece of maint loot being skub
  modular_zubbers/code/modules/skub/skub.dm
Labels: Code

#3407 Reverts "Adds crew monitors to Advanced biotech and lathes"
  modular_zubbers/code/modules/research/designs/medical_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Labels: Balance Changes, Revert

#3420 Ethereal Powercell Bugfix
  code/__DEFINES/mobs.dm
Labels: Code

#3406 [TM ONLY] let me send long ass subtler messages to my heart's content (TGUI payload chunking)
  code/controllers/configuration/entries/general.dm
  code/modules/tgui/tgui_window.dm
  config/config.txt
  tgui/packages/tgui/backend.ts
  tgui/public/tgui.html
  tools/build/build.js
Labels: Test Merged, Requires Config Change, Test Merge Only, Tools, Code, TGUI, Javascript

#3419 Adds pipe carp
  modular_zubbers/code/datums/greyscale/config_types/greyscale_configs/pipe_carp.dm
  modular_zubbers/code/modules/events/pipe_carp.dm
  modular_zubbers/icons/mob/simple/pipe_carp.dmi
  tgstation.dme
Labels: Test Merged, Sprites, Code

#3403 Fix brain trauma surgery
  modular_skyrat/modules/deforest_medical_items/code/vulnerable_status_effect.dm
  modular_skyrat/modules/medical/code/trauma_surgery.dm
Labels: Code

#3433 Job Spawn borgs prioritize linking to the malf AI
  code/__HELPERS/mobs.dm
  code/__HELPERS/~bubber_helpers/mobs.dm
  code/modules/jobs/job_types/cyborg.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/cyborg.dm
  tgstation.dme
Labels: Code

#3440 [Modularized] Nugget Boxes and Foodpacks can now be placed into paper sacks.
  modular_skyrat/modules/imported_vendors/code/vendor_containers.dm
  modular_zubbers/code/game/objects/items/storage/fancy.dm
  tgstation.dme
Labels: Good First PR, Code

#3445 You can cuff people to the tram rails #90293
  _maps/map_files/moonstation/moonstation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/dcs/signals/signals_transport.dm
  code/__DEFINES/electrified_buckle.dm
  code/datums/components/electrified_buckle.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/plaques/static_plaques.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/signs/signs_misc.dm
  code/modules/transport/transport_module.dm
  html/changelogs/AutoChangeLog-pr-90293.yml
  html/changelogs/AutoChangeLog-pr-90311.yml
  icons/hud/screen_alert.dmi
Labels: Map Edit, Sprites, Code

#3437 Adds more flavor to shadekin empathy
  modular_zubbers/code/datums/mood_events/_mood_event.dm
  modular_zubbers/code/modules/languages/empathy.dm
  tgstation.dme
Labels: Code

#3432 Silicons can now Yip
  modular_zubbers/code/modules/emotes/emotes.dm
Labels: Code

#3431 Allows players to be sad like raptors
  modular_zubbers/code/modules/emotes/emotes.dm
Labels: Code

#3396 Slug Scream!
  modular_zubbers/code/modules/emotes/scream_datums.dm
  modular_zubbers/sound/emotes/screams/slug_scream.ogg
Labels: Code, Sound

#3425 Spices up vulpkanin [bounty]
  code/__DEFINES/~~bubber_defines/traits/declarations.dm
  code/modules/mob/mob.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_zubbers/code/game/objects/items/food/sweets.dm
  modular_zubbers/code/modules/surgery/organs/internal/eyes/_eyes.dm
  tgstation.dme
Labels: Code

#3370 Update various sound prefs for 516 compatibility
  code/__DEFINES/dcs/signals/signals_music.dm
  code/datums/components/jukebox.dm
  code/modules/client/preferences/sounds.dm
  html/changelogs/AutoChangeLog-pr-90417.yml
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/sounds.dm
  modular_skyrat/modules/reagent_forging/code/anvil.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: Test Merged, Code, TGUI

#3450 Fix persistence medbots speaking on syndicate frequency
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Labels: Map Edit

#3426 Shadekin NV and movespeed rebalance
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
  modular_zubbers/code/modules/surgery/organs/internal/eyes/_eyes.dm
Labels: Code

#3448 Fish Ass: ports over large shark tails from CHOMP
  modular_zubbers/code/modules/customization/sprite_accessories/shark_tails64x32.dm
  modular_zubbers/icons/customization/shark_tails64x32.dmi
  tgstation.dme
Labels: Sprites, Code

#3434 Cleans up and reorganizes some of the borg code
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_skyrat/modules/borgs/code/robot_items.dm
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_defines.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model_traits.dm
  tgstation.dme
Labels: Code

#3452 Map vote is called automatically on blob/nukies/etc. round end
  code/modules/shuttle/mobile_port/variants/emergency/emergency.dm
  modular_skyrat/modules/autotransfer/code/shuttle.dm
  modular_zubbers/code/controllers/subsystem/security_level.dm
  modular_zubbers/code/modules/shuttle/emergency.dm
  tgstation.dme
Labels: Test Merged, Code

#3397 [MODULAR] Puts the Sol/Carwo/Romulus/Szot/Trappiste gun magazine sizes in line with /tg/ standards (tiny for everything but rifles which are normal)
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/magazines.dm
Labels: Code

#3399 [MODULAR] Removes the 60 round Sol drum from being printable in Security
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: Code

#3470 Fix meow emote for cat tongues
  code/modules/mob/living/carbon/emote.dm
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Code

#3468 Fix shuttles no longer making sounds or (un)bolting doors
  code/modules/shuttle/mobile_port/mobile_port.dm
  code/modules/shuttle/mobile_port/variants/arrivals.dm
  code/modules/shuttle/mobile_port/variants/emergency/emergency.dm
  modular_skyrat/master_files/code/modules/shuttle/shuttle.dm
Labels: Code

#2896 Tarkon Tweaks and Xeno Changes
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/cargo_carp.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/cargo_cult.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/cargo_secure.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/cargo_stock.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/xeno_carp.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/xeno_cult.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/xeno_monkey.dmm
  modular_skyrat/modules/mapping/code/areas/space.dm
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/port_tarkon_fluff.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/research.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
  modular_zubbers/code/game/machinery/computer/orders/order_computer/cook_order_tarkon.dm
  modular_zubbers/code/modules/cargo/expressconsole.dm
  modular_zubbers/code/modules/ghost_wavedefence/wave_def.dm
  modular_zubbers/code/modules/mob/living/basic/space_fauna/carp.dm
  modular_zubbers/code/modules/tarkon/code/tarkon_loot.dm
  modular_zubbers/icons/obj/machines/wavedef.dmi
  modular_zubbers/icons/obj/machines/wavedef_items.dmi
  strings/modular_maps/skyrat/PortTarkon.toml
  tgstation.dme
Labels: Map Edit, Sprites, Code, Sound

#3483 Fix double box on vote results chat message
  code/controllers/subsystem/vote.dm
Labels: Code, Merge Approval #1

#3485 Fix examine menu character preview being tiny
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
Labels: Code

#3471 [MAPPING]: Change Kilo Station dorms area type from Locker to Dorms.
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit, Good First PR

#3463 Synth brain PDAs now have departmental PDA apps pre-installed
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
  modular_zubbers/code/controllers/subsystem/job.dm
Labels: Code

#3490 Fix admin chat buttons to cancel/refund storyteller events not working
  modular_zubbers/code/modules/storyteller/scheduled_event.dm
Labels: Code

#3478 Makes tackle gloves reskinnable
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Sprites, Code

#3493 Allow hypospray in medical pouch
  modular_skyrat/modules/modular_items/code/bags.dm
Labels: Code

#3492 [FIX] Fixes Wooden shelves turning into metal racks when broken.
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3486 [FIX?] - Brings robotic brain surgery in line with organic brain sugery/lobotomy after the recent update
  modular_skyrat/modules/synths/code/surgery/robot_brain_surgery.dm
Labels: Code

#3491 Fix HEV armor not fully initializing
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
Labels: Code

#3441 [Modular] Adds crowbars to standard borg models that do not have them
  modular_zubbers/code/game/objects/items/robot/items/storage.dm
Labels: Code

#3495 Xenoarch machines cleanup
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
Labels: Code

#3481 Nova Port: RB-MK2 GUI Rework (#5136)
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  tgui/packages/tgui/interfaces/RBMK2.tsx
Labels: Test Merged, Code, TGUI, Testmerge Approval #1, Testmerge Approval #2

#3498 restores RCD vending, moves RCD's to lockers
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/vending/engivend.dm
  modular_skyrat/modules/modular_vending/code/engivend.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3497 Xenoarch Machine QOL
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/designs_and_tech.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
Labels: Code, Merge Approval #1

#3453 Fixes bitrunning sim having cybersun comms and also makes sure persistence borgs have correct key
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/outfit.dm
  modular_zubbers/maps/offstation/dauntless/robot.dm
Labels: Code

#3464 bring back heretic mute ghoul maxhp to 135 HP
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
Labels: Code

#2581 Changes max size cap for genitals, increases default max
  code/__DEFINES/~skyrat_defines/DNA.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/_aphrodisiac.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_organs/breasts.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_organs/testicles.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3516 Restore frog mob sounds
  code/modules/mob/living/basic/vermin/frog.dm
Labels: Code, Merge Approval #1

#3520 Fixes surgery tray starting items
  code/game/objects/items/surgery_tray.dm
Labels: Code

#3522 Fix alcohol moodlet
  code/datums/mood.dm
  modular_skyrat/modules/alcohol_processing/code/alcohol_processing.dm
Labels: Code

#3529 S.W.A.T part 2
  modular_zubbers/code/modules/vending/multisec.dm
Labels: Code

#3540 remove the skyrat emergency medkit sprite override
  modular_skyrat/modules/aesthetics/storage/storage.dm
Labels: Code, Merge Approval #1

#3541 give blacksmith wood and apron
  modular_zubbers/code/modules/jobs/job_types/blacksmith.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3542 Fixes invisible premium internals boxes
  code/game/objects/items/storage/boxes/job_boxes.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
Labels: Sprites, Code

#3546 Fix lidocaine/amollin pill delayed release
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_zubbers/code/game/objects/items/storage/medkit.dm
Labels: Code

#3549 Adds top surgery scars as markings
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
Labels: Sprites, Code, Merge Approval #1

#3555 Grammar fix for weapon beacons
  modular_skyrat/modules/sec_haul/code/misc/gun_redemption.dm
  modular_zubbers/code/modules/syndicate_offstation/selection_beacons/weapon_redemption.dm
Labels: Code

#3556 fix compile by adding missing quotes
  modular_skyrat/modules/sec_haul/code/misc/gun_redemption.dm
  modular_zubbers/code/modules/syndicate_offstation/selection_beacons/weapon_redemption.dm
Labels: Code

#3552 adds a debug verb to find nullspaced objects
  modular_zubbers/code/modules/admin/verbs/debug.dm
Labels: Administration, Code, Testmerge Approval #1

#3562 Fix rotate buttons in character tab rotating in same direction
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
Labels: TGUI

#3558 Adds a SAD to the interlink.
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#3570 Remove the random "digi" from greyscale_configs.dm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
Labels: Code

#3571 Self-Actualization Device is available without research
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/moonstation/moonstation.dmm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: Map Edit, Code, Merge Approval #1

#3569 Fix bodypart emissives being incorrectly offset
  code/__DEFINES/~skyrat_defines/_HELPERS/lighting.dm
Labels: Code

#3572 Fixes a oversight with frangible slugs.
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Code, Merge Approval #1

#3566 Fix being unable to remove cargo teleporter marks
  modular_skyrat/modules/cargo_teleporter/code/cargo_teleporter.dm
Labels: Code

#3573 Fix taur clothing being broken
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/modules/taur_mechanics/code/taur_clothing_offset.dm
Labels: Code

#3561 Mothroach plush
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/code/modules/vending/games.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Sprites, Code

#3521 Trauma neurectomy surgery
  modular_skyrat/modules/medical/code/trauma_surgery.dm
  modular_skyrat/modules/synths/code/research_nodes.dm
  modular_skyrat/modules/synths/code/surgery/mechanic_steps.dm
  modular_zubbers/code/game/machinery/computer/operating_computer.dm
  modular_zubbers/code/modules/research/designs/medical_designs.dm
  modular_zubbers/code/modules/surgery/advanced/trauma_surgery.dm
  modular_zubbers/code/modules/synths/code/surgery/robot_brain_surgery.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/OperatingComputer.jsx
Labels: Code, TGUI, Testmerge Approval #1, Merge Approval #1

#3365 Adjusts Default Andy's chaotic tag multiplier to 0.7
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_3_default.dm
Labels: Code

#3577 Storyteller message formatting
  modular_zubbers/code/controllers/subsystem/vote.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/_antagonist_event.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/malf.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
Labels: Code, Testmerge Approval #1

#3574 Borgs now get alerted that someone's prying their cover
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Code

#3587 Weighted number of station goals
  modular_zubbers/code/modules/storyteller/divergency_report.dm
Labels: Code

#3519 PDA Alert Levels pt. 2: The Rainbowing
  modular_skyrat/modules/alerts/code/security_level_datums.dm
  modular_zubbers/code/modules/modular_computers/computer.dm
  tgstation.dme
Labels: Code

#3583 Adds an RLD upgrade to engineering borgs
  code/game/objects/items/rcd/RLD.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_upgrade.dm
Labels: Code

#3560 Synth brain PDAs can now look inside wallets to get their inserted ID
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3597 Improved logging for roundstart event selection
  modular_zubbers/code/modules/storyteller/storytellers/tellers/_storyteller.dm
Labels: Code

#3591 Fix botany aprons looking like overalls on digigrade legs also some other shit
  code/_globalvars/bitfields.dm
  modular_skyrat/modules/GAGS/nsfw/greyscale_configs.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kinky_sleepbag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/latex_catsuit.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/lewd_shoes.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/shibari_worn_legs.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/shibari_worn_uniform.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/stripper_outfit.dm
  modular_skyrat/modules/taur_mechanics/code/saddles.dm
Labels: Code

#3593 Fix Minesweeper
  modular_zubbers/code/modules/arcades/code/minesweeper/minesweeper.dm
Labels: Code

#3378 Updated sprites for Vox Primalis
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  modular_skyrat/modules/better_vox/icons/clothing/ears.dmi
  modular_skyrat/modules/better_vox/icons/clothing/eyes.dmi
  modular_skyrat/modules/better_vox/icons/clothing/feet.dmi
  modular_skyrat/modules/better_vox/icons/clothing/hands.dmi
  modular_skyrat/modules/better_vox/icons/clothing/head.dmi
  modular_skyrat/modules/better_vox/icons/clothing/mask.dmi
  modular_skyrat/modules/better_vox/icons/clothing/suit.dmi
  modular_skyrat/modules/better_vox/icons/clothing/uniform.dmi
Labels: Sprites, Image

#3510 Synth brain messenger notif
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3607 Heretic spawn changes, minimum pop 50 -> 35
  modular_zubbers/code/modules/storyteller/event_defines/crewset/heretic.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3604 New Bunny Taur legs.
  modular_zubbers/code/modules/mob/dead/taur_types.dm
  modular_zubbers/icons/customization/taur.dmi
Labels: Sprites, Code

#3610 Improved storyteller logging 2
  code/__HELPERS/~bubber_helpers/lists.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/_storyteller.dm
  tgstation.dme
Labels: Code

#3612 Fix SAD throwing up circuit board
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: Code

#3615 Add code to migrate old invalid NIF paths in save files
  modular_skyrat/modules/modular_implants/code/nif_persistence.dm
Labels: Code

#3599 adds new options to secmed and corrections officer
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
Labels: Code

#3606 Nerfs the RomTech Carbine to sec standards
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: Unfathomably Based, Code, Merge Approval #1, Merge Approval #2

#3619 HOP lockers now contain a "granted" and "denied" stamp
  modular_zubbers/code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Needs Modularization, Code, Merge Approval #1

#3621 Remove ckey whitelists from a few loadout items
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
  modular_zubbers/code/modules/loadout/categories/~donator/donator_personal.dm
Labels: Code

#3622 Fixes express grocery pricing
  modular_zubbers/code/game/machinery/computer/orders/order_computer/cook_order.dm
  tgstation.dme
Labels: Code

#3625 Powerator Cleanup/QOL
  code/__DEFINES/subsystems.dm
  modular_skyrat/modules/power/code/powerator.dm
  modular_skyrat/modules/power/code/powerator_subsystem.dm
  modular_zubbers/code/modules/power/powerator.dm
  modular_zubbers/icons/obj/machines/powerator.dmi
  tgstation.dme
Labels: Sprites, Code

#3631 Fix opfor crashing when changing equipment number
  tgui/packages/tgui/interfaces/OpposingForcePanel.jsx
Labels: TGUI

#3634 Fix ammo workbench crash on changing materials amount
  tgui/packages/tgui/interfaces/AmmoWorkbench.jsx
Labels: TGUI

#3633 Normalized speedloader price between cargo goodies and imports
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
Labels: Code

#3637 Fix scanner gate TGUI blue screening
  code/game/machinery/scanner_gate.dm
  tgui/packages/tgui/interfaces/ScannerGate.jsx
Labels: Code, TGUI

#3638 Fix non-station SM crystals from activating the delam suppression system
  code/modules/power/supermatter/supermatter.dm
Labels: Code

#3565 Borg Gripper Update (and some borg mining stuff)
  modular_zubbers/code/game/objects/items/robot/items/storage.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_upgrade.dm
Labels: Code, Merge Approval #1

#3525 Lets Borgs pop out cells from cell chargers
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
  modular_zubbers/code/game/machinery/cellchargers/cell_charger.dm
  tgstation.dme
Labels: Code

#3646 Implement nanite scanner gate detection
  code/__DEFINES/~~bubber_defines/traits/nanites.dm
  code/game/machinery/scanner_gate.dm
  modular_zubbers/code/datums/components/nanites.dm
  modular_zubbers/code/modules/nanites/items/boards.dm
  modular_zubbers/code/modules/nanites/machines/nanite_chamber_computer.dm
  modular_zubbers/code/modules/nanites/machines/nanite_cloud_controller.dm
  modular_zubbers/code/modules/nanites/nanite_programs/utility.dm
  tgui/packages/tgui/interfaces/NaniteChamberControl.tsx
  tgui/packages/tgui/interfaces/NaniteCloudControl.tsx
  tgui/packages/tgui/interfaces/ScannerGate.jsx
Labels: Code, TGUI, Merge Approval #1, Merge Approval #2

#3647 Fix delam station-wide announcement sounds
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination/_sm_delam.dm
  modular_zubbers/code/modules/power/supermatter/supermatter_delam.dm
  tgstation.dme
Labels: Code, Merge Approval #1

#3648 Fix hundreds of divide by zero runtimes in death consequences perk
  modular_skyrat/master_files/code/modules/client/preferences/quirks/death_consequences.dm
Labels: Code

#3651 Let ashwalkers make arrows
  code/modules/antagonists/ashwalker/ashwalker.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3656 Fix buggy nanite suit sensor logic
  code/game/machinery/computer/crew.dm
Labels: Code

#3643 Ports JUST the SPLURT Genital Sprites, NO ASS. NO BELLY.
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/penis_onmob.dmi
  modular_zubbers/code/modules/customization/sprite_accessories/genitals.dm
  modular_zubbers/icons/mob/sprite_accesory/genitals/breasts_onmob.dmi
  modular_zubbers/icons/mob/sprite_accesory/genitals/penis_onmob.dmi
  modular_zubbers/icons/mob/sprite_accesory/genitals/testicles_onmob.dmi
Labels: Sprites, Code, Merge Approval #1, Merge Approval #2

#3518 Removes most of the silly lines/dracula flow, adds VTMB Lines!!
  modular_zubbers/strings/bloodsuckers/malkavian_revelations.json
Labels: Merge Approval #1

#3653 Fixes synth organ emp spam
  modular_skyrat/modules/synths/code/bodyparts/brain.dm
  modular_skyrat/modules/synths/code/bodyparts/ears.dm
  modular_skyrat/modules/synths/code/bodyparts/eyes.dm
  modular_skyrat/modules/synths/code/bodyparts/heart.dm
  modular_skyrat/modules/synths/code/bodyparts/liver.dm
  modular_skyrat/modules/synths/code/bodyparts/lungs.dm
  modular_skyrat/modules/synths/code/bodyparts/stomach.dm
Labels: Code, Merge Approval #1

#3652 Remove asynchronous blinking until TG fixes their code
  code/modules/surgery/organs/internal/eyes/_eyes.dm
Labels: Removal, Code, Merge Approval #1, Merge Approval #2

#3660 Fix admin heal making you drop to the deck and flop like a fish
  code/modules/mob/living/living.dm
Labels: Code, Merge Approval #1

#3623 Moffson Patch
  modular_zubbers/code/modules/antagonists/malf/remove_malf.dm
Labels: Code

#3664 Fix runtime in fake virus event
  code/modules/events/fake_virus.dm
Labels: Code

#3665 Fix runtimes in combat indicator
  modular_skyrat/modules/indicators/code/combat_indicator.dm
Labels: Code

#3659 Fix hairline and compound fractures being instantly healed with bone gel
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
Labels: Code

#3655 refactor maid armor stuff into using no_equip flags & slightly nerf it
  modular_zubbers/code/modules/antagonists/traitor/uplink/uplink_items/syndimaid/clothes.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#3635 Make Detective's Notice Board being craftable.
  modular_zubbers/code/datums/components/crafting/furniture.dm
Labels: Code

#3666 SSDecay config values
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skyrat_config_entries.dm
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
Labels: Requires Config Change, Code, Merge Approval #1

#3668 Fix tarkon bounty pad being broken
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  modular_zubbers/code/game/machinery/syndiepad.dm
Labels: Code

#3669 Fix the featherweight quirk not doing anything
  code/__DEFINES/~~bubber_defines/vehicles.dm
  code/datums/components/riding/riding_mob.dm
  modular_zubbers/code/datums/components/datums/riding_mob.dm
Labels: Code

#3671 Fix export gate runtime
  modular_skyrat/modules/cargo/code/export_gate.dm
Labels: Code

#3649 Modify some suspicious-looking Destroy overrides
  code/_onclick/hud/hud.dm
  modular_skyrat/master_files/code/modules/clothing/suits/skinsuits.dm
  modular_skyrat/master_files/code/modules/clothing/under/akula_jobs.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/modules/customization/modules/surgery/organs/taur_body.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/hypnogoggles.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
  modular_skyrat/modules/mutants/code/mutant_cure.dm
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_skyrat/modules/stasisrework/code/stasissleeper.dm
  modular_zubbers/code/_onclick/hud/screen_objects/hud_timer.dm
  modular_zubbers/code/modules/nanites/nanite_programs/utility.dm
  modular_zubbers/code/modules/ratqueen/regalrat.dm
Labels: Test Merged, Code, Testmerge Approval #1, Testmerge Approval #2, Merge Approval #1

#3674 Fix bug with loadout items replacing properties of similar job items
  code/modules/loadout/loadout_helpers.dm
Labels: Code
