Repository Bubberstation/Bubberstation, pull requests merged in 2025-09, with the labels that each got.

#4581 Adds missing age-text for an age range
  code/modules/mob/living/carbon/examine.dm
Labels: Fix, Code

#4582 Adds a verb for disabling taur clothing cropping
  code/__DEFINES/~skyrat_defines/traits.dm
  code/__DEFINES/~~bubber_defines/traits/sources.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_zubbers/modules/taur_mechanics/taur_body.dm
Labels: Code

#4216 [Ready] Beepsky can no longer see you if you haven't moved or interacted with something for 4 seconds or more.
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Balance Changes, Test Merged, Code, Testmerge Approval #1

#4592 Removes the description title from the section on speciespage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/SpeciesPage.tsx
Labels: TGUI

#4588 Updates Vox lore
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
Labels: Lore, Code

#4587 Fixes a runtime in neck wearing code
  modular_zubbers/code/modules/clothing/neck_wearing.dm
Labels: Fix, Code

#4580 Toe-less Jackboots and Workboots port
  modular_zubbers/code/modules/clothing/shoes/boots.dm
  modular_zubbers/code/modules/loadout/categories/shoes.dm
  modular_zubbers/code/modules/vending/lustwish.dm
  modular_zubbers/icons/mob/clothing/feet/feet.dmi
  modular_zubbers/icons/mob/clothing/feet/feet_digi.dmi
  modular_zubbers/icons/obj/clothing/shoes.dmi
Labels: Feature, Sprites, Code, Merge Approval #1

#4579 Gravity sickness no longer causes stuttering
  code/modules/surgery/organs/internal/stomach/_stomach.dm
Labels: Test Merged, Code, Testmerge Approval #1, Testmerge Approval #2

#4568 you can tame monkies
  code/__DEFINES/~~bubber_defines/signals.dm
  modular_zubbers/code/datums/components/tameable.dm
  modular_zubbers/code/modules/mob/living/carbon/human/monkey.dm
  tgstation.dme
Labels: Code

#4527 Merges Spinwarder+Interslavic, Chitinclick+Buzzwords
  code/modules/antagonists/fugitive/hunters/hunter.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/ghost_spawner.dm
  modular_skyrat/modules/black_mesa/code/ghost_spawners.dm
  modular_skyrat/modules/customization/modules/language/chitinclick.dm
  modular_skyrat/modules/customization/modules/language/panslavic.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/novaya_ert/code/ert.dm
  modular_zubbers/code/modules/languages/_language_holder.dm
  modular_zubbers/code/modules/languages/panslavic.dm
  tgstation.dme
Labels: Code

#4385 NanoTrasen Productivity Enhancement Cube
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/wagecage.dmi
Labels: Against God & Nature, Sprites, Unfathomably Based, Code

#4368 Mutation Toxins: Part Two
  modular_zubbers/code/datums/diseases/advance/transformation.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents/Recipes/others.dm
  modular_zubbers/code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code

#4331 (READY FOR MERGE) Adds a new species: Lycans (and cursekin)
  code/__DEFINES/~~bubber_defines/mobs.dm
  code/__DEFINES/~~bubber_defines/traits/declarations.dm
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_cursekin.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lycan.png
  config/game_options.txt
  modular_skyrat/master_files/code/modules/client/preferences/_preference.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mushpeople.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_zubbers/code/datums/elements/inorganic_rejection.dm
  modular_zubbers/code/modules/customization/species/lycans/README.md
  modular_zubbers/code/modules/customization/species/lycans/__DEFINES.dm
  modular_zubbers/code/modules/customization/species/lycans/_cursekin_species.dm
  modular_zubbers/code/modules/customization/species/lycans/_lycan_species.dm
  modular_zubbers/code/modules/customization/species/lycans/bodyparts/lycan_bodyparts.dm
  modular_zubbers/code/modules/customization/species/lycans/cursekin_blacklisted_quirks.dm
  modular_zubbers/code/modules/customization/species/lycans/lycan_verbs.dm
  modular_zubbers/code/modules/customization/species/lycans/lycan_verbs.dmi
  modular_zubbers/code/modules/customization/species/lycans/organs/lycan_brain.dm
  modular_zubbers/code/modules/customization/species/lycans/organs/lycan_ears.dm
  modular_zubbers/code/modules/customization/species/lycans/organs/lycan_eyes.dm
  modular_zubbers/code/modules/customization/species/lycans/organs/lycan_heart.dm
  modular_zubbers/code/modules/customization/species/lycans/organs/lycan_liver.dm
  modular_zubbers/code/modules/customization/species/lycans/organs/lycan_lungs.dm
  modular_zubbers/code/modules/customization/species/lycans/organs/lycan_stomach.dm
  modular_zubbers/code/modules/customization/species/lycans/organs/lycan_tongue.dm
  modular_zubbers/code/modules/customization/species/lycans/transform.ogg
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  modular_zubbers/code/modules/surgery/bodyparts/_bodyparts.dm
  modular_zubbers/icons/mob/species/lycan/lycan_bodyparts.dmi
  tgstation.dme
Labels: Do Not Merge, Feature, Sprites, Requires Config Change, Test Merge Only, Code, TGUI, Sound, Image, Testmerge Approval #1, Merge Approval #1

#4617 Fixes a runtime in nanite code caused by having no host mob
  modular_zubbers/code/modules/nanites/nanite_programs/buffing.dm
Labels: Fix, Code

#4625 Fixing Golden NTRep Coat missing Texture
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Code

#4608 Fixes Multi-Cell Chargers working at range
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
Labels: Fix, Code

#4504 [100 HP] Rebalances forging for lower max HP, dagger, axe, sword, imbuing changes
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
Labels: Balance Changes, Stale, Test Merged, Code, Testmerge Approval #1, Merge Approval #1

#4643 Updates the gas miner whitelist variables to include the Port Tarkon atmospherics area.
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
Labels: Code

#4673 RETA lights overlay
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/centcom/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/external/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/hatch/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/multi_tile/glass_overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station2/overlays.dmi
Labels: Sprites

#4613 Lowers taur laying recovery to 0.5 secs
  modular_zubbers/modules/taur_mechanics/taur_body.dm
Labels: Code

#4661 Removes a ton of obsolete or unused skyrat icon overrides
  code/game/objects/items/devices/gps.dm
  code/modules/food_and_drinks/machinery/deep_fryer.dm
  code/modules/food_and_drinks/machinery/gibber.dm
  code/modules/food_and_drinks/machinery/processor.dm
  modular_skyrat/master_files/code/game/objects/items/RCD.dm
  modular_skyrat/modules/aesthetics/airalarm/code/airalarm.dm
  modular_skyrat/modules/aesthetics/airalarm/icons/airalarm.dmi
  modular_skyrat/modules/aesthetics/airlock_machines/airlock_machines.dm
  modular_skyrat/modules/aesthetics/airlock_machines/airlock_machines.dmi
  modular_skyrat/modules/aesthetics/camera/code/camera.dm
  modular_skyrat/modules/aesthetics/camera/icons/camera.dmi
  modular_skyrat/modules/aesthetics/clothing/head.dmi
  modular_skyrat/modules/aesthetics/clothing/suit.dmi
  modular_skyrat/modules/aesthetics/device/device.dm
  modular_skyrat/modules/aesthetics/device/device.dmi
  modular_skyrat/modules/aesthetics/extinguisher/code/extinguisher.dm
  modular_skyrat/modules/aesthetics/extinguisher/icons/extinguisher.dmi
  modular_skyrat/modules/aesthetics/furniture/bed.dm
  modular_skyrat/modules/aesthetics/furniture/bedsheets.dmi
  modular_skyrat/modules/aesthetics/furniture/furniture.dmi
  modular_skyrat/modules/aesthetics/heavy_lathe/heavy_lathe.dm
  modular_skyrat/modules/aesthetics/heavy_lathe/heavy_lathe.dmi
  modular_skyrat/modules/aesthetics/janitor/janitor.dm
  modular_skyrat/modules/aesthetics/janitor/janitor.dmi
  modular_skyrat/modules/aesthetics/kitchen/coffeemaker.dmi
  modular_skyrat/modules/aesthetics/kitchen/kitchen.dm
  modular_skyrat/modules/aesthetics/kitchen/kitchen.dmi
  modular_skyrat/modules/aesthetics/shieldgen/code/shieldgen.dm
  modular_skyrat/modules/aesthetics/shieldgen/icons/shieldgen.dmi
  modular_skyrat/modules/aesthetics/status_display/icons/status_display.dmi
  modular_skyrat/modules/aesthetics/storage/storage.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
  modular_skyrat/modules/aesthetics/telescience/telescience.dm
  modular_skyrat/modules/aesthetics/telescience/telescience.dmi
  modular_skyrat/modules/aesthetics/tools/code/tools.dm
  modular_skyrat/modules/aesthetics/tools/tools.dmi
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_plumbers.dm
  tgstation.dme
Labels: Sprites, Code

#4634 Re-"Clutters" the Settler quirk
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/positive_quirks/settler.dm
Labels: Code

#4263 Re-Buffs the Paddy a bit + Nerfs the Exosuit Disabler
  modular_zubbers/code/modules/vehicles/mecha/equipment/weapons.dm
  modular_zubbers/code/modules/vehicles/mecha/ripley.dm
  tgstation.dme
Labels: Balance Changes, Pending Maintainer Discussion, Code, Merge Approval #1, Merge Approval #2, Stale-b-Gone

#4660 Ports Nova Command Outfits
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/master_files/icons/mob/clothing/under/command.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/command.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
Labels: Feature, Sprites, Code

#4600 Removes the NTBR from the Blueshield
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/closet.dm
Labels: Balance Changes, Code, Merge Approval #1

#4614 [Records rework] Creates defaults for all records
  code/datums/records/manifest.dm
  code/datums/records/record.dm
  code/modules/mob/living/carbon/human/human.dm
  modular_skyrat/master_files/code/datums/records/record.dm
  modular_skyrat/master_files/code/modules/client/preferences/flavor_text.dm
  modular_skyrat/modules/records_on_examine/code/record_manifest.dm
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: Code, TGUI, Merge Approval #1

#4560 Moon Station Semi-Final Update
  _maps/map_files/moonstation/moonstation.dmm
  modular_skyrat/modules/ashwalkers/code/buildings/antfarm.dm
  modular_zubbers/code/datums/mapgen/Cavegens/moonstation.dm
  modular_zubbers/code/game/area/areas/moonstation.dm
  modular_zubbers/code/modules/mob/living/basic/moonstation/snake.dm
  modular_zubbers/icons/mob/simple/snake.dmi
  tgstation.dme
Labels: Map Edit, Sprites, Code, Testmerge Approval #1

#4481 [Skyrat gun replacement] Balances the prices for guns in cargo
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zubbers/code/modules/security/security_glock/cargo.dm
Labels: Balance Changes, Feature, Code, Merge Approval #1, Merge Approval #2

#4659 Adds modular jobs to Orbit Menu department sorting
  tgui/packages/tgui/interfaces/Orbit/constants.ts
Labels: QoL, TGUI

#4681 Adds squishy Shadekin plushie again but less dum
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Feature, Sprites, Code

#4671 nosferatu can ventcrawl with a backpack again
  modular_zubbers/code/modules/antagonists/bloodsucker/clans/clan_nosferatu.dm
Labels: Code

#4670 Adds a borg obedience module
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_zubbers/code/datums/quirks/negative_quirks/well_trained.dm
  modular_zubbers/code/datums/quirks/positive_quirks/dominant_aura.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_upgrade.dm
Labels: Feature, New South Wales Content, Code

#4562 Improves disposals code so it actually deals damage to you on direction changes and nerfs disposals damage.
  modular_skyrat/modules/hurtsposals/code/pipe.dm
Labels: Test Merged, Code, Testmerge Approval #1, Merge Approval #1

#4682 Umbrellas for Rimpoint | A funny name for a funny PR
  code/controllers/subsystem/weather.dm
  code/modules/research/designs/autolathe/service_designs.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  modular_zubbers/code/modules/rimpoint_newfeatures/code/umbrella.dm
  modular_zubbers/code/modules/rimpoint_newfeatures/sound/attributions.txt
  modular_zubbers/code/modules/rimpoint_newfeatures/sound/effects/rain_on_plastic2.ogg
  modular_zubbers/code/modules/rimpoint_newfeatures/sound/effects/rain_on_plastic3.ogg
  modular_zubbers/code/modules/rimpoint_newfeatures/sound/effects/rain_on_plastic4.ogg
  modular_zubbers/code/modules/rimpoint_newfeatures/sound/effects/rain_on_plastic5.ogg
  modular_zubbers/code/modules/rimpoint_newfeatures/sound/effects/rain_on_plastic6.ogg
  modular_zubbers/code/modules/rimpoint_newfeatures/sound/effects/rain_on_plastic7.ogg
  modular_zubbers/code/modules/rimpoint_newfeatures/sound/effects/umbrella_close.ogg
  modular_zubbers/code/modules/rimpoint_newfeatures/sound/effects/umbrella_open.ogg
  modular_zubbers/icons/obj/equipment/umbrella.dmi
  modular_zubbers/icons/obj/equipment/umbrella_inhand_l.dmi
  modular_zubbers/icons/obj/equipment/umbrella_inhand_r.dmi
  tgstation.dme
Labels: Feature, Test Merged, Sprites, Code, Sound

#4696 Fixes the Clown & Mime Cats saying 'emote_see'
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/pets.dm
Labels: Fix, Code

#4693 Minor PSC/NRI Text Fix + Teshari Inclusiveness
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/novaya_ert/code/ert.dm
  modular_skyrat/modules/novaya_ert/code/outfit.dm
Labels: Map Edit, Code

#4687 Airlocks/Grilles Stun You Instead of Knockdown (Skyrat Revert)
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: TG Balance Revert, Code

#4701 unrigs the wizard die
  modular_zubbers/code/modules/wizard_dize/wizard_dice_object.dm
Labels: Balance Changes, Code

#4704 Adds stoats to pet owner quirk!
  modular_zubbers/code/datums/quirks/neutral_quirks/pet_owner.dm
Labels: Code

#4691 Makes Black Market ruin always generate when possible
  modular_skyrat/modules/mapping/code/space.dm
Labels: Code, Mapping, Merge Approval #1

#4707 Fixes Ian's Rapper Hat
  modular_skyrat/modules/dogfashion/code/head.dm
Labels: Code

#4713 Fix CI
  icons/map_icons/clothing/head/_head.dmi
  icons/map_icons/clothing/suit/_suit.dmi
Labels: Fix, Sprites

#4708 Fixes missing MODsuit armor buffs
  modular_skyrat/master_files/code/modules/mod/mod_theme.dm
Labels: Code

#4706 Lets Roundstart Bunny Miners be a thing
  modular_zubbers/code/jobs/mining/voucher_sets.dm
  tgstation.dme
Labels: Code

#4710 Removes Ashtongue; Ashwalkers speak Draconic Again
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  modular_skyrat/master_files/code/modules/antagonists/ashwalker/ashwalker.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species_type/lizardpeople.dm
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/language/ashtongue.dm
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
  modular_skyrat/modules/modular_items/code/necklace.dm
  tgstation.dme
Labels: Sprites, Removal, Code, Merge Approval #1

#4685 Horror Form Code Cleanup + Fixes
  modular_skyrat/modules/horrorform/code/horror_form.dm
  modular_skyrat/modules/horrorform/code/true_changeling.dm
Labels: Fix, Skyrat Cleanup, Code

#4723 Upgrades those two ugly sec gasmasks
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
Labels: Sprites

#4732 Fixes Mantle OBJs
  modular_skyrat/modules/customization/modules/clothing/neck/_neck.dm
Labels: Fix, Feature, Code

#4733 Adds two unused items to the Loadout
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#4724 Deletes two lines from Skyrat files, making one of our files redundent
  modular_skyrat/master_files/code/modules/jobs/job_types/clown.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/mime.dm
  modular_zubbers/code/modules/jobs/job_types/clown.dm
  tgstation.dme
Labels: Code, Merge Approval #1, Merge Approval #2

#4316 Adds Security Missile Launchers (real)
  modular_zubbers/code/__DEFINES/projectiles.dm
  modular_zubbers/code/modules/automapper/code/overrides/area_spawn_subsystem.dm
  modular_zubbers/code/modules/security_rocket_launcher/ammo.dm
  modular_zubbers/code/modules/security_rocket_launcher/cargo.dm
  modular_zubbers/code/modules/security_rocket_launcher/fake_explosion.dm
  modular_zubbers/code/modules/security_rocket_launcher/projectile.dm
  modular_zubbers/code/modules/security_rocket_launcher/weapon.dm
  modular_zubbers/icons/mob/inhands/weapons/guns_lefthand.dmi
  modular_zubbers/icons/mob/inhands/weapons/guns_righthand.dmi
  modular_zubbers/icons/obj/weapons/guns/sec_missile.dmi
  modular_zubbers/sound/weapons/gun/sec_missile/insert.ogg
  modular_zubbers/sound/weapons/gun/sec_missile/launch.ogg
  modular_zubbers/sound/weapons/gun/sec_missile/shoot.ogg
  tgstation.dme
Labels: Feature, Sprites, Code, Sound, Testmerge Approval #1, Merge Approval #1, Merge Approval #2

#4737 Insectoid Stuff
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/mob/sprite_accesory/wings.dmi
Labels: Feature, Sprites, Code

#4740 Service Hall access to the NTC
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#4727 Removes the SM healing factor from the stamina emitter diode disk
  modular_zubbers/code/modules/projectiles/beams.dm
  tgstation.dme
Labels: Balance Changes, Code, Merge Approval #1, Merge Approval #2

#4760 Lone operative can't spawn below 30 players
  code/modules/events/ghost_role/operative.dm
Labels: Balance Changes, Code, Merge Approval #1, Merge Approval #2

#4578 It's getting fishy! - Adds Mermaid Borg Spirtes part 1
  code/__DEFINES/~~bubber_defines/robot_defines.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/merborg/mermaidbot_eng.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/merborg/mermaidbot_med.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/merborg/mermaidbot_sci.dmi
Labels: Feature, Test Merged, Sprites, Code, Testmerge Approval #1, Testmerge Approval #2, Merge Approval #1, Merge Approval #2
