Repository Bubberstation/Bubberstation, pull requests merged in 2025-01, with the labels that each got.

#2817 kweh
  modular_zubbers/code/modules/emotes/emotes.dm
Labels: Code

#2809 The ACTUAL NRI PR.
  modular_skyrat/master_files/code/modules/paperwork/stamps.dm
  modular_skyrat/modules/aesthetics/flag/code/signs_flags.dm
  modular_skyrat/modules/aesthetics/posters/posters.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/novaya_ert/code/advanced_choice_beacon.dm
  modular_skyrat/modules/novaya_ert/code/ert.dm
  modular_skyrat/modules/novaya_ert/code/id.dm
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
  modular_skyrat/modules/novaya_ert/code/outfit.dm
  modular_skyrat/modules/novaya_ert/code/police_outfit.dm
  modular_skyrat/modules/novaya_ert/code/surplus_armor.dm
  modular_skyrat/modules/novaya_ert/code/survival_pack.dm
  modular_zubbers/code/game/objects/structures/flags/signs_flags.dm
  modular_zubbers/code/modules/paperwork/fax.dm
  modular_zubbers/icons/obj/flags.dmi
Labels: Sprites, Code

#2802 Adding a bunnysuit with more customization options (for trim, cuff, and breast color). This will be available from the loadout selection.
  modular_skyrat/modules/GAGS/json_configs/bunny_stuff/custom_bunnysuit.json
  modular_skyrat/modules/GAGS/json_configs/bunny_stuff/custom_bunnysuit_worn.json
  modular_zubbers/code/modules/GAGS/greyscale_configs.dm
  modular_zubbers/code/modules/clothing/under/misc.dm
  modular_zubbers/code/modules/loadout/categories/suit.dm
  modular_zubbers/code/modules/loadout/categories/under.dm
  modular_zubbers/icons/mob/clothing/under/costume.dmi
  modular_zubbers/icons/mob/clothing/under/costume_digi.dmi
  modular_zubbers/icons/obj/clothing/under/costume.dmi
Labels: Sprites, Good First PR, Code

#2816 Make moonstation jukebox all access
  _maps/map_files/moonstation/moonstation.dmm
Labels: Map Edit

#2819 Makes roundstart jellypeople not 50% resistant to burns
  modular_skyrat/modules/bodyparts/code/roundstartslime_bodyparts.dm
Labels: Code

#2823 smolraptor update
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_car.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_cc.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_eng.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_gen.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_jani.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_med.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_min.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_pk.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_sci.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_serv.dmi
Labels: Sprites

#2822 Even MORE persistence cleanup
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Labels: Map Edit

#2828 Fixes cafeborg synthesizers
  modular_skyrat/modules/ghostcafe/code/robot_ghostcafe.dm
Labels: Code

#2834 Wearable HUD Toggle #88825
  code/datums/actions/items/toggles.dm
  code/modules/clothing/glasses/hud.dm
  html/changelogs/AutoChangeLog-pr-88825.yml
Labels: Upstream Merge, Early Pull, Code

#2837 Adds TTS logging when something goes wrong (#88841)
  code/__DEFINES/logging.dm
  code/__HELPERS/logging/debug.dm
  code/controllers/subsystem/tts.dm
  code/datums/http.dm
  code/modules/logging/categories/log_category_debug.dm
Labels: Upstream Merge, Early Pull, Administration, Code

#2838 Run changelog compile a bit earlier
  .github/workflows/compile_changelogs.yml
Labels: Github

#2841 Unapologetically buffs cute boys
  code/modules/loadout/loadout_menu.dm
  modular_skyrat/master_files/code/modules/loadout/categories/heads.dm
  modular_zubbers/code/modules/loadout/overrides/loadout_items/loadout_datum.dm
Labels: Code

#2826 Adding a "snaggletooth" type snout
  modular_zubbers/code/modules/customization/sprite_accessories/snouts.dm
  modular_zubbers/icons/customization/snouts.dmi
Labels: Sprites, Code

#2835 Remove DME Edit autolabel
  .github/labeler.yml
Labels: Removal, Style/Standards

#2840 Add currently playing song name to jukebox examine text (#88822)
  code/game/machinery/dance_machine.dm
Labels: Code

#2845 Makes ordered jukeboxes not require bar access
  modular_zubbers/code/modules/cargo/packs/service.dm
Labels: Code

#2803 adds the 'fringe' hair gradient, a hair gradient that gradientizes your fringe
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair_gradients.dm
  modular_zubbers/icons/customization/hair_gradients.dmi
  tgstation.dme
Labels: Sprites, Code

#2799 Adds cleavage and synth joints markings
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_marking_gloss.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/synth_joints.dm
  modular_zubbers/icons/customization/body_markings/glossy.dmi
  modular_zubbers/icons/customization/body_markings/markings.dmi
  modular_zubbers/icons/customization/body_markings/synth_joints.dmi
  modular_zubbers/icons/mob/body_markings/markings.dmi
  tgstation.dme
Labels: Sprites, Code

#2853 Actually Buffs borg health to 135.
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: Code

#2852 Fix Biodome elevators
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

#2825 New nearsighted item: spare lenses
  modular_zubbers/code/datums/quirks/negative_quirks/nearsighted.dm
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/icons/obj/items_and_weapons.dmi
  tgstation.dme
Labels: Sprites, Code, DME Edit

#2856 Memory 2.0: The flickering light removal
  code/controllers/subsystem/explosions.dm
  code/modules/power/lighting/light.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
Labels: Test Merged, Code

#2862 Unfucks Biodome disposals
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

#2855 Security Kepi Caps
  code/game/objects/items/storage/garment.dm
  modular_zubbers/code/modules/clothing/head/helmet.dm
  modular_zubbers/code/modules/vending/multisec.dm
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
Labels: Sprites, Code

#2804 adds 'cyclops sclera' marking, a marking that makes the cyclopian eye look less bad
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
Labels: Sprites, Code

#2864 Buffs ERP on Moonstation (Adds a bucket, five wood, and tinyfan to the Sauna)
  _maps/map_files/moonstation/moonstation.dmm
Labels: Map Edit

#2854 Sends a station announcement when a heretic is 1 sacrifice away from ascending
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  modular_zubbers/code/modules/antagonists/heretic/heretic.dm
Labels: Balance Changes, Code

#2867 Fix Biodome's SM waste and cabling so engineers stop going crazy
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

#2865 Horseshoes Loadout Item
  modular_skyrat/modules/reagent_forging/code/crafting_bench_recipes.dm
  modular_skyrat/modules/reagent_forging/code/forge_clothing.dm
  modular_zubbers/code/modules/clothing/shoes/boots.dm
  modular_zubbers/code/modules/loadout/categories/shoes.dm
Labels: Code

#2842 Additional fixes to persistence (Draft for the moment because I want to test something and poll something)
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Labels: Map Edit

#2873 Fix wiring to Biodome grav gen
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

#2860 Fix bubber-exclusive jobs having no icon in observe menu
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
Labels: TGUI

#2878 Modifies Moon's AI core to be less cheesable.
  _maps/map_files/moonstation/moonstation.dmm
Labels: Map Edit

#2874 Faxes get logged into the SQL server, for discord retreival.
  SQL/bubber_schema.sql
  code/modules/paperwork/fax.dm
Labels: Code, SQL

#2850 Fixes the RBMK from processing when it didn't need to.
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
Labels: Fix, Test Merged, Code

#2670 [PORT] [TGUI] Color picker
  code/datums/browser.dm
  code/datums/components/palette.dm
  code/game/objects/items.dm
  code/game/objects/items/frog_statue.dm
  code/game/objects/items/rcd/RLD.dm
  code/game/objects/items/stacks/wrap.dm
  code/game/objects/structures/curtains.dm
  code/game/objects/structures/dresser.dm
  code/game/objects/structures/maintenance.dm
  code/game/objects/structures/mirror.dm
  code/modules/admin/greyscale_modify_menu.dm
  code/modules/admin/verbs/light_debug.dm
  code/modules/admin/view_variables/filterrific.dm
  code/modules/admin/view_variables/get_variables.dm
  code/modules/art/paintings.dm
  code/modules/client/preferences.dm
  code/modules/client/verbs/ooc.dm
  code/modules/clothing/head/wig.dm
  code/modules/library/skill_learning/generic_skillchips/point.dm
  code/modules/mob/living/basic/guardian/guardian.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/living.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
  code/modules/research/xenobiology/crossbreeding/prismatic.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  modular_skyrat/master_files/code/game/objects/items/dyekit.dm
  modular_skyrat/master_files/code/game/objects/items/hhmirror.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  modular_skyrat/master_files/code/modules/mining/equipment/kinetic_crusher.dm
  modular_skyrat/modules/carriers/code/carrier_tgui.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/hivemind.dm
  modular_skyrat/modules/salon/code/fur_dyer.dm
  modular_skyrat/modules/salon/code/misc_items.dm
  modular_zubbers/code/datums/components/vore/belly.dm
  modular_zubbers/code/game/objects/items/holy_weapons.dm
  modular_zubbers/code/modules/debug_tools/physgun.dm
  modular_zubbers/code/modules/debug_tools/toolgun_module/phys_color.dm
  modular_zubbers/code/modules/tgui_input/color.dm
  tgstation.dme
  tgui/packages/common/colorpicker.ts
  tgui/packages/tgui/components/Interactive.tsx
  tgui/packages/tgui/components/Pointer.tsx
  tgui/packages/tgui/components/index.ts
  tgui/packages/tgui/interfaces/ColorPickerModal.tsx
  tgui/packages/tgui/styles/interfaces/ColorPicker.scss
  tgui/packages/tgui/styles/main.scss
Labels: Test Merge Candidate, Test Merged

#2880 Makes Security Playable 2025 (Fixes Bunny Tailcoats for Digigrade Players)
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/icons/mob/clothing/under/costume.dmi
Labels: Sprites, Code

#2887 Changes ingame chain_of_command to reflect our SOP
  modular_zubbers/code/controllers/subsystem/job.dm
  tgstation.dme
Labels: Code

#2883 Buffs ERP by uncapping Subtler Range
  modular_skyrat/modules/verbs/code/subtle.dm
Labels: Code

#2859 Modular lungs update/air alarm threshold
  code/datums/atmosphere/planetary.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_thresholds.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/organs/code/lungs.dm
  modular_zubbers/code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: Test Merged, Code

#2881 Tarkon patch 1: Backpacks and Preferences
  modular_skyrat/modules/tarkon/code/clothing/uniform.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
  modular_zubbers/code/modules/tarkon/code/clothing/backpack.dm
  modular_zubbers/code/modules/tarkon/icons/mob/clothing/backpack.dmi
  modular_zubbers/code/modules/tarkon/icons/mob/clothing/uniform.dmi
  modular_zubbers/code/modules/tarkon/icons/mob/clothing/uniform_digi.dmi
  modular_zubbers/code/modules/tarkon/icons/mob/inhands/lefthand.dmi
  modular_zubbers/code/modules/tarkon/icons/mob/inhands/righthand.dmi
  modular_zubbers/code/modules/tarkon/icons/obj/clothing/backpack.dmi
  tgstation.dme
Labels: Sprites, Code

#2569 Surgery speed bonus revert/refactor
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_interdyne.dmm
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/shuttles/skyrat/emergency_skyrat.dmm
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  _maps/shuttles/skyrat/whiteship_blueshift.dmm
  code/__DEFINES/~~bubber_defines/surgery.dm
  code/datums/components/surgery_initiator.dm
  code/datums/storage/subtypes/surgery_tray.dm
  code/game/objects/items/surgery_tray.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
  code/modules/surgery/surgery_helpers.dm
  code/modules/surgery/surgery_step.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  modular_skyrat/master_files/code/datums/mood_events/generic_negative_events.dm
  modular_skyrat/master_files/code/game/objects/structures/tables_racks.dm
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_skyrat/modules/deforest_medical_items/code/treatment_zone_projector.dm
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/medical/code/breath_machine.dm
  modular_skyrat/modules/medical/icons/obj/machinery.dmi
  modular_skyrat/modules/modular_reagents/code/reagents/medicine.dm
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
  modular_zubbers/code/_globalvars/lists/maintenance_loot_uncommon.dm
  modular_zubbers/code/datums/components/surgery_initiator.dm
  modular_zubbers/code/game/objects/items/storage/medkit.dm
  modular_zubbers/code/modules/atmospherics/machinery/air_alarm/air_alarm_modes.dm
  modular_zubbers/code/modules/reagents/reagent_containers/medigel.dm
  modular_zubbers/code/modules/surgery/healing.dm
  modular_zubbers/code/modules/surgery/surgery_step.dm
  modular_zubbers/code/modules/vending/medical.dm
  modular_zubbers/icons/obj/medical/breath_machine.dmi
  modular_zubbers/icons/obj/storage/medkit.dmi
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Balance Changes, Map Edit, Test Merged, Sprites, Skyrat Cleanup, Code, TGUI, DME Edit

#2765 911 gear update
  modular_skyrat/modules/goofsec/code/terragov.dm
Labels: Code

#2861 Gives Zombies Eye Color Customization
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_krokodil_addict.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_zombie.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_zombie_infectious.png
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/zombie.dm
Labels: Test Merged, Code, Image

#2497 [TM ready, again] brain augment fluff
  code/__DEFINES/~skyrat_defines/augment.dm
  code/modules/mob/living/brain/brain_cybernetic.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  modular_skyrat/master_files/icons/obj/medical/organs/organs.dmi
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
  modular_skyrat/modules/implants/code/augments_brain.dm
  modular_skyrat/modules/organs/code/brain.dm
  modular_zubbers/code/__DEFINES/techweb_nodes.dm
  modular_zubbers/code/modules/experisci/experiment/experiments.dm
  modular_zubbers/code/modules/languages/empathy.dm
  modular_zubbers/code/modules/research/designs/medical_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Labels: Test Merge Candidate, Test Merged, Sprites, Code, DME Edit

#2895 Fixes the overflow server prompt
  modular_skyrat/modules/server_overflow/code/client_procs.dm
Labels: Code

#2901 Subtler filters out clientless mobs
  modular_skyrat/modules/verbs/code/subtle.dm
Labels: Fix, Code

#2898 Pun Pun suit sensors
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
Labels: Code

#2890 Subtle notification sound/chat filter
  code/__DEFINES/~~bubber_defines/chat.dm
  code/__DEFINES/~~bubber_defines/span.dm
  modular_skyrat/modules/verbs/code/subtle.dm
  tgui/packages/tgui-panel/chat/constants.ts
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/subtle_sound.tsx
Labels: Test Merged, Code, TGUI

#2905 Brighter dark mode subtle/subtler spans
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
Labels: TGUI

#2906 [s] Records / PAI patching (#89049)
  code/controllers/subsystem/pai.dm
  code/game/machinery/computer/records/medical.dm
  code/game/machinery/computer/records/records.dm
Labels: Upstream Merge, Early Pull, Code

#2908 Brighter dark mode subtle/subtler spans 2
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
Labels: TGUI

#2910 Fixes the soft cap prompt from showing when the server is on low load.
  code/modules/mob/dead/new_player/login.dm
Labels: Code

#2912 Adds an Icebox ambiance by Bangle.
  code/_globalvars/lists/ambience.dm
  modular_zubbers/sound/ambiance/bangle-freezer.ogg
Labels: Code, Sound

#2913 Makes the softcap message disableable again
  code/modules/mob/dead/new_player/login.dm
Labels: Code

#2872 removes armor stats from the magician tailcoat in the costume drobe
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
Labels: Code

#2909 Synth Heretics Heart QOL
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: Code

#2915 Adds digi sprites for loadout hos alt jumpsuit
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Sprites, Code

#2916 Adds the Galactic Federation Jacket
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/loadout/categories/suit.dm
  modular_zubbers/icons/mob/clothing/suits/jacket.dmi
  modular_zubbers/icons/obj/clothing/jacket.dmi
  modular_zubbers/icons/obj/clothing/suits/jacket.dmi
Labels: Sprites, Code

#2923 hopefully fix lobsters making armies of themselves
  code/modules/fishing/sources/_fish_source.dm
Labels: Code

#2521 Modular Suit Wearing! Most outerwear items can now be worn on your neck!
  modular_skyrat/modules/kahraman_equipment/code/clothing/clothing.dm
  modular_zubbers/code/modules/clothing/neck_wearing.dm
  tgstation.dme
Labels: Test Merge Candidate, Test Merged, Code

#2936 New Borg Varients (Resprites)
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_skyrat/modules/borgs/icons/tallrobot_cargo.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_eng.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_med.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_pk.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_serv.dmi
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_sci.dmi
Labels: Sprites, Code

#2941 Disables the Clown from being votable
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_0_extended.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_1_chill.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_2_fragile.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_3_default.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_4_bomb.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_5_gamer.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_6_clown.dm
  tgstation.dme
Labels: Balance Changes, Test Merged, Code

#2935 Adds digi sprites for several heeled boots
  modular_zubbers/code/modules/clothing/shoes/boots.dm
  modular_zubbers/code/modules/clothing/shoes/clown.dm
  modular_zubbers/icons/mob/clothing/feet/feet_digi.dmi
Labels: Sprites, Code

#2949 Adjusts Default Andy's crewset threshold
  modular_zubbers/code/modules/storyteller/storytellers/data/_track.dm
Labels: Code

#2947 Fix body gloss miscoloured pixels
  modular_zubbers/icons/customization/body_markings/glossy.dmi
Labels: Sprites

#2950 This year's medkit resprite #89085
  code/game/objects/items/storage/medkit.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  html/changelogs/AutoChangeLog-pr-89085.yml
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/storage/medkit.dmi
  modular_zubbers/code/game/Items/storage/medkit.dm
  modular_zubbers/icons/obj/storage/medkit.dmi
  tgstation.dme
Labels: Upstream Merge, Sprites, Early Pull, Code, Image

#2924 Adds digi sprites for all 4 lannese dress variants
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Sprites, Code

#2946 Add Galactic Federation Cap
  code/modules/vending/clothesmate.dm
  modular_zubbers/code/modules/clothing/head/hats.dm
  modular_zubbers/code/modules/loadout/categories/heads.dm
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
Labels: Sprites, Code

#2917 Removes advanced hyposprays
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: Code

#2953 Hair Fixes and Additions <3
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/icons/customization/hair.dmi
Labels: Sprites, Code

#2968 Fix typo in skyrat sleek roboticst jumpsuit name
  modular_skyrat/master_files/code/modules/clothing/under/jobs/rnd.dm
Labels: Code

#2958 Remove remnants of ICES
  code/__DEFINES/~skyrat_defines/events.dm
  modular_skyrat/master_files/code/controllers/subsystem/events.dm
  modular_skyrat/master_files/code/modules/events/_event.dm
  modular_skyrat/modules/autotransfer/code/shuttle.dm
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
  modular_skyrat/modules/ices_events/code/ICES_intensity_credits.dm
  modular_skyrat/modules/ices_events/code/ICES_procs.dm
  modular_skyrat/modules/ices_events/code/ICES_seclevel.dm
  modular_skyrat/modules/ices_events/code/ICES_tgui.dm
  modular_skyrat/modules/ices_events/code/_ICES_globalvars.dm
  modular_skyrat/modules/ices_events/code/effects/ef_foam.dm
  modular_skyrat/modules/ices_events/code/events/ev_meteors.dm
  modular_skyrat/modules/ices_events/code/events/ev_roleplay_check.dm
  modular_skyrat/modules/ices_events/code/events/ev_scrubbers.dm
  modular_skyrat/modules/ices_events/readme.md
  modular_skyrat/modules/mold/code/mold_event.dm
  modular_zubbers/code/modules/events/ev_roleplay_check.dm
  modular_zubbers/code/modules/events/meteor_wave.dm
  modular_zubbers/code/modules/storyteller/event_defines/major/major_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/scrubber_overrides.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/IntensityCredits.tsx
Labels: Removal, Skyrat Cleanup, Code, TGUI

#2976 Fixes death degradation stamina damage always downing you
  modular_skyrat/modules/death_consequences_perk/death_consequences_trauma.dm
Labels: Code

#2974 Remove taur cropping for short-sleeved kimono
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Code

#2971 Makes the clock sound not penetrate walls
  modular_skyrat/modules/officestuff/code/officestuff.dm
Labels: Code

#2758 [I think it works] Heretic reroll rite earlier, cheaper, Interlink and SSD protections to heretic targets!
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/general_side.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
Labels: Code

#2926 Convert Persistence from Ruin to Automap
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
  _maps/bubber/automapper/automapper_config.toml
  modular_zubbers/maps/offstation/persistence/code.dm
  tgstation.dme
Labels: Test Merge Candidate, Map Edit, Code

#2981 Fixes .dmi file sprite names for company import metals
  modular_skyrat/modules/company_imports/icons/special_metals_stack.dmi
Labels: Sprites

#2982 Fixes pirates round event so they spawn in story teller
  modular_zubbers/code/modules/antagonists/pirate/pirate_event.dm
  tgstation.dme
Labels: Code

#2972 buffs flesh heretic ghouls to 100, and mute ghouls to 135
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
Labels: Balance Changes, Code

#2983 lone infiltrator no longer gives an admin log error for 0 reason
  modular_zubbers/code/modules/storyteller/event_defines/ghostset/lone_infiltrator.dm
Labels: Code

#2980 Kilostation abandoned warehouse update
  _maps/map_files/KiloStation/KiloStation.dmm
  modular_zubbers/maps/kilostation/area.dm
  tgstation.dme
Labels: Map Edit, Code

#2961 Reduces bloodsucker weight by 3
  modular_zubbers/code/modules/storyteller/event_defines/crewset/bloodsucker.dm
Labels: Code

#2957 Raises minimum requirement for heretic to spawn
  modular_zubbers/code/modules/storyteller/event_defines/crewset/heretic.dm
Labels: Test Merged, Code

#2868 DNR no longer works on Changelings and bloodsuckers
  modular_skyrat/modules/cortical_borer/code/abilities/_borer_abilities.dm
  modular_zubbers/code/game/traits/neutral.dm
Labels: Test Merged, Code

#2997 Adds Mining Borg with Fixes to older ones
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_skyrat/modules/borgs/icons/tallrobot_med.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_mine.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_serv.dmi
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
Labels: Sprites, Code

#2959 Fixes record links appearing for empty records
  modular_skyrat/modules/records_on_examine/code/examine.dm
Labels: Code

#2954 Basic mob xeno *resprite*
  modular_skyrat/master_files/code/modules/mob/basic/alien/_alien.dm
  modular_skyrat/master_files/code/modules/mob/basic/alien/drone.dm
  modular_skyrat/master_files/code/modules/mob/basic/alien/queen.dm
  modular_skyrat/master_files/code/modules/mob/basic/alien/sentinel.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/drone.dm
  tgstation.dme
Labels: Sprites, Code

#3000 Cobwebs can now appear in space if nearstationed for cooler mapping, moves around decal code
  modular_zubbers/code/game/objects/effects/decals/cleanable.dm
  tgstation.dme
Labels: Code

#3005 Trying to fix Issue #2991
  modular_zubbers/code/modules/languages/empathy.dm
Labels: Code

#2993 Security BattleDress Fix + Two new VARIANTS!
  code/game/objects/items/storage/garment.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_zubbers/code/modules/vending/comdrobe.dm
  modular_zubbers/code/modules/vending/multisec.dm
Labels: Sprites, Code

#3002 Digigrade Sprites for Infil and Interdyne MOD
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_mine.dmi
Labels: Sprites

#3008 Removes CSV from the silver slime pool
  code/__HELPERS/randoms.dm
Labels: Code

#3009 Fixes fucked up cobweb check logic because I coded at 1 AM
  modular_zubbers/code/game/objects/effects/decals/cleanable.dm
Labels: Code

#3011 Actually fixes the cobweb check holy shit
  modular_zubbers/code/game/objects/effects/decals/cleanable.dm
Labels: Code

#3007 Adds new sprite option for goliath tentacle-style hair
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories.dm
  modular_zubbers/icons/mob/species/human/humanface.dmi
Labels: Sprites, Code

#3019 Fix synths spawning without charging arm implant
  modular_skyrat/modules/synths/code/bodyparts/power_cord.dm
Labels: Code

#2973 Fix caged dress from loadout menu
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
Labels: Code

#3026 Nerfs Entombed
  code/controllers/subsystem/processing/quirks.dm
  modular_zubbers/master_files/code/modules/entombed_quirk/code/entombed_mod.dm
Labels: Code

#2966 Moved the expand and shrink modules to Augmentation, moved artistic module to the correct tab
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Labels: Code
