Repository Bubberstation/Bubberstation, pull requests merged in 2025-07, with the labels that each got.

#4166 Ranked Choice Voting
  code/__DEFINES/~~bubber_defines/span.dm
  code/__DEFINES/~~bubber_defines/subsystems.dm
  code/__HELPERS/logging/dynamic.dm
  code/controllers/subsystem/map_vote.dm
  code/controllers/subsystem/vote.dm
  code/datums/votes/_vote_datum.dm
  code/datums/votes/custom_vote.dm
  modular_zubbers/code/controllers/subsystem/map_vote.dm
  modular_zubbers/code/controllers/subsystem/vote.dm
  modular_zubbers/code/datums/votes/_vote_datum.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
  modular_zubbers/code/modules/storyteller/storyteller_vote.dm
  modular_zubbers/code/modules/voting/_votes.dm
  modular_zubbers/code/modules/voting/vote_overrides.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: Unfathomably Based, Code, TGUI, Merge Approval #1

#4167 Move pixel shift keybinds/signals to /mob/living
  code/__DEFINES/~skyrat_defines/keybindings.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift_component.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift_keybind.dm
Labels: Code

#4174 Taser runtime fix
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/energy/stun.dm
Labels: Code

#4178 Changes a single tile of misplaced chapel area
  _maps/map_files/biodome/biodome.dmm
Labels: Map Edit

#4198 Fixes MODSuits Not Allowing Certain Items Over Them Like CatEar Headphones, Flowers, And Other Stuff No Thanks To TG
  code/modules/mod/mod_activation.dm
Labels: Code

#4122 bugfix med/sci/brigmed tailcoats and pharmacy coat storage and armor
  code/game/objects/items/storage/garment.dm
  icons/map_icons/clothing/suit/_suit.dmi
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
  modular_skyrat/master_files/code/modules/loadout/categories/suit.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/vending/comdrobe.dm
  modular_zubbers/code/modules/vending/multisec.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
Labels: Sprites, Code

#3366 Readds martyr and hijack objectives for spy/traitor
  code/modules/antagonists/spy/spy.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Code, Merge Approval #1, Merge Approval #2, Stale-b-Gone

#4211 heeled mining and heeled work boots for loadout
  modular_skyrat/master_files/code/modules/loadout/categories/shoes.dm
Labels: Code

#4192 Add: MicroStar SCI-MED Jumpsuit
  modular_zubbers/code/modules/clothing/under/misc.dm
  modular_zubbers/code/modules/loadout/categories/under.dm
  modular_zubbers/icons/mob/clothing/under/scimed_suit.dmi
  modular_zubbers/icons/mob/clothing/under/scimed_suit_digi.dmi
  modular_zubbers/icons/obj/clothing/under/scimed_suit.dmi
Labels: Sprites, Code

#4213 Adds a subtler telepathy option
  modular_zubbers/code/modules/quirks/positive_quirks/telepathy.dm
Labels: Code

#4214 Adds jumpskirt alt for the blacksmith roundstart uniform
  modular_skyrat/master_files/code/modules/clothing/under/jobs/cargo.dm
  modular_skyrat/master_files/icons/mob/clothing/under/cargo.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/cargo.dmi
Labels: Sprites, Code

#4212 Makes it so having WALKMODE on doesn't crush people with the micro quirks
  code/datums/components/squashable.dm
Labels: Code

#4208 Reduces status indicators from POINT_PLAIN to ABOVE_GAME_PLANE so they don't show through effects like smoke.
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Labels: Code

#4221 Adjusted SCIMED to properly be hidden by a suit
  modular_zubbers/icons/mob/clothing/under/scimed_suit.dmi
  modular_zubbers/icons/mob/clothing/under/scimed_suit_digi.dmi
Labels: Sprites

#4118 lets nanite defib revive client-less mobs
  modular_zubbers/code/modules/nanites/nanite_programs/healing.dm
Labels: Code

#4219 Civilian HUDs + Implant
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  modular_skyrat/master_files/code/modules/loadout/categories/glasses.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/customization/modules/client/augment/implants.dm
  modular_skyrat/modules/implants/code/medical_nodes.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_zubbers/code/datums/components/crafting/tailoring.dm
  modular_zubbers/code/modules/clothing/glasses/hud.dm
  modular_zubbers/code/modules/implants/code/augments_eyes.dm
  modular_zubbers/code/modules/loadout/categories/glasses.dm
  modular_zubbers/code/modules/research/designs/misc_designs.dm
  modular_zubbers/icons/mob/clothing/eyes.dmi
  modular_zubbers/icons/obj/clothing/head/glasses.dmi
  modular_zubbers/icons/obj/medical/organs/organs.dmi
  tgstation.dme
Labels: Feature, Sprites, Code, Merge Approval #1

#4209 apathetic becomes neutral
  modular_zubbers/code/datums/quirks/positive_quirks/apathetic_override.dm
Labels: Balance Changes, Code

#4254 Protean Balance: Removes the brute and burn modifiers from Proteans
  modular_zubbers/code/modules/customization/species/proteans/__DEFINES.dm
Labels: Balance Changes, Code, Merge Approval #1

#4223 Remove forced size changes on Settler and Spacer
  code/datums/quirks/positive_quirks/settler.dm
  code/datums/quirks/positive_quirks/spacer.dm
  modular_zubbers/code/modules/customization/height_scaling/preferences.dm
Labels: Code

#4229 THE FLIPPER (Adds new quirk: Perch)
  modular_zubbers/code/datums/quirks/neutral_quirks/perch.dm
  tgstation.dme
Labels: Feature, Code, Merge Approval #1

#4207 Rebalances the cargo sabre and cargo bowie knife
  modular_skyrat/modules/company_imports/code/armament_datums/jarnsmiour.dm
  modular_skyrat/modules/knives/knives.dm
  modular_skyrat/modules/modular_weapons/code/melee.dm
Labels: Balance Changes, Code, Merge Approval #1

#4270 shorg tongue (please speedmerge)
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
Labels: Code, Merge Approval #1, Merge Approval #2

#4284 Fix admin pie smite
  modular_zubbers/code/modules/admin/smites/pie.dm
  tgstation.dme
Labels: Administration, Code

#4296 Reduces the frequency and duration of Moon Station sandstorms because I died to it once.
  modular_zubbers/code/datums/weather/weather_types/sand_storm.dm
Labels: Code

#4241 (BOUNTY) Psuedo-Respiration Quirk
  modular_zubbers/code/datums/quirks/neutral_quirks/pseudo_respiration.dm
  tgstation.dme
Labels: Bounty, Feature, Code

#4301 Add volume slider pref for emote sounds
  code/datums/emotes.dm
  modular_zubbers/code/modules/client/preferences/sounds.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bubber/sounds.tsx
Labels: Bounty, Code, TGUI, Merge Approval #1

#4295 renames the guilmon + renamon parts to toraxen + cyvian by headmin request
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_marking_sets.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
Labels: Code

#4288 fix hemos to be able to drink from each other and lizards again
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/corrupted_tongue.dm
Labels: Fix, Code, Merge Approval #1

#4255 Cyborg sprite update on buckle/unbuckle
  code/__HELPERS/~bubber_helpers/mobs.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Code

#4247 The LIGHT STEP trait makes you not squash micros
  code/datums/components/squashable.dm
Labels: Code, Testmerge Approval #1, Testmerge Approval #2

#4306 prevent premium robo kits from storing normal sized & make all skyrat pouches bulky
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/storage_items_robotics.dm
  modular_skyrat/modules/modular_items/code/bags.dm
Labels: Code, Merge Approval #1

#4302 fixes the marked one
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
Labels: Fix, Code

#3592 Xenomorph Hybrid Minor Rework (Electric Boogaloo)
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_zubbers/code/modules/blooper/bark_list.dm
  modular_zubbers/code/modules/blooper/voice/bloopers/Xenohiss.ogg
  modular_zubbers/code/modules/emotes/emotes.dm
  modular_zubbers/code/modules/emotes/sound/voice/xenogrowl.ogg
  modular_zubbers/code/modules/emotes/sound/voice/xenohiss.ogg
  modular_zubbers/code/modules/languages/hivemind.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species/xeno.dm
  modular_zubbers/code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  tgstation.dme
Labels: Code, Sound, Testmerge Approval #1, Testmerge Approval #2

#4243 Gives Changelings Zombies the FAKEDEATH trait
  modular_zubbers/code/modules/changeling_zombies/infection.dm
Labels: Code

#3990 Clown Traitor Item Additions
  modular_zubbers/code/modules/uplink/uplink_items/job.dm
  tgstation.dme
Labels: Code

#4125 weather announcers now warn for Sol
  modular_zubbers/code/datums/components/weatherannouncer.dm
  tgstation.dme
Labels: Balance Changes, Code

#4315 Fix bubble alert runtime on gun safeties
  modular_skyrat/master_files/code/datums/components/fullauto.dm
Labels: Fix, Code

#4299 Ports the Protogen Markings from NovaSector
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
Labels: Sprites, Code

#4278 Add: Otter Snout & Otter Tail (#5362)
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Sprites, Good First PR, Code

#4327 Fix a few action button related bugs
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/deprivation_helmet.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/_sex_toy.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
Labels: Fix, Code

#4322 Lets cyborgs filter medical combitool
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
Labels: Code

#4341 Silver Jacket Mk2 as a selectable loadout item for all of Command
  modular_zubbers/code/modules/loadout/categories/suit.dm
Labels: Code

#4313 Marked One re-add
  modular_skyrat/modules/gladiator/code/datums/ruins/lavaland.dm
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
  modular_zubbers/code/datums/components/crafting/tailoring.dm
Labels: Code, Mapping, Merge Approval #1, Merge Approval #2

#4082 Nerfs .38
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
Labels: Balance Changes, Stale, Code, Merge Approval #1, Stale-b-Gone

#4253 Changes Mech Thermal Access
  modular_zubbers/code/modules/cargo/packs/security.dm
Labels: Balance Changes, Code
