Repository Bubberstation/Bubberstation, pull requests merged in 2025-10, with the labels that each got.

#4537 Makes Bridge Assistant Permanent instead of a trait
  _maps/map_files/Blueshift/Blueshift.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/moonstation/moonstation.dmm
  code/datums/station_traits/job_traits.dm
  code/modules/jobs/job_types/bridge_assistant.dm
  config/jobconfig.toml
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_zubbers/code/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_zubbers/code/modules/protected_roles/code/antag_restricted_jobs.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/_antagonist_event.dm
  tgstation.dme
Labels: Map Edit, Pending Maintainer Discussion, Feature, Good First PR, Requires Config Change, Code, Merge Approval #1

#4742 New Language Icons for Legalese and Mushroom
  code/modules/language/mushroom.dm
  modular_zubbers/code/modules/languages/legalese.dm
  modular_zubbers/icons/misc/language.dmi
Labels: Sprites, Code

#4756 Ports Paradice Cig sprites
  modular_skyrat/modules/modular_items/code/ciggies.dm
  modular_zubbers/code/game/objects/items/cigarettes.dm
  modular_zubbers/icons/mob/clothing/mask/mask.dmi
  modular_zubbers/icons/obj/cigarettes.dmi
Labels: Sprites, Code

#4776 Makes Halloween all month long - Spooky!
  modular_zubbers/master_files/code/modules/holiday/holiday.dm
Labels: Code

#4773 fix voluntary flooring army crawling indicator
  modular_zubbers/code/modules/status_indicators/status_indicator.dm
Labels: Code, Merge Approval #1

#4726 Reverts Ashtongue removal, Draconic understands it
  code/modules/language/draconic.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  modular_skyrat/master_files/code/modules/antagonists/ashwalker/ashwalker.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species_type/lizardpeople.dm
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/language/ashtongue.dm
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
  modular_skyrat/modules/modular_items/code/necklace.dm
  tgstation.dme
Labels: Sprites, Code

#4781 fix vetted command
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_zubbers/code/modules/vetted/vetted.dm
Labels: Code, Merge Approval #1

#4770 fix ethereal lighting being removed from the SAD
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: Fix, Code

#4774 Fixes smelling salts revival
  modular_skyrat/modules/primitive_catgirls/code/smelling_salts.dm
Labels: Fix, Code

#4647 [TM Only] Hacky fix to character previews
  tgui/packages/tgui/interfaces/ExaminePanel.jsx
Labels: Fix, Test Merge Only, TGUI

#4786 fixed exception with ghost species
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/ghost.dm
  tgstation.dme
Labels: Code

#4790 Fixes "Wisteria Antennae" being unselectable
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
Labels: Code

#4792 Fix quirk balances being broken
  config/game_options.txt
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
Labels: Requires Config Change, TGUI

#4795 Fixes civilian huds not working
  modular_zubbers/code/modules/clothing/glasses/hud.dm
  modular_zubbers/code/modules/implants/code/augments_eyes.dm
Labels: Fix, Code
