Repository Bubberstation/Bubberstation, pull requests merged in 2025-02, with the labels that each got.

#2894 Turrets! Porting modular turrets from Nova
  code/__DEFINES/~skyrat_defines/factions.dm
  code/__DEFINES/~skyrat_defines/techweb_nodes.dm
  modular_skyrat/master_files/code/game/objects/items/pneumaticCannon.dm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/turret/turret.json
  modular_skyrat/modules/GAGS/json_configs/turret/turret_toolbox.json
  modular_skyrat/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
  modular_skyrat/modules/magfed_turret/code/assembly.dm
  modular_skyrat/modules/magfed_turret/code/designators.dm
  modular_skyrat/modules/magfed_turret/code/spawners.dm
  modular_skyrat/modules/magfed_turret/code/turret_framework.dm
  modular_skyrat/modules/magfed_turret/code/turrets/cargo.dm
  modular_skyrat/modules/magfed_turret/code/turrets/ruins.dm
  modular_skyrat/modules/magfed_turret/icons/assembly.dmi
  modular_skyrat/modules/magfed_turret/icons/designator.dmi
  modular_skyrat/modules/magfed_turret/icons/inhands/lefthand.dmi
  modular_skyrat/modules/magfed_turret/icons/inhands/righthand.dmi
  modular_skyrat/modules/magfed_turret/icons/mob/belt.dmi
  modular_skyrat/modules/magfed_turret/icons/spawners.dmi
  modular_skyrat/modules/magfed_turret/icons/turrets/cargo.dmi
  modular_skyrat/modules/magfed_turret/icons/turrets/ruins.dmi
  modular_skyrat/modules/magfed_turret/readme.md
  modular_skyrat/modules/tarkon/code/misc-fluff/research.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/turret.dm
  modular_skyrat/modules/tarkon/icons/mob/clothing/belt.dmi
  modular_skyrat/modules/tarkon/icons/mob/inhands/lefthand.dmi
  modular_skyrat/modules/tarkon/icons/mob/inhands/righthand.dmi
  modular_skyrat/modules/tarkon/icons/obj/turret.dmi
  tgstation.dme
Labels: Sprites, Code

#3030 Fixes darksabre
  modular_skyrat/master_files/icons/donator/mob/clothing/custom_w.dmi
  modular_skyrat/master_files/icons/donator/obj/custom.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Sprites, Code

#3003 Adding new areas to play on the Ghost Cafe (maintenance and bridge
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#3029 Mini fixes to Box Station
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#2811 Integrates vocal barks with TTS
  code/__DEFINES/~skyrat_defines/say.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/tts.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  config/config.txt
  modular_skyrat/master_files/code/modules/client/preferences/voice.dm
  modular_zubbers/code/modules/blooper/atoms_movable.dm
Labels: Requires Config Change, Test Merge Only, Code

#2692 Maintentance around nitrogen breathers
  modular_skyrat/modules/customization/game/objects/items/tanks/n2_tanks.dm
  modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/lungs.dm
Labels: Test Merged, Code

#2985 Ports Catborg and Kittyborgs from Virgo
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_defines.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/felibot_all.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/CREDIT.MD
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/LICENSE.txt
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_engineering.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_medical.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_mining.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_science.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_security.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_service.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_engi.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_jani.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_medicat.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_mine.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_sci.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_sec.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_service.dmi
Labels: Sprites, Code

#3018 Additional Persistence fixes and QOL improvements
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
Labels: Map Edit

#2741 Flechett Ammo Rebalance (Has AP with a little more spread and lower damage)
  modular_skyrat/modules/shotgunrebalance/code/ammobox.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Balance Changes, Test Merged, Code

#3027 Lavaland/Ice Moon Gas Station Ghost Role Overhaul
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_surface_gas_bubber.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_surface_gas_bubber.dmm
  code/datums/id_trim/ruins.dm
  code/game/objects/items/cards_ids.dm
  modular_zubbers/code/modules/mob_spawn/ghost_roles/mining_roles.dm
Labels: Map Edit, Code

#2987 Config-ifies vore defines
  config/bubbers/vore_config.txt
  config/config.txt
  modular_zubbers/code/datums/components/vore/_defines.dm
  modular_zubbers/code/datums/components/vore/belly.dm
  modular_zubbers/code/datums/components/vore/configs.dm
  modular_zubbers/code/datums/components/vore/digest_modes.dm
  modular_zubbers/code/datums/components/vore/ui.dm
  modular_zubbers/code/datums/components/vore/vore.dm
  tgstation.dme
Labels: Requires Config Change, Code

#2922 caps laser eye blur at 20 seconds
  code/modules/mob/living/damage_procs.dm
Labels: Code

#2907 Xenoarcheology and Triage pods
  _maps/bubber/pods/shelter_4.dmm
  _maps/bubber/pods/shelter_triage.dmm
  _maps/bubber/pods/shelterxenoarch.dmm
  modular_zubbers/code/modules/mining/equipment/survival_pod.dm
Labels: Map Edit, Code

#2800 Orefruit harvesting producing sheets
  modular_zubbers/code/modules/hydroponics/code/grown/rocks.dm
  modular_zubbers/code/modules/hydroponics/icons/harvest.dmi
Labels: Sprites, Code

#3049 Lizard Gas Atmos Fix/I.D transferred to Modular File
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_surface_gas_bubber.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_surface_gas_bubber.dmm
  code/game/objects/items/cards_ids.dm
  modular_zubbers/code/game/objects/items/cards_ids.dm
Labels: Map Edit, Code

#3050 Deletes old version of persistence map that exists in the files but is unused
  _maps/RandomRuins/SpaceRuins/bubberstation/new syndicate base.tgm
Labels: Map Edit

#3053 Fixes a seed path.
  modular_zubbers/code/modules/hydroponics/code/grown/rocks.dm
Labels: Code

#3056 Lizard Gas Update
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_surface_gas_bubber.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_surface_gas_bubber.dmm
Labels: Map Edit

#3058 Shadekin digitigrade legs
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
  modular_zubbers/code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  modular_zubbers/icons/mob/species/human_parts_greyscale.dmi
Labels: Sprites, Code

#3059 fix shadekin digi legs
  modular_zubbers/code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
Labels: Code

#3064 Makes slimepeople take brute damage from the nitrogen breather quirk
  modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/lungs.dm
Labels: Code

#3069 FIXES SHADEKIN TAILS AGAIN BECAUSE I GUESS THEY BROKE AGAIN (Or my fix never worked, works on my machine moment)
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_shadekin.png
  modular_zubbers/icons/customization/tails.dmi
Labels: Sprites, Image

#2999 Replaces The Clown storyteller with The House (Adminbus storyteller)
  modular_zubbers/code/modules/storyteller/event_defines/ghostset/voidwalker.dm
  modular_zubbers/code/modules/storyteller/event_defines/major/major_overrides.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_6_clown.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_6_house.dm
  tgstation.dme
Labels: Test Merge Only, Code

#3025 THE CULTENNING - brings bloodcult to an acceptable state part 1 of my 3 part plan
  code/__DEFINES/~~bubber_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/modules/antagonists/cult/runes.dm
  modular_zubbers/code/modules/antagonists/wizard/soulstone.dm
  tgstation.dme
Labels: Code

#2900 Punch Clock PDA Application/Modular Console
  _maps/bubber/automapper/templates/IceBoxStation/Icebox_ntrep_office.dmm
  _maps/bubber/automapper/templates/MetaStation/metastation_ntrep_office.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_arrivals.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_corridor.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_cryo.dmm
  _maps/bubber/automapper/templates/NebulaStation/nebulastation_ntrep_office.dmm
  _maps/bubber/automapper/templates/kilostation/kilostation_cryo.dmm
  _maps/bubber/automapper/templates/kilostation/kilostation_ert_bay.dmm
  _maps/bubber/automapper/templates/tramstation/tramstation_ntrep_office.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/moonstation/moonstation.dmm
  _maps/skyrat/automapper/templates/birdshot/birdshot_cryo(deprecated).dmm
  _maps/skyrat/automapper/templates/birdshot/birdshot_cryo.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_cryo.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_cryo.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_cryo.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_cryo.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_cryo.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_cryo.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_commons.dmm
  code/__DEFINES/dcs/signals/signals_modular_computer.dm
  code/__DEFINES/~~bubber_defines/jobs.dm
  code/__HELPERS/global_lists.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/pda.dm
  modular_skyrat/master_files/code/modules/modular_computers/computers/item/computer.dm
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/cryosleep/code/job.dm
  modular_skyrat/modules/time_clock/code/console.dm
  modular_skyrat/modules/time_clock/code/console_tgui.dm
  modular_skyrat/modules/time_clock/code/mind.dm
  modular_skyrat/modules/time_clock/code/sign.dm
  modular_skyrat/modules/time_clock/icons/machinery/console.dmi
  modular_skyrat/modules/time_clock/icons/sign.dmi
  modular_zubbers/code/game/objects/effects/effects_system/effect_sparks.dm
  modular_zubbers/icons/obj/machines/time_clock.dmi
  modular_zubbers/modules/plexagon_selfserve/code/off_duty_component.dm
  modular_zubbers/modules/plexagon_selfserve/code/plexagon_selfserve.dm
  modular_zubbers/modules/plexagon_selfserve/code/shame_box.dm
  modular_zubbers/modules/plexagon_selfserve/code/sign.dm
  modular_zubbers/modules/plexagon_selfserve/code/time_clock.dm
  modular_zubbers/modules/plexagon_selfserve/icons/shame_box.dmi
  modular_zubbers/modules/plexagon_selfserve/icons/sign.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosSelfServe.tsx
  tools/UpdatePaths/Scripts_Bubber/2900_Time_Clock.txt
Labels: Map Edit, Test Merged, Sprites, Administration, Tools, Code, TGUI

#3061 Update barricade.dm
  modular_skyrat/modules/barricades/code/barricade.dm
Labels: Code

#3070 Makes the jukebox in BoxStation perma accessless
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#3078 [SEMI-MODULAR] Adds 3 new Infinite Dorm Maps!
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/cultcave.dmm
  modular_skyrat/modules/hotel_rooms/evacuationstation.dmm
  modular_skyrat/modules/hotel_rooms/winterwoods.dmm
  modular_zubbers/code/game/objects/effects/overlays.dm
Labels: Code

#3076 Readds Advanced hypospray
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
Labels: Code

#3082 Fixes hotel rooms and adds new one
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/prisoninfdorm.dmm
Labels: Code

#3087 Update barricade.dm
  modular_skyrat/modules/barricades/code/barricade.dm
Labels: Code

#3096 Adds the unique Holobadge variants to the loadout menu.
  modular_zubbers/code/modules/loadout/categories/neck.dm
Labels: Code

#3097 Crew Monitor Console Alarm Logic change to TG's logic for determination if someone counts
  modular_zubbers/code/game/machinery/crew_monitor.dm
Labels: Code

#3047 Trims excessive roundstart security guns
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  modular_zubbers/code/modules/security/security_glock/lockers.dm
Labels: Code

#1919 Unfucking disease outbreaks/transmission
  code/__DEFINES/diseases.dm
  code/__HELPERS/~bubber_helpers/virus.dm
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
  code/game/data_huds.dm
  code/modules/events/disease_outbreak.dm
  modular_zubbers/code/modules/disease/disease_transmission.dm
  tgstation.dme
Labels: Test Merged, Code

#3089 Pet space snacks
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  html/changelogs/AutoChangeLog-pr-3030.yml
  modular_zubbers/code/game/objects/items/pet_snacks.dm
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/icons/obj/pet_snacks.dmi
  tgstation.dme
Labels: Sprites, Code

#3113 Actually buffs funny cyborg health number
  code/modules/mob/living/silicon/robot/robot_defines.dm
Labels: Code

#3098 changes "The House now runs the show..." to "The House always wins." because why
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_6_house.dm
Labels: Code

#3112 Allows hypospray kits to fit in two more medical bags.
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
Labels: Code

#3106 Adds the Sophie Plushie
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/code/modules/vending/games.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
  modular_zubbers/sound/emotes/arf.ogg
Labels: Sprites, Code, Sound

#3116 Allows blood filters to fit in the medical technician bag
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
Labels: Code

#2534 Ports telepathy quirk from Nova
  modular_zubbers/code/modules/quirks/code/positive_quirks/telepathy.dm
  tgstation.dme
Labels: Code

#3104 Fixes preferences resetting
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  modular_zubbers/code/modules/client/verbs/character_directory.dm
Labels: Test Merge Candidate, Code

#3103 New loadout items
  modular_zubbers/code/datums/greyscale/json_configs/crop_jacket.json
  modular_zubbers/code/datums/greyscale/json_configs/crop_jacket_none.json
  modular_zubbers/code/datums/greyscale/json_configs/crop_jacket_short.json
  modular_zubbers/code/modules/GAGS/greyscale_configs.dm
  modular_zubbers/code/modules/clothing/suits/croptops.dm
  modular_zubbers/code/modules/loadout/categories/suit.dm
  modular_zubbers/icons/obj/clothing/suits/crop_jacket.dmi
  modular_zubbers/icons/obj/clothing/suits/crop_jacket_worn.dmi
  modular_zubbers/icons/obj/clothing/suits/sleeveless_crop_jacket.dmi
  modular_zubbers/icons/obj/clothing/suits/sleeveless_crop_jacket_worn.dmi
  tgstation.dme
Labels: Sprites, Code

#3075 Adds syndie cats, super cats, and super syndie cat ears from MonkeStation (More cat DLC)
  modular_zubbers/code/modules/antagonists/traitor/uplink/uplink_items/syndicat/_syndicat.dm
  modular_zubbers/code/modules/mob/living/basic/pets/cat/cat.dm
  modular_zubbers/code/modules/mob/living/basic/pets/cat/super_cat.dm
  modular_zubbers/code/modules/spells/spell_types/shapeshift/_shapeshit.dm
  modular_zubbers/code/modules/spells/spell_types/shapeshift/kittyform.dm
  modular_zubbers/code/modules/surgery/organs/internal/ears/_ears.dm
  modular_zubbers/icons/mob/inhands/pets_held_lh.dmi
  modular_zubbers/icons/mob/inhands/pets_held_rh.dmi
  modular_zubbers/icons/mob/simple/pets.dmi
  modular_zubbers/icons/obj/clothing/head/costume.dmi
  tgstation.dme
Labels: Sprites, Code

#3101 Syndicate & Ninja Smolraptors
  modular_zubbers/code/modules/silicons/borgs/code/robot_defines.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_cc.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_gen.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_ninja.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/smallraptors/smolraptor_syndie.dmi
Labels: Sprites, Code

#3124 Fix missing utility borg upgrades
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
Labels: Code

#3121 Precise syringe injections
  modular_zubbers/master_files/code/modules/reagents/reagent_containers/syringes.dm
  tgstation.dme
Labels: Code

#3140 Adds 3 (well, technically 4) More Infinite Dorms Maps
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/corporateoffice.dmm
  modular_skyrat/modules/hotel_rooms/grotto.dmm
  modular_skyrat/modules/hotel_rooms/grottoalt.dmm
  modular_skyrat/modules/hotel_rooms/recovery.dmm
Labels: Code

#3136 Super Syndicat and Super Cat bug fix
  modular_zubbers/code/game/objects/items/implants/implant_storage.dm
  modular_zubbers/code/modules/mob/living/basic/pets/cat/super_cat.dm
  tgstation.dme
Labels: Code

#3131 Fix cryo dumping storage implant items
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Code

#3129 Puts sigmar's favorite nurse suit in the loadout and vendor
  modular_zubbers/code/modules/loadout/categories/under.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
Labels: Code

#2978 Craftable chisels [suggestions channel post]
  modular_skyrat/modules/modular_items/code/recipes_misc.dm
Labels: Code

#3143 Add for engineering borg - Usage of gripper for stock parts and cells
  modular_zubbers/code/game/objects/items/robot/items/storage.dm
Labels: Code

#3114 Standardizes alternate outfits in roundstart command garment bags
  code/game/objects/items/storage/garment.dm
Labels: Code

#3142 Fix for service borg - Seed!
  code/game/objects/items/robot/items/storage.dm
Labels: Code

#3132 Clothing Vendor Species Resprite Awareness - Vendors can now see if your sprite will be broken or not.
  code/modules/vending/_vending.dm
  modular_zubbers/code/modules/species_refits_awareness/code/refithelper.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: Code, TGUI

#2994 Seamless Heels Quirk
  code/controllers/subsystem/processing/quirks.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/entombed.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/seamless_clothes.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/seamless_clothes.tsx
Labels: Code, TGUI

#2989 nameless quirk
  modular_zubbers/code/datums/quirks/neutral_quirks/nameless.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/nameless.tsx
Labels: Code, TGUI

#3090 Allows the size collar to work for teshari and vox primalis
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/size_items.dm
Labels: Test Merge Candidate, Test Merged, Code

#3150 (MODULAR) Intern Ghoul Plushie
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
Labels: Sprites, Code

#2988 Venom quirk
  modular_zubbers/code/datums/quirks/positive_quirks/venemous_bite/venomous_bite.dm
  modular_zubbers/code/datums/quirks/positive_quirks/venemous_bite/venomous_bite_quirk.dm
  modular_zubbers/icons/mob/actions/quirks/venomous_bite.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/venomous_bite.tsx
Labels: Test Merged, Sprites, Code, TGUI

#3163 Hypnotic Quirk
  code/__DEFINES/~~bubber_defines/span.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/hypnotic.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/hypnotic_quirk.tsx
Labels: Code, TGUI

#3167 Fix SAD not transferring wounds
  modular_skyrat/master_files/code/datums/components/damage_tracker.dm
Labels: Code
